{% from "moj/components/side-navigation/macro.njk" import mojSideNavigation %}

{% macro render(params) %}
  <div data-cy="side-navigation">

    {{ mojSideNavigation({
      label: 'Side navigation',
      items: [{
        text: 'Bank security',
        href: '#',
        active: activeSideNavigation === 'bank security'
      }, {
        text: 'Pricing and risk',
        href: '#',
        active: activeSideNavigation === 'pricing and risk'
      }, {
        text: 'Underwriter manager’s decision',
        href: '#',
        active: activeSideNavigation === 'underwriter managers decision'
      }]
    }) }}

  </div>
{% endmacro %}
