<dl class="govuk-summary-list govuk-summary-list--heading">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <h2 class="govuk-heading-l" data-cy="main-heading">
        About the exporter
      </h2>
      </dt>
      <dd class="govuk-summary-list__value">
        Sarah Philips
      </dd>
    </div>
  </dl>

