{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-l" data-cy="main-heading">
      About the exporter
    </h2>
  </div>

  <div class="govuk-grid-column-one-half">
    {{ govukTag({
      text: exporter.status.text,
      classes: 'govuk-!-margin-top-2 govuk-!-margin-bottom-4' + ' ' + exporter.status.class
    }) }}
  </div>
</div>

{% if exporter.rows.length < 1 %}
  <a class="govuk-link" href="#" data-cy="cancel">Enter details</a>
{% else %}
  {{ govukSummaryList({
    rows: exporter.rows
  }) }}
{% endif %}

<hr class="govuk-section-break govuk-section-break--bold govuk-section-break--l govuk-section-break--visible">
