{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-m" data-cy="main-heading">
      About the exporter
    </h2>
  </div>

  <div class="govuk-grid-column-one-half">
    {{ govukTag({
      text: exporterStatus.text,
      classes: exporterStatus.class
    }) }}
  </div>
</div>

{% if exporterRows.length < 1 %}
  <a class="govuk-link" href="{{exporterUri}}" data-cy="cancel">Enter details</a>
{% else %}
  {{ govukSummaryList({
    rows: exporterRows
  }) }}
{% endif %}

<hr class="govuk-section-break govuk-section-break--bold govuk-section-break--l govuk-section-break--visible">
