{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% import "../../_macros/eligibility-criteria-answers.njk" as eligibilityCriteriaAnswers %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-l" data-cy="automatic-cover-heading">
      Automatic or manual cover
    </h2>
  </div>

  <div class="govuk-grid-column-one-half">
    {{ govukTag({
      text: eligibility.status.text,
      classes: 'govuk-!-margin-top-2 govuk-!-margin-bottom-4' + ' ' + eligibility.status.class,
      attributes: {
        'data-cy': 'automatic-cover-status'
      }
    }) }}
  </div>
</div>
{%if not previewMode %}
  {% if eligibility.status.code === 'Not started' or eligibility.status.code === 'In progress' %}
    <a class="govuk-link" href="/gef/application-details/{{dealId}}/automatic-cover" data-cy="automatic-cover-details-link">
      Check if you're eligible for automatic cover
    </a>
  {% else %}
    {% if (isAutomaticCover === true) %}
      {% set captionText = "Yes - submit as an automatic inclusion notice"  %}
    {% else %}
      {% set captionText = "No - submit as a manual inclusion application"  %}
    {% endif %}
    {{ govukSummaryList({
      rows: [{ key: { text: "Eligible for automatic cover?" },
        value: { text: captionText },
        actions: {
          items: [] if previewMode or hasChangedFacilities else [{
            href: dealId + '/automatic-cover',
            text: "Change",
            visuallyHiddenText: "automatic cover"
          }]
        }
      }],
      attributes: {
        'data-cy': 'automatic-cover-summary-list'
      }
    }) }}

    {% set componentData = {
      eligibilityCriteria: application.eligibility.criteria
    } %}

    {{ govukDetails({
      summaryText: "Eligibility criteria",
      html: eligibilityCriteriaAnswers.render(componentData),
      attributes: {
        'data-cy': 'automatic-cover-criteria'
      }
    }) }}

  {% endif %}
 {% endif %}

<hr class="govuk-section-break govuk-section-break--bold govuk-section-break--l govuk-section-break--visible">
