{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-l" data-cy="main-heading">
      Facilities
    </h2>
  </div>

  <div class="govuk-grid-column-one-half">
    {{ govukTag({
      text: facilities.status.text,
      classes: 'govuk-!-margin-top-2 govuk-!-margin-bottom-4' + ' ' + facilities.status.class
    }) }}
  </div>
</div>

{% if facilities.items.length < 1 %}
  <a class="govuk-link" href="#" data-cy="cancel">Add a facility</a>
{% else %}
  {% for item in facilities.items %}
    <h3 class="govuk-heading-m" data-cy="main-heading">
      {{item.heading}} facility
    </h3>
    {{ govukSummaryList({
      rows: item.rows
    }) }}
  {% endfor %}
{% endif %}

{{ govukButton({
  text: "Add another facility",
  classes: "govuk-button--secondary"
}) }}

<hr class="govuk-section-break govuk-section-break--bold govuk-section-break--m govuk-!-margin-bottom-7 govuk-section-break--visible">
