{% from "govuk/components/button/macro.njk" import govukButton %}

<p class="govuk-heading-m" data-cy="main-heading">
  Submit
</p>

{{ govukButton({
  text: "Submit to be checked at your bank"
}) }}
