{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro "Draft"(contract, user) %}

  <div class="govuk-grid-row govuk-!-padding-top-2 govuk-!-padding-bottom-2 box">

      {{ govukButton({
        "disabled": true,
        "text": "Proceed to submit",
        "attributes" : {
          "data-cy" : "ProceedToSubmit"
        },
        "href": null
      }) }}

      {{ govukButton({
        "disabled": true,
        "text": "Return to Maker",
        "classes": "govuk-button--secondary",
        "attributes" : {
          "data-cy" : "ReturnToMaker"
        },
        "href": null
      }) }}

  </div>
{% endmacro %}


{% macro "Further Maker's input required"(contract, user) %}

  <div class="govuk-grid-row govuk-!-padding-top-2 govuk-!-padding-bottom-2 box">

      {{ govukButton({
        "disabled": true,
        "text": "Proceed to submit",
        "attributes" : {
          "data-cy" : "ProceedToSubmit"
        },
        "href": null
      }) }}

      {{ govukButton({
        "disabled": true,
        "text": "Return to Maker",
        "classes": "govuk-button--secondary",
        "attributes" : {
          "data-cy" : "ReturnToMaker"
        },
        "href": null
      }) }}

  </div>
{% endmacro %}


{% macro "Abandoned Deal"(contract, user) %}

  <div class="govuk-grid-row govuk-!-padding-top-2 govuk-!-padding-bottom-2 box">

      {{ govukButton({
        "disabled": true,
        "text": "Proceed to submit",
        "attributes" : {
          "data-cy" : "ProceedToSubmit"
        },
        "href": null
      }) }}

      {{ govukButton({
        "disabled": true,
        "text": "Return to Maker",
        "classes": "govuk-button--secondary",
        "attributes" : {
          "data-cy" : "ReturnToMaker"
        },
        "href": null
      }) }}

  </div>
{% endmacro %}


{% macro "Acknowledged by UKEF"(contract, user) %}

  <div class="govuk-grid-row govuk-!-padding-top-2 govuk-!-padding-bottom-2 box">

      {{ govukButton({
        "disabled": true,
        "text": "Proceed to submit",
        "attributes" : {
          "data-cy" : "ProceedToSubmit"
        },
        "href": null
      }) }}

      {{ govukButton({
        "disabled": true,
        "text": "Return to Maker",
        "classes": "govuk-button--secondary",
        "attributes" : {
          "data-cy" : "ReturnToMaker"
        },
        "href": null
      }) }}

  </div>
{% endmacro %}


{% macro "Accepted by UKEF (without conditions)"(contract, user) %}

  <div class="govuk-grid-row govuk-!-padding-top-2 govuk-!-padding-bottom-2 box">

      {{ govukButton({
        "disabled": true,
        "text": "Proceed to submit",
        "attributes" : {
          "data-cy" : "ProceedToSubmit"
        },
        "href": null
      }) }}

      {{ govukButton({
        "disabled": true,
        "text": "Return to Maker",
        "classes": "govuk-button--secondary",
        "attributes" : {
          "data-cy" : "ReturnToMaker"
        },
        "href": null
      }) }}

  </div>
{% endmacro %}


{% macro "Accepted by UKEF (with conditions)"(contract, user) %}

  <div class="govuk-grid-row govuk-!-padding-top-2 govuk-!-padding-bottom-2 box">

      {{ govukButton({
        "disabled": true,
        "text": "Proceed to submit",
        "attributes" : {
          "data-cy" : "ProceedToSubmit"
        },
        "href": null
      }) }}

      {{ govukButton({
        "disabled": true,
        "text": "Return to Maker",
        "classes": "govuk-button--secondary",
        "attributes" : {
          "data-cy" : "ReturnToMaker"
        },
        "href": null
      }) }}

  </div>
{% endmacro %}

{% macro "Ready for Checker's approval"(contract, user) %}

  <div class="govuk-grid-row govuk-!-padding-top-2 govuk-!-padding-bottom-2 box">

    <p data-cy="canProceed" class="govuk-body">You may now proceed to submit an Automatic Inclusion Notice.</p>

    <p class="govuk-body">
       <a data-cy="reviewEligibilityChecklistForm" href="/contract/{{ contract._id }}/eligibility/supporting-documentation" class="govuk-body govuk-link">
         Review your eligibility checklist form
       </a>
    </p>

    {{ govukButton({
      "text": "Proceed to submit",
      "attributes" : {
        "data-cy" : "ProceedToSubmit"
      },
      "href": "/contract/" + contract._id + "/confirm-submission"
    }) }}

    {{ govukButton({
      "text": "Return to Maker",
      "classes": "govuk-button--secondary",
      "attributes" : {
        "data-cy" : "ReturnToMaker"
      },
      "href": "/contract/" + contract._id + "/return-to-maker"
    }) }}

  </div>
{% endmacro %}

{% macro "Submitted"(contract, user) %}
{% endmacro %}

{% macro "Rejected by UKEF"(contract, user) %}
{% endmacro %}
