{% extends "index.njk" %}

{% block pageTitle %}About this {{ facilityType }} facility{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">About this {{ facilityType }} facility</h1>

  {% include "includes/contact-us.njk" %}
  
{% endblock %}
