{% extends "index.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% block pageTitle %}About this {{ facilityTypeString }} facility{% endblock %}

{% block content %}
  {% if errors %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors.errorSummary,
      attributes: {
        'data-cy': 'error-summary'
      }
    }) }}
  {% endif %}

  {% if status !== 'change' %}
    {{ govukBackLink({
      text: "Back to previous page",
      href: "/gef/application-details/" + applicationId + "/enter-exporters-correspondence-address",
      attributes: {
        'data-cy': 'back-link'
      }
    }) }}
  {% endif %}

  <header data-cy="application-details-page">
    <span class="govuk-caption-xl" data-cy="heading-caption">
      Add a facility
    </span>
    <h1 class="govuk-heading-xl" data-cy="main-heading">
      About this {{ facilityTypeString }} facility
    </h1>
  </header>

  <div class="govuk-grid-row govuk-!-margin-bottom-3">
    <div class="govuk-grid-column-one-half">
      <form
        method="post"
        data-cy="form">
          {{ govukInput({
            classes: "govuk-visually-hidden",
            id: "facilityType",
            name: "facilityType",
            value: facilityType,
            attributes: {
              'hidden': 'true'
            }
          }) }}

          {{ govukInput({
            label: {
              text: "Enter a name for this " + facilityTypeString + " facility",
              classes: "govuk-label--m"
            },
            id: "facilityName",
            name: "facilityName",
            value: facilityName,
            attributes: {
              'data-cy': 'facility-name'
            },
            errorMessage: errors and {
              text: errors.fieldErrors.facilityName.text,
              attributes: {
                'data-cy': 'facility-name-error'
              }
            }
          }) }}

          {% set coverStartHtml %}
            {{ govukDateInput({
              id: "coverStartDate",
              namePrefix: "coverStartDate",
              fieldset: {
                legend: {
                  text: "Enter a cover start date",
                  classes: "govuk-fieldset__legend--s"
                }
              },
              hint: {
                html: "<p class='govuk-!-margin-0'>This must be within one calendar month of the date you submit the notice to UKEF. It cannot be earlier than the submission date.</p><p class='govuk-!-margin-0 has-text'>If your cover start date expires by the time the notice is submitted, your cover will start on the date your notice is submitted to UKEF.</p>"
              },
              errorMessage: errors and {
                text: errors.fieldErrors.coverStartDate.text,
                attributes: {
                  'data-cy': 'cover-start-date-error'
                }
              },
              items: [
                {
                  label: "Day",
                  classes: "govuk-input--error govuk-input--width-2",
                  name: "coverStartDateDay",
                  value: coverStartDateDay,
                  attributes: {
                    'data-cy': "coverStartDateDay"
                  }
                },
                {
                  label: "Month",
                  classes: "govuk-input--width-2",
                  name: "coverStartDateMonth",
                  value: coverStartDateMonth,
                  attributes: {
                    'data-cy': "coverStartDateMonth"
                  }
                },
                {
                  label: "Year",
                  classes: "govuk-input--width-4",
                  name: "coverStartDateYear",
                  value: coverStartDateYear,
                  attributes: {
                    'data-cy': "coverStartDateYear"
                  }
                }
              ]
            }) }}
          {% endset -%}

          {{ govukRadios({
            idPrefix: "hasCoverStartDate",
            name: "hasCoverStartDate",
            fieldset: {
              legend: {
                text: "Do you want UKEF cover to start on the day you submit the automatic inclusion notice?",
                classes: "govuk-fieldset__legend--m"
              }
            },
            errorMessage: errors and {
              text: errors.fieldErrors.hasCoverStartDate.text,
              attributes: {
                'data-cy': 'has-cover-start-date-error'
              }
            },
            items: [
              {
                value: 'true',
                text: "Yes",
                checked: hasCoverStartDate === 'true'
              },
              {
                value: 'false',
                text: "No",
                checked: hasCoverStartDate === 'false',
                conditional: {
                  html: coverStartHtml
                }
              }
            ]
          }) }}

          {{ govukDateInput({
            id: "coverEndDate",
            namePrefix: "coverEndDate",
            fieldset: {
              legend: {
                text: "When do you want the UKEF cover to end?",
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: "For example, 12 03 2021. Your end date must be within 5 years of the start date"
            },
            items: [
                {
                  label: "Day",
                  classes: "govuk-input--width-2",
                  name: "coverEndDateDay",
                  value: coverEndDateDay,
                  attributes: {
                    'data-cy': "coverEndDateDay"
                  }
                },
                {
                  label: "Month",
                  classes: "govuk-input--width-2",
                  name: "coverEndDateMonth",
                  value: coverEndDateMonth,
                  attributes: {
                    'data-cy': "coverEndDateMonth"
                  }
                },
                {
                  label: "Year",
                  classes: "govuk-input--width-4",
                  name: "coverEndDateYear",
                  value: coverEndDateYear,
                  attributes: {
                    'data-cy': "coverEndDateYear"
                  }
                }
              ]
          }) }}

          <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue",
            attributes: {
              'data-cy': 'continue-button'
            }
          }) }}

          {{ govukButton({
            text: "Save and return",
            classes: "govuk-button--secondary",
            attributes: {
              formaction: "about-exporter?saveAndReturn=true",
              'data-cy': 'save-and-return-button'
            }
          }) }}
        </div>
      </form>
    </div>
  </div>
  
{% endblock %}
