{% extends "index.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}About the exporter{% endblock %}

{% block content %}
  {% if errors %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors.errorSummary,
      attributes: {
        'data-cy': 'error-summary'
      }
    }) }}
  {% endif %}

  {% if status !== 'change' %}
    {{ govukBackLink({
      text: "Back to previous page",
      href: "/gef/application-details/" + dealId + "/exporters-address",
      attributes: {
        'data-cy': 'back-link'
      }
    }) }}
  {% endif %}

  <header data-cy="application-details-page">
    <span class="govuk-caption-xl" data-cy="heading-caption">
      About the exporter
    </span>
    <h1 class="govuk-heading-xl" data-cy="main-heading">
      About the exporter
    </h1>
  </header>

  <div class="govuk-grid-row govuk-!-margin-bottom-3">
    <div class="govuk-grid-column-one-half">
      <form
        method="post"
        data-cy="form">

        {% if industries.length <= 1 %}
          <p class="govuk-body" data-cy="industry-title"><strong>Industry</strong></p>
          <p class="govuk-body govuk-!-margin-bottom-7" data-cy="industry">{{ selectedIndustry.name }}<br>{{ selectedIndustry.class.name }}</p>
        {% else %}
          {{ govukRadios({
            idPrefix: "industry",
            name: "selectedIndustry",
            classes: "govuk-!-margin-bottom-4",
            fieldset: {
              legend: {
                text: "Select the most appropriate industry",
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: "Select one option"
            },
            errorMessage: errors and errors.fieldErrors.selectedIndustry and {
              text: errors.fieldErrors.selectedIndustry.text,
              attributes: {
                'data-cy': 'selected-industry-index-error'
              }
            },
            items: industries,
            attributes: {
              'data-cy': 'industries'
            }
          }) }}

        {% endif %}

        {{ govukRadios({
          idPrefix: "smeType",
          name: "smeType",
          classes: "govuk-!-margin-bottom-4",
          fieldset: {
            legend: {
              text: "What type of small to medium enterprise (SME) are they?",

              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "Select one option"
          },
          errorMessage: errors and errors.fieldErrors.smeType and {
            text: errors.fieldErrors.smeType.text,
            attributes: {
              'data-cy': 'sme-type-error'
            }
          },
          items: [
            {
              value: "Micro",
              text: "Micro",
              checked: smeType === "Micro",
              attributes: {
                'data-cy': 'micro-radio-button'
              }
            },
            {
              value: "Small",
              text: "Small",
              checked: smeType === "Small",
              attributes: {
                'data-cy': 'small-radio-button'
              }
            },
            {
              value: "Medium",
              text: "Medium",
              checked: smeType === "Medium",
              attributes: {
                'data-cy': 'medium-radio-button'
              }
            },
            {
              value: "Not SME",
              text: "They're not an SME",
              checked: smeType === "Not SME",
              attributes: {
                'data-cy': 'not-sme-radio-button'
              }
            }
          ]
        }) }}

        {{ govukInput({
          id: "probabilityOfDefault",
          name: "probabilityOfDefault",
          value: probabilityOfDefault,
          label: {
            text: "Enter the one year probability of default for the obligor (whoever is legally responsible for the debt)",
            classes: "govuk-label--s"
          },
          suffix: {
            text: "%"
          },
          classes: "govuk-input--width-2 govuk-!-margin-bottom-4",
          errorMessage: errors and errors.fieldErrors.probabilityOfDefault and {
            text: errors.fieldErrors.probabilityOfDefault.text,
            attributes: {
              'data-cy': 'probability-of-default-error'
            }
          },
          attributes: {
            'data-cy': 'probability-of-default-input'
          }
        }) }}

        {{ govukRadios({
          classes: "govuk-radios--inline govuk-!-margin-bottom-4",
          idPrefix: "isFinanceIncreasing",
          name: "isFinanceIncreasing",
          fieldset: {
            legend: {
              text: "Is your financing to the exporter increasing as a result of these facilities?",
              classes: "govuk-fieldset__legend--s"
            }
          },
          errorMessage: errors and errors.fieldErrors.isFinanceIncreasing and {
            text: errors.fieldErrors.isFinanceIncreasing.text,
            attributes: {
              'data-cy': 'is-financing-increasing-error'
            }
          },
          items: [
            {
              value: 'true',
              text: "Yes",
              checked: isFinanceIncreasing === 'true',
              attributes: {
                'data-cy': 'is-financing-increasing-radio-yes'
              }
            },
            {
              value: 'false',
              text: "No",
              checked: isFinanceIncreasing === 'false',
              attributes: {
                'data-cy': 'is-financing-increasing-radio-no'
              }
            }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Done",
            attributes: {
              'data-cy': 'done-button'
            }
          }) }}

          {{ govukButton({
            text: "Save and return",
            classes: "govuk-button--secondary",
            attributes: {
              formaction: "about-exporter?saveAndReturn=true",
              'data-cy': 'save-and-return-button'
            }
          }) }}
        </div>
      </form>
    </div>
  </div>

{% endblock %}
