{% extends "index.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% import '../_macros/about-facility/facility-name.njk' as facilityNameSection %}
{% import '../_macros/about-facility/issue-date.njk' as issueDateSection %}
{% import '../_macros/about-facility/cover-start-date.njk' as coverStartDateSection %}
{% import '../_macros/about-facility/cover-end-date.njk' as coverEndDateSection %}
{% import '../_macros/about-facility/cover-start-submission.njk' as coverStartSubmissionSection %}

{% block pageTitle %}About this {{ facilityTypeString }} facility{% endblock %}

{% block content %}
  {% if errors %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors.errorSummary,
      attributes: {
        'data-cy': 'error-summary'
      }
    }) }}
  {% endif %}

  {% if status !== 'change' %}
    {{ govukBackLink({
      text: "Back to previous page",
      href: "/gef/application-details/" + dealId + "/facilities/" + facilityId,
      attributes: {
        'data-cy': 'back-link'
      }
    }) }}
  {% endif %}

  <header data-cy="application-details-page">
    <span class="govuk-caption-xl" data-cy="heading-caption">
      Add a facility
    </span>
    <h1 class="govuk-heading-xl" data-cy="main-heading">
      About this {{ facilityTypeString }} facility
    </h1>
  </header>

  <div class="govuk-grid-row govuk-!-margin-bottom-3">
    <div class="govuk-grid-column-one-half">
      <form
        method="post"
        data-cy="form">
        <input
          class="govuk-visually-hidden"
          id="facilityType"
          name="facilityType"
          hidden="true"
          value="{{facilityType}}">

        <input
          class="govuk-visually-hidden"
          id="hasBeenIssued"
          name="hasBeenIssued"
          hidden="true"
          value="{{hasBeenIssued}}">

        {% set facilityNameParams = {
                facilityName: facilityName,
                errors: errors,
                text: "Enter a name for this " + facilityTypeString + " facility" if hasBeenIssued else "Enter a name for this " + facilityTypeString + " facility (optional)"
        } %}

        {{ facilityNameSection.render(facilityNameParams)}}

        {% if hasBeenIssued %}
          {# Elements to Show if Issued #}
          {% set coverStartHtml %}

            {% set coverStartDateParams = {
                coverStartDateDay: coverStartDateDay,
                coverStartDateMonth: coverStartDateMonth,
                coverStartDateYear: coverStartDateYear,
                errors: errors,
                hint: "This must be within three calendar months after the date you submit the notice to UKEF. It cannot be earlier than the date it's submitted.</p><p class='govuk-!-margin-0 has-text'>If your cover start date expires by the time the notice is submitted, your cover will start on the date your notice is submitted to UKEF."
            } %}

            {{coverStartDateSection.render(coverStartDateParams)}}

          {% endset -%}

          {% set coverStartSubmissionParams = {
            shouldCoverStartOnSubmission: shouldCoverStartOnSubmission,
            coverStartHtml: coverStartHtml,
            errors: errors,
            text: "Do you want UKEF cover to start on the day you submit the automatic inclusion notice?"
          } %}

          {{coverStartSubmissionSection.render(coverStartSubmissionParams)}}

          {{ coverEndDateSection.render(coverEndDateDay, coverEndDateMonth, coverEndDateYear, errors) }}

        {% else %}
          {# Elements to Show if Unissued #}
          {{ govukInput({
            label: {
              text: "How many months will you need UKEF cover for?",
              classes: "govuk-label--m"
            },
            hint: {
              text: "Round up to the nearest number of months"
            },
            id: "monthsOfCover",
            name: "monthsOfCover",
            value: monthsOfCover,
            classes: "govuk-input--width-2",
            attributes: {
              'data-cy': 'months-of-cover'
            },
            suffix: {
              text: "months"
            },
            errorMessage: errors and errors.fieldErrors.monthsOfCover and {
              text: errors.fieldErrors.monthsOfCover.text,
              attributes: {
                'data-cy': 'months-of-cover-error'
              }
            }
          }) }}
        {% endif %}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue",
            attributes: {
              'data-cy': 'continue-button'
            }
          }) }}

          {{ govukButton({
            text: "Save and return",
            classes: "govuk-button--secondary",
            attributes: {
              formaction: "about-facility?saveAndReturn=true",
              'data-cy': 'save-and-return-button'
            }
          }) }}
        </div>
      </form>
    </div>
  </div>

{% endblock %}
