{% extends "index.njk" %}
{% block pageTitle %}Accessibility Statement{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">Accessibility Statement for the UKEF Portal</h1>
  {% include "includes/accessibility-statement.njk" %}
{% endblock %}
