{% extends "index.njk" %}
{% block pageTitle %}Accessibility Statement{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">Accessibility Statement for the Digital Trade Finance Service</h1>

  <p class="govuk-body"><a href="https://www.get-a-guarantee-for-export-finance.service.gov.uk">https://www.get-a-guarantee-for-export-finance.service.gov.uk</a></p>

  <p class="govuk-body">
    This policy explains how accessible the Digital Trade Finance Service is when banks are using it to apply for guarantees under the Bank Delegation Scheme. It does not cover all of <a target="_blank" rel="noreferrer noopener nofollow" href="https://www.gov.uk/government/collections/our-products">UK Export Finance's products listed on GOV.UK</a>.
  </p>

  <h2 class="govuk-heading-m">Using our website</h2>
  <p class="govuk-body">This website is run by UK Export Finance. We want as many people as possible to use this website. For example, that means you should be able to:</p>
  <ul class="govuk-list accessibility-statement-list">
    <li>change colours, contrast levels and fonts</li>
    <li>zoom in up to 300% without the text spilling off the screen</li>
    <li>navigate most of the website using just a keyboard</li>
    <li>navigate most of the website using speech recognition software</li>
    <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
  </ul>

  <p class="govuk-body">We’ve also made the website text as simple as possible to understand.</p>
  <p class="govuk-body"><a href="https://mcmw.abilitynet.org.uk/" target="_blank" rel="noreferrer noopener nofollow">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>

  <h2 class="govuk-heading-m">How accessible this service is </h2>
  <p class="govuk-body">We know some parts of this website are not fully accessible:</p>
  <ul class="govuk-list accessibility-statement-list">
    <li>you cannot modify the line height or spacing of text in tables throughout the service </li>
    <li>when zoomed in to 400% and selecting industry sector and industry class in the Bond Support Scheme and Export Working Capital Scheme application, the values are truncated which means they cannot be viewed in a single column </li>
  </ul>

  <h2 class="govuk-heading-m">Feedback and contact information</h2>
  <p class="govuk-body">If you need information on this website in a different format like accessible PDF, large print, easy read, contact us:</p>
  <ul class="govuk-list accessibility-statement-list">
    <li>DigitalService.TradeFinance@ukexportfinance.gov.uk </li>
    <li>+44 (0)207 271 8010 </li>
  </ul>
  <p class="govuk-body">We'll consider your request and get back to you in 2 days.</p>



  <h2 class="govuk-heading-m">Reporting accessibility problems with this website</h2>
  <p class="govuk-body">We're always looking to improve the accessibility of this website. If you find any additional problems not listed above or think we're not meeting accessibility requirements, contact: <a href="mailTo:DigitalService.TradeFinance@ukexportfinance.gov.uk">DigitalService.TradeFinance@ukexportfinance.gov.uk</a>.</p>

  <h2 class="govuk-heading-m">Enforcement procedure</h2>
  <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations'). If you're not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/" target="_blank" rel="noreferrer noopener nofollow">contact the Equality Advisory and Support Service (EASS)</a>.</p>

  <h2 class="govuk-heading-m">Technical information about this website's accessibility</h2>
  <p class="govuk-body">UK Export Finance is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

  <h2 class="govuk-heading-m">Compliance status</h2>
  <p class="govuk-body">This website is partially compliant with the <a href="https://www.w3.org/TR/WCAG21/" target="_blank" rel="noreferrer noopener nofollow">Web Content Accessibility Guidelines version 2.1</a> AA standard, due to the non-compliances listed below. </p>
  <p class="govuk-body">The content listed below is non-accessible for the following reasons. </p>

  <h2 class="govuk-heading-m">Non-compliance with the accessibility regulations <h2>
  <p class="govuk-body">When the 'About the supply contract' page for the Bond Support and Export Working Capital Schemes is magnified to 400% and the width is set to 1280px, the select box options are truncated for industry sector and class, which means some users are unable to read the option fully. This fails WCAG 2.1 success criterion 1.4.10 (reflow). We will continue to review any possible improvements we can make.  </p>

  <h2 class="govuk-heading-m">What we're doing to improve accessibility<h2>
  <p class="govuk-body">UK Export Finance is committed to address all issues of the Digital Trade Finance Service/Portal. The team responsible for the service is working on the remaining accessibility issues, reviewing any further improvements which can be made.</p>

  <h2 class="govuk-heading-m">Preparation of this accessibility statement <h2>
  <p class="govuk-body">This statement was prepared 5th April 2022. It was last reviewed on 5th April 2022. </p>
  <p class="govuk-body">This website was last tested on 1st March 2022. The test was carried out by Digital Accessibility Centre (DAC) and further tested by the team responsible for the service.</p>

{% endblock %}
