{% extends "index.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
  {% if isAutomaticCover === true %}
    Automatic inclusion notice
  {% elif (isAutomaticCover === false) %}
    Manual inclusion application
  {% else %}
    Application Details
  {% endif %}
{% endblock %}

{% block content %}
  <div class="application-banner" data-cy="application-banner">
    <p class="govuk-body" data-cy="bank-ref-name">{{ bankInternalRefName }}</p>
    <a class="govuk-link" href="/gef/application-details/{{applicationId}}" data-cy="abandon-link"><strong>Abandon</strong></a>
  </div>

  {% if errors %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors.errorSummary,
      attributes: {
        'data-cy': 'error-summary'
      }
    }) }}
  {% endif %}

  <header data-cy="application-details-page">
    <span class="govuk-caption-xl" data-cy="heading-caption">
      General export facility
    </span>
    <h1 class="govuk-heading-xl" data-cy="main-heading">
      {% if isAutomaticCover === true %}
        Automatic inclusion notice
      {% elif (isAutomaticCover === false) %}
        Manual inclusion application
      {% else %}
        Application Details
      {% endif %}
    </h1>
  </header>

  <hr class="govuk-section-break govuk-section-break--bold govuk-section-break--l govuk-section-break--visible">

  {% include "includes/application-details/about-exporter.njk" %}
  {% include "includes/application-details/automatic-cover.njk" %}
  {% include "includes/application-details/facilities.njk" %}
  <form method="post" data-cy="form">
  {% include "includes/application-details/submit.njk" %}
  </form>

{% endblock %}
