{% import '../_macros/application-activity/activity-html.njk' as activityHtml %}

{% extends "index.njk" %}

{% block pageTitle %}
  Application Activities
{% endblock %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{% block content %}

  {% include "includes/application-preview/summary.njk" %}
  {% include "includes/application-preview/application-sub-navigation.njk" %}

  <h1 class="govuk-heading-xl" data-cy="main-activity-heading">Activity and comments</h1>

  {# 
    NOTE: we need to use MOJ timeline HTML rather than the nunjucks component.
    This is because we have conditional custom HTML for different timeline items/activities
    See the "activity-html" / activityHtml component for examples.
    The alternative to this is to have complex array mapping, object creation and creation.
    inside this nunjucks template, which we found to be very hard to read and maintain.
  #}
  <div class="moj-timeline" data-cy="portal-activities-timeline">

    {% for activity in portalActivities %}

      <div class="moj-timeline__item">

        <div class="moj-timeline__header">
          <h2 class="moj-timeline__title" data-cy="activity-{{ activity.title }}-title">{{ activity.title }}</h2>

          {% if activity.byline %}
            <p class="moj-timeline__byline" data-cy="activity-{{ activity.title }}-byline">by {{ activity.byline }}</p>
          {% endif %}
        </div>

        <p class="moj-timeline__date">
          <time data-cy="activity-{{ activity.title }}-date">{{ activity.date }} {{ activity.time }}</time>
        </p>

        {{ activityHtml.render({
          title: activity.title,
          dealId: dealId,
          ukefDealId: ukefDealId,
          facilityId: activity.facilityId,
          ukefFacilityId: activity.ukefFacilityId,
          previousStatus: previousStatus,
          facilityType: activity.facilityType,
          maker: activity.maker,
          checker: activity.checker
        }) }}

      </div>

    {% endfor %}

  </div>

{% endblock %}
