{% extends "index.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% if isAutomaticCover === true %}
    Automatic inclusion notice
  {% elif (isAutomaticCover === false) %}
    Manual inclusion application
  {% else %}
    Application Details
  {% endif %}
{% endblock %}

{% block content %}
  {% if errors %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors.errorSummary,
      attributes: {
        'data-cy': 'error-summary'
      }
    }) }}
  {% endif %}

  {% if applicationShowSummary %}
    {% include "includes/application-preview/summary.njk" %}
    {% include "includes/application-preview/task-comments.njk" %}
  {% else %}
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <p class="govuk-body"><strong>Bank's reference</strong></p>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <p class="govuk-body" data-cy="bank-ref-name">{{ bankInternalRefName }}</b></p>
        </div>
        <div class="govuk-grid-column-one-half" style="text-align: right;">
          {{ govukButton({
            text: "Abandon",
            attributes: {
              "data-cy": "abandon-link"
            },
            classes: "govuk-button--secondary",
            href: "/gef/application-details/"+applicationId+"/abandon"
          }) }}
        </div>
      </div>
    </div>
  {% endif %}

  <header data-cy="application-details-page">
    <span class="govuk-caption-xl" data-cy="heading-caption">
      General export facility
    </span>
    <h1 class="govuk-heading-xl" data-cy="main-heading">
      {% if isAutomaticCover === true %}
        Automatic inclusion notice
      {% elif (isAutomaticCover === false) %}
        Manual inclusion application
      {% else %}
        Application Details
      {% endif %}
    </h1>
  </header>

  <hr class="govuk-section-break govuk-section-break--bold govuk-section-break--l govuk-section-break--visible">

  {% include "includes/application-details/about-exporter.njk" %}
  {% include "includes/application-details/automatic-cover.njk" %}
  {% include "includes/application-details/facilities.njk" %}
  {%if not previewMode %}
    <form method="post" data-cy="form">
      {% include "includes/application-details/submit.njk" %}
    </form>
  {% endif %}

{% endblock %}
