{% extends "index.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}Application details{% endblock %}

{% block content %}
  {% if errors %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors.errorSummary,
      attributes: {
        'data-cy': 'error-summary'
      }
    }) }}
  {% endif %}

  <header>
    <span class="govuk-caption-xl" data-cy="heading-caption">
      General export facility
    </span>
    <h1 class="govuk-heading-l" data-cy="main-heading">
      Application details
    </h1>
  </header>

  <hr class="hr hr--bold"/>


  {% include "includes/application-details/about-exporter.njk" %}

{% endblock %}
