{% extends "index.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% import '../_macros/eligibility-criterion.njk' as eligibilityCriterion %}

{% block pageTitle %}Automatic cover{% endblock %}

{% block content %}
  {% if errors %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors.errorSummary,
      attributes: {
        'data-cy': 'error-summary'
      }
    }) }}
  {% endif %}


  <h1 class="govuk-heading-xl" data-cy="main-heading">
    Check if this is eligible for automatic cover
  </h1>

  {{ govukDetails({
    summaryText: "What is automatic cover?",
    text: "If you’re eligible for automatic cover, you can submit all the application details as an automatic inclusion notice (AIN). Once you’ve submitted the AIN, your cover will be available immediately for you to use."
  }) }}


  <form method="post" data-cy="form">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {% for term in terms %}
      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: term.id,
        name: term.id,
        fieldset: {
          legend: {
            html: eligibilityCriterion.render({
              id: term.id,
              text: term.text,
              textList: term.textList
            })
          }
        },
        attributes: {
          'data-cy': 'automatic-cover-term'
        },
        errorMessage: errors and errors.fieldErrors[term.id] and  {
          text: errors.fieldErrors[term.id].text,
          attributes: {
            'data-cy': 'automatic-cover-error'
          }
        },
        items: [
          {
            value: "true",
            text: "True",
            checked: term.answer === true,
            attributes: {
              'data-cy': 'automatic-cover-true'
            }
          },
          {
            value: "false",
            text: "False",
            checked: term.answer === false,
            attributes: {
              'data-cy': 'automatic-cover-false'
            }
          }
        ]
      }) }}
    {% endfor %}
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Continue",
        attributes: {
          'data-cy': 'continue-button'
        }
      }) }}

      {{ govukButton({
        text: "Save and return",
        classes: "govuk-button--secondary",
        attributes: {
          formaction: "automatic-cover?saveAndReturn=true",
          'data-cy': 'save-and-return-button'
        }
      }) }}
    </div>
  </form>
{% endblock %}
