{% extends "index.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}Confirm that you want to delete {{ heading }} facility?{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl" data-cy="main-heading">
    Confirm that you want to delete {{ heading }} facility?
  </h1>

  <div data-cy="content">
    <p class="govuk-body">This action cannot be undone.</p>
  </div>

  <form method="post" data-cy="form">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Yes, delete",
        attributes: {
          'data-cy': 'delete-button'
        }
      }) }}

      {{ govukButton({
        text: "No, keep",
        classes: "govuk-button--secondary",
        href: "/gef/application-details/" + dealId,
        attributes: {
          'data-cy': 'keep-button'
        }
      }) }}
    </div>
  </form>
{% endblock %}
