<button type="button" class="govuk-button" data-module="govuk-button" id="gef-print-button" data-cy="print-button">
  Print page
</button>

<script src="/assets/js/printPage.js" type="module" integrity="sha512-919y7jPivlBPrwsm32uCS3R9hRl/S8CM02T9vA07Cs9sHnbIIVyPpD/qAaIhMLisYIcPmo0anUnmb0HWemGn6g==" crossorigin="anonymous"></script>
