<button class="govuk-button" data-module="govuk-button" id="gef-print-button" data-cy="print-button">
  Print page
</button>

<script src="/assets/js/printPage.js" type="module" integrity="sha512-COV1ZxdaFcvJFaLBxO/S9vxb6lx0vun8S4gYf82aSfr/OCjWt6yeEWTeaLYS2crz70vNnQEdoDEg9JojLHqU5A==" crossorigin="anonymous"></script>
