{% extends "index.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% import '../_macros/submit-confirmation-title.njk' as submitConfirmationTitle %}

{% block pageTitle %}
  {{ submissionType }} submitted to UKEF
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      {% set titleComponentData = {
        submissionType: submissionType,
        text: 'submitted to UKEF'
      }%}

      {{ govukPanel({
        attributes: {
          'data-cy': 'ukef-submission-confirmation'
        },
        titleHtml: submitConfirmationTitle.render(titleComponentData),
        classes: "govuk-!-margin-bottom-7"
      }) }}
      
      {% if isNotice %}
        {% if ukefDecisionAccepted %}
          <p>We’ll send you a confirmation email shortly, once we’ve acknowledged your inclusion notice.</p>
        {% else %}
          <p>We'll send you an email shortly to confirm we've accepted your notice.</p>
        {% endif %}
      {% else %}
      <p>We've sent you a confirmation email.</p>
      <br/>
      <h2>What happens next</h2>
      <p>Our underwriters will review this application and let you know if UKEF can provide a guarantee.</p>
      <p>They’ll either:</p>
        <ul>
          <li>approve it with conditions</li>
          <li>approve it without conditions</li>
          <li>decline the application</li>
        </ul>
      {% endif %}
      <p><a class="govuk-link" href="/dashboard" data-cy="dashboard-link">Return to all applications and notices</a></p>
    </div>
  </div>
{% endblock %}
