{% extends "index.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
  Submit to UKEF
{% endblock %}

{% block content %}
  {% if errors %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors.errorSummary,
      attributes: {
        'data-cy': 'error-summary'
      }
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6" data-cy="main-heading">
        Confirm your submission
      </h1>

      <p class="govuk-body" data-cy="main-text">
        By submitting to UKEF you confirm that:
      </p>
      <ul class="govuk-body" data-cy="main-text">
        <li>you have reviewed the information </li>
        <li>you want to proceed with the submission </li>
      </ul>

      <form method="post" data-cy="form">
        {{ govukCheckboxes({
          idPrefix: "confirmSubmitUkef",
          name: "confirmSubmitUkef",
          attributes: {
            "data-cy": "confirm-submit-ukef"
          },
          items: [
            {
              value: true,
              text: "I understand and agree",
              attributes: {
                "data-cy": "confirm-submit-ukef-checkbox",
                "aria-label": "Confirm your submission, By submitting to UKEF you confirm that: you have reviewed the information and you want to proceed with the submission, I understand and agree"
              }
            }
          ],
          errorMessage: errors.fieldErrors.confirmSubmitUkef
        }) }}


        <p class="govuk-button-group govuk-!-margin-top-7" style="vertical-align: middle">
          {{ govukButton({
            text: "Submit to UKEF",
            attributes: {
              'data-cy': 'submit-button'
            },
            classes: "govuk-!-margin-right-6"
          }) }}
          <a class="govuk-link" href="/gef/application-details/{{ dealId }}"
              data-cy="cancel-link">Cancel</a>
        </p>
      </form>
    </div>
  </div>

{% endblock %}
