{% extends "index.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% import '../_macros/about-facility/facility-name.njk' as facilityNameSection %}
{% import '../_macros/about-facility/issue-date.njk' as issueDateSection %}
{% import '../_macros/about-facility/cover-start-date.njk' as coverStartDateSection %}
{% import '../_macros/about-facility/cover-end-date.njk' as coverEndDateSection %}
{% import '../_macros/about-facility/cover-start-submission.njk' as coverStartSubmissionSection %}

{% block pageTitle %}About this {{ facilityTypeString }} facility{% endblock %}

{% block content %}

  {% if errors %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors.errorSummary,
      attributes: {
        'data-cy': 'error-summary'
      }
    }) }}
  {% endif %}

  {% if change === false %}
    {{ govukBackLink({
      text: "Back",
      href: "/gef/application-details/" + dealId + "/unissued-facilities",
      attributes: {
        'data-cy': 'back-link'
      }
    }) }}

  {% else %}
    {{ govukBackLink({
      text: "Back",
      href: "/gef/application-details/" + dealId,
      attributes: {
        'data-cy': 'back-link'
      }
    }) }}
  {% endif %}

  <header data-cy="application-details-page">
    <h1 class="govuk-heading-xl" data-cy="main-heading">
      Tell us you've issued this facility
    </h1>
  </header>
  <div class="govuk-grid-row govuk-!-margin-bottom-3">
    <div class="govuk-grid-column-one-half">
      <form method="post" data-cy="form">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <input class="govuk-visually-hidden" id="facilityType" name="facilityType" hidden="true" value="{{ facilityType }}">
          <input class="govuk-visually-hidden" id="hasBeenIssued" name="hasBeenIssued" hidden="true" value="{{ hasBeenIssued }}">

            {% set facilityNameParams = {
                facilityName: facilityName,
                errors: errors,
                text: "Name for this " + facilityTypeString + " facility"
              } %}

            {{ facilityNameSection.render(facilityNameParams)}}

            {{ issueDateSection.render(issueDateDay, issueDateMonth, issueDateYear, errors) }}

            {% set coverStartHtml %}

              {% set coverStartDateParams = {
                coverStartDateDay: coverStartDateDay,
                coverStartDateMonth: coverStartDateMonth,
                coverStartDateYear: coverStartDateYear,
                errors: errors,
                hint: "For example, 12 03 2021.  This must be within 3 months after the date you submit the notice to UKEF. It cannot be earlier than the date it's submitted inclusion notice."
              } %}

              {{coverStartDateSection.render(coverStartDateParams)}}

            {% endset -%}

            {% set coverStartSubmissionParams = {
              shouldCoverStartOnSubmission: shouldCoverStartOnSubmission,
              coverStartHtml: coverStartHtml,
              errors: errors,
              text: "Do you want UKEF cover to start on the same date as when it was issued?"
            } %}

            {{coverStartSubmissionSection.render(coverStartSubmissionParams)}}

            {{ coverEndDateSection.render(coverEndDateDay, coverEndDateMonth, coverEndDateYear, errors) }}

            <div class="govuk-button-group">

              {{ govukButton({
                text: "Continue",
                attributes: {
                  'data-cy': 'continue-button'
                }
              }) }}

              {% if change === false %}
                <a href="/gef/application-details/{{ dealId }}/unissued-facilities" class="govuk-link" data-cy="cancel-link">
                  Cancel</a>
              {% else %}
                <a href="/gef/application-details/{{ dealId }}" class="govuk-link" data-cy="cancel-link">Cancel</a>
              {% endif %}

            </div>
      </form>
    </div>
  </div>
{% endblock %}