{% extends "index.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}Mandatory criteria{% endblock %}

{% block content %}

  {% if validationErrors.count %}
    {{
      govukErrorSummary({
        titleText: "There is a problem",
        errorList: validationErrors.summary
      })
    }}
  {% endif %}

  <h1 class="govuk-heading-l" data-cy="mandatory-criteria-heading">Mandatory criteria</h1>

  <h2 class="govuk-heading-m" data-cy="mandatory-criteria-sub-heading">Does this deal meet all UKEF's mandatory criteria?</h2>

  <p class="govuk-body" data-cy="mandatory-criteria-intro">To proceed with this submission, you need to be able to affirm that all the following mandatory criteria are or will be true for this deal on the date that cover starts.</p>

  {% for criterion in mandatoryCriteria.criteria %}
    <h2 class="govuk-heading-m" data-cy="mandatory-criteria-criterion-{{ criterion.id }}-title">{{ criterion.title }}</h2>

    <ol class="govuk-list govuk-list--number" data-cy="mandatory-criteria-criterion">
      {% for item in criterion.items %}
        <li value="{{ item.id }}">{{ item.copy | safe}}</li>
      {% endfor %}
    </ol>

  {% endfor %}

  <hr class="govuk-section-break" />

  <p class="govuk-body">Confirmation</p>

  <form autocomplete="off" method="POST">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {{
      govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "criteriaMet",
        name: "criteriaMet",
        fieldset: {
          legend: {
            text: "All of the above mandatory criteria are true for this supply contract.",
            classes: "govuk-fieldset__legend"
          }
        },
        items: [
          {
            value: "true",
            text: "True",
            attributes: {
              "data-cy": "criteriaMet-true"
            }
          },
          {
            value: "false",
            text: "False",
            attributes: {
              "data-cy": "criteriaMet-false"
            }
          }
        ],
        errorMessage: validationErrors.errorList.criteriaMet
      })
    }}

    <button class="govuk-button" data-module="govuk-button" data-cy="submit-button">Submit</button>

  </form>

{% endblock %}
