{% extends "case/case.njk" %}

{% block sub_content %}

  <h2 class="header-label">Tasks for this deal</h2>
  
  <div class="govuk-grid-row" data-cy="deal-tasks">

  <br />
  <br />

  <ul class="govuk-list" data-cy="tasks-list">
    {% for task in tfm.tasks %}
      <li data-cy="task-{{ task.id }}-list-item">
        <a href="/case/{{ dealId }}/tasks/{{ task.id }}" data-cy="task-{{ task.id }}-list-item-link">{{ task.title}}</a>
      </li>
    {% endfor %}
  </ul>

  </div>

{% endblock %}
