{% extends "case/case.njk" %}
{% import './_macros/tasks-table.njk' as tasksTable %}

{% block sub_content %}
  
  <div class="govuk-grid-row" data-cy="case-tasks">

    <div class="govuk-grid-column-three-quarters">

      <h2 class="govuk-heading-xl govuk-!-margin-top-6" data-cy="tasks-heading">Tasks for this deal</h2>

      <h3 class="govuk-heading-s ukef-heading-background" data-cy="tasks-deal-submission-type">{{ deal.details.submissionType }}</h3>

      {% set componentData = {
        tasks: tfm.tasks,
        caseId: dealId
      } %}

      {{ tasksTable.render(componentData) }}

    </div>

  </div>

{% endblock %}
