<!DOCTYPE html>
<html lang="en" class="govuk-template ">
  <head>
    <meta charset="utf-8"/>
    <title>
      {% block pageTitle %}{% endblock %} - UK Export Finance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/assets/images/favicon.ico?v=2" type="image/x-icon"/>
    <link rel="mask-icon" href="/assets/images/govuk-mask-icon.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/govuk-apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/assets/images/govuk-apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/govuk-apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" href="/assets/images/govuk-apple-touch-icon.png">
    <link rel="stylesheet" href="/gef/assets/css/styles.css"/>
    <meta property="og:image" content="/assets/images/govuk-opengraph-image.png">
  </head>

  <body class="govuk-template__body govuk-body">

     <script src="/assets/js/jsEnabled.js" type="module" integrity="sha512-ievJl1B6sPB+e1Tsg2P5KpbOinKIoN0XbB1G0CZidrtBa/S9uUtmXiOCwxP6Fr3MlydEVxM4eMU5qaOrG2iLBg==" crossorigin="anonymous"></script>

    {% include "includes/skip-link.njk" %}

    {% if user and user
      .roles and user
      .roles
      .includes('admin') %}
      {% include "includes/admin-header.njk" %}
    {% endif %}

    {% include "includes/header.njk" %}
    {% include "includes/beta-banner.njk" %}
    {% include "includes/primary-navigation.njk" %}
    <div class="govuk-width-container">

      <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
        {% block content %}{% endblock %}
      </main>

    </div>

    {% include "includes/footer.njk" %}

    <script src="/assets/js/main.js" type="module" integrity="sha512-VXWKYDxIznGLt0DAb+wZ2mXYzXqbnP03yFEglNTzBs9lyHBPXe28YlYhxubBPsvS/jKgEpp8LrY6LQtKRXH68g==" crossorigin="anonymous"></script>
    <script src="/assets/js/govukFrontend.js" type="module" integrity="sha512-E233yoofbPi+KzEwTOYaqp+y/ovdfK9lgZhqZVUQveNwfjPg/eLuiIUWjJffjQYMWwx4kd4mrlGt0lC4sn0Y3w==" crossorigin="anonymous"></script>
    <script src="/assets/js/mojFrontend.js" type="module" integrity="sha512-pC+EDr6zEkHWQwb/GmZbDfkYrIY6jU1UPSP0/yX6zNQFHkJuap+qMwD9C/7G17ZqxGIDkexyc3bDf6JpzSLFiw==" crossorigin="anonymous"></script>
    <script src="/assets/js/maskedInputs.js" type="module" integrity="sha512-x2Car+vmXPlZ/CFqguRd7U0BshYxOtwtKhk4zc9gmljr+6lobOD4xmWtvWIU5GR/GkP5lEXhF3G/1RUEbjcN/A==" crossorigin="anonymous"></script>
    <script src="/assets/js/disableFormSubmitOnSubmission.js" type="module" integrity="sha512-IpnK/TeJQmwY97BEnlTBugmlIoR1QAvAYn8wm2uQIq+lj/A4Dk7EFtKNqlZJfgL64tEtUwcQdsOmkbhdscD2cA==" crossorigin="anonymous"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
