<!DOCTYPE html>
<html lang="en" class="govuk-template ">
  <head>
    <meta charset="utf-8"/>
    <title>
      {% block pageTitle %}{% endblock %} - UK Export Finance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/assets/images/favicon.ico?v=2" type="image/x-icon"/>
    <link rel="mask-icon" href="/assets/images/govuk-mask-icon.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/govuk-apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/assets/images/govuk-apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/govuk-apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" href="/assets/images/govuk-apple-touch-icon.png">
    <link rel="stylesheet" href="/gef/assets/css/styles.css"/>
    <meta property="og:image" content="/assets/images/govuk-opengraph-image.png">
  </head>

  <body class="govuk-template__body govuk-body">

    <script src="/assets/js/jsEnabled.js" type="module" integrity="sha512-BZmKCksPLPXsFlYmd1MUEDLllt/d7vn1jLdU6FA1Y7hpzaOK7Aj9wwS3alwFEl+tlS5Md3CmwjI98F5Ggsg92Q==" crossorigin="anonymous"></script>

    {% include "includes/skip-link.njk" %}

    {% if user and user
      .roles and user
      .roles
      .includes('admin') %}
      {% include "includes/admin-header.njk" %}
    {% endif %}

    {% include "includes/header.njk" %}
    {% include "includes/beta-banner.njk" %}
    {% include "includes/primary-navigation.njk" %}
    <div class="govuk-width-container">

      <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
        {% block content %}{% endblock %}
      </main>

    </div>

    {% include "includes/footer.njk" %}

    <script src="/assets/js/main.js" type="module" integrity="sha512-HEhxQSphBlHV9OM8V0qLsCylJB4c9LbFdOC7pB9Ujg7ySL8E29ifnmtF+6i5I5ieMJk9+q+WlvhPyvyn0GxdhQ==" crossorigin="anonymous"></script>
    <script src="/assets/js/govukFrontend.js" type="module" integrity="sha512-lgazaHvhhkqqZddDJelEkMTKltMOXka6crS1q7BjVdPYHxIEZzylH47PPHYklGNX6iZFhbkp8JHwXVJp1zfQIQ==" crossorigin="anonymous"></script>
    <script src="/assets/js/mojFrontend.js" type="module" integrity="sha512-eOl0TifTsZ/1GhH6FNfs6SoJhL0shOkKCDjvLnC9+Ewwp6n6uYwIXuiQqphBMSVenttWkRWfM2Fqs6zCvneIzw==" crossorigin="anonymous"></script>
    <script src="/assets/js/maskedInputs.js" type="module" integrity="sha512-4XTH3IT3oQN/60lRAdBZWXMXq4/L1n5kUoGEftu+nY0Bba/7T0RDIZ62es6v+dCyNJ+uaYZTjWl3nPYv0rR6WA==" crossorigin="anonymous"></script>
    <script src="/assets/js/disableFormSubmitOnSubmission.js" type="module" integrity="sha512-RwF5ml+CiOHtgzu/uJmiCoytVi+TMCZGAKWvD+meYlY8bxi+kxC2qMDDiAyi17CoSK5rzB9DO4lej7QRXz8sQQ==" crossorigin="anonymous"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
