{% if paymentDetails.filterErrors.errorSummary | length %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: paymentDetails.filterErrors.errorSummary,
    attributes: {
      'data-cy': 'payment-details-error-summary'
    }
  }) }}
{% endif %}

<h2 class="govuk-heading-l" data-cy="payment-details-heading">Payment details</h2>

{% if paymentDetails.rows.length === 0 and paymentDetails.isFilterActive === false %}
  <p class="govuk-body" data-cy="payment-details-no-payments-text">Payment details will be displayed when payments have been entered on the premium payments tab.</p>
{% else %}
  <div class="moj-filter-layout">

    {{ paymentDetailsFiltersPanel.render({
      filters: paymentDetails.filters,
      selectedFilters: paymentDetails.selectedFilters,
      errors: paymentDetails.filterErrors,
      reportId: reportId
    }) }}

    <div class="moj-filter-layout__content">

      {{ paymentDetailsFiltersActionBar.render({
        selectedFilters: paymentDetails.selectedFilters
      }) }}

      {% if paymentDetails.rows.length === 0 and paymentDetails.isFilterActive %}

        <p class="govuk-body" data-cy="payment-details-no-records-matching-filters-text">There are no records matching the search criteria</p>

      {% else %}

        <div class="moj-scrollable-pane">

          <div class="moj-scrollable-pane__wrapper">

            {{ paymentDetailsTable.render({
              reportId: reportId,
              paymentDetails: paymentDetails.rows,
              userCanEdit: userCanEdit
            }) }}

          </div>

        </div>

      {% endif %}

    </div>

  </div>
{% endif %}
