<h2 class="govuk-heading-l" data-cy="record-correction-log-heading">Record correction log</h2>

<p class="govuk-body" data-cy="view-historic-record-corrections-text">View record correction requests that have been made.</p>

<p class="govuk-body" data-cy="record-correction-automatic-notification-text">You will be automatically notified via email when the record correction comes through from the bank.</p>

{% if recordCorrectionDetails.recordCorrectionRows.length %} 
  {{ recordCorrectionTable.render({
    recordCorrectionRows: recordCorrectionDetails.recordCorrectionRows,
    statusTagColours: statusTagColours
  }) }}
{% endif %}