<h2 class="govuk-heading-l" data-cy="record-correction-history-heading">Record correction history</h2>

<p class="govuk-body" data-cy="view-historic-resubmissions-text">View historic resubmissions</p>

<p class="govuk-body" data-cy="resubmission-automatic-notification-text">You will be automatically notified via email when the resubmission comes through from the bank</p>

{% if recordCorrectionHistory %} 

{% else %}
  <p class="govuk-body" data-cy="no-record-corrections-text">You have no made any record correction requests. Once a record correction request has been sent it will appear here</p>
{% endif %}