<h2 class="govuk-heading-l" data-cy="bank-report-heading">Bank report</h2>

{{ utilisationTable.render({
  utilisationTableRows: utilisationDetails.utilisationTableRows
}) }}

<a class="govuk-link" href="{{ utilisationDetails.downloadUrl }}" data-cy="download-report-link">
  Download the report submitted by the bank as a CSV
</a>