{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% import '_macros/date-field.njk' as dateField %}

{% macro render(bond, validationErrors, user) %}

  {{ dateField.render(
    legend = 'Requested Cover Start Date (optional)',
    id = 'requestedCoverStartDate',
    hint = '<p>For example, 27 11 2019</p><p>This must be within the next month. If this field is left blank it will default to the later of the Issued date or Inclusion Notice submission date</p>',
    dayValue = bond['requestedCoverStartDate-day'] or bond.requestedCoverStartDate and bond.requestedCoverStartDate | localiseTimestamp('dd', user.timezone),
      monthValue = bond['requestedCoverStartDate-month'] or bond.requestedCoverStartDate and bond.requestedCoverStartDate | localiseTimestamp('MM', user.timezone),
      yearValue = bond['requestedCoverStartDate-year'] or bond.requestedCoverStartDate and bond.requestedCoverStartDate | localiseTimestamp('yyyy', user.timezone),
    error = validationErrors.errorList.requestedCoverStartDate
  )}}

  {{ dateField.render(
    legend = 'Cover End Date',
    id = 'coverEndDate',
    hint = 'For example, 27 11 2025',
    dayValue = bond['coverEndDate-day'],
    monthValue = bond['coverEndDate-month'],
    yearValue = bond['coverEndDate-year'],
    error = validationErrors.errorList.coverEndDate
  )}}

  {{ govukCharacterCount({
    name: "name",
    id: "name",
    value: bond.name,
    maxlength: 30,
    classes: "govuk-!-width-one-half",
    label: {
      text: "Bond's unique identification number"
    },
    errorMessage: validationErrors and {
      text: validationErrors.errorList.name.text,
      attributes: {
        "data-cy": "name-error-message"
      }
    },
    attributes: {
      "data-cy": "name"
    }
  }) }}

{% endmacro %}
