{% import '_macros/task-list.njk' as taskList %}

{% macro render(params) %}
  {% set title = params.title %}
  {% set dealId = params.dealId %}
  {% set items = params.items %}
  {% set entityName = params.entityName %}
  {% set entityId = params.entityId %}

  {% if entityName and entityId %}
    {% set hrefRoute = '/contract/' + dealId + '/' + entityName +  '/' + entityId %}

    {% else %}
    {% set hrefRoute = '/contract/' + dealId + '/' + entityName %}
  {% endif %}

  <h1 class="govuk-heading-l" data-cy="{{entityName}}">{{ title }} </h1>

  <input type="hidden" value="{{ entityId }}" data-cy="{{ entityName }}-id"/>

  <div class="govuk-grid-row forms-task-list">

    <div class="govuk-grid-column-three-quarters">

      {{taskList.render({
        items: items,
        hrefRoute: hrefRoute
      })}}

      <a
        href="{{ hrefRoute }}/check-your-answers"
        class="govuk-body govuk-link"
        data-cy="link-check-your-answers"
      >Check your answers</a>

    </div>

  </div>

  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-8 govuk-!-margin-bottom-8" />

{% endmacro %}
