{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro render(params) %}

  <form method="post" autocomplete="off" class="ukef-search-form" data-cy="ukef-search-form">
    {{ govukInput({
      id: 'search',
      name: 'search',
      attributes: {
        'aria-label': 'Search facilities',
        placeholder: 'Search facilities',
        'data-cy': 'search-input'
      }
    }) }}

    {{ govukButton({
      html: '<img src="/assets/images/search.svg" class="ukef-search-form__button-img" data-cy="submit-button-search-icon" alt="" />',
      classes: 'govuk-!-margin-bottom-0',
      attributes: {
        'data-cy': 'submit-button',
        classes: 'ukef-search-form__button',
        'aria-label': 'Submit search'
      }
    }) }}
  </form>

{% endmacro %}
