.box {
  border: 1px dashed lightgrey;
  margin-bottom: 20px;
}

.box-solid {
  border: 1px solid lightgrey;
  margin-bottom: 20px;
}

.box-input {
  box-shadow: inset 0 0 0 2px $govuk-input-border-colour;
  padding: 8px;
  line-height: 18px;
  margin-bottom: 20px;

  &:focus, &:focus-within {
    margin-left: 0;
    padding: 8px;
  }
}

.box__header-link {
  text-align: right;
}

.box__header-inline-message {
  display: inline-block;
  vertical-align: top;
}

.box__header-inline-message--uppercase {
  text-transform: uppercase;
}
