@import "node_modules/govuk-frontend/govuk/all";
@import "./helpers.scss";

.govuk-section-break {
  &--bold {
    border: 0;
    border-bottom: 3px solid $govuk-text-colour;
  }
}

.govuk-summary-list__key {
  width: 50%;
}
.govuk-summary-list__value {
  padding-left: 15px;
  width: 30%;
}

.govuk-button-group {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;

  .govuk-button {
    margin-right: 15px;
  }

  .govuk-link {
    line-height: 38px;
  }
}

.govuk-form-group {
  &.govuk-form-group--error {
    // padding: inherit;
    // border: inherit;
    // border-left: 5px solid $govuk-error-colour;
  }
}

.application-banner {
  background-color: $govuk-brand-colour;
  padding: 10px;
  color: govuk-colour("white");
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;

  .govuk-body,
  .govuk-link {
    color: govuk-colour("white");
    margin-bottom: 0;
  }

  .govuk-link {
    line-height: 25px;

    &:focus {
      color: $govuk-focus-text-colour;
    }
  }
}
