{% from "govuk/components/select/macro.njk" import govukSelect %}

{% macro render(opts) %}
  {% set deal = opts.deal %}
  {% set validationErrors = opts.validationErrors %}
  {% set mappedIndustrySectors = opts.mappedIndustrySectors %}

  {{ govukSelect({
    id: "industry-sector",
    name: "industry-sector",
    label: { text: "Industry sector" },
    classes: "govuk-!-width-one-half",
    attributes: {
      "data-cy": "industry-sector",
      "onChange": "onChangeIndustrySector(event)"
    },
    items: mappedIndustrySectors,
    errorMessage: validationErrors.errorList["industry-sector"]
  }) }}

{% endmacro %}
