{% extends "index.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% import "./_macros/correction-request-details-table.njk" as correctionRequestDetailsTable %}

{% block pageTitle %}Record correction{% endblock %}

{% block content %}

    <h1 class="govuk-heading-xl">
      Report GEF utilisation and fees
    </h1>

    <h2 class="govuk-heading-l">
      Record correction
    </h2>

    {{ correctionRequestDetailsTable.render({ details: correctionRequestDetails }) }}

    {# TODO FN-3668: Add in selectively rendered form fields based on the reasons. #}

    {# TODO FN-3668: Textarea prompt text should change based on whether other reasons have been selected, apart from 'Other' - see designs in body of ticket. #}
    {# TODO FN-3668: We want the textarea to have an upper character limit of 500 chars, update to use the same component as TFM UI. #}

    <div class="govuk-button-group">
      <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        {{ govukButton({
          text: "Save and review changes",
          attributes: {
            'data-cy': 'continue-button'
          }
        }) }}
      </form>
      <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        <input
          class="govuk-button govuk-button--secondary"
          formaction=""
          value="Cancel record correction"
          data-module="govuk-button"
          type="submit"
          data-cy="cancel-button"/>
      </form>
    </div>

{% endblock %}