{% extends "index.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% import "./_macros/correction-request-details-table.njk" as correctionRequestDetailsTable %}

{% block pageTitle %}Record correction{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
    Report GEF utilisation and fees
  </h1>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-l">
        Record correction
      </h2>

      {{ correctionRequestDetailsTable.render({
        details: correctionRequestDetails
      }) }}

    </div>

  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds-from-desktop">

      {% if correctionRequestDetails.reasons and "FACILITY_ID_INCORRECT" in correctionRequestDetails.reasons %}
        {{ govukInput({
          label: {
            text: "Enter the facility ID",
            classes: "govuk-label--s"
          },
          hint: {
            text: "The facility ID can be found on the deal summary page"
          },
          id: "facilityId",
          name: "facilityId",
          classes: "govuk-input--width-20",
          attributes: {
            "data-cy": "FACILITY_ID_INCORRECT-input"
          }
        }) }}
      {% endif %}

      {% if correctionRequestDetails.reasons and "REPORTED_CURRENCY_INCORRECT" in correctionRequestDetails.reasons %}
        {{ govukRadios({
          fieldset: {
            legend: {
              text: "Select the reported currency",
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "This is the currency that you report the fees in"
          },
          name: "reportedCurrency",
          items: paymentCurrencyOptions,
          attributes: {
            id: 'reported-currency',
            'data-cy': 'REPORTED_CURRENCY_INCORRECT-input'
          }
        }) }}
      {% endif %}

      {% if correctionRequestDetails.reasons and "REPORTED_FEE_INCORRECT" in correctionRequestDetails.reasons %}
        {{ govukInput({
          label: {
            text: "Enter the reported fee",
            classes: "govuk-label--s"
          },
          hint: {
            text: "This the fee amount that has been sent to UKEF for the period"
          },
          id: "reportedFee",
          name: "reportedFee",
          classes: "govuk-input--width-20",
          attributes: {
            "data-cy": "REPORTED_FEE_INCORRECT-input"
          }
        }) }}
      {% endif %}

      {% if correctionRequestDetails.reasons and "UTILISATION_INCORRECT" in correctionRequestDetails.reasons %}
        {{ govukInput({
          label: {
            text: "Enter the utilisation",
            classes: "govuk-label--s"
          },
          hint: {
            text: "Enter the utilisation in base currency for the period end date"
          },
          id: "utilisation",
          name: "utilisation",
          classes: "govuk-input--width-20",
          attributes: {
            "data-cy": "UTILISATION_INCORRECT-input"
          }
        }) }}
      {% endif %}

      {{ govukCharacterCount({
        name: "additionalComments",
        id: "additionalComments",
        label: {
          text: additionalCommentsLabel,
          classes: "govuk-label--s",
          attributes: {
            "data-cy": "additional-comments-label"
          }
        },
        hint: {
          text: additionalCommentsHint,
          attributes: {
            "data-cy": "additional-comments-hint"
          }
        },
        maxlength: 500,
        rows: 4,
        attributes: {
          "data-cy": "additional-comments-input"
        }
      }) }}

      <div class="govuk-button-group">
        <form method="post">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
          {{ govukButton({
            text: "Save and review changes",
            attributes: {
              'data-cy': 'continue-button'
            }
          }) }}
        </form>
        <form method="post">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
          <input
            class="govuk-button govuk-button--secondary"
            formaction=""
            value="Cancel record correction"
            data-module="govuk-button"
            type="submit"
            data-cy="cancel-button"/>
        </form>
      </div>

    </div>

  </div>

{% endblock %}