{% extends "index.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% import "./_macros/correction-request-details-table.njk" as correctionRequestDetailsTable %}

{% set hasErrors = errors.errorSummary | length %}

{% block pageTitle %}Record correction{% endblock %}

{% block content %}
  {% if hasErrors %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors.errorSummary,
      attributes: {
        'data-cy': 'error-summary'
      }
    }) }}
  {% endif %}

  <h1 class="govuk-heading-xl">
    Report GEF utilisation and fees
  </h1>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-l">
        Record correction
      </h2>

      {{ correctionRequestDetailsTable.render({
        details: correctionRequestDetails
      }) }}

    </div>

  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds-from-desktop">

      <form method="post">

        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {% if "FACILITY_ID_INCORRECT" in correctionRequestDetails.reasons %}
          {{ govukInput({
            label: {
              text: "Enter the facility ID",
              classes: "govuk-label--s",
              attributes: {
                "data-cy": "FACILITY_ID_INCORRECT-label"
              }
            },
            hint: {
              text: "The facility ID can be found on the deal summary page",
              attributes: {
                "data-cy": "FACILITY_ID_INCORRECT-hint"
              }
            },
            id: "facilityId",
            name: "facilityId",
            value: formValues.facilityId,
            classes: "govuk-input--width-20",
            attributes: {
              "data-cy": "FACILITY_ID_INCORRECT-input"
            },
            errorMessage: errors.facilityIdErrorMessage and {
              text: errors.facilityIdErrorMessage,
              attributes: {
                'data-cy': 'FACILITY_ID_INCORRECT-error'
              }
            }
          }) }}
        {% endif %}

        {% if "REPORTED_CURRENCY_INCORRECT" in correctionRequestDetails.reasons %}
          {{ govukRadios({
            fieldset: {
              legend: {
                text: "Select the reported currency",
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: "This is the currency that you report the fees in",
              attributes: {
                "data-cy": "REPORTED_CURRENCY_INCORRECT-hint"
              }
            },
            name: "reportedCurrency",
            items: paymentCurrencyOptions,
            attributes: {
              id: 'reportedCurrency',
              'data-cy': 'REPORTED_CURRENCY_INCORRECT-input'
            },
            errorMessage: errors.reportedCurrencyErrorMessage and {
              text: errors.reportedCurrencyErrorMessage,
              attributes: {
                'data-cy': 'REPORTED_CURRENCY_INCORRECT-error'
              }
            }
          }) }}
        {% endif %}

        {% if "REPORTED_FEE_INCORRECT" in correctionRequestDetails.reasons %}
          {{ govukInput({
            label: {
              text: "Enter the reported fee",
              classes: "govuk-label--s",
              attributes: {
                "data-cy": "REPORTED_FEE_INCORRECT-label"
              }
            },
            hint: {
              text: "This the fee amount that has been sent to UKEF for the period",
              attributes: {
                "data-cy": "REPORTED_FEE_INCORRECT-hint"
              }
            },
            id: "reportedFee",
            name: "reportedFee",
            value: formValues.reportedFee,
            classes: "govuk-input--width-20",
            attributes: {
              "data-cy": "REPORTED_FEE_INCORRECT-input"
            },
            errorMessage: errors.reportedFeeErrorMessage and {
              text: errors.reportedFeeErrorMessage,
              attributes: {
                'data-cy': 'REPORTED_FEE_INCORRECT-error'
              }
            }
          }) }}
        {% endif %}

        {% if "UTILISATION_INCORRECT" in correctionRequestDetails.reasons %}
          {{ govukInput({
            label: {
              text: "Enter the utilisation",
              classes: "govuk-label--s",
              attributes: {
                "data-cy": "UTILISATION_INCORRECT-label"
              }
            },
            hint: {
              text: "Enter the utilisation in base currency for the period end date",
              attributes: {
                "data-cy": "UTILISATION_INCORRECT-hint"
              }
            },
            id: "utilisation",
            name: "utilisation",
            value: formValues.utilisation,
            classes: "govuk-input--width-20",
            attributes: {
              "data-cy": "UTILISATION_INCORRECT-input"
            },
            errorMessage: errors.utilisationErrorMessage and {
              text: errors.utilisationErrorMessage,
              attributes: {
                'data-cy': 'UTILISATION_INCORRECT-error'
              }
            }
          }) }}
        {% endif %}

        {{ govukCharacterCount({
          name: "additionalComments",
          id: "additionalComments",
          label: {
            text: additionalComments.label,
            classes: "govuk-label--s",
            attributes: {
              "data-cy": "additional-comments-label"
            }
          },
          hint: {
            text: additionalComments.hint,
            attributes: {
              "data-cy": "additional-comments-hint"
            }
          },
          value: formValues.additionalComments,
          maxlength: 500,
          rows: 4,
          attributes: {
            "data-cy": "additional-comments-input"
          },
          errorMessage: errors.additionalCommentsErrorMessage and {
            text: errors.additionalCommentsErrorMessage,
            attributes: {
              "data-cy": "additional-comments-error"
            }
          }
        }) }}

        <div class="govuk-button-group">

          {{ govukButton({
            text: "Save and review changes",
            attributes: {
              'data-cy': 'continue-button'
            }
          }) }}

          <input
            class="govuk-button govuk-button--secondary"
            formaction="{{ cancelLinkHref }}"
            value="Cancel record correction"
            data-module="govuk-button"
            type="submit"
            data-cy="cancel-button"/>

        </div>

      </form>

    </div>

  </div>

{% endblock %}