{% import '../_macros/parties-buyer-area.njk' as buyerArea %}
{% import '../../_macros/save-close-buttons.njk' as saveCloseButtons %}

{% extends "index.njk" %}
  {% set primary = 'cases' %}

  {% block pageTitle %}
    Edit Buyer Details: {{ deal.submissionDetails.buyerName }}
  {% endblock %}

  {% block content %}
    {{ buyerArea.render({deal: deal, editable: true}) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        {{ saveCloseButtons.render({returnTo: "/case/parties/" + dealId}) }}
      </div>
    </div>

  {% endblock %}

  {% block sub_content %}
  {% endblock %}