{% import '../_macros/parties-exporter-area.njk' as exporterArea %}
{% import '../../_macros/save-close-buttons.njk' as saveCloseButtons %}

{% extends "index.njk" %}
  {% set primary = 'cases' %}

  {% block pageTitle %}
    Edit exporter details: {{ deal.submissionDetails.supplierName }}
  {% endblock %}

  {% block content %}
    <form autocomplete="off" method="POST">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      {{ exporterArea.render({
        deal: deal,
        tfm: tfm,
        userCanEdit: userCanEdit,
        renderEditForm: renderEditForm
      }) }}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          {{ saveCloseButtons.render({returnTo: "/case/" + deal._id + "/parties" }) }}
        </div>
      </div>
    </form>

  {% endblock %}

  {% block sub_content %}
  {% endblock %}
