{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro render(params) %}
  <h2>Amendment {{ params.referenceNumber }}</h2>

  {{ govukSummaryList({
    rows: params.amendmentRows,
    attributes: {
      'data-cy': 'submitted-amendment-summary-list'
    }
  }) }}

  {% if params.type === 'PORTAL' %}
    <a href="/gef/application-details/{{ params.dealId }}/amendment-details/?amendmentId={{ params.amendmentId }}&facilityId={{ params.facilityId }}" class="govuk-link" data-cy="amendment-details">See further details</a>
  {% endif %}
{% endmacro %}