{% import './_macros/deals-table.njk' as dealsTable %}
{% import '_macros/table-search-form.njk' as tableSearchForm %}
{% import '_macros/pagination.njk' as pagination %}

{% extends "index.njk" %}

{% block pageTitle -%}
  {{- heading -}}
{%- endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-three-quarters">
      <h2 class="header-label" data-cy="deals-heading" aria-label="{{ heading }}">{{- heading -}}</h2>
    </div>

    <div class="govuk-grid-column-one-quarter govuk-!-padding-top-7">
      {{ tableSearchForm.render(
        {
          tableName: 'deals',
          csrfToken: csrfToken
        }
      ) }}
    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% set componentData = {
        deals: deals,
        user: user,
        sortButtonWasClicked: sortButtonWasClicked,
        activeSortByOrder: activeSortByOrder,
        activeSortByField: activeSortByField,
        csrfToken: csrfToken
      } %}

      {{ dealsTable.render(componentData) }}

      {{ pagination.render({
        totalPages: pages.totalPages,
        currentPage: pages.currentPage,
        totalItems: pages.totalItems,
        paginationRoute: '/deals',
        queryString: queryString
      })}}

    </div>
  </div>

{% endblock %}

{% block sub_content %}

{% endblock %}
