{% import '../_macros/table.njk' as table %}
{% import '../_macros/table-search-form.njk' as tableSearchForm %}
{% import '_macros/pagination.njk' as pagination %}

{% extends "index.njk" %}

{% block pageTitle -%}
  {{- heading -}}
{%- endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-three-quarters">
      <h2 class="header-label" data-cy="deals-heading" aria-label="{{ heading }}">{{- heading -}}</h2>
    </div>

    <div class="govuk-grid-column-one-quarter govuk-!-padding-top-7">
      {{ tableSearchForm.render({
        tableName: 'deals',
        csrfToken: csrfToken
      }) }}
    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% set componentData = {
        csrfToken: csrfToken,
        itemNamePlural: 'deals',
        itemNameSingular: 'deal',
        headings: [
          {
            fieldName: 'ukefDealId',
            buttonText: 'Deal ID',
            buttonValue: 'dealSnapshot.details.ukefDealId'
          },
          {
            fieldName: 'product',
            buttonText: 'Product',
            buttonValue: 'tfm.product'
          },
          {
            fieldName: 'type',
            buttonText: 'Type',
            buttonValue: 'dealSnapshot.submissionType',
            isNotSortable: true
          },
          {
            fieldName: 'exporter',
            buttonText: 'Exporter',
            buttonValue: 'dealSnapshot.exporter.companyName'
          },
          {
            fieldName: 'buyer',
            buttonText: 'Buyer',
            buttonValue: 'dealSnapshot.buyer.companyName'
          },
          {
            fieldName: 'bank',
            buttonText: 'Bank',
            buttonValue: 'dealSnapshot.bank.name'
          },
          {
            fieldName: 'stage',
            buttonText: 'Stage',
            buttonValue: 'tfm.stage'
          },
          {
            fieldName: 'dateReceived',
            buttonText: 'Date received',
            buttonValue: 'tfm.dateReceivedTimestamp'
          }
        ],
        sortButtonWasClicked: sortButtonWasClicked,
        activeSortByOrder: activeSortByOrder,
        activeSortByField: activeSortByField,
        items: deals,
        idFieldName: '_id'
      } %}

      {{ table.render(componentData) }}

      {{ pagination.render({
        totalPages: pages.totalPages,
        currentPage: pages.currentPage,
        totalItems: pages.totalItems,
        paginationRoute: '/deals',
        queryString: queryString
      })}}

    </div>
  </div>

{% endblock %}

{% block sub_content %}

{% endblock %}
