{% extends "index.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}Change name - {{ contract.additionalRefName }}{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">Change name of Supply Contract</h1>

  <form method="POST" autocomplete="off">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-half">


        {{ govukInput({
          label: {
            text: "Supply Contract name"
          },
          id: "additionalRefName",
          name: "additionalRefName",
          value: contract.additionalRefName,
          attributes: {
            "data-cy": "additionalRefName"
          },
          errorMessage: validationErrors.errorList.comments
        }) }}

      </div>
    </div>

    <button data-cy="Submit" class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
      Update Supply Contract Name
    </button>

    <a href="/contract/{{ contract._id }}" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">Cancel</a>

  </form>

{% endblock %}
