{% extends "index.njk" %}
{% import '_macros/contract-tabs.njk' as contractTabs %}
{% import '_macros/contract-details.njk' as contractDetails %}
{% import '_macros/status.njk' as statusText %}
{% import 'bond/_macros/bond-transactions-table.njk' as bondTransactionsTable %}
{% import 'loan/_macros/loan-transactions-table.njk' as loanTransactionsTable %}

{% import './components/abandon-deal-button.njk' as abandonButton %}
{% import './components/abandon-deal-link.njk' as abandonLink %}
{% import './components/can-proceed-text.njk' as canProceedText %}
{% import './components/clone-deal-link.njk' as cloneLink %}
{% import './components/edit-deal-name-link.njk' as editDealNameLink %}
{% import './components/proceed-to-review-button.njk' as proceedToReviewButton %}
{% import './components/proceed-to-submit-button.njk' as proceedToSubmitButton %}
{% import './components/return-to-maker-button.njk' as returnToMakerButton %}
{% import './components/review-eligibility-checklist-link.njk' as reviewLink %}

{% block content %}

  {% set componentData = {user: user, deal: deal} %}

  <div class="contract-container">

    <h1 class="govuk-heading-l">
      Supply Contract name:
      <span data-cy="bankSupplyContractName" class="govuk-body govuk-!-font-size-24">{{ deal.details.bankSupplyContractName }}</span>

      {{ editDealNameLink.render(componentData) }}
    </h1>

    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">Contents</h2>

      {{ contractTabs.nav(selected = 'view', id = deal._id ) }}

      <section class="govuk-tabs__panel" id="view">

        <div class="govuk-grid-row govuk-!-margin-bottom-2">
          <div class="govuk-grid-column-three-quarters">
            &nbsp;
          </div>
          <div class="govuk-grid-column-one-quarter box__header-link">
            {{ cloneLink.render(componentData) }}
            {{ abandonLink.render(componentData) }}
          </div>
        </div>

        <hr class="govuk-section-break" />

        <div class="govuk-grid-row govuk-!-padding-2 govuk-!-margin-bottom-8 box">
          {{ contractDetails.table(deal.details) }}
        </div>

        <div class="govuk-grid-row govuk-!-padding-top-2 govuk-!-padding-bottom-2 box">
          <div class="box__header">
            <div class="govuk-grid-column-three-quarters">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                <span class="govuk-grid-column-one-half govuk-!-padding-left-0">
                  About the Supply Contract
                </span>
                <span class="govuk-!-margin-left-6">
                  {{ statusText.render(deal.aboutSupplyContract.status) }}
                </span>
              </h2>
            </div>
            <div class="govuk-grid-column-one-quarter box__header-link">
              <a data-cy="ViewAboutSupplierDetails" href="/contract/{{ deal._id }}/about/supplier" class="govuk-link">View details</a>
            </div>
          </div>
        </div>

        <div class="govuk-grid-row govuk-!-padding-top-2 govuk-!-padding-bottom-2 box">
          <div class="box__header">
            <div class="govuk-grid-column-three-quarters">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-0">

                {% if deal.confirmEligibility.status %}
                  <span class="govuk-!-margin-left-6 box__header-inline-message">
                    {{ statusText.render(deal.confirmEligibility.status) }}
                  </span>
                {% endif %}

                <span class="govuk-grid-column-one-half govuk-!-padding-left-0">
                  Confirm eligibility
                </span>

                {% if deal.eligibility.submissionType %}
                  <span class="govuk-!-margin-bottom-0 govuk-!-margin-left-6 govuk-!-font-weight-regular govuk-!-font-size-16 box__header-inline-message">
                    <span class="govuk-!-font-weight-bold">Submission type: </span> <br />
                    {{ deal.eligibility.submissionType }}
                  </span>
                {% endif %}

              </h2>
            </div>
            <div class="govuk-grid-column-one-quarter box__header-link">
              <a data-cy="ViewDetails" href="/contract/{{ deal._id }}/eligibility/criteria" class="govuk-link">View details</a>
            </div>
          </div>
        </div>

        <div class="govuk-grid-row govuk-!-padding-top-2 govuk-!-padding-bottom-2 box">
          <div class="box__header">
            <div class="govuk-grid-column-three-quarters">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                <span class="govuk-grid-column-one-half govuk-!-padding-left-0">
                  Bond transactions
                </span>
                <span class="govuk-!-margin-left-6">
                  {{ statusText.render(deal.bondTransactions.status) }}
                </span>
              </h2>
            </div>

            <div class="govuk-grid-column-one-quarter box__header-link">
              <form action="/contract/{{ deal._id }}/bond/create" method="PUT">
                <button class="govuk-body-s button-as-link" data-cy="button-add-bond">Add a Bond</button>
              </form>
            </div>

            {% if deal.bondTransactions.items %}
              <div class="govuk-grid-column-full">
                {{ bondTransactionsTable.render(
                  bonds = deal.bondTransactions.items,
                  dealId = deal._id
                )}}
              </div>
            {% endif %}

          </div>
        </div>

        <div class="govuk-grid-row govuk-!-padding-top-2 govuk-!-padding-bottom-2 box">
          <div class="box__header">
            <div class="govuk-grid-column-three-quarters">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                <span class="govuk-grid-column-one-half govuk-!-padding-left-0">
                  Loan transactions
                </span>

                <span class="govuk-!-margin-left-6">
                  {{ statusText.render(deal.loanTransactions.status) }}
                </span>

              </h2>
            </div>

            <div class="govuk-grid-column-one-quarter box__header-link">
              <form action="/contract/{{ deal._id }}/loan/create" method="PUT">
                <button class="govuk-body-s button-as-link" data-cy="button-add-loan">Add a Loan</button>
              </form>
            </div>

            {% if deal.loanTransactions.items %}
              <div class="govuk-grid-column-full">
                {{ loanTransactionsTable.render(
                  loans = deal.loanTransactions.items,
                  dealId = deal._id
                )}}

              </div>
            {% endif %}

          </div>
        </div>

        <div class="govuk-grid-row govuk-!-padding-top-2 govuk-!-padding-bottom-2 box">

          <div class="govuk-grid-column-one-half">
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-!-font-size-24">Supply Contract summary</caption>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Deal currency</th>
                  <td class="govuk-table__cell">{{ deal.summary.dealCurrency }}</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Number of bonds</th>
                  <td class="govuk-table__cell">{{ deal.summary.totals.bonds }}</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Number of loans</th>
                  <td class="govuk-table__cell">{{ deal.summary.totals.loans }}</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Number of transactions</th>
                  <td class="govuk-table__cell">{{ deal.summary.totals.transactions }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="govuk-grid-column-full">
            <div class="govuk-error-summary govuk-!-padding-0" data-module="govuk-error-summary">
              <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                  <li>
                    <a href="#">Warning: Some of your Transaction forms are incomplete. Only the complete facilities will be processed in the financial summary data below.</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="govuk-grid-column-full">
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-font-size-14">&nbsp;</th>
                  <th scope="col" class="govuk-table__header govuk-!-font-size-14">Deal currency</th>
                  <th scope="col" class="govuk-table__header govuk-!-font-size-14">Deal in GBP</th>
                  <th scope="col" class="govuk-table__header govuk-!-font-size-14">Bond currency</th>
                  <th scope="col" class="govuk-table__header govuk-!-font-size-14">Bond in GBP</th>
                  <th scope="col" class="govuk-table__header govuk-!-font-size-14">Loan currency</th>
                  <th scope="col" class="govuk-table__header govuk-!-font-size-14">Loan in GBP</th>
                </tr>
              </thead>

              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__cell govuk-!-font-size-14">
                    Total value
                  </td>

                  <td class="govuk-table__cell govuk-!-font-size-14">
                    {{ deal.summary.dealBondsLoans.totalValue.dealCurrency }}
                  </td>

                  <td class="govuk-table__cell govuk-!-font-size-14">
                    {{ deal.summary.dealBondsLoans.totalValue.dealInGbp }}
                  </td>

                  <td class="govuk-table__cell govuk-!-font-size-14">
                    {{ deal.summary.dealBondsLoans.totalValue.bondCurrency }}
                  </td>

                  <td class="govuk-table__cell govuk-!-font-size-14">
                    {{ deal.summary.dealBondsLoans.totalValue.bondInGbp }}
                  </td>

                  <td class="govuk-table__cell govuk-!-font-size-14">
                    {{ deal.summary.dealBondsLoans.totalValue.loanCurrency }}
                  </td>

                  <td class="govuk-table__cell govuk-!-font-size-14">
                    {{ deal.summary.dealBondsLoans.totalValue.loanInGbp }}
                  </td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__cell govuk-!-font-size-14">
                    Total UKEF exposure
                  </td>

                  <td class="govuk-table__cell govuk-!-font-size-14">
                    {{ deal.summary.dealBondsLoans.totalUkefExposure.dealCurrency }}
                  </td>

                  <td class="govuk-table__cell govuk-!-font-size-14">
                    {{ deal.summary.dealBondsLoans.totalUkefExposure.dealInGbp }}
                  </td>

                  <td class="govuk-table__cell govuk-!-font-size-14">
                    {{ deal.summary.dealBondsLoans.totalUkefExposure.bondCurrency }}
                  </td>

                  <td class="govuk-table__cell govuk-!-font-size-14">
                    {{ deal.summary.dealBondsLoans.totalUkefExposure.bondInGbp }}
                  </td>

                  <td class="govuk-table__cell govuk-!-font-size-14">
                    {{ deal.summary.dealBondsLoans.totalUkefExposure.loanCurrency }}
                  </td>

                  <td class="govuk-table__cell govuk-!-font-size-14">
                    {{ deal.summary.dealBondsLoans.totalUkefExposure.loanInGbp }}
                  </td>
                </tr>

              </tbody>
            </table>
          </div>

        </div>

        {{ canProceedText.render(componentData)}}
        {{ reviewLink.render(componentData)}}
        {{ proceedToReviewButton.render(componentData)}}
        {{ proceedToSubmitButton.render(componentData)}}
        {{ abandonButton.render(componentData)}}
        {{ returnToMakerButton.render(componentData)}}

      </section>

    </div>

  </div>
</div>
{% endblock %}
