{% extends "index.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle -%}
  Clone Deal - {{ additionalRefName }}
{%- endblock %}

{% block content %}

  {% if validationErrors.count %}
    {{
      govukErrorSummary({
        titleText: "There is a problem",
        errorList: validationErrors.summary
      })
    }}
  {% endif %}


  <h1 class="govuk-heading-l">Clone Deal {{ additionalRefName }}</h1>

  <form method="POST" autocomplete="off">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-half">

        {{ govukCharacterCount({
          name: "bankInternalRefName",
          id: "bankInternalRefName",
          value: bankInternalRefName,
          maxlength: 30,
          classes: "govuk-!-width-one-half",
          label: {
            text: "Bank deal ID"
          },
          hint: {
            text: "It's not possible to change this later."
          },
          errorMessage: validationErrors and {
            text: validationErrors.errorList.bankInternalRefName.text
          },
          attributes: {
            "data-cy": "bank-supply-contract-id"
          }
        }) }}

        {{ govukCharacterCount({
          name: "additionalRefName",
          id: "additionalRefName",
          value: additionalRefName,
          maxlength: 100,
          classes: "govuk-!-width-one-half",
          label: {
            text: "Bank deal name"
          },
          errorMessage: validationErrors and {
            text: validationErrors.errorList.additionalRefName.text
          },
          attributes: {
            "data-cy": "bank-supply-contract-name"
          }
        }) }}

      </div>
    </div>

    {{ govukRadios({
      classes: "govuk-radios--inline",
      idPrefix: "cloneTransactions",
      name: "cloneTransactions",
      fieldset: {
        legend: {
          text: "Do you want to clone this deal with transactions?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend"
        }
      },
      items: [
        {
          value: "true",
          text: "Yes",
          attributes: {
            "data-cy": "clone-transactions"
          }
        },
        {
          value: "false",
          text: "No"
        }
      ],
      errorMessage: validationErrors.errorList.cloneTransactions
    }) }}

    <button class="govuk-button" data-module="govuk-button" data-cy="submit-button">
      Clone
    </button>

  </form>

{% endblock %}

