{% extends "index.njk" %}

{% import './components/contract-tabs.njk' as contractTabs %}
{% import './components/contract-overview-table.njk' as contractOverviewTable %}
{% import 'contract/about/components/about-submission-details.njk' as aboutSubmissionDetails %}
{% import '_macros/mandatory-criteria-box.njk' as mandatoryCriteriaBox %}
{% import '_macros/eligibility-criteria-answers.njk' as eligibilityCriteriaAnswers %}
{% import '_macros/eligibility-documentation-preview.njk' as eligibilityDocumentation %}
{% import 'bond/_macros/bond-submission-details.njk' as bondSubmissionDetails %}
{% import 'loan/_macros/loan-submission-details.njk' as loanSubmissionDetails %}

{% block pageTitle %}Preview - {{ deal.details.bankSupplyContractName }}{% endblock %}

{% block content %}
  {% set componentData = {user: user, deal: deal, editable: editable, dealFormsCompleted: dealFormsCompleted, selected: 'submission-details'} %}

  <h1 data-cy="heading" class="govuk-heading-l">Supply Contract name: <span class="govuk-body govuk-!-font-size-24">{{ deal.details.bankSupplyContractName }}</span></h1>

  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      Contents
    </h2>

    {{ contractTabs.render(componentData) }}

    <section class="govuk-tabs__panel" id="submission-details">
      {{ contractOverviewTable.render(componentData) }}

      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8">

      <h2 class="govuk-heading-l">
        <span data-cy="general-deal-info-heading">General deal information</span>
        <a class="govuk-link govuk-!-font-size-16 govuk-!-font-weight-regular" href="/contract/{{ deal._id}}/about/supplier" data-cy="edit-about-link">edit</a>
      </h2>

      {% if deal.submissionDetails %}
        {{ aboutSubmissionDetails.render(deal.submissionDetails) }}
      {% endif %}

      <h3 class="govuk-heading-l">
        <span data-cy="confirm-eligibility-heading">Confirm eligibility</span>
        <a class="govuk-link govuk-!-font-size-16 govuk-!-font-weight-regular" href="/contract/{{ deal._id}}/eligibility/criteria" data-cy="edit-eligibility-link">edit</a>
      </h3>

      {% if mandatoryCriteria %}
        {{ mandatoryCriteriaBox.render(mandatoryCriteria)}}
      {% endif %}

      {% if deal.eligibility.criteria %}
        {{ eligibilityCriteriaAnswers.render(deal.eligibility.criteria)}}
      {% endif %}

      {% if deal.dealFiles %}
        {{ eligibilityDocumentation.render(deal.dealFiles, deal._id)}}
      {% endif %}

      {% for bond in deal.bondTransactions.items %}
        <div data-cy="bond-{{ bond._id }}">
          <h3 class="govuk-heading-l">
            <span data-cy="bond-heading">Bond</span>
            <a class="govuk-link govuk-!-font-size-16 govuk-!-font-weight-regular" href="/contract/{{ deal._id }}/bond/{{ bond._id }}/details" data-cy="edit-bond-link">edit</a>
          </h3>

          {{ bondSubmissionDetails.render(bond)}}
        </div>
      {% endfor %}

      {% for loan in deal.loanTransactions.items %}
        <div data-cy="loan-{{ loan._id }}">
          <h3 class="govuk-heading-l">
            <span data-cy="loan-heading">Loan</span>
            <a class="govuk-link govuk-!-font-size-16 govuk-!-font-weight-regular" href="/contract/{{ deal._id }}/loan/{{ loan._id }}/guarantee-details" data-cy="edit-loan-link">edit</a>
          </h3>

          {{ loanSubmissionDetails.render(loan)}}
        </div>
      {% endfor %}

      <p class="govuk-body"><a href="/contract/{{ deal._id }}" class="govuk-link" data-cy="go-back-link">Back to Supply Contract page</a></p>

    </section>

  </div>

{% endblock %}
