{% extends "index.njk" %}
{% import '_macros/contract-details.njk' as contractDetails %}
{% import '_macros/contract-tabs.njk' as contractTabs %}
{% import '_macros/mandatory-criteria-box.njk' as mandatoryCriteriaBox %}
{% import '_macros/eligibility-criteria-answers.njk' as eligibilityCriteria %}
{% import '_macros/supporting-documentation-answers.njk' as supportingDocumentation %}
{% import '_macros/submission-details.njk' as submissionDetails %}
{% import 'bond/_macros/bond-submission-details.njk' as bondSubmissionDetails %}

{% block content %}

  <h1 class="govuk-heading-l">Supply Contract name: <span class="govuk-body govuk-!-font-size-24">{{ bankSupplyContractName }}</span></h1>

  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      Contents
    </h2>

    {{ contractTabs.nav(selected = 'submission-details', id = contract._id) }}

    <section class="govuk-tabs__panel" id="submission-details">
      {{ contractDetails.table(contract.details) }}

      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8">

      <h2 class="govuk-heading-l">
        General deal information
        <a class="govuk-link govuk-!-font-size-16 govuk-!-font-weight-regular" href="#">edit</a>
      </h2>

      {{ submissionDetails.general(contract = contract) }}

      <h3 class="govuk-heading-l">
        Confirm eligibility
        <a class="govuk-link govuk-!-font-size-16 govuk-!-font-weight-regular" href="#">edit</a>
      </h3>

      {{ mandatoryCriteriaBox.success(mandatoryCriteria)}}

      {{ eligibilityCriteria.answers(contract.submissionDetails.eligibilityCriteria)}}

      {{ supportingDocumentation.answers(contract.submissionDetails.supportingDocumentation)}}

      <h3 class="govuk-heading-l">
        Bond
        <a class="govuk-link govuk-!-font-size-16 govuk-!-font-weight-regular" href="#">edit</a>
      </h3>

      {{ bondSubmissionDetails.render(bondDetails = contract.submissionDetails.bond)}}

      <p class="govuk-body"><a href="/contract/{{ _id }}" class="govuk-link">Back to Supply Contract page</a></p>

    </section>

  </div>

{% endblock %}
