{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% macro render(params) %}
  {% set filters = params.filters %}
  {% set keyword = params.keyword %}

  {{ govukInput({
    id: 'keyword',
    name: 'keyword',
    value: keyword,
    label: {
      text: 'Keyword',
      classes: 'govuk-label--m',
      attributes: {
        'data-cy': 'filter-label-keyword'
      }
    },
    attributes: {
      'data-cy': 'filter-input-keyword'
    }
  }) }}

  {% if filters.product %}
    {{ govukCheckboxes({
      idPrefix: 'dealType',
      name: 'dealType',
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          text: 'Product',
          classes: 'govuk-fieldset__legend--m'
        }
      },
      items: filters.product
    }) }}
  {% endif %}

  {% if filters.submissionType %}
    {{ govukCheckboxes({
      idPrefix: 'submissionType',
      name: 'submissionType',
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          text: 'Notice type',
          classes: 'govuk-fieldset__legend--m'
        }
      },
      items: filters.submissionType
    }) }}
  {% endif %}

  {% if filters.status %}
    {{ govukCheckboxes({
      idPrefix: 'status',
      name: 'status',
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          text: 'Status',
          classes: 'govuk-fieldset__legend--m'
        }
      },
      items: filters.status
    }) }}
  {% endif %}

  {% if filters.hasBeenIssued %}
    {{ govukCheckboxes({
      idPrefix: 'hasBeenIssued',
      name: 'hasBeenIssued',
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          text: 'hasBeenIssued',
          classes: 'govuk-fieldset__legend--m'
        }
      },
      items: filters.hasBeenIssued
    }) }}
  {% endif %}

{% endmacro %}
