{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro render(params) %}
  {% set renderCreatedByYou = params.renderCreatedByYou %}
  {% set createdByYou = params.createdByYou %}
  {% set selectedFilters = params.selectedFilters %}
  {% set csrfToken = params.csrfToken %}

  <div class="moj-action-bar" data-cy="filters-action-bar">

    <div class="govuk-grid-row govuk-!-margin-right-0 govuk-!-margin-left-0">
      <div class="govuk-grid-column-one-half govuk-!-padding-left-0">
        <div class="moj-action-bar__filter"></div>
      </div>
    </div>

    {% if selectedFilters.length %}
      <ul class="govuk-!-padding-left-0" data-cy="main-container-selected-filters">
        {% for filter in selectedFilters %}
          {% for filterItem in filter.items %}
            <li class="main-container-selected-filter-list-item">
              <a
                class="govuk-link govuk-button--secondary moj-filter__tag"
                href="{{ filterItem.href }}"
                data-cy="main-container-selected-filter-{{ filterItem.formattedValue }}"
              >
                <span class="govuk-visually-hidden">Remove this filter</span>
                {{ filterItem.text }}
              </a>
            </li>
          {% endfor %}
      {% endfor %}
      </ul>
    {% endif %}

  </div>

{% endmacro %}
