{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% macro render(params) %}
  {% set filters = params.filters %}

    {{ govukInput({
      id: 'keyword',
      name: 'keyword',
      label: {
        text: 'Keyword',
        classes: 'govuk-label--m'
      }
    }) }}

    {{ govukCheckboxes({
      idPrefix: 'dealType',
      name: 'dealType',
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          text: 'Product',
          classes: 'govuk-fieldset__legend--m'
        }
      },
      items: filters.product
    }) }}

    {{ govukCheckboxes({
      idPrefix: 'submissionType',
      name: 'submissionType',
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          text: 'Notice type',
          classes: 'govuk-fieldset__legend--m'
        }
      },
      items: filters.submissionType
    }) }}

    {{ govukCheckboxes({
      idPrefix: 'status',
      name: 'status',
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          text: 'Status',
          classes: 'govuk-fieldset__legend--m'
        }
      },
      items: filters.status
    }) }}

{% endmacro %}
