{% from 'moj/components/filter/macro.njk' import mojFilter %}
{% import './dashboard-filters-form.njk' as dashboardFiltersForm %}

{% macro render(params) %}
  {% set filters = params.filters %}
  {% set selectedFilters = params.selectedFilters %}
  {% set keyword = params.keyword %}

  <div class="moj-filter-layout__filter">

    <form method="POST" autocomplete="off">

    {% if selectedFilters.length %}
      {{ mojFilter({
        heading: {
          text: 'Filter'
        },
        selectedFilters: {
          heading: {
            text: 'Selected filters'
          },
          clearLink: {
            text: 'Clear filters'
          },
          categories: selectedFilters
        },
        optionsHtml: dashboardFiltersForm.render({ filters: filters, keyword: keyword })
      }) }}

      {% else %}

      {{ mojFilter({
        heading: {
          text: 'Filter'
        },
        optionsHtml: dashboardFiltersForm.render({ filters: filters, keyword: keyword })
      }) }}

    {% endif %}

    </form>

  </div>
{% endmacro %}
