{% import './deal-advanced-filters.njk' as advancedFilters %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% macro render(filter, user, banks) %}

<form method="POST" autocomplete="off" action="/dashboard/deals/0">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group">
        <label class="govuk-label" for="filterBySubmissionUser">
          Show me
        </label>

        <select data-cy="filterBySubmissionUser" class="govuk-select govuk-!-width-full" id="filterBySubmissionUser" name="filterBySubmissionUser">
          <option value="all" {% if filter.filterBySubmissionUser==='all' %}selected{%endif%}>Any</option>
          <option value="createdByMe" {% if filter.filterBySubmissionUser==='createdByMe' %}selected{%endif%}>Submissions created by me</option>
          <option value="createdByColleagues" {% if filter.filterBySubmissionUser==='createdByColleagues' %}selected{%endif%}>Submissions created by my colleagues</option>
        </select>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group">
        <label class="govuk-label" for="filterBySubmissionType">
          Submission type
        </label>

        <select data-cy="filterBySubmissionType" class="govuk-select govuk-!-width-full" id="filterBySubmissionType" name="filterBySubmissionType">
          <option value="all" {% if filter.filterBySubmissionType==='all' %}selected{%endif%}>Any</option>
          <option value="manualInclusionApplication" {% if filter.filterBySubmissionType==='manualInclusionApplication' %}selected{%endif%}>Manual Inclusion Application</option>
          <option value="automaticInclusionNotice" {% if filter.filterBySubmissionType==='automaticInclusionNotice' %}selected{%endif%}>Automatic Inclusion Notice</option>
          <option value="manualInclusionNotice" {% if filter.filterBySubmissionType==='manualInclusionNotice' %}selected{%endif%}>Manual Inclusion Notice</option>
        </select>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      {{
        govukRadios({
          fieldset: {
            legend: { text: "Show Abandoned" }
          },
          idPrefix: "filterByShowAbandonedDeals-",
          name: "filterByShowAbandonedDeals",
          classes: "govuk-radios--inline",
          items: [
            {
              value: "true",
              text: "Yes",
              attributes: {
                "data-cy": "filterByShowAbandonedDeals-true"
              },
              checked: filter.filterByShowAbandonedDeals === 'true'
            },
            {
              value: "false",
              text: "No",
              attributes: {
                "data-cy": "filterByShowAbandonedDeals-false"
              },
              checked: filter.filterByShowAbandonedDeals !== 'true'
            }
          ]
        })
      }}
    </div>
  </div>

  {{ govukDetails({
    summaryText: "Show filters",
    html: advancedFilters.render(filter, user, banks),
    open: filter.isUsingAdvancedFilter
  }) }}

  <button data-cy="ApplyFilters" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Apply filters
  </button>

</form>
{% endmacro %}
