{% import '_macros/date-range.njk' as dateRange %}

{% macro render(filter, user, banks) %}

  <div class="govuk-grid-row">
    {% if user.bank.id == "*" %}
    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group govuk-!-margin-bottom-0">
        <label class="govuk-label" for="filterByBank">
          Bank
        </label>

        <select class="govuk-select govuk-!-width-full" id="filterByBank" name="filterByBank" data-cy="filterByBank">
          <option value="">Any</option>
          {% for bank in banks %}
            <option value="{{ bank.id }}" {%if filter.filterByBank == bank.id %}selected{%endif%}>{{ bank.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    {% endif %}

    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group">
        <label class="govuk-label" for="filterByStatus">
          Status
        </label>

        <select data-cy="filterByStatus" class="govuk-select" id="filterByStatus" name="filterByStatus">
          <option value="ALL" {% if filter.filterByStatus==='ALL' %}selected{%endif%}>Any</option>
          <option value="DRAFT" {% if filter.filterByStatus==='DRAFT' %}selected{%endif%}>Draft</option>
          <option value="READY_FOR_APPROVAL" {% if filter.filterByStatus==='READY_FOR_APPROVAL' %}selected{%endif%}>Ready for Checker's approval</option>
          <option value="INPUT_REQUIRED" {% if filter.filterByStatus==='INPUT_REQUIRED' %}selected{%endif%}>Further Maker's input required</option>
          <option value="ABANDONED" {% if filter.filterByStatus==='ABANDONED' %}selected{%endif%}>Abandoned</option>
          <option value="SUBMITTED" {% if filter.filterByStatus==='SUBMITTED' %}selected{%endif%}>Submitted</option>
          <option value="SUBMISSION_ACKNOWLEDGED" {% if filter.filterByStatus==='SUBMISSION_ACKNOWLEDGED' %}selected{%endif%}>Acknowledged by UKEF</option>
          <option value="IN_PROGRESS_BY_UKEF" {% if filter.filterByStatus==='IN_PROGRESS_BY_UKEF' %}selected{%endif%}>In Progress by UKEF</option>
          <option value="APPROVED" {% if filter.filterByStatus==='APPROVED' %}selected{%endif%}>Accepted by UKEF (without conditions)</option>
          <option value="APPROVED_WITH_CONDITIONS" {% if filter.filterByStatus==='APPROVED_WITH_CONDITIONS' %}selected{%endif%}>Accepted by UKEF (with conditions)</option>
          <option value="REFUSED" {% if filter.filterByStatus==='REFUSED' %}selected{%endif%}>Rejected by UKEF</option></select>
        </select>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group">
        <label class="govuk-label" for="filterSearch">
          Search
        </label>
        <input class="govuk-input" id="filterSearch" name="filterSearch" type="text" value="{{filter.filterSearch}}" data-cy="filterSearch">
      </div>
    </div>

  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-4">
    {{ dateRange.inputs(fromLegend = 'Select created date between', toLegend = 'And', values = filter ) }}
  </div>

{% endmacro %}
