# DTFS Git Hub Actions
#####################################
# Automatic dependencies updates
# for the following services:
# 1. NPM
# 2. Docker
# 3. GHA

version: 2
updates:
  # NPM
  - package-ecosystem: 'npm'
    directory: 
      - '/'
      - '/external-api'
      - '/portal-api'
      - '/trade-finance-manager-api'
      - '/gef-ui'
      - '/portal'
      - '/trade-finance-manager-ui'
      - '/azure-functions/acbs-function'
      - '/dtfs-central-api'
    schedule:
      interval: 'monthly'
      time: '00:00'
    labels:
      - 'chore'
    groups:
      npm-packages:
        patterns:
          - '*'  

  # Dockerfiles
  - package-ecosystem: 'docker'
    directories:
      - '/external-api'
      - '/portal-api'
      - '/trade-finance-manager-api'
      - '/gef-ui'
      - '/portal'
      - '/trade-finance-manager-ui'
      - '/azure-functions/acbs-function'
      - '/dtfs-central-api'
      - '/reverse-proxy'
    schedule:
      interval: 'monthly'
      time: '00:00'
    labels:
      - 'chore'
    groups:
      docker-packages:
        patterns:
          - '*'

  # Git Hub Actions
  #  Set the directory to `/` for
  # .github/workflows GHA files
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'monthly'
      time: '00:00'
    labels:
      - 'chore'
    groups:
      github-actions:
        patterns:
          - '*'
