<div class="tfm">
  {# {% include "includes/cookie-banner.html" %} #}
  {# Set serviceName in config.js. #}


  {{ mojHeader({
      organisationLabel: {
      text: 'UK Export\n Finance',
      href: '#'
    },
    serviceLabel: {
      text: 'Trade Finance Manager',
      href: '#'
    },
    navigation: {
      label: 'Account navigation',
      items: [{
        text: 'Diana Prince',
        href: '#',
        active: true
        }, {
          text: 'Sign out',
          href: '#'
      }]
    }

  }) }} 
</div>
