<!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

{% for stylesheetUrl in extensionConfig.stylesheets %}
  <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
{% endfor %}

<style>
  .case-summary {
      background-color:#1D70B8; 
      color: white; 
      font-family: Helvetica;
      font-size: 16px;
  }

  .case-summary td:nth-child(1),case-summary th:nth-child(1) {  
    font-weight: bold;
    width: 300px;
  }
  .case-summary td:nth-child(2), .case-summary th:nth-child(2) {  
    width: 700px;
  }

  .case-summary td:nth-child(3),case-summary th:nth-child(3) {  
    font-weight: bold;
    width: 200px;
  }

  .case-summary th {
    text-align: left;
  }
  .case-summary tr {
    height: 35px  
}
.case-summary table {
 margin: 20px 0;
}

  .case-exposure table {
    cellspacing: 0;
    border-collapse:collapse;
  }

  .case-exposure span {
    background-color:#F3F2F1;
    padding: 10px 10px;
    height: 26px;
    width: 100%;
    margin-left: -10px;
    margin-bottom: 12px;

  }

  .case-exposure tr {
    height: 50px;
  }
  .case-exposure td {
    border-color: lightgray;
  }
  
  .case-exposure td, .case-exposure th {
     width:140px;
     text-align: left;
     padding: 10px 0;
     vertical-align: top;
}

  .case-exposure td:nth-child(1), .case-exposure th:nth-child(1){
    width:100px;
  }
  .case-exposure td:nth-child(2), .case-exposure th:nth-child(2) {
   width: 60px;
  }
  .case-exposure td:nth-child(3), .case-exposure th:nth-child(3) {
   width: 120px;
  }
  .case-exposure td:nth-child(4), .case-exposure th:nth-child(4) {
   width: 140px;
  }
  .case-exposure td:nth-child(5), .case-exposure th:nth-child(5) {
   width: 100px;
  }
  .case-exposure td:nth-child(6), .case-exposure th:nth-child(6) {
   width: 160px;
  }
  .case-exposure td:nth-child(7), .case-exposure th:nth-child(7) {
   width: 180px;
  }
  .case-exposure td:nth-child(8), .case-exposure th:nth-child(8) {
   width: 180px;
  }
  .case-exposure td:nth-child(9), .case-exposure th:nth-child(9) {
   width: 220px;
  }
  .exposure-summary tr {
    height:30px;
  }
  .exposure-summary td:nth-child(1),.exposure-summary th:nth-child(1) {
   width: 220px;
   font-weight: bold;
  }
  .exposure-summary td:nth-child(2),.exposure-summary th:nth-child(2) {
   width: 20px;
  }
    .exposure-summary td:nth-child(3),.exposure-summary th:nth-child(3) {
   width: 40px;
  }
 .exposure-summary td:nth-child(4),.exposure-summary th:nth-child(4) {
    text-align:right;
  }

  .table-line td, .table-line th {
      border-bottom-style: inset;
      border-bottom-width: 2px;
      border-bottom-color: lightgray;
  }

   .existing-facility tr {
    height: 50px;

  }
  .existing-facility td, .existing-facility th {
    width:180px;
    text-align: left;
    padding: 10px 10px;
    border-bottom-style: inset;
      border-bottom-width: 2px;
      border-bottom-color: lightgray;
  }

  .existing-facility td:nth-child(6),.existing-facility th:nth-child(6) {
   width: 300px;
  }

  .case-exposure a {
    padding-right: 10px;
  }
  
  govuk-grid-column-full {  
    width: 1440px;
  }
  .dot {
    height: 16px;
    width: 16px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  .number-label {
    height: 27px;
    width: 32px;
    background-color: #1D70B8;
    color: #FFFFFF;
    font-weight: bold;
    font-size:19px;
    margin: 10px 8px;
    text-align: center;
    border-radius: 45%;
    display: inline-block;
  }
  
  .tfm {
    font-family: Helvetica;
  }
  .tfm a {
    color: #086CBD;
    font-size: 19px;
  }
  .tfm-width {
    width: 1440px;
  }
  .tfm-radio {
    width: 20px;
    height: 20px;
    color: yellow;
    background-color: green;
  }
  .cancel-link {
      font-size: 19px;
      margin:8px 20px;
      display: flex;
  }

  .header-label {
      height: 50px;
      color: #241F20;
      font-family: Helvetica;
      font-size: 48px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 50px;
  }
  .govuk-width-container{
    margin: 0;
  }
  .moj-primary-navigation__container {
    max-width: 1440px;
  }

  .separator-line {
    border-top-style: solid;
    margin-top: 30px;
  }

  .deal table{
    text-align: left;
    margin-bottom:50px;
    cellspacing: 0;
    border-collapse:collapse;
  }
  
  .deal tr {
    height: 50px;
  }
  .deal th {
    font-size:19px;
  }
  .deal td:nth-child(1), .deal th:nth-child(1) {
    width:300px;
    font-weight: bold;
  }
  .add-to-case table{
    text-align: left;
    margin-bottom: 50px;
    cellspacing: 0;
    border-collapse:collapse;
  }
  
  .add-to-case tr {
    height: 50px;
  }
  .add-to-case th {
    font-size:19px;
  }
  .add-to-case td:nth-child(1), .deal th:nth-child(1) {
    width:100px;
    font-weight: bold;
  }

  .pricing table {
    width: 100%;
    text-align: left;
    margin-bottom:50px;
    cellspacing: 0;
    font-size: 19px;
    border-collapse:collapse;

  }
    .pricing td:nth-child(1), .pricing th:nth-child(1) {
    width:120px;
    font-weight: bold;
  }
    .pricing td:nth-child(2), .pricing th:nth-child(2) {
    width:150px;
  }
    .pricing td:nth-child(3), .pricing th:nth-child(3) {
    width:220px;
  }
   .pricing td:nth-child(4), .pricing th:nth-child(4) {
    width:220px;
  }
  .pricing td:nth-child(6), .pricing th:nth-child(6) {
    width:80px;
  }
  .pricing tr {
    height: 50px;

  }
  .pricing td {
    border-bottom: thin solid;
    border-top: thin solid;
    border-color: lightgray;
  }

  .pricing a {
    font-weight: normal;
  }

  .credit-analysis h1 {
    color:gray;
  }
  .credit-analysis-item {
      border-bottom-style: inset;
      border-bottom-width: 1px;
      border-bottom-color: lightgray;
      min-height: 36px;
      padding-top: 10px;
      margin: 0;
  }


  .percentage-field {
        font-family: "Helvetica", Arial, sans-serif;
    /* -webkit-font-smoothing: antialiased; */
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    background-color: #f3f2f1;
    /* position: absolute; */
    /* margin: 2px 0 0 2px !important; */
    padding: 5.5px 12px;
    border-right: 2px solid #0b0c0c;
    border-top: 2px solid #0b0c0c;
    border-bottom: 2px solid #0b0c0c;
  }

  .credit-analysis-topic {
    border-top-style: solid;
  }

@mixin label ($label-background: #DEE0E2, $label-border: #CBCBCB, $label-text: #0B0C0C) {
    background: $label-background;
    color: #FFF;
    display: inline-block;
    line-height: 1;
    padding: 4px 5px 3px 5px;
    margin: 0 calc(2 * #{5px}) 5px 5px;
    text-align: left;
    text-decoration: none;
    font-size: 1rem;
    font-weight: normal;
}
.label {
    @include label(#6F777B, #0B0C0C)
}
.label--white {
    @include label(#FFF)
    color: #0B0C0C;
    border: 1px solid #CBCBCB;
}
.label--yellow {
    background: #FFF7BF;
        color: #0B0C0C;
    display: inline-block;
    line-height: 1;
    padding: 4px 5px 3px 5px;
    margin: 0 calc(2 * #{5px}) 5px 5px;
    text-align: left;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}
.label--blue {
    background: #005EA5;
    color: #FFF;
    display: inline-block;
    line-height: 1;
    padding: 4px 5px 3px 5px;
    margin: 0 calc(2 * #{5px}) 5px 5px;
    text-align: left;
    text-decoration: none;
    font-size: 1rem;
    font-weight: normal;
}

.label--green {
    background: #CCE2D9;
    color: #005A30;
    display: inline-block;
    line-height: 1;
    padding: 4px 10px 3px 10px;
    margin: 0 calc(2 * #{5px}) 5px 5px;
    text-align: left;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;

}

.label--graygreen {
    background: #CCE2D9;
    display: inline-block;
    line-height: 1;
    padding: 4px 10px 3px 10px;
    margin: 0 calc(2 * #{5px}) 5px 5px;
    text-align: left;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: #0B0C0C;
}

.label--red {
    background: #f6d7d2;
    color: #942514;
    display: inline-block;
    line-height: 1;
    padding: 4px 10px 3px 10px;
    margin: 0 calc(2 * #{5px}) 5px 5px;
    text-align: left;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

@media (max-width: 641px) {
  .label, .label--white, .label--blue, .label--red {
    font-size: .85rem;
  }
}

.flex-container {
  display: flex;
}

.moj-primary-navigation__container {
  margin: 0 30px;
}

.govuk-grid-row {
  margin-left: 0;
}

.govuk-grid-column-full, 
.govuk-grid-column-two-thirds, 
.govuk-grid-column-three-quarters, 
.govuk-grid-column-one-quarter,
.govuk-grid-column-one-third,
.govuk-grid-column-one-half
 {
  padding: 0 30px;
}

.moj-header__container {
  max-width:1380px;
  margin: 0 30px;
}

.create-case table, .create-case a {
  font-size: 16px;
}

svg > g > g:last-child { pointer-events: none }
</style>

