{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "index.njk" %}

{% block content %}
  <section class="govuk-!-margin-top-9">

    {% if validationErrors.count %}
      {{
        govukErrorSummary({
          titleText: "There is a problem",
          errorList: validationErrors.summary,
          attributes: {
            'data-cy': 'error-summary'
          }
        })
      }}
    {% endif %}

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-three-quarters">

        <form method="POST" autocomplete="off" data-cy="amendment-managers-decision-form">

          <input type="hidden" name="_csrf" value="{{ csrfToken }}">

          {{govukRadios({
              fieldset: {
                legend: {
                  text: "What's your decision?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--xl"
                },
                attributes: {
                    "data-cy": "amendment-managers-decision"
                  }
              },
              name: "decision",
              items: [
                {
                  value: "Approve without conditions",
                  text: "Approve without conditions",
                  hint: {
                    text: "You’ll be able to add comments that only UKEF can see later.",
                    attributes: {
                      "data-cy": "approve-without-conditions-hint"
                    }
                  },
                  attributes: {
                    'data-cy': 'approve-without-conditions-radio-button'
                  }
                },
                {
                  value: "Approve with conditions",
                  text: "Approve with conditions",
                  hint: {
                    text: "You’ll be able to add conditions to the approval later.",
                    attributes: {
                      "data-cy": "approve-with-conditions-hint"
                    }
                  },
                  checked: submittedValues.decision === 'Approve with conditions',
                  attributes: {
                    'data-cy': 'approve-with-conditions-radio-button'
                  }
                },
                {
                  value: "Decline",
                  text: "Decline",
                  hint: {
                    text: "You’ll be able to add the reasons why you are declining the change later.",
                     attributes: {
                      "data-cy": "decline-hint"
                    }
                  },
                  checked: submittedValues.decision === 'Decline',
                  attributes: {
                    'data-cy': 'decline-radio-button'
                  }
                }
              ],
              errorMessage: validationErrors and validationErrors.errorList.decision and {
                text: validationErrors.errorList.decision.text,
                attributes: {
                  'data-cy': 'decision-input-error'
                }
              }
            })
          }}

          {{ govukButton({
            text: "Continue",
            attributes: {
              'data-cy': 'submit-button'
            }
          }) }}

          <a class="govuk-body govuk-link govuk-!-margin-left-6 close-link" href="/case/{{ dealId }}/underwriting" data-cy="cancel-link">Cancel</a>

        </form>

      </div>

    </div>

  </section>

{% endblock %}
