{% extends "index.njk" %}
{% import './_macros/countdown-indicator-chart-panel.njk' as chartPanel %}

{% block pageTitle %}Countdown Indicator{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">Countdown Indicator</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third govuk-!-padding-left-2 govuk-!-padding-right-2">
      <div class="box govuk-!-padding-left-4 govuk-!-padding-right-4 govuk-!-padding-top-4">
        {{ chartPanel.render(reportData.issueOrMakeFirstAdvance) }}
        <div id = "pie1" style = "width: 200px; height: 240px; margin: 0 auto; align:left;">
        </div>
        <script type = "text/javascript" src = "https://www.gstatic.com/charts/loader.js">
        </script>
        <script type = "text/javascript">
          google.charts.load('current', {packages: ['corechart']});     
        </script>
        <script language = "JavaScript">
          function drawChart() {
              // Define the chart to be drawn.
              var data = new google.visualization.DataTable();
              data.addColumn('string', 'Category');
              data.addColumn('number', 'Count');
              data.addRows([
                ['Red', {{ status90Days.red }}],
                ['Orange', {{ status90Days.orange }}],
                ['Green', {{ status90Days.green }}]
              ]);
                
              // Set chart options
              var options = {
                'title':'3 months to issue',
                'colors': ['#c10010', '#ff6f1b', '#7f9b3d'],
                'width':200,
                'height':200,
                chartArea:{left:0,top:10,bottom:10, width:"100%",height:"100%"},
                //pieHole: 0.4,
                legend: 'none',
                pieSliceText: 'value',
                pieSliceTextStyle:{fontSize:22},
              };

              // Instantiate and draw the chart.
              var chart = new google.visualization.PieChart(document.getElementById('pie1'));
              chart.draw(data, options);
          }
          google.charts.setOnLoadCallback(drawChart);
        </script>
        <br/>
        <p class="govuk-body">You have to notify UKEF within 10 business days.</p>
      </div>
        
    </div>
    <div class="govuk-grid-column-one-third govuk-!-padding-left-2 govuk-!-padding-right-2">
      <div class="box govuk-!-padding-left-4 govuk-!-padding-right-4 govuk-!-padding-top-4">
        {{ chartPanel.render(reportData.manualInclusionsWithConditions) }}
        {% if status20Days.message %}
        <p class="govuk-body">{{status20Days.message}}</p>
        {% else %}
        <div id = "pie2" style = "width: 200px; height: 240px; margin: 0 auto; align:left;">
        </div>

        <script language = "JavaScript">
          function drawChart() {
              // Define the chart to be drawn.
              var data = new google.visualization.DataTable();
              data.addColumn('string', 'Category');
              data.addColumn('number', 'Count');
              data.addRows([
                ['Red', {{ status20Days.red }}],
                ['Orange', {{ status20Days.orange }}],
                ['Green', {{ status20Days.green }}]
              ]);
                
              // Set chart options
              var options = {
                'title':'MIA with conditions',
                'colors': ['#c10010', '#ff6f1b', '#7f9b3d'],
                'width':200,
                'height':200,
                chartArea:{left:0,top:10,bottom:10,width:"100%",height:"100%"},
                //pieHole: 0.4,
                legend: 'none',
                pieSliceText: 'value',
                pieSliceTextStyle:{fontSize:22},
              };

              // Instantiate and draw the chart.
              var chart = new google.visualization.PieChart(document.getElementById('pie2'));
              chart.draw(data, options);
          }
          google.charts.setOnLoadCallback(drawChart);
        </script>
        {% endif %}
        <br/>
        <p class="govuk-body">You have 20 business days to approve.</p>
      </div>

    </div>
    <div class="govuk-grid-column-one-third govuk-!-padding-left-2 govuk-!-padding-right-2">
      <div class="box govuk-!-padding-left-4 govuk-!-padding-right-4 govuk-!-padding-top-4">
        {{ chartPanel.render(reportData.manualInclusionsWithoutConditions) }}
        {% if status10Days.message %}
        <p class="govuk-body">{{status10Days.message}}</p>
        {% else %}

         <div id = "pie3" style = "width: 200px; height: 240px; margin: 0 auto; align:left;">
        </div>

        <script language = "JavaScript">
          function drawChart() {
              // Define the chart to be drawn.
              var data = new google.visualization.DataTable();
              data.addColumn('string', 'Category');
              data.addColumn('number', 'Count');
              data.addRows([
                ['Red', {{ status10Days.red }}],
                ['Orange', {{ status10Days.orange }}],
                ['Green', {{ status10Days.green }}]
              ]);
                
              // Set chart options
              var options = {
                'title':'MIA without conditions',
                'colors': ['#c10010', '#ff6f1b', '#7f9b3d'],
                'width':200,
                'height':200,
                chartArea:{left:0,top:10,bottom:10,width:"100%",height:"100%"},
                //pieHole: 0.4,
                legend: 'none',
                pieSliceText: 'value',
                pieSliceTextStyle:{fontSize:22},
              };

              // Instantiate and draw the chart.
              var chart = new google.visualization.PieChart(document.getElementById('pie3'));
              chart.draw(data, options);
          }
          google.charts.setOnLoadCallback(drawChart);
        </script>
        {% endif %}
        <br/>
        <p class="govuk-body">You have 10 business days to approve.</p>
      </div>
    </div>
  </div>



  <p class="govuk-body">
  Please note that the countdown indicator provides indicative time periods only.
  For example, the indicator may approximate calendar months into periods of 30 days
  and ignore bank holidays. The Bank should rely on its own records to determine
  accurate time periods calculcated in accordance with the Master Guarantee Agreement.
  </p>

{% endblock %}
