{% macro render(params) %}
<p>
  <a class="govuk-link govuk-!-font-size-19" href="/case/{{ params.dealId }}/parties/{{ params.type }}" data-cy="edit-party-link">Add or edit unique reference number</a>
</p>
{% endmacro %}
