{% macro render(params) %}

  <dl class="govuk-grid-row">
    <dt class="govuk-grid-column-one-third">
      {% if params.keyClass %}
        <p class="{{ params.keyClass }}">{{ params.key | safe }}</p>
      {% else %}
        <p class="ukef-heading-xs">{{ params.key | safe }}</p>
        {% endif %}
    </dt>
    <dd class="govuk-grid-column-two-thirds">
      {% if params.dataCy | safe %}
        <p class="govuk-body-s govuk-!-margin-top-3 {{ params.valueStyle }}" data-cy="{{ params.dataCy }}">
      {% else %}
        <p class="govuk-body-s {{ params.valueStyle }}">
      {% endif %}
        {{ params.value | dashIfEmpty }}
      </p>
    </dd>
  </dl>

{% endmacro %}
