{% import './bond-beneficiary-facilities-table.njk' as bondBeneficiaryFacilitiesTable %}

{% macro render(params) %}
{% set deal = params.deal %}

<div class="govuk-grid-row separator-line deal">
  <h2 class="ukef-heading-l" data-cy="bond-beneficiary-heading">Bond beneficiary</h2>
  <p class="ukef-hint" style="margin-top:-36px" data-cy="bond-beneficiary-sub-heading">(if different to buyer)</p>

  <div class="govuk-grid-row deal">

    {% set filteredFacilities = deal.facilities | bondBeneficiaryFacilities %}

    {% if filteredFacilities.length > 0 %}

      {% set componentData = {
        facilities: filteredFacilities,
        caseId: deal._id
      } %}
              
      {{ bondBeneficiaryFacilitiesTable.render(componentData) }}

    {% else %}
      <p data-cy="bond-beneficiaries-not-applicable">Not applicable</p>
    {% endif %}
  </div>

</div>
{% endmacro %}
