{% import './bond-beneficiary-facilities-table.njk' as bondBeneficiaryFacilitiesTable %}
{% import './parties-edit-unique-reference-link.njk' as uniqueReferenceNumberEditLink %}
{% import '../../../_macros/not-applicable.njk' as notApplicable %}

{% macro render(params) %}
{% set deal = params.deal %}
{% set userCanEdit = params.userCanEdit %}
{% set renderEditLink = params.renderEditLink %}
{% set filteredFacilities = deal.facilities | bondBeneficiaryFacilities %}

<div class="govuk-grid-row separator-line {% if not userCanEdit %}ukef-flex-container deal{% endif %}" data-cy="bond-beneficiary-area">
  <div class="govuk-grid-column-one-half">
    <h2 class="ukef-heading-l" data-cy="bond-beneficiary-heading">Bond beneficiary</h2>
    <p class="ukef-hint" id="parties-bond-beneficiary-area-ukef-hint" data-cy="bond-beneficiary-sub-heading">(if different to buyer)</p>
  </div>

  {% if filteredFacilities.length > 0 and renderEditLink %}
    <div class="govuk-grid-column-one-half ukef-flex-container--align-center-right">
      {{ uniqueReferenceNumberEditLink.render({dealId: deal._id, type: 'bond-beneficiary'}) }}
    </div>
  {% endif %}

</div>

<div class="govuk-grid-row deal">

  {% if deal.dealType === 'GEF' or not filteredFacilities.length > 0%}
    <div class="govuk-grid-column-one-half">
      {{ notApplicable.render({ id: 'bond-beneficiary' })}}
    </div>
  {% elif filteredFacilities.length > 0 %}
    {% set componentData = {
      facilities: filteredFacilities,
      caseId: deal._id
    } %}
            
    <div class="govuk-grid-column-full">
      {{ bondBeneficiaryFacilitiesTable.render(componentData) }}
    </div>
  {% endif %}

</div>

{% endmacro %}
