{% import './parties-key-value-grid-row.njk' as keyValueGridRow %}
{% import './parties-key-value-array-grid-row.njk' as keyValueArrayGridRow %}

{% macro render(params) %}
  {% set deal = params.deal %}
  <div class="govuk-grid-row separator-line deal">
    <div class="govuk-grid-column-one-half">
      {{ keyValueGridRow.render({
        key: 'Indemnifier',
        value: '',
        keyClass:'ukef-heading-l'
      }) }}
    </div>
  </div>
  <div class="govuk-grid-row deal">
    <div class="govuk-grid-column-one-half">
      {{ keyValueGridRow.render({
        key: 'Name',
        value: deal.submissionDetails.indemnifierName
      }) }}
      {{ keyValueArrayGridRow.render({
        key: 'Address',
        values:  [ deal.submissionDetails.indemnifierAddressLine1,
                deal.submissionDetails.indemnifierAddressLine2,
                deal.submissionDetails.indemnifierAddressLine3,
                deal.submissionDetails.indemnifierAddressTown,
                deal.submissionDetails.indemnifierAddressPostcode] 
      }) }}
      {{ keyValueGridRow.render({
        key: 'Country',
        value: ''
      }) }}
      {{ keyValueGridRow.render({
        key: 'Companies house<br>registration number',
        value: ''
      }) }}
      {{ keyValueGridRow.render({
        key: 'Is the indemnifier legally<br>distinct from the exporter?',
        value: ''
      }) }}
      {{ keyValueGridRow.render({
        key: 'Approval level required',
        value: ''
      }) }}
    </div>
    <div class="govuk-grid-column-one-half">
      {{ keyValueArrayGridRow.render({
        key: 'Correspondence Address',
        values:  [ deal.submissionDetails.indemnifierCorrespondenceAddressLine1,
                deal.submissionDetails.indemnifierCorrespondenceAddressLine2,
                deal.submissionDetails.indemnifierCorrespondenceAddressLine3,
                deal.submissionDetails.indemnifierCorrespondenceAddressTown,
                deal.submissionDetails.indemnifierCorrespondenceAddressPostcode] 
      }) }}
      {{ keyValueGridRow.render({
        key: 'Correspondence country',
        value: deal.submissionDetails.indemnifierCorrespondenceAddressCountry
      }) }}
    </div>
  </div>
{% endmacro %}