{% import './parties-key-value-grid-row.njk' as keyValueGridRow %}
{% import './parties-key-value-array-grid-row.njk' as keyValueArrayGridRow %}

{% macro render(params) %}
{% set deal = params.deal %}
<div class="govuk-grid-row separator-line deal">
  <div class="govuk-grid-column-one-half">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <p class="ukef-heading-l">Bond issuer</p>
        <p class="ukef-hint" style="margin-top:-36px">(if different to buyer)</p>
      </div>
      <div class="govuk-grid-column-one-half">
        <p></p>
      </div>
    </div>
  </div>
</div>
{% endmacro %}