MONGO_INITDB_DATABASE=dtfs-submissions
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=r00t
MONGODB_URI=mongodb://root:r00t@localhost:27017/?authMechanism=DEFAULT

AZURE_NUMBER_GENERATOR_FUNCTION_SCHEDULE='*/5 * * * * *'

AZURE_PORTAL_STORAGE_ACCOUNT=
AZURE_PORTAL_STORAGE_ACCESS_KEY=

ESTORE_URL=

SESSION_SECRET=

JWT_SIGNING_KEY=
