# Root
node_modules/
dist/
build/
public/
generated_reports/
coverage/
package*.json
.cache

# Sub-directories
**/node_modules/
**/dist/
**/build/
**/public/
**/generated_reports/
**/coverage/
**/package*.json
**/.cache
