# Variables
.env
.env.prod

# Configurations
.config

# NPM
.npm
dist
**/node_modules/*

# Secrets
secrets/**
jwt_key

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
**/generated_reports

# OS
.DS_Store
Library/

# Tests
coverage
**/cypress/videos
**/cypress/screenshots

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json

# DB
dtfs-submissions-data-volume*
**/temp/*
**/actionsheets/*
**/json/*
**/amendments/*
**/exports/*
**/bss-ewcs/dump/*
**/bss-ewcs/data/*
**/gef/dump/*
**/gef/data/*
**/json/*

# Reports
**/report/*
