.config
.npm
.idea
.env
.env.prod
**/.env
**/.env.prod
**/actionsheets/*
pipeline.log
dist
node_modules
dtfs-submissions-data-volume*
**/cypress/videos
**/cypress/screenshots
**/actionsheets/*

trade-finance-manager/salesforce.json

Library/

secrets/**
jwt_key

**/generated_reports

reference-data-proxy/generated_reports

*.ipynb
.ipynb_checkpoints
.vscode
.DS_Store
e2e-tests/trade-finance-manager/cypress/.eslintrc.json
db-schema/**

temp/