version: "3"
services:
  clamav:
    image: mkodockx/docker-clamav:alpine
    restart: always
    ports:
      - '3310:3310'

  dtfs-submissions-data:
    image: mongo:5.0.5
    restart: always
    environment:
      - MONGO_INITDB_DATABASE=dtfs-submissions
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=r00t
    volumes:
      - ./dtfs-submissions-data-volume-dtfs-submissions:/data/db
    deploy:
      resources:
        limits:
          cpus: "0.1"
          memory: 300M
    ports:
      - "27017-27019:27017-27019"

  dtfs-central-api:
    build:
      context: .
      dockerfile: ./dtfs-central-api/Dockerfile
    image: dtfs/dtfs-central-api
    restart: always
    depends_on:
      - dtfs-submissions-data
      - external-api
    ports:
      - "5005:5005"
    volumes:
      - ./dtfs-central-api/src:/app/dtfs-central-api/src:ro
      - ./libs:/app/libs:ro
    deploy:
      resources:
        limits:
          cpus: "0.1"
          memory: 400M
    environment:
      - PORT=5005
      - CORS_ORIGIN
      - EXTERNAL_API_URL=http://external-api:5002
      - MONGO_INITDB_DATABASE=dtfs-submissions
      - MONGODB_URI
      - DTFS_CENTRAL_API_URL=http://localhost:5005
      - TZ=Europe/London
      - PORTAL_API_KEY
      - TFM_API_KEY
      - DTFS_CENTRAL_API_KEY
      - EXTERNAL_API_KEY
      - NODE_ENV=${NODE_ENV}
      - RATE_LIMIT_THRESHOLD
    entrypoint: npx ts-node dtfs-central-api/src/index.ts

  trade-finance-manager-ui:
    build:
      context: .
      dockerfile: ./trade-finance-manager-ui/Dockerfile
    image: dtfs/trade-finance-manager-ui
    depends_on:
      - trade-finance-manager-api
    ports:
      - "5003:5003"
    volumes:
      - ./trade-finance-manager-ui/server:/app/trade-finance-manager-ui/server:ro
      - ./trade-finance-manager-ui/public:/app/trade-finance-manager-ui/public:ro
      - ./trade-finance-manager-ui/templates:/app/trade-finance-manager-ui/templates:ro
      - ./libs:/app/libs:ro
    deploy:
      resources:
        limits:
          cpus: "0.1"
          memory: 300M
    environment:
      - PORT=5003
      - TFM_API_URL=http://trade-finance-manager-api:5004
      - EXTERNAL_API_URL=http://external-api:5002
      - UKEF_TFM_API_SYSTEM_KEY
      - ESTORE_URL=${ESTORE_URL}
      - REDIS_HOSTNAME=redis
      - SESSION_SECRET
      - TZ=Europe/London
      - NODE_ENV=${NODE_ENV}
      - PORTAL_API_KEY
      - TFM_API_KEY
      - DTFS_CENTRAL_API_KEY
      - EXTERNAL_API_KEY
      - RATE_LIMIT_THRESHOLD
      - UTILISATION_REPORT_DUE_DATE_BUSINESS_DAYS_FROM_START_OF_MONTH

  trade-finance-manager-api:
    build:
      context: .
      dockerfile: ./trade-finance-manager-api/Dockerfile
    image: dtfs/trade-finance-manager-api
    restart: always
    depends_on:
      - portal-api
      - dtfs-central-api
      - external-api
    ports:
      - "5004:5004"
    volumes:
      - ./trade-finance-manager-api/src:/app/trade-finance-manager-api/src:ro
      - ./libs:/app/libs:ro
    environment:
      - PORT=5004
      - CORS_ORIGIN
      - PORTAL_API_KEY
      - TFM_API_KEY
      - DTFS_CENTRAL_API_KEY
      - EXTERNAL_API_KEY
      - MONGO_INITDB_DATABASE=dtfs-submissions
      - MONGODB_URI
      - AZURE_NUMBER_GENERATOR_FUNCTION_SCHEDULE
      - AZURE_PORTAL_STORAGE_ACCOUNT
      - AZURE_PORTAL_STORAGE_ACCESS_KEY
      - AZURE_UTILISATION_REPORTS_FILESHARE_NAME
      - UKEF_TFM_API_SYSTEM_KEY
      - UKEF_TFM_API_REPORTS_KEY
      - TFM_UI_URL=http://localhost:5003
      - AZURE_ACBS_FUNCTION_URL=http://host.docker.internal:7071
      - DTFS_CENTRAL_API_URL=http://dtfs-central-api:5005
      - EXTERNAL_API_URL=http://external-api:5002
      - AZURE_NUMBER_GENERATOR_FUNCTION_URL=http://number-generator-function
      - JWT_SIGNING_KEY
      - JWT_VALIDATING_KEY
      - TZ=Europe/London
      - NODE_ENV=${NODE_ENV}
      - RATE_LIMIT_THRESHOLD
    deploy:
      resources:
        limits:
          cpus: "0.2"
          memory: 600M
    entrypoint: npx ts-node trade-finance-manager-api/src/index.ts

  portal:
    build:
      context: .
      dockerfile: ./portal/Dockerfile
    image: dtfs/portal
    restart: always
    depends_on:
      - redis
      - portal-api
      - clamav
    ports:
      - "5000:5000"
    volumes:
      - ./portal/server:/app/portal/server:ro
      - ./portal/public:/app/portal/public:ro
      - ./portal/templates:/app/portal/templates:ro
      - ./libs:/app/libs:ro
    deploy:
      resources:
        limits:
          cpus: "0.2"
          memory: 700M
    environment:
      - COMPANIES_HOUSE_API_KEY
      - PORTAL_API_KEY
      - TFM_API_KEY
      - DTFS_CENTRAL_API_KEY
      - EXTERNAL_API_KEY
      - REDIS_HOSTNAME=redis
      - SESSION_SECRET
      - TZ=Europe/London
      - NODE_ENV=${NODE_ENV}
      - PORTAL_API_URL=http://portal-api:5001
      - COMPANIES_HOUSE_API_URL=https://api.companieshouse.gov.uk
      - EXTERNAL_API_URL=http://external-api:5002
      - RATE_LIMIT_THRESHOLD
      - CLAMAV_PORT=3310
      - CLAMAV_HOST=clamav
      - CLAMAV_DEBUG_MODE_ENABLED=true
      - CLAMAV_SCANNING_ENABLED=true
      - UTILISATION_REPORT_MAX_FILE_SIZE_BYTES=1048576

  portal-api:
    build:
      context: .
      dockerfile: ./portal-api/Dockerfile
    image: dtfs/portal-api
    restart: always
    depends_on:
      - dtfs-central-api
      - external-api
    ports:
      - "5001:5001"
    volumes:
      - ./portal-api/src:/app/portal-api/src:ro
      - ./libs:/app/libs:ro
    deploy:
      resources:
        limits:
          cpus: "0.25"
          memory: 950M
    environment:
      - PORT=5001
      - CORS_ORIGIN
      - JWT_SIGNING_KEY
      - JWT_VALIDATING_KEY
      - MONGO_INITDB_DATABASE=dtfs-submissions
      - MONGODB_URI
      - AZURE_PORTAL_STORAGE_ACCOUNT
      - AZURE_PORTAL_STORAGE_ACCESS_KEY
      - AZURE_PORTAL_FILESHARE_NAME
      - AZURE_PORTAL_EXPORT_FOLDER
      - AZURE_UTILISATION_REPORTS_FILESHARE_NAME
      - GOV_NOTIFY_API_KEY
      - GOV_NOTIFY_EMAIL_RECIPIENT
      - PORTAL_API_KEY
      - TFM_API_KEY
      - DTFS_CENTRAL_API_KEY
      - EXTERNAL_API_KEY
      - PORTAL_UI_URL
      - DTFS_CENTRAL_API_URL=http://dtfs-central-api:5005
      - TFM_API_URL=http://trade-finance-manager-api:5004
      - EXTERNAL_API_URL=http://external-api:5002
      - TZ=Europe/London
      - NODE_ENV=${NODE_ENV}
      - RATE_LIMIT_THRESHOLD
      - PDC_INPUTTERS_EMAIL_RECIPIENT
      - UTILISATION_REPORT_SUBMISSION_PERIOD_START_EMAIL_SCHEDULE
      - UTILISATION_REPORT_OVERDUE_CHASER_DATE_BUSINESS_DAYS_FROM_START_OF_MONTH
      - UTILISATION_REPORT_DUE_DATE_BUSINESS_DAYS_FROM_START_OF_MONTH
      - UTILISATION_REPORT_DUE_EMAIL_SCHEDULE
      - UTILISATION_REPORT_OVERDUE_EMAIL_SCHEDULE
    entrypoint: npx ts-node portal-api/src/index.ts

  external-api:
    build:
      context: .
      dockerfile: ./external-api/Dockerfile
    image: dtfs/external-api
    restart: always
    depends_on:
      - dtfs-submissions-data
    ports:
      - "5002:5002"
    volumes:
      - ./external-api/src:/app/external-api/src:ro
      - ./libs:/app/libs:ro
    deploy:
      resources:
        limits:
          cpus: "0.1"
          memory: 400M
    environment:
      - PORT=5002
      - CORS_ORIGIN
      - PORTAL_API_KEY
      - TFM_API_KEY
      - DTFS_CENTRAL_API_KEY
      - EXTERNAL_API_KEY
      - COMPANIES_HOUSE_API_KEY
      - ORDNANCE_SURVEY_API_URL=https://api.os.co.uk
      - ORDNANCE_SURVEY_API_KEY
      - APIM_TFS_URL
      - APIM_TFS_KEY
      - APIM_TFS_VALUE
      - APIM_MDM_URL
      - APIM_MDM_KEY
      - APIM_MDM_VALUE
      - APIM_ESTORE_URL
      - APIM_ESTORE_KEY
      - APIM_ESTORE_VALUE
      - AZURE_ACBS_FUNCTION_URL=http://host.docker.internal:7071
      - AZURE_NUMBER_GENERATOR_FUNCTION_URL=http://number-generator-function
      - GOV_NOTIFY_API_KEY
      - MONGO_INITDB_DATABASE=dtfs-submissions
      - MONGODB_URI
      - COMPANIES_HOUSE_API_URL=https://api.companieshouse.gov.uk
      - EXTERNAL_API_URL=http://external-api:5002
      - TZ=Europe/London
      - NODE_ENV=${NODE_ENV}
      - RATE_LIMIT_THRESHOLD
    entrypoint: npx nodemon external-api/src/index.ts -L --max-old-space-size=350

  gef-ui:
    build:
      context: .
      dockerfile: ./gef-ui/Dockerfile
    image: dtfs/gef-ui
    restart: always
    depends_on:
      - redis
      - portal-api
    ports:
      - "5006:5006"
    volumes:
      - ./gef-ui/server:/app/gef-ui/server:ro
      - ./gef-ui/public:/app/gef-ui/public:ro
      - ./gef-ui/templates:/app/gef-ui/templates:ro
      - ./libs:/app/libs:ro
    deploy:
      resources:
        limits:
          cpus: "0.1"
          memory: 300M
    environment:
      - PORTAL_API_URL=http://portal-api:5001
      - COMPANIES_HOUSE_API_URL=https://api.companieshouse.gov.uk
      - COMPANIES_HOUSE_API_KEY
      - PORTAL_API_KEY
      - TFM_API_KEY
      - DTFS_CENTRAL_API_KEY
      - EXTERNAL_API_KEY
      - REDIS_HOSTNAME=redis
      - SESSION_SECRET
      - TZ=Europe/London
      - NODE_ENV=${NODE_ENV}
      - EXTERNAL_API_URL=http://external-api:5002
      - RATE_LIMIT_THRESHOLD

  number-generator-function:
    build: ./azure-functions/number-generator-function
    image: dtfs/azure-function-number-generator
    restart: always
    ports:
      - "7072:80"
    deploy:
      resources:
        limits:
          cpus: "0.1"
          memory: 300M
    environment:
      - AzureWebJobsStorage=DefaultEndpointsProtocol=https;AccountName=${AZURE_PORTAL_STORAGE_ACCOUNT};AccountKey=${AZURE_PORTAL_STORAGE_ACCESS_KEY};EndpointSuffix=core.windows.net
      - FUNCTIONS_WORKER_RUNTIME=node
      - WEBSITE_HOSTNAME=localhost:7072
      - APIM_TFS_URL
      - APIM_TFS_KEY
      - APIM_TFS_VALUE
      - APIM_MDM_URL
      - APIM_MDM_KEY
      - APIM_MDM_VALUE
      - TZ=Europe/London
      - NODE_ENV=${NODE_ENV}

  redis:
    image: "redis:alpine"
    ports:
      - "6379:6379"
    deploy:
      resources:
        limits:
          cpus: "0.1"
          memory: 300M

  reverse-proxy:
    build: ./reverse-proxy
    image: "dtfs/reverse-proxy"
    depends_on:
      - portal
      - gef-ui
    ports:
      - "80:80"
    environment:
      - PORTAL_UI=portal:5000
      - GEF_UI=gef-ui:5006
    deploy:
      resources:
        limits:
          cpus: "0.01"
          memory: 150M
