{% from "govuk/components/button/macro.njk" import govukButton %}

{% set message = "If this is ready, you can submit it to UKEF. Or you can return it to the maker to make changes." %}
{% set submitToUkefUrl = dealId + "/submit-to-ukef" %}
{% set returnToMakerUrl = dealId + "/return-to-maker" %}

{% if submitAmendment %}
  {% set message = "Submit to UKEF or return to maker for changes" %}
  {% set amendmentUrl = "/gef/application-details/" + dealId + "/facilities/" + facilityId + "/amendments/" + amendmentId %}
  {% set submitToUkefUrl = amendmentUrl + "/submit-amendment-to-ukef" %}
  {% set returnToMakerUrl = amendmentUrl + "/return-to-maker" %}
{% endif %}

<p class="govuk-heading-l" data-cy="submit-heading">
  Submit or return
</p>
<p class="govuk-body">{{ message }}</p>

{{ govukButton({
  text: "Submit to UKEF",
  href: submitToUkefUrl,
  attributes: {
    'data-cy': 'submit-button'
  }
}) }}

{{ govukButton({
  text: "Return to maker",
  classes: "govuk-button--secondary",
  href: returnToMakerUrl,
  attributes: {
    'data-cy': 'return-button'
  }
}) }}