{% extends "utilisation-report-service/index.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% block pageTitle %}File successfully validated{% endblock %}
{% block content %}
    {{ govukBackLink({
        text: "Back",
        href: "utilisation-report-upload",
        attributes: {
            'data-cy': 'back-link'
        }
    }) }}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l" data-cy="main-heading">
                File successfully validated
            </h1>
            <p class="govuk-body">Check it's the correct file before sending.</p>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">File name</dt>
                    <dd class="govuk-summary-list__value">{{ fileName }}</dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link--no-visited-state" href="utilisation-report-upload">Change</a>
                    </dd>
                </div>
            </dl>
            <form method="POST" data-cy="form">
                {{ govukButton({
                    text: "Confirm and send"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}