{% extends "index.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% block pageTitle %}Confirmation{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title" data-cy="main-heading">
                    {{ reportPeriod }} GEF report sent to UKEF
                </h1>
            </div>
            <p class="govuk-body" data-cy="paragraph">A confirmation email has been sent to:
                <ul class="govuk-list govuk-list--bullet">
                {% for paymentOfficerEmail in paymentOfficerEmails %}
                    <li>{{ paymentOfficerEmail }}</li>
                {% endfor %}
                <ul>
            </p>
            <a href="/logout" role="button" class="govuk-button" data-module="govuk-button" data-cy="logout-button">Sign out</a>
        </div>
    </div>
{% endblock %}
