{% import '_macros/status-tag.njk' as statusTag %}

{% macro render(params) %}
  {% if params.deal.bondTransactions.items %}
    <div class="govuk-grid-column-full">
      {% set bonds = params.deal.bondTransactions.items %}
      {% set dealId = params.deal._id %}

        <table class="govuk-table contract-table govuk-!-margin-bottom-0">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-font-size-14">Bond's unique number</th>
              <th scope="col" class="govuk-table__header govuk-!-font-size-14">UKEF facility ID</th>
              <th scope="col" class="govuk-table__header govuk-!-font-size-14">Status</th>
              <th scope="col" class="govuk-table__header govuk-!-font-size-14">Value</th>
              <th scope="col" class="govuk-table__header govuk-!-font-size-14">Stage</th>
              <th scope="col" class="govuk-table__header govuk-!-font-size-14">Start date</th>
              <th scope="col" class="govuk-table__header govuk-!-font-size-14">End date</th>
              <th scope="col" class="govuk-table__header govuk-!-font-size-14">Action</th>
            </tr>
          </thead>

          <tbody class="govuk-table__body">

            {% for bond in bonds %}
              <tr class="govuk-table__row" data-cy="bond-{{ bond._id }}">
                <td class="govuk-table__cell govuk-!-font-size-14">
                  {% if bond.uniqueIdentificationNumber %}
                    <a href="/contract/{{ dealId }}/bond/{{ bond._id}}/details" class="govuk-link" data-cy="unique-number">{{ bond.uniqueIdentificationNumber }}</a>
                  {% else %}
                    <a href="/contract/{{ dealId }}/bond/{{ bond._id}}/details" class="govuk-link" data-cy="unique-number">Not entered</a>
                  {% endif %}
                </td>

                <td class="govuk-table__cell govuk-!-font-size-14">
                  {{ bond.ukefFacilityID }}
                </td>

                <td class="govuk-table__cell govuk-!-font-size-14 contract-table--status-cell" data-cy="bond-status">
                  {{ statusTag.render(bond.status) }}
                </td>

                <td class="govuk-table__cell govuk-!-font-size-14" data-cy="bond-value">
                  {{ bond.currency.id}} {{ bond.facilityValue }}
                </td>

                <td class="govuk-table__cell govuk-!-font-size-14" data-cy="bond-stage">
                  {{ bond.bondStage }}
                </td>

                <td class="govuk-table__cell govuk-!-font-size-14" data-cy="bond-requested-cover-start-date">
                  {% if bond['requestedCoverStartDate-day'] and bond['requestedCoverStartDate-month'] and bond['requestedCoverStartDate-year'] %}
                    {{ bond['requestedCoverStartDate-day'] }}/{{ bond['requestedCoverStartDate-month'] }}/{{ bond['requestedCoverStartDate-year'] }}
                  {% endif %}
                </td>

                <td class="govuk-table__cell govuk-!-font-size-14" data-cy="bond-cover-end-date">
                  {% if bond['coverEndDate-day'] and bond['coverEndDate-month'] and bond['coverEndDate-year'] %}
                    {{ bond['coverEndDate-day'] }}/{{ bond['coverEndDate-month'] }}/{{ bond['coverEndDate-year'] }}
                  {% endif %}
                </td>

                <td class="govuk-table__cell govuk-!-font-size-14">
                  {% if params.user.roles.includes('maker') %}
                    <a href="/contract/{{ dealId }}/bond/{{ bond._id}}/delete" class="govuk-link" data-cy="delete-bond-{{ bond._id}}">Delete</a>
                  {% endif %}
                </td>
              </tr>

            {% endfor %}
          </tbody>
        </table>
    </div>
  {% endif %}
{% endmacro %}
