{% import '_macros/status-tag.njk' as statusTag %}
{% import './bond-link.njk' as bondLink %}
{% import './issue-facility-link.njk' as issueFacilityLink %}
{% import './requested-start-date-link.njk' as requestedCoverStartDate %}

{# TODO: component tests #}

{% macro render(params) %}
  {% if params.deal.bondTransactions.items %}
    <div class="govuk-grid-column-full">
      {% set bonds = params.deal.bondTransactions.items %}

        <table class="govuk-table contract-table contract-transactions-table govuk-!-margin-bottom-0" data-cy="bond-transactions-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-font-size-14">Bond's unique number</th>
              <th scope="col" class="govuk-table__header govuk-!-font-size-14">UKEF facility ID</th>
              <th scope="col" class="govuk-table__header govuk-!-font-size-14">Status</th>
              <th scope="col" class="govuk-table__header govuk-!-font-size-14">Value</th>
              <th scope="col" class="govuk-table__header govuk-!-font-size-14">Stage</th>
              <th scope="col" class="govuk-table__header govuk-!-font-size-14">Start date</th>
              <th scope="col" class="govuk-table__header govuk-!-font-size-14">End date</th>
              <th scope="col" class="govuk-table__header govuk-!-font-size-14">Action</th>
            </tr>
          </thead>

          <tbody class="govuk-table__body">

            {% for bond in bonds %}
              <tr class="govuk-table__row" data-cy="bond-{{ bond._id }}">
                <td class="govuk-table__cell govuk-!-font-size-14">
                  {{ bondLink.render(params, bond) }}
                </td>

                <td class="govuk-table__cell govuk-!-font-size-14">
                  {{ bond.ukefFacilityID }}
                </td>

                <td class="govuk-table__cell govuk-!-font-size-14 contract-table--status-cell" data-cy="bond-status-{{ bond._id}}">
                  {{ statusTag.render(bond.status) }}
                </td>

                <td class="govuk-table__cell govuk-!-font-size-14" data-cy="bond-facility-value">
                  {{ bond.currency.id}} {{ bond.facilityValue }}
                </td>

                <td class="govuk-table__cell govuk-!-font-size-14" data-cy="bond-stage-{{ bond._id}}">{{ bond.bondStage }}</td>

                <td class="govuk-table__cell govuk-!-font-size-14" data-cy="bond-requested-cover-start-date">
                  {% if bond.requestedCoverStartDate %}
                  {{ bond.requestedCoverStartDate | localiseTimestamp('DD/MM/YYYY', params.user.timezone) }}
                {% endif %}
                </td>

                <td class="govuk-table__cell govuk-!-font-size-14" data-cy="bond-cover-end-date">
                  {% if bond['coverEndDate-day'] and bond['coverEndDate-month'] and bond['coverEndDate-year'] %}
                    {{ bond['coverEndDate-day'] }}/{{ bond['coverEndDate-month'] }}/{{ bond['coverEndDate-year'] }}
                  {% endif %}
                </td>

                <td class="govuk-table__cell govuk-!-font-size-14">

                  {% set componentData = {user: params.user, deal: params.deal, editable: params.editable, facility: bond, facilityName: 'bond', confirmedRequestedCoverStartDates: params.confirmedRequestedCoverStartDates} %}

                  {{ issueFacilityLink.render(componentData)}}
                  {{ requestedCoverStartDate.render(componentData) }}
                </td>
              </tr>

            {% endfor %}
          </tbody>
        </table>
    </div>
  {% endif %}
{% endmacro %}
