{% macro render(params, bond) %}
  {% set dealId = params.deal._id %}
  {% if bond.name %}
    {% if params.editable %}
      <a href="/contract/{{ dealId }}/bond/{{ bond._id}}/details" class="govuk-link" data-cy="name-link-{{bond._id}}">{{ bond.name }}</a>
    {% else %}
      <span data-cy="name-{{bond._id}}">
        {{ bond.name }}
      </span>
    {% endif %}
  {% else %}
    {% if params.editable %}
      <a href="/contract/{{ dealId }}/bond/{{ bond._id}}/details" class="govuk-link" data-cy="name-link-{{bond._id}}">Bond’s reference number not entered</a>
    {% else %}
      <span data-cy="name-{{bond._id}}">
          Bond’s reference number not entered
      </span>
    {% endif %}
  {% endif %}

{% endmacro %}
