{% import './contract-actions/abandon-deal-button.njk' as abandonButton %}
{% import './contract-actions/can-proceed-text.njk' as canProceedText %}
{% import './contract-actions/please-complete-all-forms-text.njk' as pleaseCompleteAllFormsText %}
{% import './contract-actions/proceed-to-review-button.njk' as proceedToReviewButton %}
{% import './contract-actions/proceed-to-submit-button.njk' as proceedToSubmitButton %}
{% import './contract-actions/return-to-maker-button.njk' as returnToMakerButton %}
{% import './contract-actions/review-eligibility-checklist-link.njk' as reviewLink %}

{% macro render(params) %}
  {{ pleaseCompleteAllFormsText.render(params)}}
  {{ canProceedText.render(params)}}
  {{ reviewLink.render(params)}}
  {{ proceedToReviewButton.render(params)}}
  {{ proceedToSubmitButton.render(params)}}
  {{ abandonButton.render(params)}}
  {{ returnToMakerButton.render(params)}}
{% endmacro %}
