{% macro render(params) %}
  {% set details = params.deal.details %}

  <table class="govuk-table contract-table govuk-!-margin-bottom-0">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Bank Supply Contract ID</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">UKEF Deal ID</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Status</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Previous status</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Maker</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Checker</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Submission date</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Date of Last Action</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Submission type</th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td data-cy="bankSupplyContractID" class="govuk-table__cell govuk-!-font-size-14">
          {{ details.bankSupplyContractID }}
        </td>

        <td data-cy="ukefDealId" class="govuk-table__cell govuk-!-font-size-14">
          {{ details.ukefDealId }}
        </td>

        <td data-cy="status" class="govuk-table__cell govuk-!-font-size-14">
          {{ details.status }}
        </td>

        <td data-cy="previousStatus" class="govuk-table__cell govuk-!-font-size-14">
          {{ details.previousStatus }}
        </td>

        <td data-cy="maker" class="govuk-table__cell govuk-!-font-size-14">
          {{ details.maker.username }}
        </td>

        <td data-cy="checker" class="govuk-table__cell govuk-!-font-size-14">
          {{ details.checker }}
        </td>

        <td data-cy="submissionDate" class="govuk-table__cell govuk-!-font-size-14">
          {{ details.submissionDate }}
        </td>

        <td data-cy="dateOfLastAction" class="govuk-table__cell govuk-!-font-size-14">
          {{ details.dateOfLastAction }}
        </td>

        <td data-cy="submissionType" class="govuk-table__cell govuk-!-font-size-14">
          {{ details.submissionType }}
        </td>

      </tr>
    </tbody>

  </table>

{% endmacro %}
