{% macro render() %}
  <div class="govuk-error-summary govuk-!-padding-0" data-module="govuk-error-summary">
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#">Warning: Some of your Transaction forms are incomplete. Only the complete facilities will be processed in the financial summary data below.</a>
        </li>
      </ul>
    </div>
  </div>
{% endmacro %}
