{# TODO: refactor #}
{% macro render(params) %}

  {% set userIsMaker = params.user.roles.includes('maker')%}
  {% set userIsChecker = params.user.roles.includes('checker')%}

  {% set dealId = params.deal._id %}
  {% set dealStatus = params.deal.details.status %}
  {% set dealSubmissionType = params.deal.details.submissionType %}
  {% set dealPreviousStatus = params.deal.details.previousStatus %}

  {% set facility = params.facility %}
  {% set facilityName = params.facilityName %}
  {% set facilityStatus = params.facility.status %}

  {% set dealStatusAllowsIssueFacility = dealStatus === "Acknowledged by UKEF" or dealStatus === "Accepted by UKEF (with conditions)" or dealStatus === "Accepted by UKEF (without conditions)" or dealStatus === "Further Maker's input required" and dealPreviousStatus !== "Draft"%}

  {% set facilityStatusAllowsIssueFacility = (facilityStatus === "Maker's input required" or facilityStatus === "Not started" or facilityStatus === "Completed") %}

  {% set dealSubmissionTypeAllowsIssuance = dealSubmissionType === 'Automatic Inclusion Notice' or dealSubmissionType === 'Manual Inclusion Notice' or dealSubmissionType === 'Manual Inclusion Application' %}
  {% set facilityCouldBeIssued = userIsMaker and dealSubmissionTypeAllowsIssuance and (facility.facilityStage === 'Conditional' or facility.bondStage === 'Unissued') and not facility.issueFacilityDetailsSubmitted %}

  {% set dealOrFacilityAreReadyForCheck = (facilityStatus === "Ready for check" or dealStatus === "Ready for Checker's approval") %}

  {% set dealAndFacilityAreReadyForCheck = (facilityStatus === "Ready for check" and dealStatus === "Ready for Checker's approval") %}
  {% set dealAndFacilityAreSubmitted = (facilityStatus === "Submitted" and dealStatus === "Submitted") %}
  {% set dealAndFacilityAreAcknowledged = (facilityStatus === "Acknowledged" and dealStatus === "Acknowledged by UKEF") %}

  {% set onlyPreviewLinkCanBeShown = (dealAndFacilityAreReadyForCheck or dealAndFacilityAreSubmitted or dealAndFacilityAreAcknowledged) %}

  {% set renderIssuanceLink = facilityCouldBeIssued or facility.issueFacilityDetailsProvided and (makerCannotStartOrEditIssueFacility or dealStatusAllowsIssueFacility) or onlyPreviewLinkCanBeShown %}

  {% if renderIssuanceLink %}
    {% if userIsChecker and not userIsMaker %}
      <a href="/contract/{{ dealId }}/submission-details#{{ facilityName }}-{{ facility._id }}" class="govuk-link" data-cy="{{ facilityName }}-issue-facility-{{ facility._id }}">Facility issued</a>

    {% elseif userIsMaker %}
      {% set makerCannotStartOrEditIssueFacility = (facility.issueFacilityDetailsSubmitted or dealOrFacilityAreReadyForCheck or onlyPreviewLinkCanBeShown) %}

      {% if makerCannotStartOrEditIssueFacility %}

          <a href="/contract/{{ dealId }}/{{ facilityName }}/{{ facility._id}}/preview" class="govuk-link" data-cy="{{ facilityName }}-issue-facility-{{ facility._id }}">
          {% if facility.issueFacilityDetailsStarted %}
            Facility issued
          {% else %}
            Issue facility
          {% endif %}
        </a>

        {% else %}
          {% if dealStatusAllowsIssueFacility %}
            <a href="/contract/{{ dealId }}/{{ facilityName }}/{{ facility._id}}/issue-facility" class="govuk-link" data-cy="{{ facilityName }}-issue-facility-{{ facility._id }}">
              {% if facility.issueFacilityDetailsStarted %}
                Facility issued
              {% else %}
                Issue facility
              {% endif %}
            </a>

          {% elseif params.editable and dealStatus === "Further Maker's input required" %}
              <a href="/contract/{{ dealId }}/{{ facilityName }}/{{ facility._id}}/delete" class="govuk-link" data-cy="{{ facilityName }}-delete-{{ facility._id }}" aria-label="Delete facility">Delete</a>

        {% endif %}

      {% endif %}

    {% endif %}

  {% elseif userIsMaker and params.editable and (dealStatus === "Draft" or dealStatus === "Further Maker's input required") %}
    <a href="/contract/{{ dealId }}/{{ facilityName }}/{{ facility._id}}/delete" class="govuk-link" data-cy="{{ facilityName }}-delete-{{ facility._id }}" aria-label="Delete facility">Delete</a>

  {% endif %}

{% endmacro %}
