{% macro render(params) %}
  {% set userIsMaker = params.user.roles.includes('maker')%}
  {% set userIsChecker = params.user.roles.includes('checker')%}

  {% set dealId = params.deal._id %}
  {% set dealStatus = params.deal.status %}
  {% set dealSubmissionDate = params.deal.details.submissionDate %}
  {% set dealIsEditable = params.editable %}

  {% set facility = params.facility %}
  {% set facilityName = params.facilityName %}
  {% set facilityTableIndex = params.facilityTableIndex %}

  {% set canOnlyViewIssueFacilityDetails = facility.status === "Submitted" or facility.status === "Ready for check" or facility.status === "Acknowledged" or dealStatus === "Ready for Checker's approval" %}

  {% if facility.canIssueOrEditIssueFacility %}
    <a href="/contract/{{ dealId }}/{{ facilityName }}/{{ facility._id}}/issue-facility" class="govuk-link" data-cy="{{ facilityName }}-issue-facility-{{ facility._id }}">

    {% if facility.issueFacilityDetailsStarted and facility.issueFacilityDetailsProvided %}
      Facility issued
      {% else %}
      Issue facility
    {% endif%}
    </a>

    {% elseif canOnlyViewIssueFacilityDetails and facility.issueFacilityDetailsProvided %}
      <a href="/contract/{{ dealId }}/submission-details#{{ facilityName }}-{{ facility._id }}" class="govuk-link" data-cy="{{ facilityName }}-issue-facility-{{ facility._id }}">Facility issued</a>

    {% elseif (userIsMaker and dealIsEditable) and (dealStatus === "Draft" or dealStatus === "Further Maker's input required") and not dealSubmissionDate %}
      {% if facility.name %}
        <a href="/contract/{{ dealId }}/{{ facilityName }}/{{ facility._id}}/delete" class="govuk-link" data-cy="{{ facilityName }}-delete-{{ facility._id }}" aria-label="Delete {{ facilityName }} {{ facility.name }}">Delete {{ facility.name }}</a>
      {% else %}
        <a href="/contract/{{ dealId }}/{{ facilityName }}/{{ facility._id}}/delete" class="govuk-link" data-cy="{{ facilityName }}-delete-{{ facility._id }}" aria-label="Delete {{ facilityName }} {{ facilityTableIndex }}">Delete {{ facilityName }}</a>
      {% endif %}
  {% endif %}

{% endmacro %}
