{% macro render(params, loan) %}
  {% set dealId = params.deal._id %}
  {% if loan.name %}
    {% if params.editable %}
      <a href="/contract/{{ dealId }}/loan/{{ loan._id}}/guarantee-details" class="govuk-link" data-cy="loan-bank-reference-number-link-{{loan._id}}">{{ loan.name }}</a>
    {% else %}
      <span data-cy="loan-bank-reference-number-{{loan._id}}">
        {{ loan.name }}
      </span>
    {% endif %}
  {% else %}
    {% if params.editable %}
      <a href="/contract/{{ dealId }}/loan/{{ loan._id}}/guarantee-details" class="govuk-link" data-cy="loan-bank-reference-number-link-{{loan._id}}">Not entered</a>
    {% else %}
      <span data-cy="loan-bank-reference-number-{{loan._id}}">
        Not entered
      </span>
    {% endif %}
  {% endif %}

{% endmacro %}
