{% import '_macros/status-tag.njk' as statusTag %}
{% import './loan-link.njk' as loanLink %}

{# TODO: component tests #}

{% macro render(params) %}
  {% if params.deal.loanTransactions.items %}
    <div class="govuk-grid-column-full">
      {% set loans = params.deal.loanTransactions.items %}
      {% set dealId = params.deal._id %}
      {% set dealStatus = params.deal.details.status %}
      {% set dealSubmissionType = params.deal.details.submissionType %}
      {% set userIsMaker = params.user.roles.includes('maker')%}

      <table class="govuk-table contract-table contract-transactions-table govuk-!-margin-bottom-0">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-font-size-14">Bank reference number</th>
            <th scope="col" class="govuk-table__header govuk-!-font-size-14">UKEF facility ID</th>
            <th scope="col" class="govuk-table__header govuk-!-font-size-14">Status</th>
            <th scope="col" class="govuk-table__header govuk-!-font-size-14">Value</th>
            <th scope="col" class="govuk-table__header govuk-!-font-size-14">Stage</th>
            <th scope="col" class="govuk-table__header govuk-!-font-size-14">Start date</th>
            <th scope="col" class="govuk-table__header govuk-!-font-size-14">End date</th>
            <th scope="col" class="govuk-table__header govuk-!-font-size-14">Action</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">

          {% for loan in loans %}
            <tr class="govuk-table__row" data-cy="loan-{{ loan._id }}">
              <td class="govuk-table__cell govuk-!-font-size-14">
                {{ loanLink.render(params, loan) }}
              </td>

              <td class="govuk-table__cell govuk-!-font-size-14">
                {{ loan.ukefFacilityID }}
              </td>

              <td class="govuk-table__cell govuk-!-font-size-14 contract-table--status-cell" data-cy="loan-status-{{ loan._id }}">
                {{ statusTag.render(loan.status) }}
              </td>

              <td class="govuk-table__cell govuk-!-font-size-14" data-cy="loan-facility-value">
                {{ loan.currency.id}} {{ loan.facilityValue }}
              </td>

              <td class="govuk-table__cell govuk-!-font-size-14" data-cy="loan-facility-stage">
                {{ loan.facilityStage }}
              </td>

              <td class="govuk-table__cell govuk-!-font-size-14" data-cy="loan-requested-cover-start-date">
                {% if loan.requestedCoverStartDate %}
                  {{ loan.requestedCoverStartDate | localiseTimestamp('DD/MM/YYYY', params.user.timezone) }}
                {% endif %}
              </td>

              <td class="govuk-table__cell govuk-!-font-size-14" data-cy="loan-cover-end-date">
                {% if loan['coverEndDate-day'] and loan['coverEndDate-month'] and loan['coverEndDate-year'] %}
                  {{ loan['coverEndDate-day'] }}/{{ loan['coverEndDate-month'] }}/{{ loan['coverEndDate-year'] }}
                {% endif %}
              </td>

              <td class="govuk-table__cell govuk-!-font-size-14">

                {% set canIssueFacility = userIsMaker and (dealSubmissionType === 'Automatic Inclusion Notice' or dealSubmissionType === 'Manual Inclusion Notice') and loan.facilityStage === 'Conditional' and not loan.issueFacilityDetailsProvided and not loan.issueFacilityDetailsSubmitted %}

                {% if dealStatus === "Acknowledged by UKEF" or dealStatus === "Ready for Checker's approval" %}

                  {% if canIssueFacility %}
                    <a href="/contract/{{ dealId }}/loan/{{ loan._id}}/issue-facility" class="govuk-link" data-cy="loan-issue-facility-{{ loan._id }}">Issue facility</a>
                  {% endif %}

                  {% if loan.issueFacilityDetailsProvided %}

                    {% if loan.issueFacilityDetailsSubmitted %}
                      <a href="/contract/{{ dealId }}/loan/{{ loan._id}}/preview" class="govuk-link" data-cy="loan-issue-facility-{{ loan._id }}">Facility issued</a>
                    {% else %}
                      <a href="/contract/{{ dealId }}/loan/{{ loan._id}}/issue-facility" class="govuk-link" data-cy="loan-issue-facility-{{ loan._id }}">Facility issued</a>
                    {% endif %}
                  {% endif %}

                  {% else %}
                  {% if params.editable %}
                    <a href="/contract/{{ dealId }}/loan/{{ loan._id}}/delete" class="govuk-link" data-cy="loan-delete" aria-label="Delete loan">Delete</a>
                  {% endif %}

                {% endif %}
              </td>
            </tr>

          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}

{% endmacro %}
