{% import '_macros/status-tag.njk' as statusTag %}
{% import './loan-link.njk' as loanLink %}
{% import './issue-or-delete-facility-link.njk' as issueOrDeleteFacilityLink %}
{% import './requested-start-date-link.njk' as requestedCoverStartDate %}

{# TODO: component tests #}

{% macro render(params) %}
  {% if params.deal.loanTransactions.items %}
    <div class="govuk-grid-column-full">
      {% set dealStatus = params.deal.details.status %}
      {% set dealPreviousStatus = params.deal.details.previousStatus %}
      {% set loans = params.deal.loanTransactions.items %}

      <table class="govuk-table contract-table contract-transactions-table govuk-!-margin-bottom-0" data-cy="loan-transactions-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-font-size-14">Bank reference number</th>
            <th scope="col" class="govuk-table__header govuk-!-font-size-14">UKEF facility ID</th>
            <th scope="col" class="govuk-table__header govuk-!-font-size-14">Status</th>
            <th scope="col" class="govuk-table__header govuk-!-font-size-14">Value</th>
            <th scope="col" class="govuk-table__header govuk-!-font-size-14">Stage</th>
            <th scope="col" class="govuk-table__header govuk-!-font-size-14">Start date</th>
            <th scope="col" class="govuk-table__header govuk-!-font-size-14">End date</th>
            <th scope="col" class="govuk-table__header govuk-!-font-size-14">Action</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">

          {% for loan in loans %}
            <tr class="govuk-table__row" data-cy="loan-{{ loan._id }}">
              <td class="govuk-table__cell govuk-!-font-size-14">
                {{ loanLink.render(params, loan) }}
              </td>

              <td class="govuk-table__cell govuk-!-font-size-14">
                {{ loan.ukefFacilityID }}
              </td>

              <td class="govuk-table__cell govuk-!-font-size-14 contract-table--status-cell" data-cy="loan-status-{{ loan._id }}">
                {{ statusTag.render(loan.status) }}
              </td>

              <td class="govuk-table__cell govuk-!-font-size-14" data-cy="loan-facility-value">
                {{ loan.currency.id}} {{ loan.facilityValue }}
              </td>

              <td class="govuk-table__cell govuk-!-font-size-14" data-cy="loan-facility-stage-{{ loan._id }}">{{ loan.facilityStage }}</td>

              <td class="govuk-table__cell govuk-!-font-size-14" data-cy="loan-requested-cover-start-date">
                {% if loan.requestedCoverStartDate %}
                  {{ loan.requestedCoverStartDate | localiseTimestamp('DD/MM/YYYY', params.user.timezone) }}
                {% endif %}
              </td>

              <td class="govuk-table__cell govuk-!-font-size-14" data-cy="loan-cover-end-date">
                {% if loan['coverEndDate-day'] and loan['coverEndDate-month'] and loan['coverEndDate-year'] %}
                  {{ loan['coverEndDate-day'] }}/{{ loan['coverEndDate-month'] }}/{{ loan['coverEndDate-year'] }}
                {% endif %}
              </td>

              <td class="govuk-table__cell govuk-!-font-size-14">

                {% set dealStatusAllowsRequestedCoverDateChange = dealStatus === "Acknowledged by UKEF" or dealStatus === "Accepted by UKEF (with conditions)" or dealStatus === "Accepted by UKEF (without conditions)" or dealStatus === "Ready for Checker's approval" or dealStatus === "Further Maker's input required" and dealPreviousStatus !== "Draft" %}
                {% set hasConfirmedCoverStartDate = params.confirmedRequestedCoverStartDates.includes(loan._id) %}

                {% set componentData = {user: params.user, deal: params.deal, editable: params.editable, facility: loan, facilityName: 'loan', hasConfirmedCoverStartDate: hasConfirmedCoverStartDate} %}

                {% set userIsMaker = params.user.roles.includes('maker')%}
                {% set dealSubmissionType = params.deal.details.submissionType %}
                {% set requestedCoverDateCanEdit = userIsMaker and dealStatusAllowsRequestedCoverDateChange and dealSubmissionType === 'Manual Inclusion Application' and loan.facilityStage === 'Unconditional' %}

                {% if requestedCoverDateCanEdit %}
                  {{ requestedCoverStartDate.render(componentData) }}

                  {% else %}
                  {{ issueOrDeleteFacilityLink.render(componentData) }}
                {% endif %}
              </td>
            </tr>

          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
{% endmacro %}
