{% macro render(params) %}

  {% set dealId = params.deal._id %}
  {% set dealStatus = params.deal.details.status %}
  {% set dealSubmissionType = params.deal.details.submissionType %}
  {% set dealPreviousStatus = params.deal.details.previousStatus %}

  {% set facility = params.facility %}
  {% set facilityName = params.facilityName %}

   <a href="/contract/{{ dealId }}/{{ facilityName }}/{{ facility._id}}/confirm-requested-cover-start-date" class="govuk-link" data-cy="{{ facilityName }}-change-or-cover-start-date-{{ facility._id }}">
      {% if params.hasConfirmedCoverStartDate %} 
         Start date confirmed
      {% else %}
         Confirm start date
      {% endif %}
   </a>

{% endmacro %}
