{% extends "index.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% import './_macros/loan-nav.njk' as loanNav %}
{% import './_macros/loan-submission-details.njk' as submissionDetails %}

{% block pageTitle %}Loan Preview{% endblock %}

{% block content %}

  {% if validationErrors.count %}
    {{
      govukErrorSummary({
        titleText: "There is a problem",
        errorList: validationErrors.summary
      })
    }}
  {% endif %}

  {{ loanNav.render(
    completedForms = completedForms,
    current = 'loanPreview',
    contractId = dealId,
    childId = loan._id,
    loanStatus = loan.status
  )}}

  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8" />

  {% include "_partials/print-button.njk" %}

  {{ submissionDetails.render(loan, user)}}

  <p class="govuk-body"><a class="govuk-link" href="/contract/{{ dealId }}" data-cy="save-go-back-button">Save and go back to deal</a></p>

{% endblock %}
