{% extends "index.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% import '_macros/loan-nav.njk' as loanNav %}
{% import '_macros/date-fields.njk' as dateFields %}

{% block content %}

  {% set showAdditionalFieldsByDefault = loan.currencySameAsSupplyContractCurrency === "false" %}

  <script type="text/javascript">
    function showAdditionalFields(bool) {
      var additionalFormFields = document.getElementById('additional-form-fields');
      if (bool) {
        additionalFormFields.className = '';
      } else {
        additionalFormFields.className = 'govuk-visually-hidden';
      }
    }
  </script>

  {{ loanNav.nav(
    completedStatus = loan.completedStatus,
    current = 'loanFinancialDetails',
    contractId = dealId,
    childId = loan._id
  )}}

  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8" />

  <form method="POST" autocomplete="off">

    {# TODO: pattern validations #}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        {{ govukInput({
          label: {
            text: "Loan facility value"
          },
          id: "loanFacilityValue",
          name: "loanFacilityValue",
          value: loan.loanFacilityValue,
          classes: "input--numeric-float",
          pattern: "[0-9][0-9,]{0,20}(\.?\d{0,2}|\d\.?\d{0,1}|\d{2}\.?)",
          attributes: {
            size: "60",
            maxlength: "255",
            step: "0.25",
            placeholder: "0.00",
            'data-cy': 'loan-value'
          }
        }) }}
      </div>
    </div>

    {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "currencySameAsSupplyContractCurrency",
        name: "currencySameAsSupplyContractCurrency",
        fieldset: {
          legend: {
            text: "Is the currency of this loan the same as your Supply Contract currency?"
          }
        },
        items: [
          {
            value: "true",
            text: "Yes",
            checked: loan.currencySameAsSupplyContractCurrency === "true",
            attributes: {
              'data-cy': 'currency-same-as-supply-contract-currency-yes',
              onClick: "showAdditionalFields(false)"
            }
          },
          {
            value: "false",
            text: "No",
            checked: loan.currencySameAsSupplyContractCurrency === "false",
            attributes: {
              'data-cy': 'currency-same-as-supply-contract-currency-no',
              onClick: "showAdditionalFields(true)"
            }
          }
        ]
      }) }}

    <div
      id="additional-form-fields"
      {% if showAdditionalFieldsByDefault === false %}
      class="govuk-visually-hidden"
      {% endif %}
    >

      {{ govukSelect({
        id: "currency",
        name: "currency",
        label: {
          text: "Currency"
        },
        attributes: {
          'data-cy': 'currency'
        },
        items: currencies
      }) }}

      <div class="govuk-form-group">
        <label class="govuk-label" for="conversionRate">
          Conversion rate to the Supply Contract currency 
        </label>

        <span id="conversion-rate-hint" class="govuk-hint">
          E.g. EUR to USD (100 EUR/ 0.91 = 109.89 USD)
        </span>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <input class="govuk-input" id="conversionRate" name="conversionRate" type="text" size="60" maxlength="@55" pattern="[0-9]{0,6}(\.\d{0,6}|\.?)" aria-describedby="conversion-rate-hint" value="{{ loan.conversionRate }}" data-cy="conversion-rate">
          </div>
        </div>
      </div>

      <div class="govuk-form-group">
        {{ dateFields.inputs(
          legend = 'Conversion rate date',
          id = 'conversionRateDate',
          hint = 'For example, 27 11 2019',
          dayValue = loan['conversionRateDate-day'],
          monthValue = loan['conversionRateDate-month'],
          yearValue = loan['conversionRateDate-year']
        )}}
      </div>

    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="interestMargin">
        Interest Margin %
      </label>

      <span id="interest-margin-hint" class="govuk-hint">
        The ongoing fee charged by the bank to the Supplier for the provision of the loan to the beneficiary. This excludes any arrangement, issuance or other up-front fees.
      </span>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <input class="govuk-input" id="interestMargin" name="interestMargin" type="number" step="any" min="0" max="99" aria-describedby="interest-margin-hint" value="{{ loan.interestMargin }}" data-cy="interest-margin">
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="coveredPercentage">
        Covered Percentage
      </label>

      <span id="covered-percentage-hint" class="govuk-hint">
        Percentage of UKEF cover requested by the bank. This can be any value up to 80%.
      </span>


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <input class="govuk-input" id="coveredPercentage" name="coveredPercentage" type="number" step="any" min="0" max="80" aria-describedby="covered-percentage-hint" value="{{ loan.coveredPercentage }}" data-cy="covered-percentage">
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="minimumQuarterlyFee">
        Minimum quarterly fee (optional)
      </label>

      <span id="minimum-quarterly-fee-hint" class="govuk-hint">
        The minimum fee payable in the currency of the loan, if any, by the supplier.
      </span>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <input class="govuk-input input--numeric-float" id="minimumQuarterlyFee" name="minimumQuarterlyFee" type="text" size="60" maxlength="255" pattern="[0-9][0-9,]{0,20}(\.?\d{0,2}|\d\.?\d{0,1}|\d{2}\.?)" aria-describedby="minimum-quarterly-fee-hint" placeholder="0.00" value="{{ loan.minimumQuarterlyFee }}" data-cy="minimum-quarterly-fee">
        </div>
      </div>

    </div>

    <div class="govuk-form-group form-group-disabled">
      <label class="govuk-label" for="guaranteeFeePayableByBank">
        Guarantee fee payable by bank
      </label>

      <span id="guarantee-fee-payable-by-bank-hint" class="govuk-hint">
        The fee to be paid by the bank to UKEF, which represents the Risk Margin Fee multiplied by the Covered Percentage, minus the 10% retained by the bank as an administrative fee. It is a calculated field. No input is required.
      </span>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <input class="govuk-input form-group-disabled--input" id="guaranteeFeePayableByBank" name="guaranteeFeePayableByBank" type="number" step="0.0001" min="0" max="100" aria-describedby="guarantee-fee-payable-by-bank-hint" placeholder="0" disabled value="{{ loan.guaranteeFeePayableByBank }}" data-cy="guarantee-fee-payable-by-bank">
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="govuk-form-group form-group-disabled">
      <label class="govuk-label" for="ukefExposure">
        UKEF exposure
      </label>

      <span id="ukef-exposure-hint" class="govuk-hint">
        The amount of UKEF's exposure for this Transaction in the loan currency. It is the loan value multiplied by the Covered Percentage. It is a calculated field. No input is required.
      </span>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <input class="govuk-input form-group-disabled--input input__text-align-right" id="ukefExposure" name="ukefExposure" type="number" size="60" maxlength="255" aria-describedby="ukef-exposure-hint" placeholder="0.00" disabled value="{{ loan.ukefExposure }}" data-cy="ukef-exposure">
        </div>
      </div>
    </div>


    <button type="submit" class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Next page</button>

    <input
      type="submit"
      formaction="/contract/{{ dealId }}/loan/{{ loan._id }}/save-go-back"
      class="govuk-button govuk-button--secondary"
      data-module="govuk-button"
      value="Save and go back to deal"
      data-cy="save-go-back-button"
    />

  </form>

{% endblock %}
