{% extends "index.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% import '_macros/date-field.njk' as dateField %}
{% import './_macros/bank-reference-number-field.njk' as bankReferenceNumberField %}

{% block pageTitle %}Loan Issue Facility{% endblock %}

{% block content %}

  {% if validationErrors.count %}
    {{
      govukErrorSummary({
        titleText: "There is a problem",
        errorList: validationErrors.summary
      })
    }}
  {% endif %}

  <h1 class="govuk-heading-l">Loan Issue Facility</h1>

  <form method="POST" autocomplete="off" novalidate>

    {{ dateField.render(
      legend = 'Issued Date',
      id = 'issuedDate',
      hint = 'For example, 31 05 2017',
      dayValue = loan['issuedDate-day'],
      monthValue = loan['issuedDate-month'],
      yearValue = loan['issuedDate-year'],
      error = validationErrors.errorList.issuedDate
    )}}

    {{ dateField.render(
      legend = 'Requested Cover Start Date (optional)',
      id = 'requestedCoverStartDate',
      hint = 'For example, 31 05 2017',
      dayValue = loan['requestedCoverStartDate-day'],
      monthValue = loan['requestedCoverStartDate-month'],
      yearValue = loan['requestedCoverStartDate-year'],
      error = validationErrors.errorList.requestedCoverStartDate
    )}}

    {{ dateField.render(
      legend = 'Cover End Date',
      id = 'coverEndDate',
      hint = 'For example, 31 05 2017',
      dayValue = loan['coverEndDate-day'],
      monthValue = loan['coverEndDate-month'],
      yearValue = loan['coverEndDate-year'],
      error = validationErrors.errorList.coverEndDate
    )}}

    {{ govukInput({
        label: {
          text: "Disbursement amount"
        },
        id: "disbursementAmount",
        name: "disbursementAmount",
        value: loan.disbursementAmount,
        pattern: '[0-9][0-9,]{0,20}(\.?\d{0,2}|\d\.?\d{0,1}|\d{2}\.?)',
        attributes: {
          size: "60",
          maxlength: "255",
          placeholder: "0.00",
          'data-cy': 'disbursement-amount',
          "data-mask": "currency"
        },
        classes: "govuk-input--width-10",
        errorMessage: validationErrors.errorList.disbursementAmount and {
          text: validationErrors.errorList.disbursementAmount.text,
          attributes: {
            'data-cy': 'disbursement-amount-error-message'
          }
        }
      }) }}


      {% if not loan.bankReferenceNumber %}
        {{bankReferenceNumberField.render(
          id = 'bankReferenceNumber',
          label = 'Bank reference number',
          value = loan.bankReferenceNumber,
          error = validationErrors.errorList.bankReferenceNumber
        )}}
      {% endif %}


      <button type="submit" class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" data-cy="submit-button">Next page</button>

      <p class="govuk-body"><a href="#" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">Cancel</a></p>

  </form>

{% endblock %}
