{% extends "index.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% import './_macros/loan-nav.njk' as loanNav %}
{% import '_macros/currency-same-as-supply-contract-currency.njk' as currencySameAsSupplyContractCurrency %}

{% block pageTitle %}Loan Financial Details{% endblock %}

{% block content %}

  {{ loanNav.render(
    completedForms = completedForms,
    current = 'loanFinancialDetails',
    contractId = dealId,
    childId = loan._id
  )}}

  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8" />

  <form method="POST" autocomplete="off" novalidate>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        {{ govukInput({
          label: {
            text: "Loan facility value"
          },
          id: "facilityValue",
          name: "facilityValue",
          value: loan.facilityValue,
          pattern: '[0-9][0-9,]{0,20}(\.?\d{0,2}|\d\.?\d{0,1}|\d{2}\.?)',
          attributes: {
            size: "60",
            maxlength: "255",
            placeholder: "0.00",
            'data-cy': 'facilty-value'
          },
          errorMessage: validationErrors.errorList.facilityValue and {
            text: validationErrors.errorList.facilityValue.text,
            attributes: {
              'data-cy': 'facility-value-error-message'
            }
          }
        }) }}
      </div>
    </div>

    {{ currencySameAsSupplyContractCurrency.render(
      facility = loan,
      radioFieldsetText = "Is the currency of this loan the same as your Supply Contract currency?",
      currencies = currencies,
      validationErrors = validationErrors
    )}}

    {{ govukInput({
      label: {
        text: "Interest Margin %"
      },
      hint: {
        text: "The ongoing fee charged by the bank to the Supplier for the provision of the loan to the beneficiary. This excludes any arrangement, issuance or other up-front fees."
      },
      classes: "govuk-input--width-5",
      id: "interestMargin",
      name: "interestMargin",
      value: loan.interestMargin,
      attributes: {
        'data-cy': 'interest-margin-fee'
      },
      errorMessage: validationErrors.errorList.interestMargin and {
        text: validationErrors.errorList.interestMargin.text,
        attributes: {
          'data-cy': 'interest-margin-fee-error-message'
        }
      }
    }) }}

    {{ govukInput({
      label: {
        text: "Covered Percentage"
      },
      hint: {
        text: "Percentage of UKEF cover requested by the bank. This can be any value up to 80%."
      },
      classes: "govuk-input--width-5",
      id: "coveredPercentage",
      name: "coveredPercentage",
      value: loan.coveredPercentage,
      attributes: {
        'data-cy': 'covered-percentage'
      },
      errorMessage: validationErrors.errorList.coveredPercentage and {
        text: validationErrors.errorList.coveredPercentage.text,
        attributes: {
          'data-cy': 'covered-percentage-error-message'
        }
      }
    }) }}

    {{ govukInput({
       inputmode: 'numeric',
        label: {
          text: "Minimum quarterly fee (optional)"
        },
        hint: {
          text: "The minimum fee payable in the currency of the loan, if any, by the supplier."
        },
        id: "minimumQuarterlyFee",
        name: "minimumQuarterlyFee",
        value: loan.minimumQuarterlyFee,
        classes: "govuk-input--width-5",
        attributes: {
          size: "60",
          maxlength: "255",
          placeholder: "0.00",
          'data-cy': 'minimum-risk-margin-fee'
        },
        errorMessage: validationErrors.errorList.minimumQuarterlyFee and {
          text: validationErrors.errorList.minimumQuarterlyFee.text,
          attributes: {
            'data-cy': 'minimum-risk-margin-fee-error-message'
          }
        }
      }) }}

    <div class="govuk-form-group form-group-disabled">
      <label class="govuk-label" for="guaranteeFeePayableByBank">
        Guarantee fee payable by bank
      </label>

      <span id="guarantee-fee-payable-by-bank-hint" class="govuk-hint">
        The fee to be paid by the bank to UKEF, which represents the Risk Margin Fee multiplied by the Covered Percentage, minus the 10% retained by the bank as an administrative fee. It is a calculated field. No input is required.
      </span>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <input class="govuk-input form-group-disabled--input" id="guaranteeFeePayableByBank" name="guaranteeFeePayableByBank" type="number" step="0.0001" min="0" max="100" aria-describedby="guarantee-fee-payable-by-bank-hint" placeholder="0" disabled value="{{ loan.guaranteeFeePayableByBank }}" data-cy="guarantee-fee-payable-by-bank">
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="govuk-form-group form-group-disabled">
      <label class="govuk-label" for="ukefExposure">
        UKEF exposure
      </label>

      <span id="ukef-exposure-hint" class="govuk-hint">
        The amount of UKEF's exposure for this Transaction in the loan currency. It is the loan value multiplied by the Covered Percentage. It is a calculated field. No input is required.
      </span>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <input class="govuk-input form-group-disabled--input" id="ukefExposure" name="ukefExposure" type="number" size="60" maxlength="255" aria-describedby="ukef-exposure-hint" placeholder="0.00" disabled value="{{ loan.ukefExposure }}" data-cy="ukef-exposure">
        </div>
      </div>
    </div>


    <button type="submit" class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" data-cy="submit-button">Next page</button>

    <input
      type="submit"
      formaction="/contract/{{ dealId }}/loan/{{ loan._id }}/save-go-back"
      class="govuk-button govuk-button--secondary"
      data-module="govuk-button"
      value="Save and go back to deal"
      data-cy="save-go-back-button"
    />

  </form>

{% endblock %}
