{% extends "index.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% import 'contract/components/task-list-header.njk' as taskListHeader %}
{% import './_macros/premium-frequency-radios.njk' as premiumFrequencyRadios %}
{% import '../_macros/facility-inputs/day-count-radios.njk' as dayCountRadios %}

{% block pageTitle %}Loan Dates and Repayments{% endblock %}

{% block content %}

  {% if validationErrors.count %}
    {{
      govukErrorSummary({
        titleText: "There is a problem",
        errorList: validationErrors.summary
      })
    }}
  {% endif %}

  {{ taskListHeader.render({
    title: 'Add dates and repayments',
    dealId: dealId,
    entityName: 'loan',
    entityId: loan._id,
    items: taskListItems
  })}}

  <form method="POST" autocomplete="off">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    <input type="hidden" name="premiumFrequency" value="{{ loan.premiumFrequency }}" />

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-three-quarters">

        {{ govukRadios({
          idPrefix: "premiumType",
          name: "premiumType",
          fieldset: {
            legend: {
              text: "Premium type"
            }
          },
          items: [
            {
              value: "In advance",
              text: "In advance",
              checked: loan.premiumType === "In advance",
              conditional: {
                html: premiumFrequencyRadios.render(
                  'inAdvance',
                  'in-advance',
                  loan.premiumFrequency,
                  validationErrors.errorList.premiumFrequency
                )
              },
              attributes: {
                'data-cy': 'premium-type-in-advance'
              }
            },
            {
              value: "In arrear",
              text: "In arrear",
              checked: loan.premiumType === "In arrear",
              conditional: {
                html: premiumFrequencyRadios.render(
                  'inArrear',
                  'in-arrear',
                  loan.premiumFrequency,
                  validationErrors.errorList.premiumFrequency
                )
              },
              attributes: {
                'data-cy': 'premium-type-in-arrear'
              }
            },
            {
              value: "At maturity",
              text: "At maturity",
              checked: loan.premiumType === "At maturity",
              attributes: {
                'data-cy': 'premium-type-at-maturity'
              }
            }
          ],
          errorMessage: validationErrors.errorList.premiumType and {
            text: validationErrors.errorList.premiumType.text,
            attributes: {
              "data-cy": "premium-type-error-message"
            }
          }
        }) }}

        {{dayCountRadios.render(
          checkedValue = loan.dayCountBasis,
          errorObj = validationErrors.errorList.dayCountBasis
        )}}

      </div>

    </div>

    <button type="submit" class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" data-cy="submit-button">Preview</button>

    <input
      type="submit"
      formaction="/contract/{{ dealId }}/loan/{{ loan._id }}/save-go-back"
      class="govuk-button govuk-button--secondary"
      data-module="govuk-button"
      value="Save and go back to deal"
      data-cy="save-go-back-button"
    />

  </form>

{% endblock %}
