{% extends "index.njk" %}
{% import '_macros/issue-facility.njk' as issueFacility %}

{% block pageTitle %}Loan Issue Facility{% endblock %}

{% block content %}

  {{ issueFacility.render(
    dealId = dealId
  ) }}

{% endblock %}
