{% extends "index.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% import './_macros/loan-nav.njk' as loanNav %}
{% import '_macros/currency-same-as-supply-contract-currency.njk' as currencySameAsSupplyContractCurrency %}
{% import '_macros/facility-inputs/covered-percentage.njk' as coveredPercentage %}
{% import '_macros/facility-inputs/guarantee-fee-payable-by-bank.njk' as guaranteeFeePayableByBank %}
{% import '_macros/facility-inputs/ukef-exposure.njk' as ukefExposure %}

{% block pageTitle %}Loan Financial Details{% endblock %}

{% block content %}

  {{ loanNav.render(
    completedForms = completedForms,
    current = 'loanFinancialDetails',
    contractId = dealId,
    childId = loan._id
  )}}

  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8" />

  <form method="POST" autocomplete="off" novalidate>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        {{ govukInput({
          label: {
            text: "Loan facility value"
          },
          id: "facilityValue",
          name: "facilityValue",
          value: loan.facilityValue,
          pattern: '[0-9][0-9,]{0,20}(\.?\d{0,2}|\d\.?\d{0,1}|\d{2}\.?)',
          attributes: {
            size: "60",
            maxlength: "255",
            placeholder: "0.00",
            'data-cy': 'facilty-value'
          },
          errorMessage: validationErrors.errorList.facilityValue and {
            text: validationErrors.errorList.facilityValue.text,
            attributes: {
              'data-cy': 'facility-value-error-message'
            }
          }
        }) }}
      </div>
    </div>

    {{ currencySameAsSupplyContractCurrency.render(
      facility = loan,
      radioFieldsetText = "Is the currency of this loan the same as your Supply Contract currency?",
      currencies = currencies,
      validationErrors = validationErrors
    )}}

    {{ govukInput({
      label: {
        text: "Interest Margin %"
      },
      hint: {
        text: "The ongoing fee charged by the bank to the Supplier for the provision of the loan to the beneficiary. This excludes any arrangement, issuance or other up-front fees."
      },
      classes: "govuk-input--width-5",
      id: "interestMarginFee",
      name: "interestMarginFee",
      value: loan.interestMarginFee,
      attributes: {
        'data-cy': 'interest-margin-fee'
      },
      errorMessage: validationErrors.errorList.interestMarginFee and {
        text: validationErrors.errorList.interestMarginFee.text,
        attributes: {
          'data-cy': 'interest-margin-fee-error-message'
        }
      }
    }) }}

    {{ coveredPercentage.render(
      value = loan.coveredPercentage,
      validationError = validationErrors.errorList.coveredPercentage
    )}}

    {{ govukInput({
       inputmode: 'numeric',
        label: {
          text: "Minimum quarterly fee (optional)"
        },
        hint: {
          text: "The minimum fee payable in the currency of the loan, if any, by the supplier."
        },
        id: "minimumQuarterlyFee",
        name: "minimumQuarterlyFee",
        value: loan.minimumQuarterlyFee,
        classes: "govuk-input--width-5",
        attributes: {
          size: "60",
          maxlength: "255",
          placeholder: "0.00",
          'data-cy': 'minimum-risk-margin-fee'
        },
        errorMessage: validationErrors.errorList.minimumQuarterlyFee and {
          text: validationErrors.errorList.minimumQuarterlyFee.text,
          attributes: {
            'data-cy': 'minimum-risk-margin-fee-error-message'
          }
        }
      }) }}

    {{ guaranteeFeePayableByBank.render(
      value = loan.guaranteeFeePayableByBank,
      hintText = "The fee to be paid by the bank to UKEF, which represents the Interest Margin multiplied by the Covered Percentage, minus the 10% retained by the bank as an administrative fee. It is a calculated field. No input is required."
    )}}

    {{ ukefExposure.render(
      value = loan.ukefExposure,
      hintText = "The amount of UKEF's exposure for this Transaction in the loan currency. It is the loan value multiplied by the Covered Percentage. It is a calculated field. No input is required."
    )}}

    <button type="submit" class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" data-cy="submit-button">Next page</button>

    <input
      type="submit"
      formaction="/contract/{{ dealId }}/loan/{{ loan._id }}/save-go-back"
      class="govuk-button govuk-button--secondary"
      data-module="govuk-button"
      value="Save and go back to deal"
      data-cy="save-go-back-button"
    />

  </form>

{% endblock %}
