{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% import "./_macros/access-code-attempts.njk" as accessCodeAttempts %}

{% extends "index.njk" %}

{% block pageTitle %}
  {% if validationErrors %}Error: {% endif %}Check your email
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      {% if validationErrors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: validationErrors.signInOTP.text,
              href: "#signInOTP"
            }
          ] if validationErrors.signInOTP,
          attributes: {
            "data-cy": "error-summary"
          }
        }) }}
      {% endif %}

      <h1 class="govuk-heading-l" data-cy="check-your-email-heading">Check your email</h1>

      <p class="govuk-body govuk-!-margin-bottom-6" data-cy="check-your-email-description">
        We have sent you a 6-digit access code to your email {{ email }}.
      </p>

      <form method="POST" action="/login/check-your-email-access-code" autocomplete="off">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
 
        {{ govukInput({
          label: {
            text: "Enter access code:"
          },
          id: "signInOTP",
          classes: "govuk-input--width-10",
          name: "signInOTP",
          value: signInOTP,
          spellcheck: false,
          attributes: {
            "data-cy": "six-digit-access-code-input",
            "placeholder": "e.g. 123456"
          },
          errorMessage: (validationErrors and validationErrors.signInOTP) and {
            text: validationErrors.signInOTP.text,
            attributes: {
                'data-cy': 'six-digit-access-code-inline-error'
            }
          } or (errors and errors.fieldErrors.signInOTP) and {
            text: errors.fieldErrors.signInOTP.text,
            attributes: {
                'data-cy': 'six-digit-access-code-inline-error'
            }
          }
        }) }}

        <p class="govuk-body" data-cy="access-code-expiry-info">
          This code will expire after 30 minutes.
        </p>

        {{ accessCodeAttempts.render({
          isSupportInfo: false,
          attemptsLeft: attemptsLeft,
          requestNewCodeUrl: requestNewCodeUrl,
          isAccessCodeLink: true
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
