{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% import "./_macros/access-code-attempts.njk" as renderAccessCodeAttempts %}

{% extends "index.njk" %}

{% block pageTitle %}
  New access code
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l" data-cy="new-access-code-email-sent-heading">
        New access code sent
      </h1>

      <p class="govuk-body" data-cy="new-access-code-email-sent-description">
        We've sent you a 6-digit access code to your email {{ email }}.
      </p>

      <form method="POST" autocomplete="off">
        <div class="govuk-form-group govuk-!-width-one-third">
          {{ govukInput({
            label: {
              text: "Enter access code:"
            },
            id: "accessCode",
            name: "accessCode",
            spellcheck: false,
            type: "text",
            autocomplete: "off",
            attributes: {
              "placeholder": "e.g. 123A5C"
            }
          }) }}
        </div>

        <p class="govuk-body" data-cy="new-access-code-email-sent-expiry-info">
          We've sent you a new email with a different access code to sign in. This code will expire after 30 minutes.
        </p>

        {{ renderAccessCodeAttempts.render({
          isSupportInfo: false,
          attemptsLeft: attemptsRemaining,
          requestNewCodeUrl: requestNewCodeUrl,
          isAccessCodeLink: true
        }) }}
      </form>
     
    </div>
  </div>

  <h2 class="govuk-heading-m">Contact us</h2>
  {% include "_partials/contact.njk" %}
{% endblock %}
