{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% import "./_macros/access-code-attempts.njk" as renderAccessCodeAttempts %}

{% extends "index.njk" %}

{% block pageTitle %}
  New access code
{% endblock %}

{% block content %}
{% if errors %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors.errorSummary,
      attributes: {
        'data-cy': 'error-summary'
      }
    }) }}
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l" data-cy="new-access-code-email-sent-heading">
        New access code sent
      </h1>

      <p class="govuk-body" data-cy="new-access-code-email-sent-description">
        We've sent you a 6-digit access code to your email {{ email }}.
      </p>

      <form method="POST" autocomplete="off">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        <div class="govuk-form-group">
          {{ govukInput({
            label: {
              text: "Enter access code:"
            },
            classes: "govuk-!-width-one-third",
            id: "signInOTP",
            name: "signInOTP",
            spellcheck: false,
            type: "text",
            autocomplete: "off",
            attributes: {
              "placeholder": "e.g. 123A5C",
              "data-cy": "access-code-input"
            },
            errorMessage: errors and errors.fieldErrors.signInOTP and {
              text: errors.fieldErrors.signInOTP.text,
              attributes: {
                  'data-cy': 'access-code-inline-error'
              }
            }
          }) }}
        </div>

        <p class="govuk-body" data-cy="new-access-code-email-sent-expiry-info">
          We've sent you a new email with a different access code to sign in. This code will expire after 30 minutes.
        </p>

        {{ renderAccessCodeAttempts.render({
          isSupportInfo: false,
          attemptsLeft: attemptsRemaining,
          requestNewCodeUrl: '/login/request-new-code',
          isAccessCodeLink: true
        }) }}
      </form>
     
    </div>
  </div>

  <h2 class="govuk-heading-m">Contact us</h2>
  {% include "_partials/contact.njk" %}
{% endblock %}
