{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% import "./_macros/access-code-attempts.njk" as renderAccessCodeAttempts %}

{% extends "index.njk" %}

{% block pageTitle %}
  Resend access code
{% endblock %}

{% block content %}
  {% if validationErrors %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: validationErrors.sixDigitAccessCode.text,
          href: "#sixDigitAccessCode"
        }
      ] if validationErrors.sixDigitAccessCode,
      attributes: {
        "data-cy": "error-summary"
      }
    }) }}
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-l" data-cy="resend-another-access-code-email-sent-heading">
        We've sent you another access code
      </h1>

      <p class="govuk-body" data-cy="resend-another-access-code-email-sent-description">
        We've sent you another email with a access code to {{ email }}
      </p>

      <form method="POST" autocomplete="off">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" data-cy="csrf-input">
        <div class="govuk-form-group govuk-!-width-one-third">
          {{ govukInput({
            label: {
              text: "Enter access code:"
            },
            id: "sixDigitAccessCode",
            name: "sixDigitAccessCode",
            spellcheck: false,
            type: "text",
            autocomplete: "off",
            attributes: {
              "data-cy": "six-digit-access-code-input",
              "placeholder": "e.g. 123456"
            },
            errorMessage: accessCodeError and {
              text: accessCodeError.text,
              attributes: {
                  'data-cy': 'six-digit-access-code-inline-error'
              }
            }
          }) }}
        </div>

        <p class="govuk-body" data-cy="resend-another-access-code-email-sent-expiry-info">
          This code will expire after 30 minutes. Any previous access codes we have sent will no longer be valid.
        </p>

        {{ renderAccessCodeAttempts.render({
          isSupportInfo:  isSupportInfo,
          attemptsLeft: attemptsLeft,
          requestNewCodeUrl: requestNewCodeUrl,
          isAccessCodeLink: isAccessCodeLink
        }) }}
      </form>
     
    </div>
  </div>

  <h2 class="govuk-heading-m">Contact us</h2>
  {% include "_partials/contact.njk" %}
{% endblock %}
