{% from "govuk/components/tag/macro.njk" import govukTag %}
{% import './status-tag.njk' as statusTag %}

{% macro render(params) %}
  {% set decision = params.decision %}
  {% set user = params.user %}
 
  <div class="govuk-grid-row" data-cy="managers-decision-submitted">
      <div class="govuk-grid-column-full">

      <h4 class="govuk-heading-l separator-line govuk-!-padding-top-6 govuk-!-margin-bottom-2" data-cy="managers-decision-subheading">Decision</h4>

      <div class="govuk-!-padding-bottom-7">
        {{statusTag.render({
          decision: decision.decision
        })}}
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h4 class="govuk-heading-s govuk-body-s govuk-!-font-weight-bold" data-cy="decision-made-by-heading">Decision made by</h4>
        </div>

        <div class="govuk-grid-column-three-quarters">
          <p class="govuk-body-s" data-cy="decision-made-by-value">{{ decision.userFullName }}</p>
        </div>
      </div>

      <div class="govuk-grid-row govuk-!-padding-bottom-4">
        <div class="govuk-grid-column-one-quarter">
          <h4 class="govuk-heading-s govuk-body-s govuk-!-font-weight-bold" data-cy="date-time-heading">Date and time</h4>
        </div>

        <div class="govuk-grid-column-three-quarters">
          <p class="govuk-body-s" data-cy="date-time-value">{{ decision.timestamp | localiseTimestamp('DD MMMM YYYY', user.timezone) }} at {{ decision.timestamp | localiseTimestamp('HH:mm', user.timezone) }}</p>
        </div>
      </div>

      {% if decision.comments %}
        <div class="govuk-grid-row govuk-!-padding-bottom-4">
          <div class="govuk-grid-column-full">
            
            {% if decision.decision === 'Declined' %}
              {% set commentsHeadingText = 'Reasons' %}
            {% else %}
              {% set commentsHeadingText = 'Conditions' %}
            {% endif %}

            <h4 class="govuk-heading-m govuk-!-font-weight-bold" data-cy="comments-heading">{{commentsHeadingText }} </h4>

            <p class="ukef-preserve-white-space" data-cy="conditions-value">{{ decision.comments | safe }}</p>

          </div>
        </div>
      {% endif %}

      {% if decision.internalComments %}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

            <h4 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-1" data-cy="internal-comments-heading">Comments</h4>
            <p class="ukef-heading-grey govuk-!-margin-top-0">Only UKEF staff will see this.</p>
            <p class="ukef-preserve-white-space" data-cy="internal-comments-value">{{ decision.internalComments | safe }}<p>

          </div>
        </div>
      {% endif %}

    </div>

  </div>

{% endmacro %}
