.case-summary {
    background-color:#1D70B8; 
    color: white; 
    padding:10px; 
    font-family: Helvetica;
    font-size: 16px;
}
.case-summary td:nth-child(2n+1) {  
  font-weight: bold;
}

govuk-grid-column-full {  
  width: 1440px;
}
.dot {
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.tfm {
  font-family: Helvetica, sans-serif;
}