{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro render(params) %}
  {% set tasks = params.tasks %}
  {% set selectedTaskFilter = params.selectedTaskFilter %}

  <section id="task-filters" data-cy="task-filters">

    <form method="post" autocomplete="off">

      {{govukRadios({
        classes: "govuk-radios--inline govuk-radios--small task-filters__radios",
        idPrefix: "filterType",
        name: "filterType",
        fieldset: {
          legend: {
            text: "Filter tasks for this deal",
            classes: "govuk-visually-hidden"
          }
        },
        items: [
          {
            value: "user",
            text: "Your tasks",
            checked: selectedTaskFilter === 'user',
            attributes: {
              'data-cy': 'task-radio-button-your-tasks',
              'onChange': 'this.form.submit()'
            }
          },
          {
            value: "team",
            text: "Your team’s tasks",
            checked: selectedTaskFilter === 'team',
            attributes: {
              'data-cy': 'task-radio-button-your-team',
              'onChange': 'this.form.submit()'
            }
          },
          {
            value: "all",
            text: "All tasks",
            checked: selectedTaskFilter === 'all',
            attributes: {
              'data-cy': 'task-radio-button-all',
              'onChange': 'this.form.submit()'
            }
          }
        ]
      })}}

      {{ govukButton({
        text: 'Filter results',
        classes: 'js-hidden',
        attributes: {
          'data-cy': 'submit-button'
        }
      }) }}

    </form>

  </section>

{% endmacro %}
