{% from "govuk/components/details/macro.njk" import govukDetails %}
{% import './_macros/eligibility-criteria-answers.njk' as eligibilityCriteriaAnswers %}
{% import './_macros/facilities-table.njk' as facilitiesTable %}

{% extends "case/case.njk" %}

{% block sub_content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <p class="header-label">Deal</p>
    </div>
  </div>
  <div class="govuk-grid-row" data-cy="deal-bank-details">

    <div class="govuk-grid-column-full separator-line deal">
      <p class="ukef-heading-l" style="padding-top:30px">Bank application or notice</p>
      <div class="govuk-grid-row govuk-!-margin-0 govuk-!-padding-top-6">
        <div class="govuk-grid-column-one-fifth govuk-!-padding-bottom-4 govuk-!-padding-left-0">
          <div class="ukef-heading-xs">Bank</div>
          <div class="ukef-body-s" data-cy="deal-bank">{{ deal.details.owningBank.name | dashIfEmpty }}</div>
        </div>
        <div class="govuk-grid-column-one-fifth govuk-!-padding-bottom-4 govuk-!-padding-left-0">
          <div class="ukef-heading-xs">Contact name</div>
          <div class="ukef-body-s" data-cy="contact-name">
            {{ deal.details.maker.firstname }} {{ deal.details.maker.surname | dashIfEmpty }}</div>
        </div>
        <div class="govuk-grid-column-one-fifth govuk-!-padding-bottom-4 govuk-!-padding-left-0">
          <div class="ukef-heading-xs">Telephone</div>
          <div class="ukef-body-s"></div>
        </div>
        <div class="govuk-grid-column-one-fifth govuk-!-padding-bottom-4 govuk-!-padding-left-0">
          <div class="ukef-heading-xs">Email</div>
          <div class="ukef-body-s" data-cy="email">{{ deal.details.maker.email | dashIfEmpty }}</div>
        </div>
      </div>
      <div class="govuk-grid-row govuk-!-margin-0 govuk-!-padding-top-6">
        <div class="govuk-grid-column-one-fifth govuk-!-padding-bottom-4 govuk-!-padding-left-0">
          <div class="ukef-heading-xs">MGA version</div>
          <div class="ukef-body-s" data-cy="mga-version">January 2020</div>
        </div>
        <div class="govuk-grid-column-one-fifth govuk-!-padding-bottom-4 govuk-!-padding-left-0">
          <div class="ukef-heading-xs">Bank reference</div>
          <div class="ukef-body-s" data-cy="bank-reference">{{ deal.details.bankSupplyContractID | dashIfEmpty }}</div>
        </div>
        <div class="govuk-grid-column-one-fifth govuk-!-padding-bottom-4 govuk-!-padding-left-0">
          <div class="ukef-heading-xs">Bank's additional reference</div>
          <div class="ukef-body-s" data-cy="bank-additional-reference">{{ deal.details.bankSupplyContractName | dashIfEmpty }}</div>
        </div>
      </div>

      {% set componentData = {
        eligibilityCriteria: deal.eligibilityCriteria
      } %}

      {{ govukDetails({
        summaryText: "Eligibility criteria",
        html: eligibilityCriteriaAnswers.render(componentData)
      }) }}
    </div>
  </div>

  <div class="govuk-grid-row" data-cy="deal-facilities">
    <div class="govuk-grid-column-full separator-line deal">
      <p class="ukef-heading-l" style="padding-top:30px">Facilities</p>

      {% set componentData = {
        facilities: deal.facilities,
        totals: deal.totals,
        caseId: deal._id
      } %}

      {{ facilitiesTable.render(componentData) }}

    </div>
  </div>
{% endblock %}
