{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% import './_macros/eligibility-criteria-answers.njk' as eligibilityCriteriaAnswers %}
{% import './_macros/facilities-table.njk' as facilitiesTable %}

{% extends "case/case.njk" %}

{% block sub_content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <p class="header-label" data-cy="page-title">Deal</p>
    </div>
  </div>

  <div class="govuk-grid-row" data-cy="deal-facilities">
    <div class="govuk-grid-column-full separator-line deal">
      <p class="ukef-heading-l" style="padding-top:30px">Facilities</p>

        {% if deal.dealType == 'GEF' %}
          {% if deal.isFinanceIncreasing %}
              {{ govukWarningText({
                  text: "The bank's financing to this exporter is increasing with this deal",
                  iconFallbackText: "Warning",
                  classes: 'ukef-warning',
                  attributes: { 'data-cy': 'finance-increasing' }
              }) }}
          {% else %}
              {{ govukWarningText({
                  text: "The bank's financing to this exporter is not increasing with this deal",
                  iconFallbackText: "Warning",
                  classes: 'ukef-warning',
                  attributes: { 'data-cy': 'finance-increasing' }
              }) }}
          {% endif %}
        {% endif %}

      {% set componentData = {
        facilities: deal.facilities,
        totals: deal.totals,
        caseId: deal._id
      } %}

      {{ facilitiesTable.render(componentData) }}

    </div>
  </div>

  {% if deal.supportingInformation.securityDetails.exporter %}
    <div class="govuk-grid-row" data-cy="deal-bank-security-details">

      <div class="govuk-grid-column-full separator-line deal">
        <p class="ukef-heading-l" style="padding-top:30px" data-cy="bank-security-section-heading">Bank security</p>
        <h4 class="govuk-heading-s govuk-!-padding-top-3 govuk-!-padding-bottom-0 govuk-!-margin-top-0" data-cy="bank-security-sub-heading">
        General bank security for this exporter
        </h4>

        <p style="white-space:pre-line" data-cy="bank-security-text">{{ deal.supportingInformation.securityDetails.exporter }}</p>
        {% if deal.dealType === 'GEF' and deal.supportingInformation.securityDetails.facility %}
          <h4 class="govuk-heading-s govuk-!-padding-top-3 govuk-!-padding-bottom-0 govuk-!-margin-top-0" data-cy="bank-security-facility-sub-heading">
          Specific bank security for the facilities listed in this application
          </h4>

          <p style="white-space:pre-line" data-cy="bank-security-facility-text">{{ deal.supportingInformation.securityDetails.facility }}</p>
        {% endif %}
      </div>
    </div>
  {% endif %}

  <div class="govuk-grid-row" data-cy="deal-bank-details">

    <div class="govuk-grid-column-full separator-line deal">
      <p class="ukef-heading-l" style="padding-top:30px">Bank application or notice</p>
      <div class="govuk-grid-row govuk-!-margin-0 govuk-!-padding-top-6">
        <div class="govuk-grid-column-one-fifth govuk-!-padding-bottom-4 govuk-!-padding-left-0">
          <div class="ukef-heading-xs">Bank</div>
          <div class="ukef-body-s" data-cy="deal-bank">{{ deal.bank.name | dashIfEmpty }}</div>
        </div>
        <div class="govuk-grid-column-one-fifth govuk-!-padding-bottom-4 govuk-!-padding-left-0">
          <div class="ukef-heading-xs">Contact name</div>
          <div class="ukef-body-s" data-cy="contact-name">
            {{ deal.maker.firstname }} {{ deal.maker.surname | dashIfEmpty }}</div>
        </div>
        <div class="govuk-grid-column-one-fifth govuk-!-padding-bottom-4 govuk-!-padding-left-0">
          <div class="ukef-heading-xs">Telephone</div>
          <div class="ukef-body-s"></div>
        </div>
        <div class="govuk-grid-column-one-fifth govuk-!-padding-bottom-4 govuk-!-padding-left-0">
          <div class="ukef-heading-xs">Email</div>
          <div class="ukef-body-s" data-cy="email">{{ deal.maker.email | dashIfEmpty }}</div>
        </div>
      </div>
      <div class="govuk-grid-row govuk-!-margin-0 govuk-!-padding-top-6">
        <div class="govuk-grid-column-one-fifth govuk-!-padding-bottom-4 govuk-!-padding-left-0">
          <div class="ukef-heading-xs">MGA version</div>
          <div class="ukef-body-s" data-cy="mga-version">January 2020</div>
        </div>
        <div class="govuk-grid-column-one-fifth govuk-!-padding-bottom-4 govuk-!-padding-left-0">
          <div class="ukef-heading-xs">Bank reference</div>
          <div class="ukef-body-s" data-cy="bank-reference">{{ deal.bankInternalRefName | dashIfEmpty }}</div>
        </div>
        <div class="govuk-grid-column-one-fifth govuk-!-padding-bottom-4 govuk-!-padding-left-0">
          <div class="ukef-heading-xs">Bank's additional reference</div>
          <div class="ukef-body-s" data-cy="bank-additional-reference">{{ deal.additionalRefName | dashIfEmpty }}</div>
        </div>
      </div>

      {% set componentData = {
        eligibilityCriteria: deal.eligibility.criteria
      } %}

      {{ govukDetails({
        summaryText: "Eligibility criteria",
        html: eligibilityCriteriaAnswers.render(componentData)
      }) }}
    </div>
  </div>

{% endblock %}
