{% import './_macros/side-navigation.njk' as sideNavigation %}

{% extends "case/case.njk" %}

{% block sub_content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-xl govuk-!-margin-top-6 govuk-!-margin-bottom-6" data-cy="underwriting-heading">Underwriting</h2>
    </div>
  </div>
  <div class="govuk-grid-row">

    <div class="ukef-grid-column-one-sixth">

      {% set componentData = {
        caseId: dealId,
        activeSideNavigation: activeSideNavigation
      } %}

      {{sideNavigation.render(componentData)}}

    </div>

    <div class="govuk-grid-column-two-thirds">
      {% block underwriting_content %}
      {% endblock %}
    </div>

  </div>

{% endblock %}
