version: "3"
services:

  reference-data-proxy:
    build: .
    image: dtfs/reference-data-proxy
    restart: always
    ports:
      - "5002:5002"
    volumes:
      - ./src:/app/src:ro
    environment:
      - PORT=5002
      - CORS_ORIGIN=http://localhost:5002
      - JWT_SIGNING_KEY
      - JWT_VALIDATING_KEY
      - COMPANIES_HOUSE_API_URL=https://api.companieshouse.gov.uk
      - COMPANIES_HOUSE_API_KEY
      - ORDNANCE_SURVEY_API_URL=https://api.os.co.uk
      - ORDNANCE_SURVEY_API_KEY
      - MULESOFT_API_NUMBER_GENERATOR_KEY
      - MULESOFT_API_NUMBER_GENERATOR_SECRET
      - MULESOFT_API_NUMBER_GENERATOR_URL
      - MULESOFT_API_PARTY_DB_KEY
      - MULESOFT_API_PARTY_DB_SECRET
      - MULESOFT_API_PARTY_DB_URL
      - MULESOFT_API_ACBS_DEAL_URL
      - MULESOFT_API_ACBS_FACILITY_URL
      - MULESOFT_API_CURRENCY_EXCHANGE_RATE_URL
      - MULESOFT_API_CURRENCY_EXCHANGE_RATE_KEY
      - MULESOFT_API_CURRENCY_EXCHANGE_RATE_SECRET
      - MULESOFT_API_EXPOSURE_PERIOD_URL
      - GOV_NOTIFY_API_KEY
      - AZURE_NUMBER_GENERATOR_FUNCTION_URL=http://localhost:7072
      - ELASTIC_APM_ACTIVE=false
      - ELASTIC_APM_ENVIRONMENT=development

    entrypoint: npx nodemon src/index.ts -L
