{% import '_macros/date-range.njk' as dateRange %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% macro render(filter, banks, user) %}

<form method="POST" autocomplete="off">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group govuk-!-margin-bottom-0">
        <label class="govuk-label" for="bank">
          Bank
        </label>

        <select class="govuk-select govuk-!-width-full" id="bank" name="bank">
          <option value="all" selected>Any</option>
          {% for bank in banks %}
            <option value="{{ bank.id }}">{{ bank.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    {{ dateRange.inputs(fromLegend = 'Select abandoned date between', toLegend = 'And' ) }}
  </div>


  <button data-cy="ApplyFilters" class="govuk-button" data-module="govuk-button">
    Apply
  </button>

</form>
{% endmacro %}
