{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% import './_macros/banks-decision-submitted.njk' as banksDecisionSubmitted %}

{% macro render(amendment) %}

  {% set isEditable = amendment.bankDecision.isEditable %}
  {% set ukefDecision = amendment.ukefDecision.submitted %}
  {% set bankDecision = amendment.bankDecision.submitted %}
  {% set isDeclined = amendment.ukefDecision.isDeclined %}


  {% block underwriting_content %}

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-three-quarters">

        {% if ukefDecision %}

          {% if bankDecision %}

            {{banksDecisionSubmitted.render(amendment)}}

          {% else %}

           {% if isDeclined %}

              <p class="govuk-!-margin-top-0" data-cy="amendment-bank-decision-not-applicable-readonly">Not applicable</p>

            {% elif isEditable %}
              <div class="govuk-!-padding-top-0">
                {{ govukButton({
                    text: "Add decision",
                    href: "/case/" + amendment.dealId + "/facility/" + amendment.facilityId + "/amendment/" + amendment.amendmentId + "/banks-decision",
                    attributes: {
                      "data-cy":"add-amendment-bank-decision-link"
                    }
                  }) }}
              </div>

            {% else %}

              <p class="govuk-!-margin-top-0" data-cy="amendment-bank-decision-not-added-readonly">Not added yet</p>

            {% endif %}

          {% endif %}


        {% else %}

          <p class="govuk-!-margin-top-0" data-cy="amendment-bank-decision-dependent">Dependent on the Underwriter manager's decision</p>

        {% endif %}

      </div>

    </div>

  {% endblock %}

{% endmacro %}