{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% import './_macros/amendment-what-is-a-facility-end-date.njk' as whatIsAFacilityEndDate %}

{% extends "index.njk" %}

{% block pageTitle -%}
  Amendment - Enter the facility end date
{%- endblock %}

{% block sub_content %}

{% if error %}
  {{ govukErrorSummary({
     titleText: "There is a problem",
     errorList: error.summary,
     attributes: {
       'data-cy': 'amendment--error-summary'
     },
     classes: "govuk-!-margin-top-4 govuk-!-margin-bottom-4"
  }) }}
 {% endif %}

<form method="POST" autocomplete="off" class="govuk-!-margin-top-4">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}">

  {{ govukDateInput({
    id: "facilityEndDate",
    fieldset: {
        legend: {
          text: "Enter the new facility end date",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l govuk-heading-l govuk-!-margin-top-4 govuk-!-margin-bottom-2"
        }
      },
    namePrefix: "facility-end-date",
    hint: {
      text: "For example, 31 3 2022",
      attributes: {
        "data-cy": "facility-end-date-hint"
      }
    },
    errorMessage: error and {
      text: error.summary[0].text,
      attributes: {
        'data-cy': 'amendment--inline-error'
      }
    },
    items: [
      {
        label: "Day",
        classes: (error and 'facility-end-date-day' in error.fields) and "govuk-input--error govuk-input--width-2" or "govuk-input--width-2",
        name: "day",
        value: facilityEndDateDay,
        attributes: {
          'data-cy': "amendment--facility-end-date-day"
        }
      },
      {
        label: "Month",
        classes: (error and 'facility-end-date-month' in error.fields) and "govuk-input--error govuk-input--width-2" or "govuk-input--width-2",
        name: "month",
        value: facilityEndDateMonth,
        attributes: {
          'data-cy': "amendment--facility-end-date-month"
        }
      },
      {
        label: "Year",
        classes: (error and 'facility-end-date-year' in error.fields) and "govuk-input--error govuk-input--width-4" or "govuk-input--width-4",
        name: "year",
        value: facilityEndDateYear,
        attributes: {
          'data-cy': "amendment--facility-end-date-year"
        }
      }
    ]
  }) }}

  <div class="govuk-button-group">
    {% if isEditable %}
      {{ govukButton({
        text: "Continue",
        attributes: {
            "data-cy": "amendment--continue-button"
        }
        })
      }}
    {% endif %}
    <a class="govuk-link" href="/case/{{ dealId }}/facility/{{ facilityId }}#amendments" data-cy="amendment--cancel-button">Cancel</a>
  </div>

  {{ whatIsAFacilityEndDate.render() }}

</form>

{% endblock %}