{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% import './_macros/amendment-what-is-a-facility-end-date.njk' as whatIsAFacilityEndDate %}

{% extends "index.njk" %}

{% block pageTitle -%}
  Amendment - Enter the facility end date
{%- endblock %}

{% block sub_content %}

{% if errors %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors.summary,
      attributes: {
        'data-cy': 'amendment--error-summary'
      },
      classes: "govuk-!-margin-top-4 govuk-!-margin-bottom-4"
    }) }}
  {% endif %}

  <form method="POST" autocomplete="off">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    <fieldset class="govuk-fieldset" role="group" aria-describedby="facilityEndDate-hint">

      <legend class="govuk-fieldset__legend">
        <h1 class="govuk-heading-l govuk-!-margin-top-4 govuk-!-margin-bottom-0" data-cy="amendment--facility-end-date-heading">Enter the new facility end date</h1>
      </legend>

      {{ govukDateInput({
        id: "facilityEndDate",
        namePrefix: "facility-end-date",
        hint: {
          text: "For example, 31 3 2022",
          attributes: {
            "data-cy": "facility-end-date-hint"
          }
        },
        errorMessage: errors and {
          text: errors.summary[0].text,
          attributes: {
            'data-cy': 'amendment--inline-error'
          }
        },
        items: [
          {
            label: "Day",
            classes: (errors and ('facilityEndDate' in errors.fields or 'facilityEndDateDay' in errors.fields)) and "govuk-input--error govuk-input--width-2" or "govuk-input--width-2",
            name: "day",
            value: facilityEndDateDay,
            attributes: {
              'data-cy': "amendment--facility-end-date-day"
            }
          },
          {
            label: "Month",
            classes: (errors and ('facilityEndDate' in errors.fields or 'facilityEndDateMonth' in errors.fields)) and "govuk-input--error govuk-input--width-2" or "govuk-input--width-2",
            name: "month",
            value: facilityEndDateMonth,
            attributes: {
              'data-cy': "amendment--facility-end-date-month"
            }
          },
          {
            label: "Year",
            classes: (errors and ('facilityEndDate' in errors.fields or 'facilityEndDateYear' in errors.fields)) and "govuk-input--error govuk-input--width-4" or "govuk-input--width-4",
            name: "year",
            value: facilityEndDateYear,
            attributes: {
              'data-cy': "amendment--facility-end-date-year"
            }
          }
        ]
      }) }}
    </fieldset>

    <div class="govuk-button-group">
      {% if isEditable %}
        {{ govukButton({
          text: "Continue",
          attributes: {
              "data-cy": "amendment--continue-button"
          }
          })
        }}
      {% endif %}
      <a class="govuk-link" href="/case/{{ dealId }}/facility/{{ facilityId }}#amendments" data-cy="amendment--cancel-button">Cancel</a>
    </div>

    {{ whatIsAFacilityEndDate.render() }}

  </form>

{% endblock %}