{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% import './_macros/summary-table.njk' as summary %}

{% extends "index.njk" %}

{% block pageTitle %}
  Amendment - Manager's decision summary
{% endblock %}

{% block content %}
  {% if errors %}
    {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors.errorSummary,
        attributes: {
          'data-cy': 'error-summary'
        },
        classes: "govuk-!-margin-top-4 govuk-!-margin-bottom-4"
      }) }}
  {% endif %}

  <h1 class="govuk-heading-l govuk-!-margin-top-4 govuk-!-margin-bottom-2" aria-label="Check your decision">Check your decision</h1>
  <h2 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-2" aria-label="Decision">Decision</h2>

  {{ summary.render(amendment) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-2" aria-label="Conditions and comments">Conditions and comments</h1>

      {% set rows = [] %}

      {% if amendment.ukefDecision.conditions %}
        {% set ukefConditionsHtml %}
          <div class="ukef-decision-formatted">
            <p class="govuk-body"> {{amendment.ukefDecision.conditions | safe }} </p>
          <div>
        {% endset %}

        {% set labelHtml %}
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Conditions</h3>
            <p class="govuk-body ukef-conditions--hint">  Sent to the bank. </p>
        {% endset %}

        {% set conditionsRow = {
          key: { html: labelHtml },
          value: { html: ukefConditionsHtml },
          actions: {
            items: [
              {
                href: "#conditions",
                text: "Change",
                visuallyHiddenText: "Change conditions"
              }
            ]
          }
        } %}
        {% set rows = (rows.push(conditionsRow), rows) %}
      {% endif %}

      {% if amendment.ukefDecision.declined %}
        {% set ukefDeclinedHtml %}
          <div class="ukef-decision-formatted">
            <p class="govuk-body"> {{amendment.ukefDecision.declined | safe }} </p>
          <div>
        {% endset %}

        {% set labelHtml %}
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Reasons</h3>
            <p class="govuk-body ukef-conditions--hint">  Sent to the bank. </p>
        {% endset %}

        {% set declinedRow = {
          key: { html: labelHtml },
          value: { html: ukefDeclinedHtml },
          actions: {
            items: [
              {
                href: "#conditions",
                text: "Change",
                visuallyHiddenText: "Change reasons"
              }
            ]
          }
        } %}
        {% set rows = (rows.push(declinedRow), rows) %}
      {% endif %}


      {% if amendment.ukefDecision.comments %}
        {% set ukefCommentsHtml %}
          <div class="ukef-decision-formatted">
            <p class="govuk-body"> {{amendment.ukefDecision.comments | safe }} </p>
          <div>
        {% endset %}

        {% set labelHtml %}
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Comments</h3>
            <p class="govuk-body ukef-conditions--hint">  Only UKEF staff will see this. </p>
        {% endset %}

        {% set commentsRow = {
          key: { html: labelHtml },
          value: { html: ukefCommentsHtml },
          actions: {
            items: [
              {
                href: "#conditions",
                text: "Change",
                visuallyHiddenText: "Change reasons"
              }
            ]
          }
        } %}
        {% set rows = (rows.push(commentsRow), rows) %}
      {% endif %}

      {{ govukSummaryList({
        rows: rows
      }) }}
    </div>
  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
    <form method="post" data-cy="form">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        <div class="govuk-button-group">
          {% if isEditable %}
            {{ govukButton({
              text: "Send to bank",
              attributes: { "data-cy": "amendment--send-to-bank-button" }
              })
            }}
          {% endif %}
          <a class="govuk-link" href="/case/{{ amendment.dealId }}/underwriting" data-cy="amendment--cancel-button">Cancel</a>
        </div>
      </form>

    </div>
  </div>
{% endblock %}