{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% import './_macros/amendment-what-is-a-facility-end-date.njk' as whatIsAFacilityEndDate %}

{% extends "index.njk" %}

{% block pageTitle -%}
  Amendment - Enter the facility end date
{%- endblock %}

{% block sub_content %}

{% if error %}
  {{ govukErrorSummary({
     titleText: "There is a problem",
     errorList: error.summary,
     attributes: {
       'data-cy': 'amendment--error-summary'
     },
     classes: "govuk-!-margin-top-4 govuk-!-margin-bottom-4"
  }) }}
 {% endif %}

<form method="POST" autocomplete="off">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}">

  <fieldset class="govuk-fieldset" role="group" aria-describedby="facilityEndDate-hint">

    <legend class="govuk-fieldset__legend">
      <h1 class="govuk-heading-l govuk-!-margin-top-4 govuk-!-margin-bottom-0" data-cy="amendment--facility-end-date-heading">Enter the new facility end date</h1>
    </legend>

    <dl class="govuk-body govuk-!-margin-bottom-4">
      <dt class="govuk-body govuk-!-margin-bottom-0 govuk-!-font-weight-bold">Current facility end date</dt>
      <dd data-cy="amendment--current-facility-end-date">{{ ( currentFacilityEndDate if currentFacilityEndDate else "Not provided") }}</dd>
    </dl>

    {{ govukDateInput({
      id: "facilityEndDate",
      namePrefix: "facility-end-date",
      hint: {
        text: "For example, 31 3 2022",
        attributes: {
          "data-cy": "facility-end-date-hint"
        }
      },
      errorMessage: error and {
        text: error.summary[0].text,
        attributes: {
          'data-cy': 'amendment--inline-error'
        }
      },
      items: [
        {
          label: "Day",
          classes: (error and 'facility-end-date-day' in error.fields) and "govuk-input--error govuk-input--width-2" or "govuk-input--width-2",
          name: "day",
          value: dayInput,
          attributes: {
            'data-cy': "amendment--facility-end-date-day"
          }
        },
        {
          label: "Month",
          classes: (error and 'facility-end-date-month' in error.fields) and "govuk-input--error govuk-input--width-2" or "govuk-input--width-2",
          name: "month",
          value: monthInput,
          attributes: {
            'data-cy': "amendment--facility-end-date-month"
          }
        },
        {
          label: "Year",
          classes: (error and 'facility-end-date-year' in error.fields) and "govuk-input--error govuk-input--width-4" or "govuk-input--width-4",
          name: "year",
          value: yearInput,
          attributes: {
            'data-cy': "amendment--facility-end-date-year"
          }
        }
      ]
    }) }}
  </fieldset>

  <div class="govuk-button-group">
    {% if isEditable %}
      {{ govukButton({
        text: "Continue",
        attributes: {
            "data-cy": "amendment--continue-button"
        }
        })
      }}
    {% endif %}
    <a class="govuk-link" href="/case/{{ dealId }}/facility/{{ facilityId }}#amendments" data-cy="amendment--cancel-button">Cancel</a>
  </div>

  {{ whatIsAFacilityEndDate.render() }}

</form>

{% endblock %}