{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/password-input/macro.njk" import govukPasswordInput %}
{% extends "index.njk" %}

{% block pageTitle -%}
  Change your password
{%- endblock %}

{% block content %}

  <h1 class="govuk-heading-l">
    Change your password
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form method="POST" autocomplete="off">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {% if requireCurrentPassword %}
          {{ govukPasswordInput({
            label: {
              text: "Current password"
            },
            id: "currentPassword",
            name: "currentPassword",
            classes: "govuk-!-width-one-third",
            attributes: {
              "data-cy": "current-password",
              autocomplete: true,
              spellcheck: false
            },
            errorMessage: validationErrors.errorList.currentPassword and {
              text: validationErrors.errorList.currentPassword.text
            }
          }) }}
        {% endif %}

        {% include "_partials/password-create.njk" %}

        {% if user._id %}
          {% set userId = user._id %}
        {% else %}
          {% set userId = '' %}
        {% endif %}

        {{ govukButton({
          text: "Submit",
          attributes: {
            "data-cy": "submit-button"
          },
          classes: "govuk-!-margin-right-1"
        }) }}

        {{ govukButton({
          text: "Cancel",
          attributes: {
            "data-cy": "cancel-button"
          },
          classes: "govuk-button--secondary",
          href: "/user/" + userId
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
