{% extends "page.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Requests for cover</h1>

        <button class="govuk-button" data-module="govuk-button">
          Create a new request for cover
        </button>

        <div class="govuk-form-group">

          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <span id="show" class="govuk-hint">
              Show
            </span>
            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="all" checked>
                <label class="govuk-label govuk-radios__label" for="changed-name">
                  All
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="your-requests">
                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                  Your requests
                </label>
              </div>
            </div>
          </fieldset>

        </div>
        <div class="govuk-form-group">

          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <label class="govuk-hint" for="search">
              Search
            </label>
            <input class="govuk-input govuk-input--width-10" id="search" name="search" type="text">
          </fieldset>

        </div>
        <div class="govuk-form-group">

          <a href="#" class="govuk-link">Show filters</a>

        </div>
        <div class="govuk-form-group">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                  <label class="govuk-label govuk-checkboxes__label" for="waste">
                    Show abandoned
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

        </div>
      </p>

      <p class="govuk-body">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Bank ref</th>
              <th scope="col" class="govuk-table__header">UKEF ref</th>
              <th scope="col" class="govuk-table__header">Status</th>
              <th scope="col" class="govuk-table__header">Automatic cover</th>
              <th scope="col" class="govuk-table__header">Maker</th>
              <th scope="col" class="govuk-table__header">Checker</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Lorem</th>
              <td class="govuk-table__cell">ipsum</td>
              <td class="govuk-table__cell">dolor</th>
              <td class="govuk-table__cell">sit</td>
              <td class="govuk-table__cell">amet</th>
              <td class="govuk-table__cell">consectetur</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">adipiscing</th>
              <td class="govuk-table__cell">elit</td>
              <td class="govuk-table__cell">sed</th>
              <td class="govuk-table__cell">do</td>
              <td class="govuk-table__cell">eiusmod</th>
              <td class="govuk-table__cell">tempor</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">incididunt</th>
              <td class="govuk-table__cell">ut</td>
              <td class="govuk-table__cell">labore</th>
              <td class="govuk-table__cell">et</td>
              <td class="govuk-table__cell">dolore</th>
              <td class="govuk-table__cell">magna</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">aliqua</th>
              <td class="govuk-table__cell">ut</td>
              <td class="govuk-table__cell">ad</th>
              <td class="govuk-table__cell">minim</td>
              <td class="govuk-table__cell">veniam</th>
              <td class="govuk-table__cell">quis</td>
            </tr>
          </tbody>
        </table>
      </p>

    </div>

    <div class="govuk-grid-column-one-third">

      <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Contents
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li class="gem-c-related-navigation__link">
              <a class="govuk-link" href="#">Requests for cover</a>
            </li>
            <li class="gem-c-related-navigation__link">
              <a class="govuk-link" href="#">Bonds and loans</a>
            </li>
            <li class="gem-c-related-navigation__link">
              <a class="govuk-link" href="#">Amendment requests</a>
            </li>
            <li class="gem-c-related-navigation__link">
              <a class="govuk-link" href="#">Reports</a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
  
{% endblock %}
