{% extends "cases/case.html" %}
{% set selected = 'deals' %}
{% block sub_content %}
  <div class="govuk-grid-row tfm tfm-width">
      <div class="govuk-grid-column-three-quarters">
      <p class="header-label">Applications</p>
      </div>
  </div>
  <div class="govuk-grid-row tfm tfm-width">
      <div class="govuk-grid-column-three-quarters deal">
        <table>
          <tr>
            <th><a href="#">0020010552</th>
            <th>Provision of education services and materials to Kingdom of Wakanda Colleges of Excellence</th>
          </tr>
          <tr>
            <td>Bank</td>
            <td><a href="#">Lloyds bank</td>
          </tr>
          <tr>
            <td>Buyer</td>
            <td><a href="#">Kingdom of Wakanda Colleges of Excellence</a></td>
          </tr>        
          <tr>
            <td>Agent</td>
            <td><a href="#">Stark Investments Ltd</a></td>
          </tr>
          <tr>
            <td>Industry sector</td>
            <td>Education</td>
          </tr>        
          <tr>
            <td>Industry class</td>
            <td>Civil</td>
          </tr>        
          <tr>
            <td>Size</td>
            <td>Medium SME</td>
          </tr>        
          <tr>
            <td>Destination Country</td>
            <td>Wakanda</td>
          </tr>        
          <tr>
            <td>Export value</td>
            <td>GBP 9,373,500.48</td>
          </tr>        
          <tr>
            <td>Guarantee types</td>
            <td>BSS</td>
          </tr>        
          <tr>
            <td>Maximum UKEF liability</td>
            <td>GBP 2,774,556.14</td>
          </tr>      
        </table>
      </div>
  </div>
{% endblock %}