{% extends "index.njk" %}

{% block pageTitle -%}
  Accessibility Statement
{%- endblock %}

{% block content %}
  <h1 class="govuk-heading-l govuk-!-margin-top-5" data-cy="accessibility-statement-heading">Accessibility Statement for the Trade Finance Manager Service</h1>

  <p class="govuk-body" data-cy="tfm-link"><a href="https://trade-finance-manager.ukexportfinance.gov.uk">https://trade-finance-manager.ukexportfinance.gov.uk</a></p>

  <p class="govuk-body" data-cy="ukef-products-list-link">
    This policy explains how accessible the Trade Finance Manager Service is when banks and lenders are using it to apply for guarantees under the Bank Delegation Scheme. It does not cover all of <a target="_blank" rel="noreferrer noopener nofollow" href="https://www.gov.uk/government/collections/our-products">UK Export Finance's products listed on GOV.UK</a>.
  </p>

  <h2 class="govuk-heading-m" data-cy="using-our-website-heading">Using our website</h2>
  <p class="govuk-body">This website is run by UK Export Finance. We want as many people as possible to use this website. For example, that means you should be able to:</p>
  <ul class="govuk-list accessibility-statement-list">
    <li>change colours, contrast levels and fonts</li>
    <li>zoom in up to 300% without the text spilling off the screen</li>
    <li>navigate most of the website using just a keyboard</li>
    <li>navigate most of the website using speech recognition software</li>
    <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
  </ul>

  <p class="govuk-body">We’ve also made the website text as simple as possible to understand.</p>
  <p class="govuk-body"><a href="https://mcmw.abilitynet.org.uk/" target="_blank" rel="noreferrer noopener nofollow">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>

  <h2 class="govuk-heading-m" data-cy="how-accessible-this-service-is-heading">How accessible this service is </h2>
  <p class="govuk-body">We know some parts of this website are not fully accessible:</p>
  <ul class="govuk-list accessibility-statement-list">
    <li>line height or spacing of text in tables cannot be modified throughout the service </li>
    <li>text has not been included in an ARIA landmark </li>
    <li>headings on pages such as ‘Deal view – Task – Match or create the parties in this deal’ are not structured. </li>
  </ul>

  <h2 class="govuk-heading-m" data-cy="feedback-and-contact-information-heading">Feedback and contact information</h2>
  <p class="govuk-body">If you need information on this website in a different format like accessible PDF, large print, easy read, contact us:</p>
  <ul class="govuk-list accessibility-statement-list">
    <li>DigitalService.TradeFinance@ukexportfinance.gov.uk </li>
  </ul>
  <p class="govuk-body">We'll consider your request and get back to you in 2 days.</p>

  <h2 class="govuk-heading-m" data-cy="reporting-accessibility-problems-heading">Reporting accessibility problems with this website</h2>
  <p class="govuk-body" data-cy="contact-dtfs">We're always looking to improve the accessibility of this website. If you find any additional problems not listed above or think we're not meeting accessibility requirements, contact: <a href="mailTo:DigitalService.TradeFinance@ukexportfinance.gov.uk">DigitalService.TradeFinance@ukexportfinance.gov.uk</a>.</p>

  <h2 class="govuk-heading-m" data-cy="enforcement-procedure-heading">Enforcement procedure</h2>
  <p class="govuk-body" data-cy="contact-eass">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations'). If you're not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/" target="_blank" rel="noreferrer noopener nofollow">contact the Equality Advisory and Support Service (EASS)</a>.</p>

  <h2 class="govuk-heading-m" data-cy="technical-information-heading">Technical information about this website's accessibility</h2>
  <p class="govuk-body">UK Export Finance is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

  <h2 class="govuk-heading-m" data-cy="compliance-status-heading">Compliance status</h2>
  <p class="govuk-body"data-cy="guidelines-wcag21">This website is partially compliant with the <a href="https://www.w3.org/TR/WCAG21/" target="_blank" rel="noreferrer noopener nofollow">Web Content Accessibility Guidelines version 2.1</a> AA standard, due to the non-compliances listed below. </p>
  <p class="govuk-body">The content listed below is non-accessible for the following reasons. </p>

  <h2 class="govuk-heading-m" data-cy="non-compliance-heading">Non-compliance with the accessibility regulations</h2>

  <ul class="govuk-list accessibility-statement-list">
    <li>
      On the ‘All deals’, ‘All facilities’, ‘Deal view – Deal’, ‘Deal view – Underwriting’ and ‘Underwriting – Pricing and risk’ pages, the visible label and
      accessible name do not match. This fails WCAG 2.1 Success Criterion 2.5.3 (Label in name)
    </li>
    <li>
      On the ‘Activity and comments – Add a comment’ page, the form field is not labelled. This fails WCAG 2.1 Success Criterion 3.3.2 (Labels or Instructions)
    </li>
    <li>
      On the ‘All deals’ page, the text that appears within the account navigation section is announced by screen reading software as the current page, meaning
      screen reader users are not receiving the same information as it is visually presented. This fails WCAG 2.1 Success Criterion 1.3.1 (Info and Relationships)
    </li>
    <li>
      Under the ‘Contact us’ footer, the information is presented as a list, but isn’t conveyed that way to a blind screen reader user. This fails WCAG 2.1
      Success Criterion 1.3.1 (Info and Relationships)
    </li>
    <li>
      When keyboard-only users and screen reader users visit a new page on the service, the focus position begins underneath the navigation menu. This means both
      sets of users may find it difficult to navigate to the beginning of a page. This fails WCAG 2.1 Success Criterion 2.4.3 Focus Order
    </li>
    <li>
      Some of the visual headings across the service have not been tagged appropriately in the code, meaning screen reader users may be unaware that the headings
      introduce new content. This fails WCAG 2.1 Success Criterion 1.3.1 (Info and Relationships)
    </li>
    <li>
      Some page titles that appear in webpage tabs are not descriptive. This means screen reader users may need to navigate the page first to understand its
      content. This fails WCAG 2.1 Success Criterion 2.4.2 Page Titles
    </li>
    <li>
      Some of the tables presented across the service do not contain headers. This means blind screen reader users may find it difficult to understand the
      relationships of the columns data. This fails WCAG 2.1 Success Criterion 1.3.1 Info and Relationships
    </li>
    <li>
      Some of the tables presented across the service are not semantically marked up. This means screen reader users may not be aware when new rows are
      introduced. This fails WCAG 2.1 Success Criterion 1.3.1 Info and Relationships
    </li>
    <li>
      When adding an amendment, users must input a date. The three fields that presented are not programmatically related to one another, meaning screen reader
      users may have difficulty understanding that the date field inputs are related. This fails WCAG 2.1 Success Criterion 1.3.1 Info and Relationships
    </li>
    <li>
      When adding an amendment, users must enter a new facility value. However, the currency value as presented (eg USD) is not announced by screen reading
      software. This means blind users might not know the currency value of the figure they are entering. This fails WCAG 2.1 Success Criterion 1.3.1 Info and
      Relationships
    </li>
    <li>
      On the ‘Check your answers’ page, voice activation users may have difficulty interacting with the ‘Change’ hyperlinks as they are not labelled as visible
      text in the code. This fails WCAG 2.1 Success Criterion 2.5.3 Label in Name
    </li>
    <li>
      On certain pages across the service, headings are not structured, meaning screen reader users may not understand how the content that sits underneath the
      headers relate to one another. This fails WCAG 2.1 Success Criterion 1.3.1 Info and Relationships
    </li>
    <li>
      Across the service, there is no skip to main content functionality. This means screen reader users must manually move past the navigation on each page
      repeatedly to access its content. This fails WCAG 2.1 Success Criterion 2.4.1 Bypass Blocks
    </li>
    <li>
      On certain pages across the service, keyboard-only users are repositioned to the top of the page when interacting with radio buttons. This fails WCAG 2.1
      Success Criterion 3.2.2 On Input
    </li>
    <li>
      On certain pages across the service, there are non-descriptive hyperlinks that mean screen reader users may fail to understand their purpose. This fails
      WCAG 2.1 Success Criterion 2.4.4 Link Purpose (In Context)
    </li>
    <li>
      On certain tables across the service, some column headers contain sort functionality. Screen reader users may have difficulty seeing the sort function
      symbol, potentially causing confusion. This fails WCAG 2.1 Success Criterion 1.1.1 Non-text Content
    </li>
  </ul>

  <p class="govuk-body">We will continue to review any possible improvements we can make.</p>

  <h2 class="govuk-heading-m" data-cy="what-we-are-doing-heading">What we're doing to improve accessibility</h2>
  <p class="govuk-body">UK Export Finance is committed to address all issues of the Trade Finance Manager Service. The team responsible for the service is working on the remaining accessibility issues, reviewing any further improvements which can be made.</p>

  <h2 class="govuk-heading-m" data-cy="preparation-of-this-accessibility-statement-heading">Preparation of this accessibility statement</h2>
  <p class="govuk-body">This statement was prepared on 8th August 2023. It was last reviewed on 8th August 2023.</p>
  <p class="govuk-body">This website was last tested on 29th March 2023. The test was carried out internally by the team responsible for the service.</p>

{% endblock %}
