{% extends "index.njk" %}

{% block pageTitle %}Cookies{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l govuk-!-margin-top-5">Cookies</h1>

  {% include "_partials/cookies.njk" %}

{% endblock %}
