{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
<!DOCTYPE html>
<html lang="en" class="govuk-template ">
  <head>
    <meta charset="utf-8"/>
    <title>
      {% block pageTitle %}{% endblock %}, Trade Finance Manager, gov.uk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/assets/images/favicon.ico?v=2" type="image/x-icon"/>
    <link rel="mask-icon" href="/assets/images/govuk-mask-icon.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/govuk-apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/assets/images/govuk-apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/govuk-apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" href="/assets/images/govuk-apple-touch-icon.png">
    <link rel="stylesheet" href="/assets/css/styles.css"/>
    <meta property="og:image" content="/assets/images/govuk-opengraph-image.png">
  </head>

  <body class="govuk-template__body ">

    <script src="/assets/js/jsEnabled.js" type="module" integrity="sha512-QtyPZKCSdWv9d3aKHJP6AL3dY/EbEFAAp4c6Hc/QOIvHcOXTu+P2TGqIlcIeieOvkWq1bKw3zehbKqH7Gv0fAQ==" crossorigin="anonymous"></script>

    {% include "_partials/skip-link.njk" %}
    {% include "_partials/header.njk" %}
    {% include "_partials/beta-banner.njk" %}
    {% include "_partials/primary-navigation.njk" %}

    <div class="govuk-body">
      <main
        class="govuk-main-wrapper govuk-main-wrapper--auto-spacing tfm-width govuk-!-padding-top-0"
        id="main-content"
      >

        {% if backLink and backLink.href %}
          {{ govukBackLink({
          text: "Back",
          href: backLink.href,
          attributes: {
            "data-cy": "back-link"
          }
        }) }}
        {% endif %}

        {% block content %}{% endblock %}
        {% block secondary_nav %}{% endblock %}
        {% block sub_content %}{% endblock %}
      </main>
    </div>

    {% include "_partials/footer.njk" %}

    <script
      src="/assets/js/main.js"
      type="module"
      integrity="sha512-545n5sADavrx6J7M+35OK8aO8vYy53k94cTSHazqdHnCvUGnAv0hSchAhJ5sr5BAliS3Z+y3MOVMRZg7XYpKIw=="
      crossorigin="anonymous"></script>

    <script
      src="/assets/js/govukFrontend.js"
      type="module"
      integrity="sha512-XjslPGHm8dTK4kPoc3TLgL4y34O+UtQ6yPECbnQSC/s7caahsMliumsRzHyaQMvcY77V6JdajknG+kPo2u/zTQ=="
      crossorigin="anonymous"></script>

    <script
      src="/assets/js/mojFrontend.js"
      type="module"
      integrity="sha512-w4sOebhAk04XQ0LvXEq1iKg/iAmoDI8AmVhVQdQ3hlnKl7jxZF6feZnPIR1pMK26iy4LIwwS48DZIH2L63q8rw=="
      crossorigin="anonymous"></script>

    <script
      src="/assets/js/disableFormSubmitOnSubmission.js"
      type="module"
      integrity="sha512-j01KJMmYleOKhRiLGNqRqMEOqCPUj5GytCJGU0cQxxFLHmrTSPjTPoxIvyZ16gPQG2cUUSPOzeiDGfKMYms+WA=="
      crossorigin="anonymous"></script>

    <script src="/assets/js/ssoRedirectAutoSubmit.js" type="module" integrity="sha512-YEZQKS3HeCijT1fixW7Q/tgkNdT1fzXDXPzTog2tCT04sw7xDpdHRSv5MTkD2UUsw0LCXf8Wkgp9XIaxFtSL+g==" crossorigin="anonymous"></script>

    {% block page_scripts %}{% endblock %}
  </body>
</html>