{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
<!DOCTYPE html>
<html lang="en" class="govuk-template ">
  <head>
    <meta charset="utf-8"/>
    <title>
      {% block pageTitle %}{% endblock %}, Trade Finance Manager, gov.uk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/assets/images/favicon.ico?v=2" type="image/x-icon"/>
    <link rel="mask-icon" href="/assets/images/govuk-mask-icon.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/govuk-apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/assets/images/govuk-apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/govuk-apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" href="/assets/images/govuk-apple-touch-icon.png">
    <link rel="stylesheet" href="/assets/css/styles.css"/>
    <meta property="og:image" content="/assets/images/govuk-opengraph-image.png">
  </head>

  <body class="govuk-template__body ">

    <script src="/assets/js/jsEnabled.js" type="text/javascript" integrity="sha512-G3pP3ak2WgWPJjJvKjAkSXa+s0+MHVrKTxZ8YklCPvT/SG9Gt91yti+2KeK9KTCEkdWUUz5dnIGDz1w3Zu7JrA==" crossorigin="anonymous"></script>
    {% include "_partials/skip-link.njk" %}

    {% include "_partials/header.njk" %}
    {% include "_partials/beta-banner.njk" %}
    {% include "_partials/primary-navigation.njk" %}

    <div class="govuk-body">
      <main
        class="govuk-main-wrapper govuk-main-wrapper--auto-spacing tfm-width govuk-!-padding-top-0"
        id="main-content"
        role="main">

        {% if backLink and backLink.href %}
          {{ govukBackLink({
          text: "Back",
          href: backLink.href,
          attributes: {
            "data-cy": "back-link"
          }
        }) }}
        {% endif %}

        {% block content %}{% endblock %}
        {% block secondary_nav %}{% endblock %}
        {% block sub_content %}{% endblock %}
      </main>
    </div>

    {% include "_partials/footer.njk" %}

    <script src="/assets/js/main.js" type="text/javascript" integrity="sha512-dAKNB/hxAScYffs+bGUzzx7n48zYFvQRScBqQv/hFOtxplbN0BwnOaS+QuyE24WJXUbr9BQpR1xsJNxwldJBuw==" crossorigin="anonymous"></script>
    <script src="/assets/js/govukFrontend.js" type="text/javascript" integrity="sha512-BlSKFkwy/7rAHvMRdTX1Kdk/6KgF2exLAH18xCPxd2ukztWA9adhCM/PczucxxNq29j8gvfAaEcGmgg3BbJufA==" crossorigin="anonymous"></script>
    <script src="/assets/js/mojFrontend.js" type="text/javascript" integrity="sha512-VJYfsojYZY4stpSFP22EQ/CXqqrW9BWYWKaiEnYGmyw22rggV4DCe+Lzn8L7Gt+bRq3AyWuNYFadfrCmao0o+A==" crossorigin="anonymous"></script>
    <script src="/assets/js/disableFormSubmitOnSubmission.js" type="text/javascript" integrity="sha512-tCINlYTcYERel2bdysTMl5KaemDdEyog5JSS3hYQqHS6ZIyT4ATLu4oTPerbZ+vAOn4AAzDEsRBSQVacGhoieQ==" crossorigin="anonymous"></script>
    <script src="/assets/js/enableSelectAllTableCheckbox.js" type="text/javascript" integrity="sha512-ER/5raNAJX5VTcyrRBjVExC/f39WaVY4r8k1CyGqJUad95QZ0A1H6zHtsFpdf0JDBLV0acXzSA1B2mkKC8g5Tg==" crossorigin="anonymous"></script>
  <script src="/assets/js/enableFindReportsByYearDropdown.js" integrity="sha512-ZQe/GYl1R6UX45dKzMt/lP0nI2q6Tt3Sv/S9SHUcnw/hFywBJPdKq16dIbwGGoerMffq0RKBsOLFy0wwWbfZbw==" type="text/javascript" crossorigin="anonymous"></script>
  </body>
</html>
