{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "index.njk" %}

{% block pageTitle %}Sign in{% endblock %}


{% block content %}


  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-4">
        {% if errors %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errors.errorSummary,
            classes: 'govuk-!-margin-bottom-0',
            attributes: {
              'data-cy': 'error-summary'
            }
          }) }}
        {% endif %}
      </div>
    </div>



  <h1 class="govuk-heading-l " data-cy="sign-in-heading">Sign in</h1>

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-one-third">
      <form method="POST" autocomplete="off">

          {{ govukInput({
            label: {
              text: "Email address"
            },
            id: "email",
            name: "email",
            spellcheck: false,
            errorMessage: errors.fieldErrors.email and {
              text: errors.fieldErrors.email.text,
              attributes: {
                "data-cy": "email-error"
              }
            },
            attributes: {
              "data-cy": "email",
              "autocapitalize": "off"
            }
          }) }}

          {{ govukInput({
            label: {
              text: "Password"
            },
            id: "password",
            name: "password",
            type: "password",
            spellcheck: false,
            errorMessage: errors.fieldErrors.password and {
              text: errors.fieldErrors.password.text,
              attributes: {
                "data-cy": "password-error"
              }
            },
            attributes: {
              "data-cy": "password",
              "autocomplete": "off"
            }
          }) }}

          {{ govukButton({
            text: "Sign in",
            attributes: {
              "data-cy": "submit-button"
            }
          }) }}
      </form>

    </div>
  </div>

{% endblock %}
