{% extends "index.njk" %}

{% block pageTitle -%}
  Page not found
{%- endblock %}

{% block content %}

  <section class="govuk-!-margin-top-9">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Page not found</h1>
        <p class="govuk-body">
          If you typed the web address, check it is correct.
        </p>
        <p class="govuk-body">
          If you pasted the web address, check you copied the entire address.
        </p>
        <p class="govuk-body">
          If the web address is correct or you selected a link or button, <a href="/contact-us" class="govuk-link">contact us</a> if you need to speak to someone.
        </p>
      </div>
    </div>
  </section>

{% endblock %}
