{% extends "index.njk" %}

{% block pageTitle -%}
  You have been logged out
{%- endblock %}

{% block content -%}

  <section class="govuk-!-margin-top-9">
    <div class="govuk-grid-row" data-cy="you-have-been-logged-out">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" data-cy="you-have-been-logged-out-heading">You have been logged out</h1>
        <p class="govuk-body" data-cy="you-have-been-logged-out-message">
        You have been logged out of Trade Finance Manager.
        </p>
      </div>
    </div>
  </section>

{%- endblock %}
