{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% import "./_macros/fee-record-details-table.njk" as feeRecordDetailsTable %}
{% import "./_macros/payment-group-radio-input.njk" as paymentGroupRadioInput %}
{% extends "index.njk" %}
{% set backLink = {"href": '/utilisation-reports/' + reportId} %}
{% block pageTitle %}Add to an existing payment{% endblock %}
{% block content %}
  <div class="govuk-grid-row govuk-!-padding-top-7">
    <div class="govuk-grid-column-one-half">
      <span class="govuk-caption-l" data-cy="add-to-an-existing-payment-heading-caption">{{ bank.name }},
      {{ formattedReportPeriod }}</span>
      <h1 class="govuk-heading-l">Add to an existing payment</h1>
    </div>
  </div>
  {{ feeRecordDetailsTable.render({
    captionText: "Selected reported fees details",
    feeRecords: reportedFeeDetails.feeRecords,
    totalReportedPayments: reportedFeeDetails.totalReportedPayments,
    enableSelectingFeeRecords: false,
    overrides: {
      reportedFeesHeader: 'Reported fee'
    }
  }) }}

  {{ paymentGroupRadioInput.render({
    legendText: availablePaymentsHeading,
    paymentGroups: availablePaymentGroups
  }) }}

  {# TODO FN-1749: Add 'Continue' and 'Cancel' buttons and associated submission logic. #}
{% endblock %}
{% block sub_content %}{% endblock %}