{% from "govuk/components/input/macro.njk" import govukInput %}
{% extends "index.njk" %}
{% set backLink = { href: "/utilisation-reports" } %}
{% block pageTitle %}
  Trade Finance Manager
{% endblock %}
{% block content %}
  <div class="govuk-grid-row govuk-!-padding-top-7">
    <div
      class="govuk-grid-column-full">
      {# if validation errors show the error summary #}
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6" data-cy="find-reports-by-year-heading">
        Find reports by year
      </h1>
      <form method="GET" data-cy="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              Bank
            </legend>
            <div class="govuk-radios govuk-radios--small">
              {% for bank in banks %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="{{ bank.name }}" name="bank" type="radio" value="{{ bank.name }}" data-cy="{{ bank.name }}-radio-input">
                  <label class="govuk-label govuk-radios__label" for="{{ bank.name }}" data-cy="{{ bank.name }}-radio-label">{{ bank.name }}</label>
                </div>
              {% endfor %}
            </div>
          </fieldset>
        </div>
          {{ govukInput ({
              label: {
                text: "Year",
                classes: "govuk-label govuk-label--s",
                attributes: {
                  "data-cy": "year-label"
                }
              },
              classes: "govuk-input govuk-!-width-one-quarter",
              id: "year",
              name: "year",
              inputmode: "numeric",
              errorMessage: {
                text: "error"
              }
            }) }}
          {# <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="year" data-cy=>Year</label>
            <input class="govuk-input govuk-!-width-one-quarter" id="year" name="year" type="number" minlength="4" maxlength="4">
          </div> #}
          <button class="govuk-button" data-cy="continue-button">Continue</button>
      </form>
    </div>
  </div>
{% endblock %}
{% block sub_content %}{% endblock %}