{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% extends "index.njk" %}
{% block pageTitle %}
  Trade Finance Manager
{% endblock %}
{% block content %}
  {# TODO FN-2630 should this be in the index? #}
  {{ govukBackLink({
          text: "Back",
          href: "/utilisation-reports",
          attributes: {
            "data-cy": "back-link"
          }
        }) }}

    <div class="govuk-grid-row govuk-!-padding-top-7"> <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6" data-cy="find-reports-by-year-heading">
        Find reports by year
      </h1>
      <form method="GET" data-cy="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              Bank
            </legend>
            <div class="govuk-radios govuk-radios--small">
              {% for bank in banks %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="{{ bank.name }}" name="bank" type="radio" value="{{ bank.name }}">
                    <label class="govuk-label govuk-radios__label" for="{{ bank.name }}">{{ bank.name }}</label>
                  </div>
                  {% endfor %}
                </div>
              </fieldset>
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label govuk-label--s" for="year">Year</label>
              <input class="govuk-input govuk-!-width-one-quarter" id="year" name="year" type="number" minlength="4" maxlength="4" required>
            </div>
            <button class="govuk-button">Continue</button>
          </form>
        </div>
      </div>
    {% endblock %}
    {% block sub_content %}{% endblock %}