{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% import './_macros/report-reconciliation-table.njk' as reportReconciliationTable %}

{% extends "index.njk" %}

{% block pageTitle %}
  Trade Finance Manager
{% endblock %}

{% block content %}
  <div class="govuk-grid-row govuk-!-padding-top-7">
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6" data-cy="utilisation-report-heading">
        Bank reports
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% for reportPeriodSummary in reportPeriodSummaries %}
        <h2
          class="govuk-heading-m"
          data-cy="{{ reportPeriodSummary.submissionMonth }}-submission-month-report-period-heading"
        >
          {{ reportPeriodSummary.reportPeriodHeading }}
        </h2>

        <p
          class="govuk-body"
          data-cy="{{ reportPeriodSummary.submissionMonth }}-submission-month-report-due-date-text"
        >
          {{ reportPeriodSummary.dueDateText }}
        </p>

        {{ reportReconciliationTable.render({
          summaryItems: reportPeriodSummary.items,
          submissionMonth: reportPeriodSummary.submissionMonth,
          reportPeriodStart: reportPeriodSummary.reportPeriodStart,
          csrfToken: csrfToken
        }) }}
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block sub_content %}{% endblock %}
