{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% import "./_macros/premium-payments-table.njk" as premiumPaymentsTable %}
{% import "./_macros/keying-sheet-table.njk" as keyingSheetTable %}
{% import "./_macros/payment-details-table.njk" as paymentDetailsTable %}
{% import './_macros/payment-details-filters-panel.njk' as paymentDetailsFiltersPanel %}
{% import './_macros/payment-details-filters-action-bar.njk' as paymentDetailsFiltersActionBar %}
{% import './_macros/utilisation-table.njk' as utilisationTable %}

{% extends "index.njk" %}

{% set userCanEdit = user | userIsInTeam(['PDC_RECONCILE']) %}
{% set hasErrors = premiumPayments.tableDataError or premiumPayments.filterError or paymentDetails.filterErrors.errorSummary | length %}

{% block pageTitle %}
  {{ (bank.name + ', ' + formattedReportPeriod) | formatPageTitle(hasErrors) }}
{% endblock %}

{% set premiumPaymentsHtml %}
  {% if premiumPayments.showMatchSuccessNotification %}
    {% set notificationHtml %}
      <h3 class="govuk-notification-banner__heading" data-cy="match-success-notification-heading">
        Match payment recorded
      </h3>
      <p class="govuk-body" data-cy="match-success-notification-message">The fee(s) are now at a Match state. Further payments cannot be added to the fee record.</p>
    {% endset %}

    <div class="govuk-grid-row govuk-!-padding-top-7" data-cy="match-success-notification">
      <div class="govuk-grid-column-one-half-from-desktop">
        {{ govukNotificationBanner({
          html: notificationHtml,
          type: "success"
        }) }}
      </div>
    </div>
  {% endif %}

  {% if premiumPayments.tableDataError or premiumPayments.filterError %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [premiumPayments.tableDataError, premiumPayments.filterError],
      attributes: {
        'data-cy': 'error-summary'
      }
    }) }}
  {% endif %}

  {% set clearButtonHref %}
      /utilisation-reports/{{ reportId }}
  {% endset %}
    <h2 class="govuk-heading-l" data-cy="premium-payments-heading">Premium payments</h2>

    <div class="govuk-grid-row premium-payments-description-filter-container">
      <div class="govuk-grid-column-one-half premium-payments-description-container">
        {% if userCanEdit %}
          <p class="govuk-body" data-cy="how-to-add-payments-text">Received payments are entered against reported fees through selection and then selection of the 'Add a payment' button.</p>

          <p class="govuk-body" data-cy="how-to-generate-keying-data-text">
            When payments show as matched, the adjustment data for keying into ACBS will be automatically generated when the 'Generate keying data' button is selected.
          </p>
        {% else %}
          <p class="govuk-body" data-cy="received-payments-text">Received payments are entered against reported fees. When payments show as matched, the adjustment data for keying into ACBS will be automatically generated.</p>
        {% endif %}
      </div>

      <div class="govuk-grid-column-one-half govuk-!-text-align-right premium-payments-filter-container">
        <form method="GET" data-cy="facility-filter-form">
          <div class="govuk-!-text-align-left govuk-!-display-inline-block premium-payments-filter-control">
            {{ govukInput({
              label: {
                text: "Filter by facility ID",
                classes: "govuk-label govuk-!-font-weight-bold"
              },
              id: "premium-payments-facility-id-filter",
              name: "premiumPaymentsFacilityId",
              value: premiumPayments.filters.facilityId,
              errorMessage: premiumPayments.filterError and {
                text: premiumPayments.filterError.text
              },
              attributes: {'data-cy': 'premium-payments-facility-filter-input'}
            }) }}
          </div>
          <div class="govuk-!-display-inline-block">
            <div class="govuk-!-display-inline-block">
              {{ govukButton({
                text: "Filter",
                classes: "govuk-button govuk-button--secondary govuk-!-margin-left-2 premium-payments-filter-control",
                id: "premium-payments-facility-id-filter-button",
                attributes: {'data-cy': 'premium-payments-facility-filter-submit-button'}
              }) }}
            </div>
            <div class="govuk-!-display-inline-block">
              {{ govukButton({
                text: "Clear filter",
                classes: "govuk-button govuk-button--secondary govuk-!-margin-left-2 premium-payments-filter-control",
                id: "premium-payments-facility-id-clear-button",
                href: clearButtonHref,
                attributes: {'data-cy': 'premium-payments-facility-filter-clear-button'}
              }) }}
            </div>
          </div>
        </form>
      </div>
    </div>

  {% if premiumPayments.tableDataError %}
    <div class="govuk-form-group--error">
  {% endif %}
  {% if userCanEdit %}
    <form method="post" data-cy="premium-payments-form">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
      <div class="govuk-button-group">
        <input
          class="govuk-button govuk-!-margin-right-3"
          formaction="/utilisation-reports/{{ reportId }}/add-payment"
          value="Add a payment"
          data-module="govuk-button"
          type="submit"
          data-cy="add-a-payment-button"/>
        <input
          class="govuk-button govuk-button--secondary govuk-!-margin-right-3"
          formaction="/utilisation-reports/{{ reportId }}/check-keying-data"
          value="Generate keying data"
          data-module="govuk-button"
          type="submit"
          data-cy="generate-keying-data-button"/>
        {% if isFeeRecordCorrectionFeatureFlagEnabled %}
          <input
            class="govuk-button govuk-button--secondary govuk-!-margin-right-3"
            formaction="/utilisation-reports/{{ reportId }}/create-record-correction-request"
            value="Create record correction request"
            data-module="govuk-button"
            type="submit"
            data-cy="create-record-correction-request-button"/>
        {% endif %}
      </div>
  {% endif %}
  {{ premiumPaymentsTable.render({
    reportId: reportId,
    feeRecordPaymentGroups: premiumPayments.payments,
    enablePaymentsReceivedSorting: premiumPayments.enablePaymentsReceivedSorting,
    userCanEdit: userCanEdit,
    hasSelectableRows: premiumPayments.hasSelectableRows,
    errorMessage: premiumPayments.tableDataError.text
  }) }}
  {% if userCanEdit %}
    </form>
  {% endif %}
  {% if premiumPayments.tableDataError %}
    </div>
  {% endif %}
{% endset %}

{% set keyingSheetHtml %}
  <h2 class="govuk-heading-l" data-cy="keying-sheet-heading">Keying sheet</h2>

  {% if userCanEdit %}
    <p class="govuk-body" data-cy="select-payments-text">Select payments and mark as done when the adjustments have been keyed into ACBS.</p>
   {% endif %}
  <p class="govuk-body" data-cy="payments-on-premium-payments-tab-text">Payments on the premium payments tab will show as reconciled when they have been marked as done here.</p>

  <form method="post" data-cy="keying-sheet-form">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

    {% if userCanEdit %}
      <div class="govuk-button-group">
        <input
          class="govuk-button govuk-!-margin-right-3"
          formaction="/utilisation-reports/{{ reportId }}/keying-data/mark-as-done"
          value="Mark as done"
          data-module="govuk-button"
          type="submit"
          data-cy="keying-sheet-mark-as-done-button"/>
        <input
          class="govuk-button govuk-button--secondary"
          formaction="/utilisation-reports/{{ reportId }}/keying-data/mark-as-to-do"
          value="Mark as to do"
          data-module="govuk-button"
          type="submit"
          data-cy="keying-sheet-mark-as-to-do-button"/>
      </div>
    {% endif %}

    {{ keyingSheetTable.render({
      keyingSheet: keyingSheet,
      userCanEdit: userCanEdit
    }) }}
  </form>
{% endset %}

{% set paymentDetailsHtml %}
  {% if paymentDetails.filterErrors.errorSummary | length %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: paymentDetails.filterErrors.errorSummary,
      attributes: {
        'data-cy': 'payment-details-error-summary'
      }
    }) }}
  {% endif %}

  <h2 class="govuk-heading-l" data-cy="payment-details-heading">Payment details</h2>

  {% if paymentDetails.rows.length === 0 and paymentDetails.isFilterActive === false %}
    <p class="govuk-body" data-cy="payment-details-no-payments-text">Payment details will be displayed when payments have been entered on the premium payments tab.</p>
  {% else %}
    <div class="moj-filter-layout">

      {{ paymentDetailsFiltersPanel.render({
        filters: paymentDetails.filters,
        selectedFilters: paymentDetails.selectedFilters,
        errors: paymentDetails.filterErrors,
        reportId: reportId
      }) }}

      <div class="moj-filter-layout__content">

        {{ paymentDetailsFiltersActionBar.render({
          selectedFilters: paymentDetails.selectedFilters
        }) }}

        {% if paymentDetails.rows.length === 0 and paymentDetails.isFilterActive %}

          <p class="govuk-body" data-cy="payment-details-no-records-matching-filters-text">There are no records matching the search criteria</p>

        {% else %}

          <div class="moj-scrollable-pane">

            <div class="moj-scrollable-pane__wrapper">

              {{ paymentDetailsTable.render({
                reportId: reportId,
                paymentDetails: paymentDetails.rows,
                userCanEdit: userCanEdit
              }) }}

            </div>

          </div>

        {% endif %}

      </div>

    </div>
  {% endif %}
{% endset %}

{% set utilisationHtml %}
  <h2 class="govuk-heading-l" data-cy="bank-report-heading">Bank report</h2>

  {{ utilisationTable.render({
    utilisationTableRows: utilisationDetails.utilisationTableRows
  }) }}

  <a class="govuk-link" href="{{ utilisationDetails.downloadUrl }}" data-cy="download-report-link">
    Download the report submitted by the bank as a CSV
  </a>
{% endset %}

{% block content %}
  <div class="govuk-grid-row govuk-!-padding-top-7">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6" data-cy="utilisation-report-reconciliation-for-report-heading">
        {{ bank.name }}
      </h1>
      <h2 class="govuk-heading-l" data-cy="report-period-heading">{{ formattedReportPeriod }}</h2>

      <div class="ukef-tabs--no-border">
        {{ govukTabs({
          items: [
            {
              label: "Premium payments",
              id: "premium-payments",
              panel: {
                html: premiumPaymentsHtml | safe
              },
              attributes: {
                'data-cy': 'bank-report-tab-premium-payments'
              }
            },
            {
              label: "Keying sheet",
              id: "keying-sheet",
              panel: {
                html: keyingSheetHtml | safe
              },
              attributes: {
                'data-cy': 'bank-report-tab-keying-sheet'
              }
            },
            {
              label: "Payment details",
              id: "payment-details",
              panel: {
                html: paymentDetailsHtml | safe
              },
              attributes: {
                'data-cy': 'bank-report-tab-payment-details'
              }
            },
            {
              label: "Utilisation",
              id: "utilisation",
              panel: {
                html: utilisationHtml | safe
              },
              attributes: {
                'data-cy': 'bank-report-tab-utilisation'
              }
            }
          ]
        }) }}
      </div>
    </div>
  </div>
{% endblock %}

{% block sub_content %}{% endblock %}

{% block page_scripts %}
  <script src="/assets/js/enableSelectAllTableCheckbox.js" type="text/javascript" integrity="sha512-ER/5raNAJX5VTcyrRBjVExC/f39WaVY4r8k1CyGqJUad95QZ0A1H6zHtsFpdf0JDBLV0acXzSA1B2mkKC8g5Tg==" crossorigin="anonymous"></script>
  <script src="/assets/js/mojFilterHide.js" type="text/javascript" integrity="sha512-+cvIUHRbppDw7Nm+SzhhzdmURd9B8WdH0kN8uZQ6dov9yDsMryyv5b7Om+btnQF0HZBwGrmWQVyt2T5pMCrK3g==" crossorigin="anonymous"></script>
{% endblock %}
