{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% import "./_macros/premium-payments-table.njk" as premiumPaymentsTable %}
{% import "./_macros/keying-sheet-table.njk" as keyingSheetTable %}
{% import "./_macros/payment-details-table.njk" as paymentDetailsTable %}
{% import './_macros/payment-details-filters-panel.njk' as paymentDetailsFiltersPanel %}
{% import './_macros/payment-details-filters-action-bar.njk' as paymentDetailsFiltersActionBar %}
{% import './_macros/utilisation-table.njk' as utilisationTable %}

{% extends "index.njk" %}

{% set userCanEdit = user | userIsInTeam(['PDC_RECONCILE']) %}
{% set hasErrors = premiumPayments.tableDataError or premiumPayments.filterError or paymentDetails.filterErrors.errorSummary | length %}

{% block pageTitle %}
  {{ (bank.name + ', ' + formattedReportPeriod) | formatPageTitle(hasErrors) }}
{% endblock %}

{% set premiumPaymentsHtml %}
  {% include "./partials/premium-payments-html.njk" %}
{% endset %}

{% set keyingSheetHtml %}
  {% include "./partials/keying-sheet-html.njk" %}
{% endset %}

{% set paymentDetailsHtml %}
  {% include "./partials/payment-details-html.njk" %}
{% endset %}

{% set utilisationHtml %}
  {% include "./partials/utilisation-html.njk" %}
{% endset %}

{% set recordCorrectionHistoryHtml %}
  {% include "./partials/record-correction-history-html.njk" %}
{% endset %}

{% block content %}
  <div class="govuk-grid-row govuk-!-padding-top-7">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6" data-cy="utilisation-report-reconciliation-for-report-heading">
        {{ bank.name }}
      </h1>
      <h2 class="govuk-heading-l" data-cy="report-period-heading">{{ formattedReportPeriod }}</h2>

      <div class="ukef-tabs--no-border">
        {{ govukTabs({
          items: [
            {
              label: "Premium payments",
              id: "premium-payments",
              panel: {
                html: premiumPaymentsHtml | safe
              },
              attributes: {
                'data-cy': 'bank-report-tab-premium-payments'
              }
            },
            {
              label: "Keying sheet",
              id: "keying-sheet",
              panel: {
                html: keyingSheetHtml | safe
              },
              attributes: {
                'data-cy': 'bank-report-tab-keying-sheet'
              }
            },
            {
              label: "Payment details",
              id: "payment-details",
              panel: {
                html: paymentDetailsHtml | safe
              },
              attributes: {
                'data-cy': 'bank-report-tab-payment-details'
              }
            },
            {
              label: "Utilisation",
              id: "utilisation",
              panel: {
                html: utilisationHtml | safe
              },
              attributes: {
                'data-cy': 'bank-report-tab-utilisation'
              }
            },
            {
              label: "Record correction history",
              id: "record-correction-history",
              panel: {
                html: recordCorrectionHistoryHtml | safe
              },
              attributes: {
                'data-cy': 'bank-report-tab-record-correction-history'
              }
            }
          ]
        }) }}
      </div>
    </div>
  </div>
{% endblock %}

{% block sub_content %}{% endblock %}

{% block page_scripts %}
  <script src="/assets/js/enableSelectAllTableCheckbox.js" type="module" integrity="sha512-ER/5raNAJX5VTcyrRBjVExC/f39WaVY4r8k1CyGqJUad95QZ0A1H6zHtsFpdf0JDBLV0acXzSA1B2mkKC8g5Tg==" crossorigin="anonymous"></script>
  <script src="/assets/js/mojFilterHide.js" type="module" integrity="sha512-+cvIUHRbppDw7Nm+SzhhzdmURd9B8WdH0kN8uZQ6dov9yDsMryyv5b7Om+btnQF0HZBwGrmWQVyt2T5pMCrK3g==" crossorigin="anonymous"></script>
{% endblock %}
