{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}
{% import './_macros/case-summary.njk' as caseSummary %}

{% extends "index.njk" %}
{% set primary = 'cases' %}

{% block content %}

  {% set componentData = {
    deal: deal,
    tfm: tfm,
    user: user,
    amendment: amendment
  } %}

  {{caseSummary.render(componentData)}}

  {% include "_partials/case_sub_navigation.njk" %}

{% endblock %}

  {% block sub_content %}
  {% endblock %}
