{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}
{% import './_macros/case-summary.njk' as caseSummary %}

{% extends "index.njk" %}
  {% set primary = 'cases' %}

  {% block pageTitle %}
    C0345
  {% endblock %}

  {% block content %}

    {{caseSummary.render(deal)}}
     {% include "_partials/case_sub_navigation.njk" %}

  {% endblock %}

  {% block sub_content %}
  {% endblock %}

  
