# This is a sample .env file for use in local development.
# Duplicate this file as .env in the root of the project
# and update the environment variables to match your
# desired config

PORT=5003
TRADE_FINANCE_MANAGER_API_URL=http://localhost:5004
UKEF_TFM_API_SYSTEM_KEY=