{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "index.njk" %}

{% block pageTitle -%}
  Cancellation - Bank request date
{%- endblock %}

{% set headingHtml %}
<h1 class="govuk-label-wrapper">
  <span class="govuk-caption-l govuk-!-margin-top-3 govuk-!-margin-bottom-1">Cancel deal {{ ukefDealId }}</span>
  <label class="govuk-label govuk-label--l" for="bank-request-date">
    Bank request date
  </label>
</h1>
{% endset %}

{% block sub_content %}
  {{ govukBackLink({
      text: "Back",
      href: "/case/" + dealId + "/cancellation/reason",
      attributes: {
        'data-cy': 'back-link'
      }
    }) }}

  {% if errors %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors.summary,
      attributes: {
        'data-cy': 'error-summary'
      },
      classes: "govuk-!-margin-top-4 govuk-!-margin-bottom-4"
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <form method="POST" autocomplete="off">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {{ govukDateInput({
          id: "bank-request-date",
          value: bankRequestDate,
          namePrefix: "bank-request-date",
          fieldset: {
            legend: {
              html: headingHtml
            }
          },
          hint: {
            text: "For example, 31 3 2023",
            attributes: {
              "data-cy": "bank-request-date-hint"
            }
          },
          errorMessage: errors and {
            text: errors.bankRequestDateError.message,
            attributes: {
              'data-cy': 'bank-request-date-inline-error'
            }
          },
          items: [
            {
              label: "Day",
              classes: (errors and 'bank-request-date-day' in errors.bankRequestDateError.fields) and "govuk-input--error govuk-input--width-2" or "govuk-input--width-2",
              name: "day",
              value: day,
              attributes: {
                'data-cy': "bank-request-date-day"
              }
            },
            {
              label: "Month",
              classes: (errors and 'bank-request-date-month' in errors.bankRequestDateError.fields) and "govuk-input--error govuk-input--width-2" or "govuk-input--width-2",
              name: "month",
              value: month,
              attributes: {
                'data-cy': "bank-request-date-month"
              }
            },
            {
              label: "Year",
              classes: (errors and 'bank-request-date-year' in errors.bankRequestDateError.fields) and "govuk-input--error govuk-input--width-4" or "govuk-input--width-4",
              name: "year",
              value: year,
              attributes: {
                'data-cy': "bank-request-date-year"
              }
            }
          ]
        }) }}

        <div class="govuk-button-group govuk-!-margin-top-4">
          {{ govukButton({
            text: "Continue",
            attributes: { "data-cy": "continue-button" }
          }) }}
          <a class="govuk-link" href="/case/{{ dealId }}/deal" data-cy="cancel-link">Cancel</a>
        </div>

      </form>
    </div>
  </div>
{% endblock %}
