{% macro render(params) %}
  {% set emails = params.emails %}

  <p class="govuk-body" data-cy="paragraph">
    A confirmation email has been sent to:
    <ul class="govuk-list govuk-list--bullet">
      {% for email in emails %}
        <li>{{ email }}</li>
      {% endfor %}
    </ul>
  </p>

{% endmacro %}
