{% import './eligibility-documentation-preview-file.njk' as eligibilityDocumentationPreviewFiles %}

{% macro render(supportingInformation, dealId) %}

  <div data-cy="eligibility-documentation">

    <h4 class="govuk-heading-m">Supporting documentation</h4>

    <ol class="govuk-list govuk-list--number">

      {{ eligibilityDocumentationPreviewFiles.list('Manual Inclusion Questionnaire', 'exporterQuestionnaire', supportingInformation.exporterQuestionnaire, dealId)  }}
      {{ eligibilityDocumentationPreviewFiles.list('Financial statements for the past 3 years','auditedFinancialStatements',  supportingInformation.auditedFinancialStatements, dealId)  }}
      {{ eligibilityDocumentationPreviewFiles.list('Year to date management accounts', 'yearToDateManagement', supportingInformation.yearToDateManagement, dealId)  }}
      {{ eligibilityDocumentationPreviewFiles.list('Financial forecasts for the next 3 years', 'financialForecasts',  supportingInformation.financialForecasts, dealId)  }}
      {{ eligibilityDocumentationPreviewFiles.list('Brief commentary on the financial information', 'financialInformationCommentary', supportingInformation.financialInformationCommentary, dealId)  }}
      {{ eligibilityDocumentationPreviewFiles.list('Corporate structure diagram', 'corporateStructure', supportingInformation.corporateStructure, dealId)  }}

      {% for documentation in supportingDocumentation %}

        <li class="govuk-body-s">
          <span class="govuk-!-font-weight-bold">{{ documentation.title }}</span>
          {% if documentation.href %}
            <a href="#{{ documentation.href }}" class="govuk-link govuk-!-margin-left-4">{{ documentation.href }}</a>
          {% endif %}

          {% if documentation.value %}
            <span class="govuk-body-s govuk-!-margin-left-4">{{ documentation.value }}</span>
          {% endif %}

        </li>

      {% endfor %}

      <li class="govuk-body-s">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third govuk-!-font-weight-bold govuk-!-margin-bottom-1">Security</div>
          <div class="govuk-grid-column-two-thirds">{{ supportingInformation.securityDetails.exporter }}</div>
        </div>
      </li>
    </ol>

  </div>

{% endmacro %}

