{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% macro render() %}

  {{ govukPanel({
    attributes: {
      'data-cy': 'submitted-reset-password-request-panel',
      'tabIndex': 0
    },
    titleText: "Password reset request sent"
  }) }}
{% endmacro %}
