{% from "govuk/components/radios/macro.njk" import govukRadios %}
{%- from "moj/components/timeline/macro.njk" import mojTimeline -%}


{% macro render(params) %}

<form method="POST" autocomplete="off">
    {{ govukRadios({
    classes: "govuk-radios--inline",
    idPrefix: "filterType",
    name: "filterType",
    fieldset: {
        legend: {
        text: "Filter all activities and comments",
        classes: "govuk-visually-hidden"
        }
    },
    items: [
        {
        value: "All activity",
        text: "All activity",
        checked: true,
        attributes: {
            'data-cy': '',
            'onChange': ''
            }
        },
        {
        value: "Comments only",
        text: "Comments only"
        }
    ]
    }) }}
     </form>

{% endmacro %}    
