{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": { "node": "24.17.0" },
          "useBuiltIns": "entry",
          "corejs": "3"
        }
      ]
    ],
    "plugins": [
      "@babel/plugin-transform-runtime"
    ]
  }

  