{% from "./_macros/request-new-login-link.njk" import requestNewLoginLink %}

{% extends "index.njk" %}

{% block pageTitle %}
  Check your email
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    Check your email
  </h1>

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-three-quarters">
      <p class="govuk-!-margin-bottom-6">We've sent you an email with a link to sign in. This link will expire after 30 minutes.</p>
      {{ requestNewLoginLink({
        isPrimaryActionOnPage: false
      }) }}
    </div>
  </div>
{% endblock %}
