{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{{ populateAddressForm }}

{{ govukInput({
  id: "mappedAddresses",
  name: "mappedAddresses",
  value: addresses | dump,
   attributes: {
      'hidden': true
    }
}) }}

{{ govukSelect({
  id: "addresses",
  name: "selectedAddress",
  label: {
    text: "Select address"
  },
  items: addresses,
  errorMessage: errors and errors.fieldErrors.selectedAddress and {
    text: errors.fieldErrors.selectedAddress.text,
    attributes: {
      'data-cy': 'addresses-error'
    }
  }
}) }}

{{ govukButton({
    text: "Use this address",
    classes: "govuk-button--secondary"
  }) }}

{{ govukInput({
  label: {
    text: "Address line 1"
  },
  id: "addressLine1",
  name: "addressLine1"
}) }}

{{ govukInput({
  label: {
    text: "Address line 2 (optional)"
  },
  id: "addressLine2",
  name: "addressLine2"
}) }}

{{ govukInput({
  label: {
    text: "Address line 3 (optional)"
  },
  id: "addressLine3",
  name: "addressLine3"
}) }}

{{ govukInput({
  label: {
    text: "City or town (optional)"
  },
  id: "locality",
  name: "locality"
}) }}