{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  id: "addressesForSelection",
  name: "addressesForSelection",
  value: addressesForSelection | dump,
  classes: "govuk-visually-hidden",
  attributes: {
    'hidden': true
  }
}) }}

{{ govukInput({
  id: "addresses",
  name: "addresses",
  value: addresses | dump,
  classes: "govuk-visually-hidden",
  attributes: {
    'hidden': true
  }
}) }}

{{ govukSelect({
  id: "selectedAddresses",
  name: "selectedAddress",
  label: {
    text: "Select address"
  },
  items: addressesForSelection,
  errorMessage: errors and errors.fieldErrors.selectedAddress and {
    text: errors.fieldErrors.selectedAddress.text,
    attributes: {
      'data-cy': 'selected-address-error'
    }
  }
}) }}

{{ govukButton({
    text: "Use this address",
    classes: "govuk-button--secondary",
    attributes: {
      "formaction": "exporters-address/use-address"
    }
  }) }}

{% if showForm %}
  {{ govukInput({
    label: {
      text: "Address line 1"
    },
    id: "addressLine1",
    name: "addressLine1",
    value: addressForm.address_line_1,
    errorMessage: errors and errors.fieldErrors.addressLine1 and {
      text: errors.fieldErrors.addressLine1.text,
      attributes: {
        'data-cy': 'address-line-1-error'
      }
    }
  }) }}

  {{ govukInput({
    label: {
      text: "Address line 2 (optional)"
    },
    id: "addressLine2",
    name: "addressLine2",
    value: addressForm.address_line_2
  }) }}

  {{ govukInput({
    label: {
      text: "Address line 3 (optional)"
    },
    id: "addressLine3",
    name: "addressLine3",
    value: addressForm.address_line_3
  }) }}

  {{ govukInput({
    label: {
      text: "City or town (optional)"
    },
    id: "locality",
    name: "locality",
    value: addressForm.locality
  }) }}
{% endif %}
