{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% import '../../amendments/_macros/amendment-ukef-decision-summary.njk' as summaryDetails %}
{% import '../../amendments/_macros/amendment-future-effective-date-facility-bar.njk' as amendmentFutureEffectiveDateFacilityBar %}
{% import './amendment-eligibility-criteria.njk' as eligibilityCriteria %}

{% macro render(params) %}
  {% set allAmendments = params.allAmendments %}
  {% set futureEffectiveDatePortalAmendment = params.futureEffectiveDatePortalAmendment %}

  {% for amendment in allAmendments %}
    <div class="govuk-grid-row govuk-!-margin-top-53 govuk-!-padding-top-6 amendment-details" data-cy="amendment--details-{{loop.index}}">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l" data-cy="amendment--heading-{{loop.index}}">{{amendment.name}} </h2>
        
        {% if amendment.futureEffectiveDatePortalAmendment %}
          <div class="govuk-!-padding-bottom-6">
          {% set amendmentFutureEffectiveDateFacilityBarParams = {
            futureEffectiveDatePortalAmendment: futureEffectiveDatePortalAmendment,
            isOnAmendmentTab: true
          } %}
          {{ amendmentFutureEffectiveDateFacilityBar.render(amendmentFutureEffectiveDateFacilityBarParams) }}
          </div>
        {% endif %}

        <dl class="govuk-grid-row ukef-list">
          {% if not amendment.isPortalAmendment %}
            <dt class="govuk-grid-column-one-quarter ukef-heading-xs">Date amendment is effective from</dt>
            <dd class="govuk-grid-column-three-quarters govuk-body-s" data-cy="amendment--details-{{loop.index}}-effective-date">{{ amendment.effectiveDate | dashIfEmpty}}</dd>
          {% endif %}

          {% if amendment.isPortalAmendment %}
            <dt class="govuk-grid-column-one-quarter ukef-heading-xs">Submitted by</dt>
            <dd class="govuk-grid-column-three-quarters govuk-body-s" data-cy="amendment--details-{{loop.index}}-submitted-by">{{ amendment.createdBy.name | dashIfEmpty}} - {{ amendment.bankName | dashIfEmpty}}</dd>
          {% endif %}

          <dt class="govuk-grid-column-one-quarter ukef-heading-xs">Bank requested change</dt>
          <dd class="govuk-grid-column-three-quarters govuk-body-s" data-cy="amendment--details-{{loop.index}}-request-date">{{ amendment.requestDate | dashIfEmpty}}</dd>

          <dt class="govuk-grid-column-one-quarter ukef-heading-xs">UKEF approval required</dt>
          <dd class="govuk-grid-column-three-quarters govuk-body-s" data-cy="amendment--details-{{loop.index}}-require-approval">{{ amendment.requireUkefApproval | dashIfEmpty}}</dd>
        </dl>

        {% set rows = [] %}

        {% if amendment.changeCoverEndDate === true %}
          {% set coverEndDateDecisionHtml %}
              {{govukTag({
                text: amendment.ukefDecisionCoverEndDate,
                classes: amendment.tags[amendment.ukefDecisionCoverEndDate],
                attributes: { "data-cy": "amendment--details-"+loop.index+"-cover-end-date-decision" }
              })}}
          {% endset %}

          {% set defaultCoverEndDate =
            [
              { text: 'Cover end date' },
              { text: amendment.currentCoverEndDate, attributes: { "data-cy": "amendment--details-"+loop.index+"-current-cover-end-date" } },
              { text: amendment.coverEndDate, attributes: { "data-cy": "amendment--details-"+loop.index+"-new-cover-end-date" } },
              { html: coverEndDateDecisionHtml }
            ]
          %}

          {% if amendment.requireUkefApproval === 'Yes' %}
            {% set banksDecisionHtml %}
              {{govukTag({
                text: amendment.banksDecision,
                classes: amendment.bankDecisionTags[amendment.banksDecision],
                attributes: { "data-cy": "amendment--details-"+loop.index+"-banks-decision" }
              })}}
            {% endset %}
            {% set bankDecision = { html: banksDecisionHtml, rowspan: 2, classes: "gov-table__grey-table-column gov-table_cell-vertical-align-middle" } %}
            {% set defaultCoverEndDate = (defaultCoverEndDate.push(bankDecision), defaultCoverEndDate) %}
          {% endif %}

          {% set rows = (rows.push(defaultCoverEndDate), rows) %}
        {% endif %}


        {% if amendment.changeFacilityValue === true %}
          {% set facilityValueDecisionHtml %}
              {{govukTag({
                text: amendment.ukefDecisionValue,
                classes: amendment.tags[amendment.ukefDecisionValue],
                attributes: { "data-cy": "amendment--details-"+loop.index+"-facility-value-decision" }
              })}}
          {% endset %}

          {% set defaultFacilityValue =
            [
              { text: 'Value (facility currency)' },
              { text: amendment.currentValue, attributes: { "data-cy": "amendment--details-"+loop.index+"-current-facility-value" } },
              { text: amendment.value, attributes: { "data-cy": "amendment--details-"+loop.index+"-new-facility-value" } },
              { html: facilityValueDecisionHtml }
            ]
          %}

          {% if amendment.requireUkefApproval === 'Yes' %}
            {% set banksDecisionHtml = '' %}
            {% if amendment.changeCoverEndDate === false %}
              {% set banksDecisionHtml %}
                {{govukTag({
                  text: amendment.banksDecision,
                  classes: amendment.bankDecisionTags[amendment.banksDecision],
                  attributes: { "data-cy": "amendment--details-"+loop.index+"-banks-decision" }
                })}}
              {% endset %}
            {% endif %}
            {% set bankDecision = { html: banksDecisionHtml, classes: "gov-table__grey-table-column gov-table_cell-vertical-align-middle", rowspan: 2 } %}
            {% set defaultFacilityValue = (defaultFacilityValue.push(bankDecision), defaultFacilityValue) %}
          {% endif %}

          {% set rows = (rows.push(defaultFacilityValue), rows) %}
        {% endif %}

        {% if amendment.isPortalAmendment %}
          {% set defaultEffectiveDate =
            [
              { text: 'Date amendment is effective from' },
              { text: amendment.effectiveDate, attributes: { "data-cy": "amendment--details-"+loop.index+"-table-effective-date" } },
              { text: null },
              { text: null }
            ]
          %}

          {% set rows = (rows.push(defaultEffectiveDate), rows) %}
        {% endif %}
        


        {% set head =
          [
            {
              text: "",
              classes: 'govuk-!-width-one-quarter'
            },
            {
              text: "Change from",
              classes: 'govuk-!-width-one-quarter'
            },
            {
              text: "Change to",
              classes: 'govuk-!-width-one-quarter'
            },
            {
              text: "UKEF decision",
              classes: 'govuk-!-width-one-quarter'
            }
          ]
        %}
        {% if amendment.requireUkefApproval === 'Yes' %}
          {% set bankDecision = { text: "Bank's decision" } %}
          {% set head = (head.push(bankDecision), head) %}
        {% endif %}

        {{ govukTable({
          captionClasses: "govuk-table__caption--m",
          firstCellIsHeader: true,
          head: head,
          rows: rows
        }) }}

        {% if amendment.ukefDecision.submitted %}
          {{ summaryDetails.render(amendment) }}
        {% endif %}

        {% if amendment.isPortalAmendment %}
          {{ eligibilityCriteria.render({
            rows: amendment.eligibilityRows,
            index: loop.index
          }) }}
        {% endif %}

      </div>
    </div>
  {% endfor %}
{% endmacro %}