{% macro render(params) %}
  {% set facility = params.facility %}
  {% set schedule = params.premiumschedule %}
  {% set premiumTotals = params.premiumTotals %}
  {% set premiumFrequency = facility.feeFrequency or facility.premiumFrequency %}

  <div class="govuk-grid-row" data-cy="facility-overview">
    <div class="govuk-grid-column-full">
      <h3 class="govuk-heading-l">Premium Schedule</h3>
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-margin-bottom-4">
    <div class="ukef-grid-column-one-sixth">
      <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">How bank will pay</span>
    </div>
    <div class="ukef-grid-column-one-sixth">
        <span class="govuk-body-s" data-cy="facility-premium-type">{{ facility.feeType }}</span>
    </div>
  </div>

  {% if premiumFrequency %}
    <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="ukef-grid-column-one-sixth">
        <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">How often</span>
      </div>
      <div class="ukef-grid-column-one-sixth">
        <span class="govuk-body-s" data-cy="facility-premium-frequency">
          {{ premiumFrequency }}
        </span>
      </div>
    </div>
  {% endif %}

  <div class="govuk-grid-row govuk-!-margin-bottom-4">
    <div class="ukef-grid-column-one-sixth">
      <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Day count basis</span>
    </div>
    <div class="ukef-grid-column-one-sixth" data-cy="facility-premium-daycountbasis">
      <span class="govuk-body-s" data-cy="facility-premium-frequency">
        {{ facility.dayCountBasis }}
      </span>
    </div>
  </div>


  <div class="govuk-grid-row separator-line govuk-!-margin-top-7 govuk-!-padding-top-6" data-cy="facility-premium-schedule">
    <div class="govuk-grid-column-two-thirds">
      <h3 class="govuk-heading-l">Dates and amounts</h3>
      <div class="govuk-grid-row ">
        <div class="govuk-grid-column-one-half">
          <div class="ukef-grey-bg-row-column-left-text">
            <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Total to be paid to UKEF:</span>
            <span class="govuk-!-font-size-16" data-cy="premiumTotals">
            GBP {{ premiumTotals }}
            </span>
        </div>

      </div>
      <table class="govuk-table facilities-table" data-cy="facilities-table">
        <thead class="govuk-table__head">
          <tr>
            <th class="govuk-table__header govuk-body-s" data-cy="facilities-table-heading-facility-id">Payment</th>
            <th class="govuk-table__header govuk-body-s" data-cy="facilities-table-heading-cover-end-date">Due date</th>
            <th class="govuk-table__header govuk-body-s" data-cy="facilities-table-heading-value-gbp">Amount to be paid to UKEF (GBP)</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for schedule_item in schedule %}
            <tr class="govuk-table__row" data-cy="schedule_item-{{ schedule_item.id }}">
              <td class="govuk-table__cell govuk-body-s" data-cy="facility-{{ schedule_item._id }}-payment">{{ schedule_item.period }}</td>
              <td class="govuk-table__cell govuk-body-s" data-cy="facility-{{ schedule_item._id }}-dueDate">{{ schedule_item.calculationDate | dashIfEmpty }}</td>
              <td class="govuk-table__cell govuk-body-s" data-cy="facility-{{ schedule_item._id }}-amount">{{ schedule_item.formattedIncome }}</td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td class="govuk-table__cell govuk-body-s govuk-!-font-weight-bold"></td>
            <td class="govuk-table__cell govuk-body-s govuk-!-font-weight-bold"></td>
            <td class="govuk-table__cell govuk-body-s govuk-!-font-weight-bold" data-cy="premiumTotals">Total:
              {{ premiumTotals }}</td>
          </tr>
        </tfoot>
      </table>
    </div>
  {% endmacro %}