{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
<div class="govuk-grid-row tfm tfm-width">
  <div class="govuk-grid-column-full case-summary">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {{ govukBackLink({
            text: "Back",
            href: "#"
          }) }}
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">Deal ID</div>
            </div>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full"><p class="header-label" style="color: white;">C0345</p></div>
            </div>
          </div>
          <div class="govuk-grid-column-one-half">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full"></div>
            </div>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="govuk-grid-column-one-half">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full"></div>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full"></div>
        </div>
      </div>
    </div>

    <table>
      <tr>
        <th>
          <p class="header-label" style="color: white;">C0345</p>
        </th>
        <th>
          <p class="header-label" style="color: white;font-weight: normal;">Love to Learn Ltd</p>
        </th>
        <th>{{ extensionConfig.stylesheets.Count }}</th>
        <td>Case actions</td>
      </tr>
      <tr>
        <td>Type of work</td>
        <td>
          {{govukTag({
          text: "Manual inclusion application",
          classes: "govuk-tag--blue"
        })}}
        </td>
        <td>Date received</td>
        <td>16 Dec 2019</td>
      </tr>
      <tr>
        <td>Exporter</td>
        <td>
          <u>Love to Learn Ltd</u>
        </td>
        <td>Underwriter</td>
        <td>Nigel Horwood</td>
      </tr>
      <tr>
        <td>Total export value</td>
        <td>GBP 3,468,195.18</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Additional UKEF exposure</td>
        <td>GBP 2,774,556.14</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Guarantee types</td>
        <td>
          <span class="label--yellow">BSS</span></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>