{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% import "../_macros/record-correction-status.njk" as recordCorrectionStatus %}
{% extends "index.njk" %}

{% set backLink = { "href": backLinkHref } %}

{% block pageTitle %}Record correction log{% endblock %}

{% block content %}
  <div class="govuk-grid-row" data-cy="record-correction-log-details-page">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <div class="govuk-!-padding-top-7">
          <span class="govuk-caption-l" data-cy="heading-caption">{{ bankName }}, {{ formattedReportPeriod }}</span>
          <h1 class="govuk-heading-l" data-cy="main-heading">Record correction log</h1>
      </div>
    </div>
    <div>
      <div class="govuk-grid-column-one-third-from-desktop govuk-!-text-align-right">
        <div class="govuk-!-padding-top-8">
          {{ recordCorrectionStatus.render({
            status: status,
            displayStatus: displayStatus
          }) }}
        </div>
      </div>
    </div>
  </div>

  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Exporter"
        },
        value: {
          html: '<span data-cy="exporter">' + correctionDetails.exporter + '</span>'
        }
      },
      {
        key: {
          text: "Facility ID"
        },
        value: {
          html: '<span data-cy="facility-id">' + correctionDetails.facilityId + '</span>'
        }
      },
      {
        key: {
          text: "Date sent"
        },
        value: {
          html: '<span data-cy="date-sent">' + correctionDetails.formattedDateSent + '</span>'
        }
      },
      {
        key: {
          text: "Contact name"
        },
        value: {
          html: '<span data-cy="contact-name">' + correctionDetails.bankTeamName + '</span>'
        }
      },
      {
        key: {
          text: "Contact email address(es)"
        },
        value: {
          html: '<span data-cy="contact-email-addresses">' + (correctionDetails.bankTeamEmails | join(",<br>") | safe) + '</span>',
          classes: "ukef-word-break-break-all"
        }
      },
      {
        key: {
          text: "Requested by"
        },
        value: {
          html: '<span data-cy="requested-by">' + correctionDetails.formattedRequestedByUser + '</span>'
        }
      },
      {
        key: {
          text: "Reason(s) for correction"
        },
        value: {
          html: '<span data-cy="reasons">' + correctionDetails.formattedReasons + '</span>'
        }
      },
      {
        key: {
          text: "Additional information"
        },
        value: {
          html: '<span data-cy="additional-info">' + correctionDetails.additionalInfo + '</span>'
        }
      },
      {
        key: {
          text: "Old record(s)"
        },
        value: {
          html: '<span data-cy="old-values">' + correctionDetails.formattedOldRecords + '</span>'
        }
      },
      {
        key: {
          text: "New record"
        },
        value: {
          html: '<span data-cy="new-values">' + correctionDetails.formattedCorrectRecords + '</span>'
        }
      },
      {
        key: {
          text: "Bank commentary"
        },
        value: {
          html: '<span data-cy="bank-commentary">' + correctionDetails.formattedBankCommentary + '</span>'
        }
      },
      {
        key: {
          text: "Date correction received"
        },
        value: {
          html: '<span data-cy="date-received">' + correctionDetails.formattedDateReceived + '</span>'
        }
      }
    ],
    attributes: {
      'data-cy': 'summary-list'
    }
  }) }}

{% endblock %}
{% block sub_content %}{% endblock %}
