<!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/tradefinancemanager.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

{% for stylesheetUrl in extensionConfig.stylesheets %}
  <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
{% endfor %}

<style>
  .case-summary {
      background-color:#1D70B8; 
      color: white; 
      padding:10px; 
      font-family: Helvetica;
      font-size: 16px;
  }
  .case-summary td:nth-child(2n+1) {  
    font-weight: bold;
    width: 300px;
  }
  .case-summary td:nth-child(2n) {  
    width: 500px;
  }
  .case-summary tr {
    height:35px;
  }

  .case-exposure tr {
    height: 46px;
  }
  .case-exposure td, .case-exposure th {
    width:140px;
     text-align: left;
  }

  .case-exposure td:nth-child(1),.case-exposure th:nth-child(1){
    width:100px;
  }
  .case-exposure td:nth-child(2),.case-exposure th:nth-child(2) {
   width: 60px;
  }
    .case-exposure td:nth-child(3),.case-exposure th:nth-child(3) {
   width: 100px;
  }
  .case-exposure td:nth-child(4),.case-exposure th:nth-child(4) {
   width: 100px;
  }
    .case-exposure td:nth-child(6),.case-exposure th:nth-child(6) {
   width: 100px;
  }
      .case-exposure td:nth-child(7),.case-exposure th:nth-child(7) {
   width: 180px;
  }
        .case-exposure td:nth-child(8),.case-exposure th:nth-child(8) {
   width: 180px;
  }
          .case-exposure td:nth-child(9),.case-exposure th:nth-child(9) {
   width: 200px;
  }
  .case-exposure a {
    padding-right: 10px;
  }
  
  govuk-grid-column-full {  
    width: 1440px;
  }
  .dot {
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  .tfm {
    font-family: Helvetica;
  }
  .tfm a {
    color: #086CBD;
  }
  .tfm-width {
    width: 1440px;
  }

</style>

