<!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/tradefinancemanager.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

{% for stylesheetUrl in extensionConfig.stylesheets %}
  <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
{% endfor %}

<style>
  {# .case-summary {
      background-color:#1D70B8; 
      color: white; 
      padding:10px; 
      font-family: Helvetica;
      font-size: 16px;
  }
  .case-summary td:nth-child(2n+1) {  
    font-weight: bold;
  }
  
  govuk-grid-column-full {  
    width: 1440px;
  }
  .dot {
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  } #}
</style>

