.gov-dashboard_actions {
   width: 100%;
}
.gov-dashboard_actions .moj-button-menu__wrapper {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.js-enabled .js-hidden {
   display: none;
 }