{% extends "index.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% import "./_macros/correction-log-table.njk" as correctionLogTable %}

{% block pageTitle %}
  Record correction log
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l" data-cy="main-heading">
    Record correction log
  </h1>

  {% if completedCorrections.length === 0 %}

    <p class="govuk-body" data-cy="no-corrections-text-line-1">
      There are no previous record correction requests.
    </p>

    <p class="govuk-body" data-cy="no-corrections-text-line-2">
      Records will be automatically added to this page once they have been sent back to UKEF.
    </p>

  {% else %}

    <p class="govuk-body" data-cy="corrections-text-line-1">
      Previous record correction requests are shown below.
    </p>

    <p class="govuk-body" data-cy="corrections-text-line-2">
      Records are automatically added to this page once they have been sent back to UKEF.
    </p>

    {{ correctionLogTable.render({
      completedCorrections: completedCorrections
    }) }}

  {% endif %}

{% endblock %}