{% import '_macros/date-range.njk' as dateRange %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% macro render(filter, banks, user) %}

<form method="POST" autocomplete="off">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group">
        <label class="govuk-label" for="entityType">
          Entity type
        </label>
        <input class="govuk-input" id="entityType" name="entityType" type="text">
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group">
        <label class="govuk-label" for="changedBy">
          Changed by (id)
        </label>
        <input class="govuk-input" id="changedBy" name="changedBy" type="text">
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group">
        <label class="govuk-label" for="bankSupplyContractID">
          Changed user (id)
        </label>
        <input class="govuk-input" id="bankSupplyContractID" name="bankSupplyContractID" type="text">
      </div>
    </div>

  </div>
  <div class="govuk-grid-row govuk-!-margin-bottom-4">

    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group">
        <label class="govuk-label" for="changes">
          Changes
        </label>
        <input class="govuk-input" id="changes" name="changes" type="text">
      </div>
    </div>

  </div>


  <button data-cy="ApplyFilters" class="govuk-button" data-module="govuk-button">
    Apply
  </button>

</form>
{% endmacro %}
