{% import '_macros/date-range.njk' as dateRange %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% macro render(filter, user, banks) %}

<form method="POST" autocomplete="off">

  {% if user and user.roles.includes('admin') %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      <div class="govuk-form-group">
        <label class="govuk-label" for="filterByBank">
          Bank
        </label>

        <select data-cy="filterByBank" class="govuk-select" id="filterByBank" name="filterByBank">
          <option value="" {% if filter.filterByBank==='all' %}selected{%endif%}>Any</option>
          {% for bank in banks %}
          <option value="{{ bank.id }}" {% if filter.filterByBank===bank.id %}selected{%endif%}>{{ bank.name }}</option>
          {% endfor %}
        </select>
      </div>

    </div>
  </div>

  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      <div class="govuk-form-group">
        <label class="govuk-label" for="filterByStatus">
          Status
        </label>

        <select data-cy="filterByStatus" class="govuk-select" id="filterByStatus" name="filterByStatus">
          <option value="ALL" {% if filter.filterByStatus==='ALL' %}selected{%endif%}>Any</option>
          <option value="DRAFT" {% if filter.filterByStatus==='DRAFT' %}selected{%endif%}>Draft</option>
          <option value="READY_FOR_APPROVAL" {% if filter.filterByStatus==='READY_FOR_APPROVAL' %}selected{%endif%}>Ready for Checker's approval</option>
          <option value="CHANGES_REQUIRED" {% if filter.filterByStatus==='CHANGES_REQUIRED' %}selected{%endif%}>Further Maker's input required</option>
          <option value="ABANDONED" {% if filter.filterByStatus==='ABANDONED' %}selected{%endif%}>Abandoned</option>
          <option value="SUBMITTED_TO_UKEF" {% if filter.filterByStatus==='SUBMITTED_TO_UKEF' %}selected{%endif%}>Submitted</option>
          <option value="UKEF_ACKNOWLEDGED" {% if filter.filterByStatus==='UKEF_ACKNOWLEDGED' %}selected{%endif%}>Acknowledged by UKEF</option>
          <option value="UKEF_APPROVED_WITHOUT_CONDITIONS" {% if filter.filterByStatus==='UKEF_APPROVED_WITHOUT_CONDITIONS' %}selected{%endif%}>Accepted by UKEF (without conditions)</option>
          <option value="UKEF_APPROVED_WITH_CONDITIONS" {% if filter.filterByStatus==='UKEF_APPROVED_WITH_CONDITIONS' %}selected{%endif%}>Accepted by UKEF (with conditions)</option>
          <option value="UKEF_REFUSED" {% if filter.filterByStatus==='UKEF_REFUSED' %}selected{%endif%}>Rejected by UKEF</option></select>
        </select>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group">
        <label data-cy="filterBybankInternalRefName" class="govuk-label" for="bankInternalRefName">
          Bank Supply contract ID
        </label>
        <input class="govuk-input" id="bankInternalRefName" name="bankInternalRefName" type="text" value="{{ filter.bankInternalRefName }}">
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group">
        <label data-cy="filterByUKEFSupplyContractId" class="govuk-label" for="ukefSupplyContractID">
          UKEF Supply contract ID
        </label>
        <input class="govuk-input" id="ukefSupplyContractID" name="ukefSupplyContractID" type="text" value="{{ filter.ukefSupplyContractID }}">
      </div>
    </div>

  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-4">
    {{ dateRange.inputs(fromLegend = 'Select created date between', toLegend = 'And',
        values = {
          'createdFrom-day': filter['createdFrom-day'],
          'createdFrom-month': filter['createdFrom-month'],
          'createdFrom-year': filter['createdFrom-year'],
          'createdTo-day': filter['createdTo-day'],
          'createdTo-month': filter['createdTo-month'],
          'createdTo-year': filter['createdTo-year']
        }
     ) }}
  </div>

  <button data-cy="ApplyFilters" class="govuk-button" data-module="govuk-button">
    Apply
  </button>

</form>
{% endmacro %}
