{% import '_macros/date-range.njk' as dateRange %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% macro render(filter, user) %}

<form method="POST" autocomplete="off">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group">
        <label class="govuk-label" for="bankSupplyContractID">
          Bank Supply contract ID
        </label>
        <input class="govuk-input" id="bankSupplyContractID" name="bankSupplyContractID" type="text">
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group">
        <label class="govuk-label" for="supplier-name">
          Supplier name
        </label>
        <input class="govuk-input" id="supplier-name" name="supplier-name" type="text">
      </div>
    </div>

  </div>

  <button data-cy="ApplyFilters" class="govuk-button" data-module="govuk-button">
    Apply
  </button>

</form>
{% endmacro %}
