{% extends "index.njk" %}
{% import '_macros/about-supply-contract-nav.njk' as aboutSupplyContract %}
{% import '_macros/date-fields.njk' as dateFields %}

{% block content %}

  {{ aboutSupplyContract.nav(
    completedStatus = contract.supplyContract.completedStatus,
    current = 'financialInformation',
    contractId = contract.id
  )}}

  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8" />
  
  <form autocomplete="off">

    <div class="govuk-form-group">
      <label class="govuk-label" for="supplyContractValue">
        Supply Contract value (in Supply Contract currency) 
      </label>

      <input class="govuk-input govuk-!-width-one-half govuk-js-character-count input--numeric-float" id="supplyContractValue" name="supplyContractValue" type="text" placeholder="0.00" size="60" maxlength="255" pattern="[0-9][0-9,]{0,20}(\.?\d{0,2}|\d\.?\d{0,1}|\d{2}\.?)">
    </div>


    <div class="govuk-form-group">
      <label class="govuk-label" for="supplyContractCurrency">
        Supply Contract currency
      </label>

      <select class="govuk-select govuk-!-width-one-half" id="supplyContractCurrency" name="supplyContractCurrency">
        <option value="">Select value</option>
        {% for currency in currencies %}
          <option value={{ currency.id }}>{{ currency.text }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="conversionRateToGBP">
        Conversion rate from Supply Contract currency to GBP 
      </label>

      <span id="conversionRateToGBP-hint" class="govuk-hint">
          E.g. USD to GBP (100 USD /1.3 = 76.92 GBP)
      </span>
    
      <input class="govuk-input govuk-!-width-one-half govuk-js-character-count" id="conversionRateToGBP" name="conversionRateToGBP" type="text" size="60" maxlength="255" pattern="[0-9]{0,6}(\.\d{0,6}|\.?)" placeholder="Number with up to 6 decimal places" aria-describedby="conversionRateToGBP-hint">
    </div>

    <div class="govuk-form-group">
      {{ dateFields.inputs(
        legend = 'Supply Contract conversion date, as determined by the bank (Supply Contract currency to GBP)',
        id = 'supplyContractConversionDate',
        hint = 'For example, 31 05 2017'
      )}}
    </div>

    <input type="submit" class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" value="Next page" />

    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Save and go back to deal</a>
    
  </form>

{% endblock %}
