{% extends "index.njk" %}
{% import './components/address-fields.njk' as address %}
{% import './components/about-supply-contract-nav.njk' as aboutSupplyContract %}
{% import './components/input-companies-house-reg-number.njk' as companiesHouse %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block content %}

  {{ aboutSupplyContract.nav(
    completedStatus = deal.supplyContract.completedStatus,
    current = 'supplierAndGuarantor',
    contractId = deal._id
  )}}

  <script type="text/javascript">
    const industrySectors = {{ industrySectors | dump | safe }};
    function onChangeIndustrySector(event) {
      window.dtfs.changeIndustryClasses(event, industrySectors);
    };

    function onChangeRadioButton(element, shouldShow) {
      window.dtfs.changeScreenVisibilityOfElement(element, shouldShow);
    }
  </script>

  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8" />

  <form method="POST" autocomplete="off">

    <div class="govuk-form-group">
      <label class="govuk-label" for="supplierType">
        Supplier type
      </label>
      <span id="supplierType-hint" class="govuk-hint">
          Where the supplier is a UK Supplier, please ensure that it has provided a UK Supplier Declaration
      </span>

      <select data-cy="supplierType" class="govuk-select govuk-!-width-one-half" id="supplierType" name="supplierType" aria-describedby="supplierType-hint">
        <option value="">Select value</option>
        <option value="Exporter" {% if deal.submissionDetails.supplierType==='Exporter'%} selected {%endif%}>Exporter</option>
        <option value="UK Supplier" {% if deal.submissionDetails.supplierType==='UK Supplier'%} selected {%endif%}>UK Supplier</option>
      </select>
    </div>

    <div class="govuk-form-group">
      {{ companiesHouse.input({
        deal: deal,
        id: 'supplierCompaniesHouseRegistrationNumber',
        label: 'UK Supplier’s Companies House registration number, if UK registered (optional)'
      }) }}
    </div>

    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="150">

      {{ govukInput({
        label: {
          html: 'Supplier name <span id="supplierName-info" class="govuk-hint govuk-character-count__message" aria-live="polite">You can enter up to 150 characters</span>'
        },
        classes: "govuk-!-width-one-half",
        id: supplierName,
        name: supplierName,
        value: deal.submissionDetails.supplierName,
        attributes: {
          "data-cy": "supplierName"
        },
        errorMessage: validationErrors.errorList.supplierName
      }) }}
    </div>

    {{ address.fields(
      deal = deal,
      id = "supplier-address",
      legend = "Supplier address",
      countries = countries,
      hint = "This should be the supplier's principal place of business"
    )}}

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend">
          Is the Supplier's correspondence address different for the Company's Registered Address?
        </legend>

        <div class="govuk-radios govuk-radios--inline">

          <div class="govuk-radios__item">
            <input
              class="govuk-radios__input"
              id="suppliersCorrespondenceAddressDifferent"
              name="suppliersCorrespondenceAddressDifferent"
              type="radio"
              value="true"
              onClick="onChangeRadioButton('additional-form-fields-supplier-correspondence', true)"
            >
            <label class="govuk-label govuk-radios__label" for="suppliersCorrespondenceAddressDifferent">
              Yes
            </label>
          </div>

          <div class="govuk-radios__item">
            <input
              class="govuk-radios__input"
              id="suppliersCorrespondenceAddressDifferent-2"
              name="suppliersCorrespondenceAddressDifferent"
              type="radio"
              value="false"
              onClick="onChangeRadioButton('additional-form-fields-supplier-correspondence', false)"
              >
            <label class="govuk-label govuk-radios__label" for="suppliersCorrespondenceAddressDifferent-2">
              No
            </label>
          </div>

        </div>

      </fieldset>
    </div>

    <div id="additional-form-fields-supplier-correspondence" class="govuk-visually-hidden">
      {{ address.fields(
        deal = deal,
        id = "supplierCorrespondence",
        legend = "Supplier correspondence address",
        countries = countries,
        showCountryPleaseSelect = true
      )}}
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="industrySector">
        Industry sector
      </label>
      <select class="govuk-select govuk-!-width-one-half" id="industrySector" name="industrySector" onChange="onChangeIndustrySector(event)">
        <option value="">Select value</option>
        {% for sector in industrySectors %}
          <option value="{{ sector.code }}">{{ sector.name}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="industryClass">
        Industry class
      </label>
      <select class="govuk-select govuk-!-width-one-half" id="industryClass" name="industryClass">
        <option value="">Select value</option>
      </select>
    </div>

    <div class="govuk-form-group">

      <fieldset class="govuk-fieldset">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend" aria-describedby="smeType-hint">
          SME type
        </legend>

        <span id="smeType-hint" class="govuk-hint">
          Confirm the SME type based on the <a href="https://ec.europa.eu/growth/smes/business-friendly-environment/sme-definition" target="_blank">European Commission definitions</a>
        </span>

        <div class="govuk-radios govuk-radios--inline">

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="smeType" name="smeType" type="radio" value="Micro">
            <label class="govuk-label govuk-radios__label" for="smeType">
              Micro
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="smeType-2" name="smeType" type="radio" value="Small">
            <label class="govuk-label govuk-radios__label" for="smeType-2">
              Small
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="smeType-3" name="smeType" type="radio" value="Medium">
            <label class="govuk-label govuk-radios__label" for="smeType-3">
              Medium
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="smeType-4" name="smeType" type="radio" value="Non-SME">
            <label class="govuk-label govuk-radios__label" for="smeType-4">
              Non-SME
            </label>
          </div>

        </div>

      </fieldset>

    </div>

    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="300">
      <div class="govuk-form-group">
        <label class="govuk-label" for="supplyContractDescription">
          Description of supply contract
        </label>
        <textarea class="govuk-textarea govuk-!-width-one-half govuk-js-character-count" id="supplyContractDescription" name="supplyContractDescription" rows="5" aria-describedby="supplyContractDescription-info"></textarea>
      </div>

      <span id="supplyContractDescription-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
        You can enter up to 300 characters
      </span>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend">
          Is the counter-indemnifier (for bonds) or guarantor (for loans) legally distinct from the supplier?
        </legend>

        <div class="govuk-radios govuk-radios--inline">

          <div class="govuk-radios__item">
            <input
              class="govuk-radios__input"
              id="legallyDistinct"
              name="legallyDistinct"
              type="radio" value="true"
              onClick="onChangeRadioButton('additional-form-fields-indemnifier', true)"
            >
            <label class="govuk-label govuk-radios__label" for="legallyDistinct">
              Yes
            </label>
          </div>

          <div class="govuk-radios__item">
            <input
              class="govuk-radios__input"
              id="legallyDistinct-2"
              name="legallyDistinct"
              type="radio" value="false"
              onClick="onChangeRadioButton('additional-form-fields-indemnifier', false)"
              >
            <label class="govuk-label govuk-radios__label" for="legallyDistinct-2">
              No
            </label>
          </div>

        </div>

      </fieldset>
    </div>

    <div id="additional-form-fields-indemnifier" class="govuk-visually-hidden">

      {{ companiesHouse.input(
        id = 'indemnifierCompaniesHouseRegistrationNumber',
        label = 'Indemnifier Companies House registration number (optional)'
      )}}

      <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="150">
        <div class="govuk-form-group">
          <label class="govuk-label" for="indemnifierName">
            Indemnifier name
          </label>
          <span id="indemnifierName-hint" class="govuk-hint">
            This should be the legal name of the entity
          </span>
          <input class="govuk-input govuk-!-width-one-half govuk-js-character-count" id="indemnifierName" name="indemnifierName" aria-describedby="indemnifierName-info indemnifierName-hint" />
        </div>

        <span id="indemnifierName-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
          You can enter up to 150 characters
        </span>
      </div>

      {{ address.fields(
        deal = deal,
        id = "indemnifierAddress",
        legend = "Indemnifier address",
        countries = countries,
        showCountryPleaseSelect = true
      )}}


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend">
            Is the Indemnifier's correspondence address different for the Company's Registered Address?
          </legend>

          <div class="govuk-radios govuk-radios--inline">

            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="indemnifiersCorrespondenceAddressDifferent"
                name="indemnifiersCorrespondenceAddressDifferent"
                type="radio"
                value="true"
                onClick="onChangeRadioButton('additional-form-fields-indemnifier-correspondence-address', true)"
              >
              <label class="govuk-label govuk-radios__label" for="indemnifiersCorrespondenceAddressDifferent">
                Yes
              </label>
            </div>

            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="indemnifiersCorrespondenceAddressDifferent-2"
                name="indemnifiersCorrespondenceAddressDifferent"
                type="radio"
                value="false"
                onClick="onChangeRadioButton('additional-form-fields-indemnifier-correspondence-address', false)"
              >
              <label class="govuk-label govuk-radios__label" for="indemnifiersCorrespondenceAddressDifferent-2">
                No
              </label>
            </div>
          </div>

        </fieldset>
      </div>

      <div id="additional-form-fields-indemnifier-correspondence-address" class="govuk-visually-hidden">
        {{ address.fields(
          deal = deal,
          id = 'Indemnifier correspondence address',
          legend = 'Indemnifier correspondence address',
          countries = countries,
          showCountryPleaseSelect = true
        )}}
      </div>

    </div>

    <input
      type="submit"
      class="govuk-button govuk-!-margin-right-1"
      data-module="govuk-button"
      value="Next page"
    />

    <input
      type="submit"
      formaction="/contract/{{ deal._id }}/about/supplier/save-go-back"
      class="govuk-button govuk-button--secondary"
      data-module="govuk-button"
      value="Save and go back to deal"
    />

  </form>

{% endblock %}
