{% import './address-fields.njk' as address %}
{% import './input-companies-house-reg-number.njk' as companiesHouse %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% macro render(opts) %}
  {% set deal = opts.deal %}
  {% set validationErrors = opts.validationErrors %}

  {{
    govukRadios({
      fieldset: {
        legend: { text: "Is the counter-indemnifier (for bonds) or guarantor (for loans) legally distinct from the supplier?" }
      },
      idPrefix: "legallyDistinct-",
      name: "legallyDistinct",
      classes: "govuk-radios--inline",
      items: [
        {
          value: "true",
          text: "Yes",
          attributes: {
            "data-cy": "legallyDistinct-true",
            "onClick": "onChangeRadioButton('additional-form-fields-indemnifier', true)"
          },
          checked: deal.submissionDetails.legallyDistinct === 'true'
        },
        {
          value: "false",
          text: "No",
          attributes: {
            "data-cy": "legallyDistinct-false",
            "onClick": "onChangeRadioButton('additional-form-fields-indemnifier', false)"
          },
          checked: deal.submissionDetails.legallyDistinct === 'false'
        }
      ],
      errorMessage: validationErrors.errorList.legallyDistinct
    })
  }}


  <div id="additional-form-fields-indemnifier" class="govuk-visually-hidden">

    {{ companiesHouse.input(
      id = 'indemnifierCompaniesHouseRegistrationNumber',
      label = 'Indemnifier Companies House registration number (optional)'
    )}}

    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="150">
      <div class="govuk-form-group">
        <label class="govuk-label" for="indemnifierName">
          Indemnifier name
        </label>
        <span id="indemnifierName-hint" class="govuk-hint">
          This should be the legal name of the entity
        </span>
        <input class="govuk-input govuk-!-width-one-half govuk-js-character-count" id="indemnifierName" name="indemnifierName" aria-describedby="indemnifierName-info indemnifierName-hint" />
      </div>

      <span id="indemnifierName-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
        You can enter up to 150 characters
      </span>
    </div>

    {{ address.fields(
      deal = deal,
      id = "indemnifierAddress",
      legend = "Indemnifier address",
      countries = countries,
      showCountryPleaseSelect = true
    )}}


    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend">
          Is the Indemnifier's correspondence address different for the Company's Registered Address?
        </legend>

        <div class="govuk-radios govuk-radios--inline">

          <div class="govuk-radios__item">
            <input
              class="govuk-radios__input"
              id="indemnifiersCorrespondenceAddressDifferent"
              name="indemnifiersCorrespondenceAddressDifferent"
              type="radio"
              value="true"
              onClick="onChangeRadioButton('additional-form-fields-indemnifier-correspondence-address', true)"
            >
            <label class="govuk-label govuk-radios__label" for="indemnifiersCorrespondenceAddressDifferent">
              Yes
            </label>
          </div>

          <div class="govuk-radios__item">
            <input
              class="govuk-radios__input"
              id="indemnifiersCorrespondenceAddressDifferent-2"
              name="indemnifiersCorrespondenceAddressDifferent"
              type="radio"
              value="false"
              onClick="onChangeRadioButton('additional-form-fields-indemnifier-correspondence-address', false)"
            >
            <label class="govuk-label govuk-radios__label" for="indemnifiersCorrespondenceAddressDifferent-2">
              No
            </label>
          </div>
        </div>

      </fieldset>
    </div>

    <div id="additional-form-fields-indemnifier-correspondence-address" class="govuk-visually-hidden">
      {{ address.fields(
        deal = deal,
        id = 'Indemnifier correspondence address',
        legend = 'Indemnifier correspondence address',
        countries = countries,
        showCountryPleaseSelect = true
      )}}
    </div>

  </div>

{% endmacro %}
