@import "node_modules/govuk-frontend/dist/govuk/objects/_button-group.scss";

.button-as-link {
  @extend .govuk-link;
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  color: $govuk-link-colour;
  padding: 0;
  font: inherit;
}
