@import "node_modules/govuk-frontend/dist/govuk/settings/_colours-organisations.scss";

.criteria__nav-item {
  background: #F9F9F9;
  min-height: 60px;
  box-sizing: border-box;
}

.criteria__nav-item--current {
  background: #DEE6EE;
}

.criteria__nav-item-progress-number {
  display: inline-block;
  width: 57px;
  min-height: 60px;
  padding: 17px 0;
  margin-right: 10px;
  text-align: center;;
  box-sizing: border-box;
  background: $govuk-brand-colour;
  color: govuk-colour("white");
}

.criteria__nav-item .govuk-checkboxes__label {
  padding: 17px 30px;
}

.criteria__nav-item .govuk-checkboxes__label::before {
  border: none;
  width: 57px;
  height: 100%;
  background: $govuk-brand-colour;
  color: govuk-colour("white");
}

.criteria__nav-item--completed .govuk-checkboxes__input:disabled + .govuk-checkboxes__label {
  opacity: 1;
}

.criteria__nav-item--completed .govuk-checkboxes__label::before {
  background: govuk-colour("green");
}

.criteria__nav-item--completed .govuk-checkboxes__label::after {
  top: 34%;
  left: 17px;
  color: govuk-colour("white");
}
