{% import 'macros/confirm-eligibility-intro-nav.njk' as nav %}

{% macro intro(completedStatus, current, contractId) %}

  <h1 class="govuk-heading-l">Confirm eligibility</h1>

  <p class="govuk-body">You must confirm that this Supply Contract and Transactions meet or will meet the eligibility criteria for the bank delegation model on the date that cover starts.</p>

  <p class="govuk-body">If you answer ‘false’ to any of these criteria the Transaction can still be processed through this service. It requires approval from UKEF in order to proceed and will be referred to UKEF for further due diligence.</p>

  <p class="govuk-body">The nature of the due diligence depends on which of the eligibility criteria are not met.</p>

  <p class="govuk-body">If you answer ‘false’ to any of the eligibility criteria you must submit a completed Manual Inclusion Questionnaire.</p>

  <p class="govuk-body">Additionally, if you answer ‘false’ to criteria 12 or 13, you must submit all further requested supporting documentation.</p>

  <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-8">If you answer 'true' to all of the eligibility criteria you do not have to submit any supporting documentation.</p>

  <div class="govuk-grid-row govuk-!-margin-bottom-8">

    <div class="govuk-grid-column-one-half">

      {{ nav.navItem(
          title = 'Eligibility criteria',
          id = 'eligibilityCriteria',
          step = 1,
          completed = completedStatus.eligibilityCriteria,
          href = "eligibility/criteria",
          contractId = contractId,
          current = current
      )}}

      {{ nav.navItem(
          title = 'Supporting documentation',
          id = 'supportingDocumentation',
          step = 2,
          completed = completedStatus.supportingDocumentation,
          href = 'eligibility/supporting-documentation',
          contractId = contractId,
          current = current
      )}}

    </div>

    <div class="govuk-grid-column-one-half">
   
      {{ nav.navItem(
          title = 'Preview',
          id = 'preview',
          completed = completedStatus.eligibilityCriteria and completedStatus.supportingDocumentation,
          href = 'eligibility/preview',
          contractId = contractId,
          current = current
      )}}
      
    </div>

  </div>

{% endmacro %}
