{% extends "index.njk" %}
{% import 'macros/about-supply-contract-nav.njk' as aboutSupplyContract %}
{% import 'macros/submission-details.njk' as submissionDetails %}

{% block content %}

  {{ aboutSupplyContract.nav(
    completedStatus = contract.supplyContract.completedStatus,
    current = 'preview',
    contractId = contract.id
  )}}

  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8" />

  {% include "partials/print-button.njk" %}

  {{ submissionDetails.general(contract = contract) }}

  <p class="govuk-body"><a class="govuk-link" href="/contract/{{ contract.id }}">Save and go back to deal</a></p>

{% endblock %}
