{% extends "index.njk" %}

{% block pageTitle %}Accessibility Statement{% endblock %}

{% block content %}
  <style>
    .govuk-list {
      list-style-type: disc;
    }
    .govuk-list li {
      margin-left: 30px;
    }

  </style>
  <h1 class="govuk-heading-l">Accessibility Statement for the UKEF Portal</h1>

  {% include "_partials/accessibility-statement.njk" %}

{% endblock %}