{% extends "index.njk" %}
{% import 'macros/confirm-eligibility-nav.njk' as confirmEligibility %}
{% import 'macros/mandatory-criteria-box.njk' as mandatoryCriteriaBox %}
{% import 'macros/eligibility-criteria-answers.njk' as eligibilityCriteria %}
{% import 'macros/supporting-documentation-answers.njk' as supportingDocumentation %}

{% block content %}

  {{ confirmEligibility.nav(
    completedStatus = contract.eligibility.completedStatus,
    current = 'preview',
    contractId = contract.id
  )}}

  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8">

  {% include "partials/print-button.njk" %}

  {{ mandatoryCriteriaBox.success(mandatoryCriteria)}}

  {{ eligibilityCriteria.answers(contract.submissionDetails.eligibilityCriteria)}}

  {{ supportingDocumentation.answers(contract.submissionDetails.supportingDocumentation)}}

  <hr class="govuk-section-break govuk-!-margin-bottom-8">

  <p class="govuk-body"><a href="/contract/{{ contract.id }}" class="govuk-link">Save and go back to deal</a></p>

{% endblock %}
