{% extends "index.njk" %}

{% block pageTitle -%}
  Contact us
{%- endblock %}

{% block content %}

  <h1 class="govuk-heading-l">Contact Us</h1>

  {% include "_partials/contact-us.njk" %}
  
{% endblock %}
