{% extends "index.njk" %}

{% block content %}

  <h1 class="govuk-heading-l">Log in</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <form>

        <div class="govuk-form-group">
          <label class="govuk-label" for="email">
            Email
          </label>
          <input class="govuk-input" id="email" name="email" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="password">
            Password
          </label>
          <input class="govuk-input" id="password" name="password" type="password">
        </div>


        <button class="govuk-button" data-module="govuk-button">
          Log in
        </button>

      </form>
    </div>
  </div>

  <p class="govuk-body govuk-!-margin-bottom-6"><a class="govuk-link" href="/user/password">Forgot your password?</a></p>

  <h2 class="govuk-heading-m">Having trouble with this page?</h2>

  {% include "partials/contact-us.njk" %}

{% endblock %}
