{% import '_macros/success-message.njk' as success %}

{% extends "index.njk" %}

{% block pageTitle %}MGA documents{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">MGA documents</h1>

  <ul class="govuk-list govuk-list--bullet">
  {% for mga in mgaList %}
    <li><a class="govuk-link" href="/mga/{{ mga }}" data-cy="mga-link">{{ mga }}</a></li>
  {% endfor %}
  </ul>
{% endblock %}
