{% import '_macros/success-message.njk' as success %}

{% extends "index.njk" %}

{% block pageTitle %}MGA documents{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">MGA documents</h1>

  <p class="govuk-body"><a class="govuk-link" href="#">MGA - UKEF TEST BANK DELEGATED.docx</a></p>

{% endblock %}
