{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% extends "index.njk" %}
{% block pageTitle %}Reset your password{% endblock %}

{% block content %}

  {% if passwordreseterror %}
    {{ govukInsetText({
      classes: "govuk-!-margin-top-0",
      text: "There was a problem resetting the password. Please try again.",
      attributes: {
        "data-cy": "reset-password-error"
      }
    }) }}

  {% endif %}
  <h1 class="govuk-heading-l">Reset your password</h1>

      <form method="POST" autocomplete="off">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <div class="govuk-form-group govuk-!-width-one-third">
           {{ govukInput({
            label: {
              text: "Email address"
            },
            id: "email",
            name: "email",
            spellcheck: false,
            type: "email",
            autocomplete: "email",
            errorMessage: errors.fieldErrors.email and {
              text: errors.fieldErrors.email.text,
              attributes: {
                "data-cy": "reset-password-email-error"
              }
            },
            attributes: {
              "data-cy": "reset-password-email",
              "autocapitalize": "off"
            }
          }) }}
        </div>

        <p class="govuk-body">
          Password reset instructions will be sent to your registered email address.
        </p>

        {{ govukButton({
          text: "Submit",
          attributes: {
            "data-cy": "reset-password-submit"
          },
          classes: "govuk-!-margin-right-1"
        }) }}

        {{ govukButton({
          text: "Cancel",
          attributes: {
            "data-cy": "reset-password-cancel"
          },
          classes: "govuk-button--secondary",
          href: "/login"
        }) }}

      </form>


  <h2 class="govuk-heading-m">Having trouble with this page?</h2>

  {% include "_partials/contact-us.njk" %}

{% endblock %}
