
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

<h2 class="govuk-heading-m" data-cy="service">If you've not used this service before</h2>

<p>You can use this service to apply for a guarantee on bonds, loans and other bank facilities that support UK exporters.</p>

<p>Only approved staff at these banks can use this service currently:</p>

{% if banks and banks.length %}
  <ul class="govuk-list govuk-list--bullet" data-cy="banks">
    {% for bank in banks %}
      <li>{{ bank.name }}</li>
    {% endfor %}
  </ul>
{% else %}
  {{ govukInsetText({
    text: "The list of banks isn’t available right now. You can still sign in if your bank has been onboarded.",
    attributes: {
      "data-cy": "banks-unavailable"
    }
  }) }}
{% endif %}

<p>Guarantees are provided by UK Export Finance under the terms of the master guarantee agreement (MGA) for either the:</p>
<ul class="govuk-list govuk-list--bullet" data-cy="products">
  <li>Bond Support and Export Working Capital scheme</li>
  <li>General Export Facility scheme</li>
</ul>

<p data-cy="comply">Your bank must comply with the terms of the MGA you're applying for. The MGA is signed between your bank and UK Export Finance.</p>
