{% extends "index.njk" %}
{% import '../_macros/problem-with-service.njk' as problemWithService %}

{% block pageTitle -%}
  Problem with the service
{%- endblock %}

{% block content %}

  <div class="govuk-grid-row" data-cy="problem-with-service">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl" data-cy="problem-with-service-heading">Sorry, there is a problem with the service</h1>
      <p class="govuk-body">
        {{error.message}} 
      </p>

      {% if error.reset %}
        {{ problemWithService.render(error.reset)}}
      {% endif %}
      
    </div>
  </div>

{% endblock %}
