{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "index.njk" %}

{% block pageTitle -%}
  Reset password confirmation
{%- endblock %}

{% block content %}

  <h1 class="govuk-heading-l" data-cy="page-heading">
    Are you sure you want to reset the password for {{ user.username }}?
  </h1>

  <form method="POST" autocomplete="off">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    {{ govukButton({
      text: "Reset password",
      classes: "govuk-!-margin-right-1",
      attributes: {
          'data-cy': 'reset-password-button'
      }
    }) }}

    {{ govukButton({
      text: "Cancel reset password",
      classes: "govuk-button--secondary",
      href: "/admin/users/edit/" + user._id,
      attributes: {
          'data-cy': 'cancel-reset-password-button'
      }
    }) }}
  </form>

{% endblock %}