<p class="govuk-body">
  Upload financial statements with notes for the exporter's last 3 financial years, including:
</p>
<ul class="govuk-body">
  <li>profit and loss </li>
  <li>balance sheets</li>
  <li>cash flow statement</li>
</ul>
<p class="govuk-body">
  Provide audited statements, if available.
</p>
<p class="govuk-body">
  If the company is part of a larger group, upload separate statements for both the company and group.
</p>
<p class="govuk-body govuk-!-margin-bottom-7">
  We’ll ask you for year-to-date accounts separately.
</p>