<p class="govuk-body">
  Upload a corporate structure diagram showing:
</p>
<ul class="govuk-body">
  <li>parent companies</li>
  <li>subsidiary companies</li>
  <li>associated companies</li>
</ul>
<p class="govuk-body govuk-!-margin-bottom-9">
  On the diagram, you should also list any shareholders who own more than 25% of any company shown.
</p>