<p class="govuk-body">
  If the exporter needs an export licence to export, ask for a copy and upload it here.
</p>
<p class="govuk-body">
  This shows us they can legally export their goods or services.
</p>
<p class="govuk-body govuk-!-margin-bottom-9">
  <a class="govuk-link" href="https://www.gov.uk/export-goods">Guidance on whether the exporter needs an export licence</a>
</p>