<p class="govuk-body">
  Upload a brief commentary on the financial information you've already provided for:
</p>
<ul class="govuk-body">
  <li>financial statements for the last 3 years</li>
  <li>year-to-date management accounts</li>
  <li>financial forecasts for the facility cover period
</li>
</ul>
<h2 class="govuk-heading-s">What to include in your commentary</h2>
<p>You should focus on past and projected trends in company performance, including:</p>
<ul class="govuk-body">
  <li>turnover</li>
  <li>gross and net profit</li>
  <li>dividends, if any</li>
  <li>debt profile, including bank borrowing and net worth</li>
  <li>any other information to explain exceptions, anomalies or volatility</li>
</ul>
<p class="govuk-body govuk-!-margin-bottom-9">
  If the exporter has experienced any unusual financial performance in the last 3 years, you should also explain this.
</p>