<p class="govuk-body">
  Upload monthly projections for the exporter's business (and the group if applicable), for the facility cover period, including:
</p>
<ul class="govuk-body">
  <li>profit and loss</li>
  <li>balance sheet</li>
  <li>cash flow statement</li>
</ul>
<p class="govuk-body govuk-!-margin-bottom-9">
  If any cashflow shortfalls are expected, explain how the exporter plans to manage these.
</p>