<p class="govuk-label--s">
  1. Download and fill in the manual inclusion questionnaire template
</p>
<div class="govuk-!-margin-bottom-2">
  <a class="govuk-link" href="/gef/assets/files/GEF%20Manual%20Inclusion%20Questionnaire%20-%20MM%20v2.docx" download data-cy="template-link-docx">
    Download Manual Inclusion Questionnaire.docx (24KB)
  </a>
</div>
<div class="govuk-!-margin-bottom-2">
  <a class="govuk-link" href="/gef/assets/files/GEF%20Manual%20Inclusion%20Questionnaire%20-%20MM%20v2.pdf" download data-cy="template-link-pdf">
    Download Manual Inclusion Questionnaire.pdf (87KB)
  </a>
</div>
<p class="govuk-label--s">
  2. Upload your completed manual inclusion questionnaire
</p>