<p class="govuk-label--s">
  1. Download and fill in the manual inclusion questionnaire template
</p>
<div class="govuk-button-group">
  <a class="govuk-link" href="/gef/assets/files/GEF%20Manual%20Inclusion%20Questionnaire%20-%20MM%20v2.docx" download data-cy="template-link">
    Manual inclusion questionnaire template
  </a>
  <div class="govuk-body">File size 12MB</div>
</div>
<p class="govuk-label--s">
  2. Upload your completed manual inclusion questionnaire
</p>