{% import '_macros/progress-nav.njk' as progressNav %}

{% macro render(completedForms, current, contractId, childId, loanStatus) %}  

  <h1 class="govuk-heading-l">Loan</h1>

  <input type="hidden" value="{{ childId }}" data-cy="loan-id"/>

  <div class="govuk-grid-row govuk-!-margin-bottom-8">

    <div class="govuk-grid-column-one-half">

      {{ progressNav.navItem(
          title = 'Loan guarantee details',
          id = 'loanDetails',
          step = 1,
          completed = completedForms.loanGuaranteeDetails,
          href = 'loan',
          childId = childId,
          childHref = 'guarantee-details',
          contractId = contractId,
          current = current
      )}}

      {{ progressNav.navItem(
          title = 'Loan financial details',
          id = 'loanFinancialDetails',
          step = 2,
          completed = completedForms.loanFinancialDetails,
          href = 'loan',
          childId = childId,
          childHref = 'financial-details',
          contractId = contractId,
          current = current
      )}}

      {{ progressNav.navItem(
          title = 'Dates and repayments',
          id = 'loanDatesRepayments',
          step = 3,
          completed = completedForms.loanDatesRepayments,
          href = 'loan',
          childId = childId,
          childHref = 'dates-repayments',
          contractId = contractId,
          current = current
      )}}

    </div>

    <div class="govuk-grid-column-one-half">

      {{ progressNav.navItem(
          title = 'Preview',
          id = 'preview',
          href = 'loan',
          childId = childId,
          childHref = 'preview',
          contractId = contractId,
          current = current
      )}}

    </div>

  </div>    

{% endmacro %}
