{% import '_macros/status-tag.njk' as statusTag %}

{% macro render(loans, dealId) %}

  <table class="govuk-table contract-table govuk-!-margin-bottom-0">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Bank reference number</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">UKEF facility ID</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Status</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Value</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Stage</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Start date</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">End date</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Action</th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">

      {% for loan in loans %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-font-size-14">
            <a href="{{ dealId }}/loans/{{ loan.id}}/guarantee-details" class="govuk-link">{{ loan.bankReferenceNumber }}</a>
          </td>

          <td class="govuk-table__cell govuk-!-font-size-14">
            {{ loan.ukefFacilityID }}
          </td>

          <td class="govuk-table__cell govuk-!-font-size-14 contract-table--status-cell">
            {{ statusTag.render(loan.status) }}
          </td>

          <td class="govuk-table__cell govuk-!-font-size-14">
            {{ loan.value }}
          </td>
          
          <td class="govuk-table__cell govuk-!-font-size-14">
            {{ loan.stage }}
          </td>

          <td class="govuk-table__cell govuk-!-font-size-14">
            {{ loan.startDate }}
          </td>

          <td class="govuk-table__cell govuk-!-font-size-14">
            {{ loan.endDate }}
          </td>

          <td class="govuk-table__cell govuk-!-font-size-14">
            {{ loan.action }}
          </td>
        </tr>

      {% endfor %}
    </tbody>

  </table>

{% endmacro %}
