{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% macro render(id, label, value, error, conditionalError) %}  

  {% set errorText = (error and error.text) %}
  {% set conditionalErrorText = conditionalError and conditionalError.text %}

  {{ govukCharacterCount({
    name: id,
    id: id,
    value: value,
    maxlength: 30,
    classes: "govuk-input--width-20",
    attributes: {
      "data-cy": id
    },
    label: {
      text: label
    },
    errorMessage: (errorText or conditionalErrorText) and {
      text: errorText or conditionalErrorText,
      attributes: {
        'data-cy': id + '-error-message'
      }
    }
  }) }}

{% endmacro %}
