{% from "govuk/components/input/macro.njk" import govukInput %}

{% macro render(id, label, value, error, conditionalError) %}  

  {% set errorText = (error and error.text) %}
  {% set conditionalErrorText = conditionalError and conditionalError.text %}

  <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="30">
    {{ govukInput({
      label: {
        text: label
      },
      id: id,
      name: id,
      value: value,
      classes: 'govuk-input--width-20 govuk-js-character-count',
      attributes: {
        maxlength: '30',
        'aria-describedby': id +'-info',
        'data-cy': id
      },
      errorMessage: (errorText or conditionalErrorText) and {
        text: errorText or conditionalErrorText,
        attributes: {
          'data-cy': id + '-error-message'
        }
      }
    }) }} 
    <span id="{{ id }}-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
      You can enter up to 30 characters
    </span>
  </div>

{% endmacro %}
