{% extends "index.njk" %}
{% import './components/about-submission-details.njk' as aboutSubmissionDetails %}
{% import './components/about-supply-contract-nav.njk' as aboutSupplyContract %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}Preview - {{ deal.details.bankSupplyContractName }}{% endblock %}

{% block content %}

  {% if validationErrors.count %}
    {{
      govukErrorSummary({
        titleText: "There is a problem",
        errorList: validationErrors.summary
      })
    }}
  {% endif %}

  {{ aboutSupplyContract.nav(
    completedStatus = deal.supplyContract.completedStatus,
    current = 'preview',
    contractId = deal._id
  )}}

  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8" />

  {% include "_partials/print-button.njk" %}

  {{ aboutSubmissionDetails.render(deal.submissionDetails) }}

  <p class="govuk-body"><a class="govuk-link" href="/contract/{{ deal._id }}">Save and go back to deal</a></p>

{% endblock %}
