{% extends "index.njk" %}
{% import '_macros/submission-details.njk' as submissionDetails %}
{% import './components/about-supply-contract-nav.njk' as aboutSupplyContract %}

{% block content %}

  {{ aboutSupplyContract.nav(
    completedStatus = contract.supplyContract.completedStatus,
    current = 'preview',
    contractId = contract._id
  )}}

  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8" />

  {% include "_partials/print-button.njk" %}

  {{ submissionDetails.general(contract = contract) }}

  <p class="govuk-body"><a class="govuk-link" href="/contract/{{ contract._id }}">Save and go back to deal</a></p>

{% endblock %}
