{% extends "index.njk" %}
{% import './components/about-supply-contract-nav.njk' as aboutSupplyContract %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

  {{ aboutSupplyContract.nav(
    completedStatus = deal.supplyContract.completedStatus,
    current = 'buyer',
    contractId = deal._id
  )}}

  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8" />

  <form method="POST" autocomplete="off">

    <div class="govuk-form-group">

    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="150">
      {{ govukInput({
        label: {
          html: 'Supplier name <span id="buyerName-info" class="govuk-hint govuk-character-count__message" aria-live="polite">You can enter up to 150 characters</span>'
        },
        classes: "govuk-!-width-one-half",
        id: 'buyer-name',
        name: 'buyer-name',
        value: deal.submissionDetails["buyer-name"],
        attributes: {
          "data-cy": "buyer-name"
        },
        errorMessage: validationErrors.errorList["buyer-name"]
      }) }}
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="countryOfBuyer">
        Country of buyer
      </label>
      <select data-cy="countryOfBuyer" class="govuk-select govuk-!-width-one-half" id="countryOfBuyer" name="countryOfBuyer">
        <option value="">Select value</option>
        {% for country in countries %}
          <option value="{{ country.code }}" {% if country.code === deal.submissionDetails.countryOfBuyer%}selected{% endif %}>{{ country.name}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="destinationOfGoodsAndServices">
        Destination of goods and services
      </label>
      <span id="destinationOfGoodsAndServices-hint" class="govuk-hint">
        Destination country of the goods covered by this Supply Contract
      </span>

      <select data-cy="destinationOfGoodsAndServices" class="govuk-select govuk-!-width-one-half" id="destinationOfGoodsAndServices" name="destinationOfGoodsAndServices" aria-describedby="destinationOfGoodsAndServices-hint">
        <option value="">Select value</option>
        {% for country in countries %}
          <option value="{{ country.code }}" {% if country.code === deal.submissionDetails.destinationOfGoodsAndServices%}selected{% endif %}>{{ country.name}}</option>
        {% endfor %}
      </select>
    </div>

    {{ govukButton({
      "text": "NextPage",
      "attributes" : { "data-cy" : "NextPage" }
    }) }}

    {{ govukButton({
      "text": "Save and go back to deal",
      "classes" : "govuk-button govuk-button--secondary",
      "attributes" : {
        "data-cy" : "SaveAndGoBack",
        "formaction" : "/contract/"+ deal._id +"/about/buyer/save-go-back"
      }
    }) }}

  </form>

{% endblock %}
