{% extends "index.njk" %}
{% import './components/about-supply-contract-nav.njk' as aboutSupplyContract %}
{% import './components/supplier-type-dropdown.njk' as supplierTypeDropdown %}
{% import './components/supplier-name-and-address-lookup.njk' as supplierNameAndAddressLookup %}
{% import './components/supplier-correspondence-address.njk' as supplierCorrespondenceAddress %}
{% import './components/legally-distinct-counter-indemnifier_slash_guarentor.njk' as legallyDistinct %}
{% import './components/industry-sectors-dropdown.njk' as industrySectorsDropdown %}
{% import './components/industry-classes-dropdown.njk' as industryClassesDropdown %}
{% import './components/sme-type-radios.njk' as smeTypeRadios %}
{% import './components/supply-contract-description.njk' as supplyContractDescription %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

  {{ aboutSupplyContract.nav(
    completedStatus = deal.supplyContract.completedStatus,
    current = 'supplierAndGuarantor',
    contractId = deal._id
  )}}

  <script type="text/javascript">
    const industrySectors = {{ industrySectors | dump | safe }};

    function onChangeIndustrySector(event) {
      window.dtfs.changeIndustryClasses(event, industrySectors);
    };

    function onChangeRadioButton(element, shouldShow) {
      window.dtfs.changeScreenVisibilityOfElement(element, shouldShow);
    }
  </script>

  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8" />

  <form method="POST" autocomplete="off">

    {{ supplierTypeDropdown.render({
      deal: deal,
      validationErrors: validationErrors
    }) }}

    {{ supplierNameAndAddressLookup.render({
      deal: deal,
      countries: countries,
      validationErrors: validationErrors
    }) }}

    {{ supplierCorrespondenceAddress.render({
      deal: deal,
      countries: countries,
      validationErrors: validationErrors
    }) }}

    {{ industrySectorsDropdown.render({
      mappedIndustrySectors: mappedIndustrySectors,
      deal: deal,
      validationErrors: validationErrors
    }) }}

    {{ industryClassesDropdown.render({
      mappedIndustryClasses: mappedIndustryClasses,
      deal: deal,
      validationErrors: validationErrors
    }) }}

    {{ smeTypeRadios.render({
      deal: deal,
      validationErrors: validationErrors
    }) }}

    {{ supplyContractDescription.render({
      deal: deal,
      validationErrors: validationErrors
    }) }}

    {{ legallyDistinct.render({
      deal: deal,
      countries: countries,
      validationErrors: validationErrors
    }) }}

    {{ govukButton({
      "text": "NextPage",
      "attributes" : { "data-cy" : "NextPage" }
    }) }}

    {{ govukButton({
      "text": "Save and go back to deal",
      "classes" : "govuk-button govuk-button--secondary",
      "attributes" : {
        "data-cy" : "SaveAndGoBack",
        "formaction" : "/contract/"+ deal._id +"/about/supplier/save-go-back"
      }
    }) }}

  </form>

{% endblock %}
