{%- from "moj/components/timeline/macro.njk" import mojTimeline -%}
{% import './_macros/deal-submitted.njk' as dealSubmitted %}
{% import './_macros/activity-comment-filter.njk' as activityCommentFilter %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "moj/components/banner/macro.njk" import mojBanner %}

{% extends "case/case.njk" %}

{% block sub_content %}
  {% if hasAmendmentInProgress === true %}
    {% set bannerHtml %}
      <p class="govuk-body" data-cy="amendment--in-progress-bar">Amendment in progress for
      {% for amendment in amendmentsInProgress %}
        <a href="/case/{{dealId}}/facility/{{amendment.facilityId}}#amendments" data-cy="amendment--in-progress-bar-link"> facility {{amendment.ukefFacilityId}} </a>
        {% if loop.index < amendmentsInProgress.length %}
          ,
        {% endif %}
      {% endfor %}
      </p>
    {% endset %}

    {{ mojBanner({
      type: 'information',
      classes: 'govuk-!-margin-bottom-0 govuk-!-margin-top-6',
      html: bannerHtml
    }) }}
  {% endif %}

  <div class="govuk-grid-row" data-cy="case-activity">

    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-xl govuk-!-margin-top-6 govuk-!-margin-bottom-5" data-cy="activity-heading" aria-label="Activity and comments">Activity and comments</h2>

        {% set filterCommentData = {
          selectedActivityFilter: selectedActivityFilter,
          csrfToken: csrfToken
        } %}

      {{ activityCommentFilter.render(filterCommentData) }}

      {{ govukButton({
        text: "Add a comment",
        classes: "govuk-button--secondary",
        href: "/case/" + dealId + "/activity" + "/post-comment",
        attributes: {
          'data-cy': 'add-comment-button'
        }
      }) }}

      {{ mojTimeline({
        items: activities,
        attributes: {
          'data-cy': 'activities-timeline'
        }
      }) }}

    </div>

  </div>

{% endblock %}