{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro render(params) %}
  {% set caseId = params.caseId %}
  {% set exporterCreditRating = params.exporterCreditRating %}
  {% set lossGivenDefault = params.lossGivenDefault %}
  {% set probabilityOfDefault  = params.probabilityOfDefault  %}
  {% set userCanEditGeneral = params.userCanEditGeneral %}
  
  {% set rows = [] %}

  {% if exporterCreditRating %}

    {% set creditRatingRow = {
      key: {
        text: "Credit rating"
      },
      value: {
        text: exporterCreditRating
      }
    } %}

    {% if userCanEditGeneral %}
      {% set creditRatingRow = {
        key: creditRatingRow.key,
        value: creditRatingRow.value,
        actions: {
          items: [
            {
              href: "/case/" + caseId + "/underwriting/pricing-and-risk/edit",
              text: "Change",
              attributes: {
                "data-cy":"exporter-table-change-credit-rating-link"
              }
            }
          ]
        }
      } %}
    {% endif %}

    {% set rows = (rows.push(creditRatingRow), rows) %}

    {% else %}

    {% set valueHtml%}
      {{ govukTag({
        text: 'Not added',
        classes: 'govuk-tag--yellow',
        attributes: {
          'data-cy': 'exporter-table-credit-rating-not-added'
        }
      }) }}
    {% endset %}

    {% set creditRatingRow = {
      key: { text: "Credit rating" },
      value: { html: valueHtml }
    } %}

    
    {% if userCanEditGeneral %}
      {% set creditRatingRow = {
        key: creditRatingRow.key,
        value: creditRatingRow.value,
        actions: {
          items: [
            {
              href: "/case/" + caseId + "/underwriting/pricing-and-risk/edit",
              text: "Add",
              attributes: {
                "data-cy":"add-credit-rating-link"
              }
            }
          ]
        }
      } %}
    {% endif %}

    {% set rows = (rows.push(creditRatingRow), rows) %}
  {% endif %}

  {% set lossGivenDefaultRow = {
    key: {
      text: "Loss given default"
    } 
  }%}

  {% if lossGivenDefault %}

    {% set lossGivenDefaultRow = {
      key: lossGivenDefaultRow.key,
      value: {
        text: lossGivenDefault
      }
    } %}

  {% else %}

    {% set lossGivenDefaultRow = {
      key: lossGivenDefaultRow.key,
      value: {
        text: "-"
      }
    } %}

  {% endif %}

  {% if userCanEditGeneral %}
    {% set lossGivenDefaultRow = {
      key: lossGivenDefaultRow.key,
      value: lossGivenDefaultRow.value,
      actions: {
        items: [
          {
            href: "/case/" + caseId + "/underwriting/pricing-and-risk/loss-given-default",
            text: "Change",
            attributes: {
              "data-cy":"exporter-table-change-loss-given-default-link"
            }
          }
        ]
      }
    } %}
  {% endif %}

  {% set rows = (rows.push(lossGivenDefaultRow), rows) %}

  {% set probabilityOfDefaultRow = {
    key: {
      text: "Probability of default"
    }
  } %}

  {% if probabilityOfDefault %}
    {% set probabilityOfDefaultRow = {
      key: probabilityOfDefaultRow.key,
      value: {
        text: "Less than " + probabilityOfDefault
      }
    } %}
    {% else %}
    {% set probabilityOfDefaultRow = {
      key: probabilityOfDefaultRow.key,
      value: {
        text: "-"
      }
    } %}
  {% endif %}

  {% if userCanEditGeneral %}
    {% set probabilityOfDefaultRow = {
      key: probabilityOfDefaultRow.key,
      value: probabilityOfDefaultRow.value,
      actions: {
        items: [
          {
            href: "/case/" + caseId + "/underwriting/pricing-and-risk/probability-of-default",
            text: "Change",
            attributes: {
              "data-cy":"exporter-table-change-probability-of-default-link"
            }
          }
        ]
      }
    } %}
  {% endif %}

  {% set rows = (rows.push(probabilityOfDefaultRow), rows) %}

  {{ govukSummaryList({
    rows: rows
  })
  }}
{% endmacro %}
