{% from "govuk/components/tag/macro.njk" import govukTag %}

{% macro render(params) %}
  {% set caseId = params.caseId %}
  {% set exporterCreditRating = params.exporterCreditRating %}
  {% set lossGivenDefault = params.lossGivenDefault %}
  {% set probabilityOfDefault  = params.probabilityOfDefault  %}
  {% set userCanEdit = params.userCanEdit %}

  <table class="govuk-table govuk-!-margin-bottom-8" data-cy="exporter-table">
    <tbody class="govuk-table__body">

      <tr class="govuk-table__row">

        <td scope="row" class="govuk-table__header govuk-body-s govuk-table__cell width-half govuk-table__cell--border-top" data-cy="exporter-table-credit-rating-heading">
          Credit rating
        </td>

        <td class="govuk-table__cell govuk-table__cell--border-top">
          {% if exporterCreditRating %}
            <span data-cy="exporter-table-credit-rating-value">{{ exporterCreditRating }}</span>

            {% else %}

            {{ govukTag({
              text: 'Not added',
              classes: 'govuk-tag--yellow',
              attributes: {
                'data-cy': 'exporter-table-credit-rating-not-added'
              }
            }) }}

          {% endif %}
        </td>
        
        <td class="govuk-table__cell govuk-table__cell--border-top text-align-right">
          {% if exporterCreditRating and userCanEdit %}
            <a class="govuk-link" href="/case/{{ caseId }}/underwriting/pricing-and-risk/edit" data-cy="exporter-table-change-credit-rating-link">Change</a>
          {% endif %}
        </td>

      </tr>

      <tr class="govuk-table__row">

        <td scope="row" class="govuk-table__header govuk-body-s govuk-table__cell width-half" data-cy="exporter-table-loss-given-default-heading">
          Loss given default
        </td>

        <td class="govuk-table__cell" data-cy="exporter-table-loss-given-default-value">
          {{ lossGivenDefault }}%
        </td>

        <td class="govuk-table__cell govuk-table__cell--border-top text-align-right">
          {% if userCanEdit %}
            <a class="govuk-link" href="/case/{{ caseId }}/underwriting/pricing-and-risk/loss-given-default" data-cy="exporter-table-change-loss-given-default-link">Change</a>
          {% endif %}
        </td>
        
      </tr>

      <tr class="govuk-table__row">

        <td scope="row" class="govuk-table__header govuk-body-s govuk-table__cell width-half" data-cy="exporter-table-probability-of-default-heading">
          Probability of default
        </td>

        <td class="govuk-table__cell" data-cy="exporter-table-probability-of-default-value">
          Less than {{ probabilityOfDefault }}%
        </td>
        
        <td class="govuk-table__cell govuk-table__cell--border-top text-align-right">
          {% if userCanEdit %}
            <a class="govuk-link" href="/case/{{ caseId }}/underwriting/pricing-and-risk/probability-of-default" data-cy="exporter-table-change-probability-of-default-link">Change</a>
          {% endif %}
        </td>
      </tr>

    </tbody>
  </table>
{% endmacro %}
