{% import './exporter-table.njk' as exporterTable %}

{% macro render(params) %}
  {% set caseId = params.caseId %}
  {% set supplierName = params.supplierName %}
  {% set exporterCreditRating = params.exporterCreditRating %}
  {% set lossGivenDefault = params.lossGivenDefault %}
  {% set probabilityOfDefault = params.probabilityOfDefault %}
  {% set userCanEditGeneral = params.userCanEditGeneral %}
  {% set userCanEditExporterCreditRating = params.userCanEditExporterCreditRating %}
  

  <section data-cy="section-exporter">

    <h4 class="govuk-heading-l separator-line govuk-!-padding-top-6 govuk-!-padding-bottom-3 govuk-!-margin-top-0" data-cy="exporter-heading">Exporter</h4>

    {% set componentData = {
      caseId: caseId,
      exporterCreditRating: exporterCreditRating,
      lossGivenDefault: lossGivenDefault,
      probabilityOfDefault: probabilityOfDefault,
      userCanEditExporterCreditRating: userCanEditExporterCreditRating,
      userCanEditGeneral: userCanEditGeneral
    } %}

    {{ exporterTable.render(componentData) }}

    {% if not exporterCreditRating and userCanEditExporterCreditRating %}
      <p class="govuk-body-l"><a class="govuk-link govuk-link--no-visited-state" href="/case/{{ caseId }}/underwriting/pricing-and-risk/edit" data-cy="add-credit-rating-link">Add a credit rating for {{ supplierName }}</a></p>
    {% endif %}

  </section>

{% endmacro %}
