{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/password-input/macro.njk" import govukPasswordInput %}

{% extends "index.njk" %}

{% block pageTitle -%}
  Change your password
{%- endblock %}

{% block content %}

  <h1 class="govuk-heading-l govuk-!-margin-top-4" data-cy="change-your-password-heading">
    Change your password
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form method="POST" autocomplete="off">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {{ govukPasswordInput({
          label: {
            text: "Current password"
          },
          id: "password",
          name: "password",
          classes: "govuk-!-width-one-third",
          attributes: {
            "data-cy": "current-password",
            autocomplete: true,
            spellcheck: false
          },
          errorMessage: validationErrors.errorList.currentPassword and {
            text: validationErrors.errorList.currentPassword.text
          }
        }) }}

        {{ govukPasswordInput({
          label: {
            text: "New password"
          },
          id: "password",
          name: "password",
          classes: "govuk-!-width-one-third",
          attributes: {
            "data-cy": "new-password",
            autocomplete: true,
            spellcheck: false
          },
          errorMessage: validationErrors.errorList.password and {
            text: validationErrors.errorList.password.text
          }
        }) }}

        {{ govukPasswordInput({
          label: {
            text: "Confirm password"
          },
          id: "passwordConfirm",
          name: "passwordConfirm",
          classes: "govuk-!-width-one-third",
          attributes: {
            "data-cy": "confirm-password",
            autocomplete: true,
            spellcheck: false
          },
          errorMessage: validationErrors.errorList.passwordConfirm and {
            text: validationErrors.errorList.passwordConfirm.text
          }
        }) }}

        {{ govukButton({
          text: "Submit",
          attributes: {
            "data-cy": "submit"
          },
          classes: "govuk-!-margin-right-1",
          errorMessage: validationErrors.errorList.password
        }) }}

        {{ govukButton({
          text: "Cancel",
          attributes: {
            "data-cy": "cancel"
          },
          classes: "govuk-button--secondary",
          href: "/"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
