{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

<!DOCTYPE html>
<html lang="en" class="govuk-template govuk-template--rebranded">
  <head>
    <meta charset="utf-8"/>
    <title>
      {% block pageTitle %}{% endblock %}
      - UK Export Finance
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#1d70b8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/assets/rebrand/images/govuk-icon-mask.svg" type="image/x-icon"/>
    <link rel="icon" sizes="48x48" href="/assets/rebrand/images/favicon.ico">
    <link rel="icon" sizes="any" href="/assets/rebrand/images/favicon.svg" type="image/svg+xml">
    <link rel="mask-icon" href="/assets/rebrand/images/govuk-icon-mask.svg" color="#1d70b8">
    <link rel="apple-touch-icon" href="/assets/rebrand/images/govuk-icon-180.png">
    <link rel="stylesheet" href="/assets/css/styles.css"/>
    <meta property="og:image" content="/assets/rebrand/images/govuk-opengraph-image.png">
    <link rel="manifest" href="/assets/rebrand/manifest.json">

    {% block head %}{% endblock %}
  </head>

  <body class="govuk-template__body govuk-body">

    <script
      src="/assets/js/jsEnabled.js"
      type="module"
      integrity="sha512-O546HgQDZqMaRX/qgAEzkTWV1U7AyGwmX4hmR21EUH3JTSw/axxt+UIPhPUOVAzdmX4FUOHEpk8O48iy+vCGBQ=="
      crossorigin="anonymous"></script>

    {% include "_partials/header.njk" %}
    {% include "_partials/beta-banner.njk" %}

    <div class="govuk-width-container">
      <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
        {% if backLink and backLink.href %}
          {{ govukBackLink({
            text: "Back",
            href: backLink.href,
            attributes: {
              "data-cy": "back-link"
            }
          }) }}
        {% endif %}
        {% block content %}{% endblock %}
      </main>
    </div>

    {% include "_partials/footer.njk" %}

    <script
      src="/assets/js/main.js"
      type="module"
      integrity="sha512-csNXbjFBMgtuPWZyD3+kNhpkprNLEI57zTTgRMRb7m2lGz1vrOOCwdPLaTpj4QAy7ojdhlHHSAZ4jQv0lle/Xg=="
      crossorigin="anonymous">
    </script>

    <script
      src="/assets/js/govukFrontend.js"
      type="module"
      integrity="sha512-CQZOPewd8Sh+xKZOZwC2wzzIavLoK4lEsRlPKwVSfvENe0iLOt54W93emNff/hWg2luo8SHFDIKVcyAr6cEp/w=="
      crossorigin="anonymous">
    </script>

    <script
      src="/assets/js/mojFrontend.js"
      type="module"
      integrity="sha512-Av5S/8IoKjbGRzQXHT9xQwajLbA7UPoeBbohrHzxWN+fP9vScBPwNr9Ou+e/9dYjLd610zrlWmuiCdH4IKXL8A=="
      crossorigin="anonymous">
    </script>

    <script
      src="/assets/js/maskedInputs.js"
      type="module"
      integrity="sha512-Z3J4PrzwCKBWhW0/HdgH+o5X6QzU8uRTJpVNDjTra+7xa+iA/Kqs42B+Yn9LzJCcaYeHWrEu+bI9NsqpP/57qw=="
      crossorigin="anonymous">
    </script>

    <script
      src="/assets/js/mojFilters.js"
      type="module"
      integrity="sha512-H72fn1gjiejtjsp0mzVBXRNXy4tOJESuwUYo6G2dO1SJcQJQFCHL9cX0lynZBzYj9OpEDGm0ru62VW3Epz9f/w=="
      crossorigin="anonymous">
    </script>

    <script
      src="/assets/js/disableFormSubmitOnSubmission.js"
      type="module"
      integrity="sha512-mf1ibQA5lxNaMb/56mmj17voBUxRrxo3kx1vtkPz9+vGGookm+vqn8a/5l1fuu2exmAOaz1pLxxoMVZJAlYrFw=="
      crossorigin="anonymous">
    </script>

      {% block scripts %}{% endblock %}
  </body>
</html>
