{% extends "index.njk" %}

{% block pageTitle -%} 
  Sorry, the service is unavailable
{%- endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading" data-cy="service-unavailable">Sorry, the service is unavailable</h1>
      <p class="govuk-body">
        {{ message }}
      </p>
      <p class="govuk-body">
        If you have any urgent enquiries, please contact the helpdesk at <a class="govuk-link" href="mailto:{{ CONTACT_US_EMAIL_ADDRESS }}" data-cy="contact-us-email">{{ CONTACT_US_EMAIL_ADDRESS }}</a>.
      </p>
    </div>
  </div>
{% endblock %}
