{% extends 'layout.html' %}
{% block beforeContent %}
<div class="govuk-grid-row tfm">
  <div class="govuk-grid-column-full" >
{{ govukBreadcrumbs({
  items: [
    {
      text: "C0345",
      href: "/cases/tasks"
    },
    {
      text: "Credit analysis",
      href: "/cases/credit-analysis"
    },
    {
      text: "Add a facility"
    }
  ]
}) }}
</div>
</div>
{% endblock %}
{% block content %}
<div class="govuk-grid-row tfm">
  <div class="govuk-grid-column-two-thirds" >
    <h1 class="govuk-heading-xl">Add an existing facility</h1>

{%- from "moj/components/currency-input/macro.njk" import mojCurrencyInput -%}
{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Provider",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  id: "event-name",
  name: "event-name"
}) }}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  idPrefix: "where-do-you-live",
  name: "where-do-you-live",
  fieldset: {
    legend: {
      text: "Type of facility",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Select one option."
  },
  items: [
    {
      value: "guarantee",
      text: "Guarantee"
    },
    {
      value: "bond",
      text: "Bond facility"
    },
    {
      value: "credit",
      text: "Letter of Credit"
    },
    {
      value: "other",
      text: "Other"
    }
  ]
}) }}
{{ mojCurrencyInput({
id: "amount-1",
classes: "govuk-input--width-10",
name: "amount",
label: {
text: "Limit",
classes: "govuk-!-font-weight-bold"
}
}) }} 

{{ mojCurrencyInput({
id: "amount-1",
classes: "govuk-input--width-10",
name: "amount",
label: {
text: "Drawn",
classes: "govuk-!-font-weight-bold"
}
}) }} 
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{{ govukDateInput({
  id: "passport-issued",
  namePrefix: "passport-issued",
  fieldset: {
    legend: {
      text: "Expiry date",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  }
}) }}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{{ govukTextarea({
  name: "more-detail",
  id: "more-detail",
  label: {
    text: "Security",
    classes: "govuk-label--l",
    isPageHeading: true
  }
}) }}
{% from "moj/components/button-menu/macro.njk" import mojButtonMenu %}

{{ mojButtonMenu({
items: [{
text: "Save",
href: "/cases/credit-analysis/existing-facility"
}, {
text: "Save and add another",
href: "/cases/credit-analysis/existing-facility",
classes: "govuk-button--secondary"
}, {
text: "Cancel",
href: "#",
classes: "govuk-link"
}]
}) }} 
  </div>
</div>
{% endblock %}