{% macro render(params) %}
  {% set caseId = params.caseId %}
  {% set facilityId = params.facilityId %}
  {% set ukefFacilityID = params.ukefFacilityID %}
  {% set facilityType = params.facilityType %}

  <div data-cy="edit-facility-risk-profile-legend" class="govuk-!-margin-bottom-4">

    <a
      class="govuk-link"
      href="/case/{{ caseId }}/facility/{{ facilityId }}"
      data-cy="edit-facility-risk-profile-legend-link"
    >{{ ukefFacilityID }}</a>
    &nbsp; <span data-cy="edit-facility-risk-profile-legend-facility-type">{{ facilityType }}</span>

  </div>

{% endmacro %}
