{% macro render(params) %}
  {% set caseId = params.caseId %}
  {% set facilityId = params.facilityId %}
  {% set ukefFacilityId = params.ukefFacilityId %}
  {% set type = params.type %}

  <div data-cy="edit-facility-risk-profile-legend" class="govuk-!-margin-bottom-4">

    <a
      class="govuk-link"
      href="/case/{{ caseId }}/facility/{{ facilityId }}"
      data-cy="edit-facility-risk-profile-legend-link"
    >{{ ukefFacilityId }}</a>
    &nbsp; <span data-cy="edit-facility-risk-profile-legend-facility-type">{{ type }}</span>

  </div>

{% endmacro %}
