{% extends "index.njk" %}
{% import '_macros/pagination.njk' as pagination %}

{% import './_macros/audit-supply-contracts-filters.njk' as filterControls %}


{% block content %}

  <h1 class="govuk-heading-l">Audit Report</h1>


  {{ filterControls.render(filter, user) }}

  <table class="govuk-table govuk-!-margin-bottom-0">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Supply Contract ID</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Created by</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Submitted by</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Status</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Created</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Changed</th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">

      {% for contract in contracts %}
        <tr data-cy="deal_{{contract._id}}" class="govuk-table__row">
          <td data-cy="bankSupplyContractID" class="govuk-table__cell govuk-!-font-size-14">
            <a href="/contract/{{ contract._id }}" class="govuk-link" data-cy="bankSupplyContractIDLink">{{ contract.details.bankSupplyContractID }}</a>
          </td>

          <td data-cy="createdBy" class="govuk-table__cell govuk-!-font-size-14">
            {{ contract.details.maker.username }}
          </td>

          <td data-cy="submittedBy" class="govuk-table__cell govuk-!-font-size-14">
            {{ contract.details.checker }}
          </td>

          <td data-cy="status" class="govuk-table__cell govuk-!-font-size-14">
            {{ contract.details.status }}
          </td>

          <td data-cy="created" class="govuk-table__cell govuk-!-font-size-14">
            {{ contract.details.dateOfCreation }}
          </td>

          <td data-cy="changed" class="govuk-table__cell govuk-!-font-size-14">
            {{ contract.details.dateOfLastAction }}
          </td>

        </tr>
      {% endfor %}

    </tbody>

  </table>

  {{ pagination.pagination(totalPages = pages.totalPages, currentPage = pages.currentPage, totalItems = pages.totalItems, paginationRoot = '/reporting/audit-supply-contracts') }}


{% endblock %}
