{% extends "index.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import '_macros/pagination.njk' as pagination %}

{% import './_macros/audit-log-all-changes-filters.njk' as filterControls %}

{% block pageTitle %}UKEF Audit Log - All changes{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">UKEF Audit Log - All changes</h1>

  {{ filterControls.render(filter, banks, user) }}

  <table class="govuk-table govuk-!-margin-bottom-0">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row govuk-!-margin-bottom-4">
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">No</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Entity Id</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Entity type</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">User who did changes</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Created</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Changes done to</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Changes</th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">

      {% for change in changes %}
        <tr data-cy="change_{{contract._id}}" class="govuk-table__row">
          <td data-cy="no" class="govuk-table__cell govuk-!-font-size-14">
            {{ change.no }}
          </td>

          <td data-cy="entityId" class="govuk-table__cell govuk-!-font-size-14">
            {{ change.entityId }}
          </td>

          <td data-cy="entityType" class="govuk-table__cell govuk-!-font-size-14">
            {{ change.entityType }}
          </td>

          <td data-cy="user" class="govuk-table__cell govuk-!-font-size-14">
            <a href="/user/{{ change.user }}" class="govuk-link" data-cy="userLink">{{ change.user }}</a>
          </td>

          <td data-cy="created" class="govuk-table__cell govuk-!-font-size-14">
            {{ change.created }}
          </td>

          <td data-cy="doneTo" class="govuk-table__cell govuk-!-font-size-14">
            <a href="/bond/{{ change.doneTo }}" class="govuk-link" data-cy="userLink">{{ change.doneTo }}</a>
          </td>

          <td data-cy="doneTo" class="govuk-table__cell govuk-!-font-size-14">
            {{ govukTable({
              firstCellIsHeader: true,
              head: [{ text: 'Field' }, { text: 'Old Value' }, { text: 'New Value' }],
              rows: change.changes
            }) }}
          </td>

        </tr>
      {% endfor %}

    </tbody>

  </table>

  {{ pagination.pagination(totalPages = pages.totalPages, currentPage = pages.currentPage, totalItems = pages.totalItems, paginationRoot = '/reports/audit-log-all-changes') }}


{% endblock %}
