{% extends "index.njk" %}
{% import '_macros/pagination.njk' as pagination %}
{% import './_macros/cover-startdate-change-filters.njk' as filterControls %}

{% block content %}

  <h1 class="govuk-heading-l">MIA/MIN Cover Start Date changes</h1>

  {{ filterControls.render(filter, user) }}

  <table class="govuk-table govuk-!-margin-bottom-0">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Bank Supply Contract ID</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Bank Facility ID</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Transaction type</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Supplier name</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Old Requested Cover Start Date</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">New Requested Cover Start Date</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Date/time of change</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Maker</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Checker</th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">

      {% for cr in crs %}
        <tr data-cy="cover-change-request_{{transaction._id}}" class="govuk-table__row">
          <td data-cy="bankSupplyContractID" class="govuk-table__cell govuk-!-font-size-14">
            <a href="/contract/{{ cr.deal_id }}" class="govuk-link" data-cy="bankSupplyContractIDLink">{{ cr.bankSupplyContractID }}</a>
          </td>

          <td data-cy="bankFacilityId" class="govuk-table__cell govuk-!-font-size-14">
            {{ cr.bankFacilityId }}
          </td>

          <td data-cy="transactionType" class="govuk-table__cell govuk-!-font-size-14">
            {{ cr.transactionType }}
          </td>

          <td data-cy="supplierName" class="govuk-table__cell govuk-!-font-size-14">
            {{ cr.supplierName }}
          </td>

          <td data-cy="oldRequestedCoverStartDate" class="govuk-table__cell govuk-!-font-size-14">
            {{ cr.oldRequestedCoverStartDate }}
          </td>

          <td data-cy="newRequestedCoverStartDate" class="govuk-table__cell govuk-!-font-size-14">
            {{ cr.newRequestedCoverStartDate }}
          </td>

          <td data-cy="dateTimeOfChange" class="govuk-table__cell govuk-!-font-size-14">
            {{ cr.dateTimeOfChange }}
          </td>

          <td data-cy="maker" class="govuk-table__cell govuk-!-font-size-14">
            {{ cr.maker }}
          </td>

          <td data-cy="checker" class="govuk-table__cell govuk-!-font-size-14">
            {{ cr.checker }}
          </td>

        </tr>
      {% endfor %}

    </tbody>

  </table>

  {{ pagination.pagination(totalPages = pages.totalPages, currentPage = pages.currentPage, totalItems = pages.totalItems, paginationRoot = '/reporting/mia_min-cover-start-date-changes') }}

{% endblock %}
