{% from "govuk/components/tag/macro.njk" import govukTag %}
{% import './status-change.njk' as statusChange %}

{% macro render(params) %}

  {% set dealId = params.dealId %}
  {% set ukefDealId = params.ukefDealId %}
  {% set effectiveDate = params.text %}

  {% if params.scheduledCancellation %}
    {% set newStatus = "Pending cancellation" %}
  {% else %}
    {% set newStatus = "Cancelled" %}
  {% endif %}

  <p class="govuk-!-margin-bottom-0">
    <p class="colour-light-grey" data-cy="deal-cancellation-effective-date">{{ effectiveDate }}</p>
    <a href="/gef/application-details/{{ dealId }}" class="govuk-link" data-cy="deal-link-{{ dealId }}">Deal ID {{ ukefDealId }}</a>

    {{ statusChange.render({
      newStatus: newStatus,
      id: dealId,
      tagColour: "blue"
    }) }}
  </p>

{% endmacro %}
