{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% macro render() %}

  <div class="govuk-grid-row case-summary govuk-!-margin-0 govuk-!-padding-top-6">
  <div class="govuk-grid-column-one-tenth">
    <div class="label">Deal ID</div>
    <div class="ukef-heading-l">20008998</div>
  </div>
  <div class="govuk-grid-column-nine-tenths">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <div class="label">Exporter</div>
        <div class="ukef-heading-l">Love to learn Ltd</div>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <div class="label">Buyer</div>
        <div class="ukef-heading-l">Kingdom of Wakanda colleges of Excellence</div>
      </div>
    </div>
  </div>
</div>
<div class="govuk-grid-row case-summary govuk-!-margin-0 govuk-!-padding-top-6">
  <div class="govuk-grid-column-one-tenth">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="ukef-heading-xs">Status</div>
        <div class="ukef-body-s">Application</div>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-tenth">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-!-padding-bottom-4">
        <div class="ukef-heading-xs">Date received</div>
        <div class="ukef-body-s">16 Sep 2020</div>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-!-padding-bottom-4">
        <div class="ukef-heading-xs">Type</div>
        <div class="ukef-body-s">Manual inclusion application</div>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-!-padding-bottom-4">
        <div class="ukef-heading-xs">Bank</div>
        <div class="ukef-body-s">Santander</div>
      </div>
    </div>
  </div>
  <div class="govuk-grid-column-four-tenths">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-!-padding-bottom-4">
        <div class="ukef-heading-xs">Export description</div>
        <div class="ukef-body-s">Provision of education services and material to Kingdom of Wakanda Colleges of Excellence</div>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-!-padding-bottom-4">
        <div class="ukef-heading-xs">Destiantion Country</div>
        <div class="ukef-body-s">Wakanda</div>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-!-padding-bottom-4">
        <div class="ukef-heading-xs">Agent</div>
        <div class="ukef-body-s">Stark Investments Ltd (United States)</div>
      </div>
    </div>
  </div>
  <div class="govuk-grid-column-four-tenths">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-!-padding-bottom-4">
        <div class="ukef-heading-xs">Export contract value</div>
        <div class="ukef-body-s">SAR 45,384,024.00 GBP 9,737,500.48</div>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-!-padding-bottom-4">
        <div class="ukef-heading-xs">Total facilities in this deal</div>
        <div class="ukef-body-s">SAR 28,597,920.00 GBP 5,906,541.25</div>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-!-padding-bottom-4">
        <div class="ukef-heading-xs">UKEF exposure for this deal</div>
        <div class="ukef-body-s">GBP 4,725,233</div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}
