{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro "Draft"(contract) %}

  {# if contract in suitable state to proceed... #}
  <div class="govuk-grid-row govuk-!-padding-top-2 govuk-!-padding-bottom-2 box">

    <p data-cy="canProceed" class="govuk-body">You may now proceed to submit an Automatic Inclusion Notice.</p>

    {{ govukButton({
      "text": "Proceed to review",
      "attributes" : {
        "data-cy" : "ProceedToReview"
      },
      "href": "/contract/" + contract._id + "/ready-for-review"
    }) }}

    {{ govukButton({
      "text": "Abandon",
      "classes": "govuk-button--secondary",
      "attributes" : {
        "data-cy" : "Abandon"
      },
      "href": "/contract/" + contract._id + "/abandon"
    }) }}

  </div>

  {# if contract not in suitable state to proceed... #}
  {# //TODO #}
  {# <p data-cy="cannotProceed" class="govuk-body">Please complete all form sections in order to submit your Supply Contract.</p> #}
  {# <p class="govuk-body"> #}
  {#   <a data-cy="reviewEligibilityChecklistForm" href="/contract/{{ _id }}/eligibility/supporting-documentation" class="govuk-body govuk-link"> #}
  {#     Review your eligibility checklist form #}
  {#   </a> #}
  {# + buttons #}

{% endmacro %}


{% macro "Further Maker's input required"(contract) %}

  {# if contract in suitable state to proceed... #}
  <div class="govuk-grid-row govuk-!-padding-top-2 govuk-!-padding-bottom-2 box">

    <p data-cy="canProceed" class="govuk-body">You may now proceed to submit an Automatic Inclusion Notice.</p>

    {{ govukButton({
      "text": "Proceed to review",
      "attributes" : {
        "data-cy" : "ProceedToReview"
      },
      "href": "/contract/" + contract._id + "/ready-for-review"
    }) }}

    {{ govukButton({
      "text": "Abandon",
      "classes": "govuk-button--secondary",
      "attributes" : {
        "data-cy" : "Abandon"
      },
      "href": "/contract/" + contract._id + "/abandon"
    }) }}

  </div>

  {# if contract not in suitable state to proceed... #}
  {# //TODO #}
  {# <p data-cy="cannotProceed" class="govuk-body">Please complete all form sections in order to submit your Supply Contract.</p> #}
  {# <p class="govuk-body"> #}
  {#   <a data-cy="reviewEligibilityChecklistForm" href="/contract/{{ _id }}/eligibility/supporting-documentation" class="govuk-body govuk-link"> #}
  {#     Review your eligibility checklist form #}
  {#   </a> #}
  {# + buttons #}

{% endmacro %}


{% macro "Abandoned Deal"(contract) %}

  <div class="govuk-grid-row govuk-!-padding-top-2 govuk-!-padding-bottom-2 box">

    {{ govukButton({
      "disabled": true,
      "text": "Proceed to review",
      "attributes" : {
        "data-cy" : "ProceedToReview"
      },
      "href": null
    }) }}

    {{ govukButton({
      "disabled": true,
      "text": "Abandon",
      "classes": "govuk-button--secondary",
      "attributes" : {
        "data-cy" : "Abandon"
      },
      "href": null
    }) }}

  </div>
{% endmacro %}


{% macro "Acknowledged by UKEF"(contract) %}

  <div class="govuk-grid-row govuk-!-padding-top-2 govuk-!-padding-bottom-2 box">

    {{ govukButton({
      "disabled": true,
      "text": "Proceed to review",
      "attributes" : {
        "data-cy" : "ProceedToReview"
      },
      "href": null
    }) }}

    {{ govukButton({
      "disabled": true,
      "text": "Abandon",
      "classes": "govuk-button--secondary",
      "attributes" : {
        "data-cy" : "Abandon"
      },
      "href": null
    }) }}

  </div>
{% endmacro %}


{% macro "Accepted by UKEF (without conditions)"(contract) %}

  <div class="govuk-grid-row govuk-!-padding-top-2 govuk-!-padding-bottom-2 box">

    {{ govukButton({
      "text": "Proceed to review",
      "attributes" : {
        "data-cy" : "ProceedToReview"
      },
      "href": "/contract/" + contract._id + "/ready-for-review"
    }) }}

    {{ govukButton({
      "disabled": true,
      "text": "Abandon",
      "classes": "govuk-button--secondary",
      "attributes" : {
        "data-cy" : "Abandon"
      },
      "href": null
    }) }}

  </div>
{% endmacro %}


{% macro "Accepted by UKEF (with conditions)"(contract) %}

  <div class="govuk-grid-row govuk-!-padding-top-2 govuk-!-padding-bottom-2 box">

    {{ govukButton({
      "text": "Proceed to review",
      "attributes" : {
        "data-cy" : "ProceedToReview"
      },
      "href": "/contract/" + contract._id + "/ready-for-review"
    }) }}

    {{ govukButton({
      "disabled": true,
      "text": "Abandon",
      "classes": "govuk-button--secondary",
      "attributes" : {
        "data-cy" : "Abandon"
      },
      "href": null
    }) }}

  </div>
{% endmacro %}

{% macro "Ready for Checker's approval"(contract) %}

  <div class="govuk-grid-row govuk-!-padding-top-2 govuk-!-padding-bottom-2 box">

    {{ govukButton({
      "disabled": true,
      "text": "Proceed to review",
      "attributes" : {
        "data-cy" : "ProceedToReview"
      },
      "href": null
    }) }}

    {{ govukButton({
      "disabled": true,
      "text": "Abandon",
      "classes": "govuk-button--secondary",
      "attributes" : {
        "data-cy" : "Abandon"
      },
      "href": null
    }) }}

  </div>
{% endmacro %}

{% macro "Submitted"(contract) %}
{% endmacro %}

{% macro "Rejected by UKEF"(contract) %}
{% endmacro %}
