{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

{% macro subnav(selected) %}
  {% set items = [
    {
      id: 'deals',
      href: '/dashboard/deals',
      text: 'Deals',
      active: 'deals' === selected
    },
    {
      id: 'gefFacilities',
      href: '/dashboard/facilities/gef',
      text: 'GEF Facilities',
      active: 'gefFacilities' === selected
    },
    {
      id: 'bssFacilities',
      href: '/dashboard/facilities',
      text: 'BSS / EWCS Facilities',
      active: 'bssFacilities' === selected
    }
  ] %}

  {{ mojSubNavigation({
    label: 'Sub navigation',
    items: items
  }) }}

{% endmacro %}
