{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

{% macro subnav(selected) %}
  {% set items = [
    {
      id: 'deals',
      href: '/dashboard/deals',
      text: 'Deals',
      active: 'deals' === selected,
      attributes: {
        'data-cy': 'dashboard-sub-nav-link-deals'
      }
    },
    {
      id: 'facilities',
      href: '/dashboard/facilities',
      text: 'Facilities',
      active: 'facilities' === selected,
      attributes: {
        'data-cy': 'dashboard-sub-nav-link-facilities'
      }
    }
  ] %}

  {{ mojSubNavigation({
    label: 'Sub navigation',
    items: items
  }) }}

{% endmacro %}
