{% import '_macros/date-field.njk' as dateField %}

{% macro inputs(fromLegend, toLegend, values) %}

  <div class="govuk-grid-column-one-third">
    <div class="govuk-form-group govuk-!-margin-bottom-0">
      {{ dateField.render(
        legend = fromLegend,
        id = 'createdFrom',
        dayValue = values['createdFrom-day'],
        monthValue = values['createdFrom-month'],
        yearValue = values['createdFrom-year']
      )}}
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="govuk-form-group govuk-!-margin-bottom-0">
      {{ dateField.render(
        legend = toLegend,
        id = 'createdTo',
        dayValue = values['createdTo-day'],
        monthValue = values['createdTo-month'],
        yearValue = values['createdTo-year']
      )}}
    </div>
  </div>

{% endmacro %}
