{% macro fileInput(fieldname, label, hint, fileList, validationError, dealId ) %}
  <div id="criterion-group-{{ fieldname }}" class="govuk-form-group govuk-!-margin-bottom-6 {% if validationError %}govuk-form-group--error{% endif %}" data-cy="{{fieldname}}">
    <label class="govuk-label" for="{{ fieldname }}">
      {{ label}}
    </label>
    <span id="{{ fieldname }}-hint" class="govuk-hint">
      {{ hint | safe}}
    </span>
    {% if validationError %}
      <span class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> {{ validationError.text }}
      </span>
    {% endif %}
    <input
      class="govuk-file-upload govuk-!-width-one-half "
      id={{ fieldname }}
      name={{ fieldname }}
      data-cy="{{ fieldname }}-upload"
      type="file"
      accept= ".gif, .jpg, .jpeg, .png, .bmp, .tif, .txt, .pdf, .doc, .docx, .ppt, .pptx, .xls, .xlsx, .msg, .zip"
      multiple
      onChange="DTFS.main.changeScreenVisibilityOfElement('{{ fieldname }}-file-upload-button-container', Boolean(this.value))"
    >
    <span id="{{ fieldname }}-file-upload-button-container" class="display-none">
      <input formAction="?stayonpage=true" type="submit" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" data-module="govuk-button" value="Upload" data-cy="{{ fieldname }}-upload-button" />
    </span>

    {% if fileList | length %}
      {% for file in fileList %}
            <div class="govuk-!-margin-top-2">
              <a download="{{file.filename}}" class="govuk-link file-upload-link" href="/contract/{{dealId}}/eligibility-documentation/{{fieldname}}/{{file.filename}}" data-cy="{{ fieldname }}-file-uploaded">{{file.filename}} ({{file.size}})</a>
              <button formAction="?stayonpage=true&removefile={{ file.filename }}" type="submit" class="govuk-link govuk-!-font-size-19 govuk-!-margin-bottom-0 button-as-link" data-cy="{{ fieldname }}-file-uploaded-remove">Remove</button>
            </div>
      {% endfor %}
    {% endif %}
    </div>
{% endmacro %}
