{#
    Macro: render
    Description: This macro determines and renders the stage of a facility based on its properties.
    Parameters:
        - facility: An object representing the facility with the following properties:
            - facilityStage: A string indicating the current stage of the facility.
            - hasBeenIssued: A boolean indicating whether the facility has been issued.
    Returns: A string representing the stage of the facility, which can be 'Risk expired', 'Issued', or 'Unissued'.
#}
{% macro render(facility) %}

{% if facility.facilityStage == 'Risk expired' %}
    {% set stage = 'Risk expired' %}
{% elif facility.hasBeenIssued  %}
    {% set stage = 'Issued' %}
{% else %}
    {%  set stage = 'Unissued' %}
{% endif %}

{{ stage }}

{% endmacro %}