{% extends "index.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% import '_macros/date-field.njk' as dateField %}

{% macro render(dealId, isBond) %}

  <h1 class="govuk-heading-l">Issue Facility</h1>

  <form method="POST" autocomplete="off">

    {{ dateField.render(
      legend = 'Issued Date',
      id = 'issuedDate',
      hint = 'For example, 27 11 2019'
    )}}

    {{ dateField.render(
      legend = 'Requested Cover Start Date',
      id = 'requestedCoverStartDate',
      hint = '<p>For example, 27 11 2019</p><p>If this field is left blank it will default to the later of the Issued date or Inclusion Notice submission date</p>'
    )}}

    {{ dateField.render(
      legend = 'Cover End Date',
      id = 'coverEndDate',
      hint = 'For example, 27 11 2025'
    )}}

    {% if isBond %}
      {{ govukInput({
        label: {
          text: "Bond's unique ID"
        },
        classes: "govuk-!-width-one-third",
        id: "uniqueIdentificationNumber",
        name: "uniqueIdentificationNumber"
      }) }}
    {% endif %}

    <p class="govuk-body">If you no longer wish to issue facility, please clear all fields and save.</p>

    <button data-cy="Submit" class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
      Save
    </button>

    <a href="/contract/{{ dealId }}" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">Cancel</a>

  </form>

{% endmacro %}
