{% macro pagination(totalPages, currentPage, totalItems, paginationRoute, queryString) %}

  <div class="breadcrumbs" role="navigation">

    {% if totalPages > 1 %}

      <div role="navigation">
        <h4 class="govuk-visually-hidden">Pagination</h4>

        <ul class="govuk-!-margin-bottom-0">

          {% if currentPage !== 0 %}
            <li class="govuk-body govuk-!-margin-bottom-3">
              <a data-cy="First" href="{{paginationRoute}}/0{{queryString}}" class="govuk-link">First</a>
            </li>

            <li class="govuk-body govuk-!-margin-bottom-3">
              <a data-cy="Previous" href="{{paginationRoute}}/{{currentPage-1}}{{queryString}}" class="govuk-link">Previous</a>
            </li>

            <li class="govuk-body govuk-!-margin-bottom-3">
              ...
            </li>

          {% endif %}

          {% for i in range(currentPage - 5, totalPages) %}
            {% if loop.index < 10 and i + 1 > 0 %}
              <li class="govuk-body govuk-!-margin-bottom-3 {%if i === currentPage %}active{% endif %}">
                <a data-cy="Page_{{i}}" href="{{paginationRoute}}/{{i}}{{queryString}}" class="govuk-link">{{ i + 1 }}</a>
              </li>
            {% endif %}
          {%- endfor %}

          {% if currentPage !== (totalPages-1) %}
            <li class="govuk-body govuk-!-margin-bottom-3">
              ...
            </li>

            <li class="govuk-body govuk-!-margin-bottom-3">
              <a data-cy="Next" href="{{paginationRoute}}/{{currentPage+1}}{{queryString}}" class="govuk-link">Next</a>
            </li>

            <li class="govuk-body govuk-!-margin-bottom-3">
              <a data-cy="Last" href="{{paginationRoute}}/{{totalPages-1}}{{queryString}}" class="govuk-link">Last</a>
            </li>
          {% endif %}

        </ul>

      </div>
    {% endif %}

    <p data-cy="totalItems" class="govuk-body-s">({{ totalItems }} items)</p>

  </div>

{% endmacro %}
