{% from "govuk/components/tag/macro.njk" import govukTag %}

{% macro render(status) %}
  {% if status %}
    {{govukTag({
      text: status,
      classes: (status === "Incomplete" or status === "Ready for check") and "govuk-tag--grey"
    })}}
  {% endif %}
{% endmacro %}
