{% from "govuk/components/tag/macro.njk" import govukTag %}

{% macro render(status) %}

  {% set greyColourStatus = (status === "Incomplete" or status === "Ready for check" or status === "Acknowledged by UKEF" or status === "Draft") %}

  {% if status %}
    {{govukTag({
      text: status,
      classes: greyColourStatus and "govuk-tag--grey"
    })}}
  {% endif %}
{% endmacro %}
