{% import '_macros/status.njk' as status %}

{#
  TODO: make this NOT reusable so it's specific to bonds
  Otherwise could be lots of conditions for it to work with bonds and loans
#}

{% macro table(items, dealId, hrefRoot, hrefPage) %}

  <table class="govuk-table contract-table govuk-!-margin-bottom-0">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Bond's unique number</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">UKEF facility ID</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Status</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Value</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Stage</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Start date</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">End date</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Action</th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">

      {% for item in items %}
        <tr class="govuk-table__row" data-cy="bond-{{ item._id }}">
          <td class="govuk-table__cell govuk-!-font-size-14">
            {% if item.uniqueIdentificationNumber %}
              <a href="/contract/{{ dealId }}/{{ hrefRoot }}/{{ item._id}}/{{ hrefPage }}" class="govuk-link" data-cy="unique-number">{{ item.uniqueIdentificationNumber }}</a>
            {% else %}
              <a href="/contract/{{ dealId }}/{{ hrefRoot }}/{{ item._id}}/{{ hrefPage }}" class="govuk-link" data-cy="unique-number">Not entered</a>
            {% endif %}
          </td>

          <td class="govuk-table__cell govuk-!-font-size-14">
            {{ item.ukefFacilityID }}
          </td>

          <td class="govuk-table__cell govuk-!-font-size-14 contract-table--status-cell">
            {{ status.statusText(item.status) }}
          </td>

          <td class="govuk-table__cell govuk-!-font-size-14" data-cy="bond-value">
            {{ item.currency}} {{ item.bondValue }}
          </td>
          
          <td class="govuk-table__cell govuk-!-font-size-14">
            {{ item.stage }}
          </td>

          <td class="govuk-table__cell govuk-!-font-size-14" data-cy="requested-cover-start-date">
            {% if item['requestedCoverStartDate-day'] and item['requestedCoverStartDate-month'] and item['requestedCoverStartDate-year'] %}
            {{ item['requestedCoverStartDate-day'] }}/{{ item['requestedCoverStartDate-month'] }}/{{ item['requestedCoverStartDate-year'] }}
            {% endif %}
          </td>

          <td class="govuk-table__cell govuk-!-font-size-14" data-cy="cover-end-date">
            {% if item['coverEndDate-day'] and item['coverEndDate-month'] and item['coverEndDate-year'] %}
              {{ item['coverEndDate-day'] }}/{{ item['coverEndDate-month'] }}/{{ item['coverEndDate-year'] }}
            {% endif %}
          </td>

          <td class="govuk-table__cell govuk-!-font-size-14">
            <a href="/contract/{{ dealId }}/{{ hrefRoot }}/{{ item._id}}/delete" class="govuk-link" data-cy="delete-link">Delete</a>
          </td>
        </tr>

      {% endfor %}
    </tbody>

  </table>

{% endmacro %}
