{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro render(params) %}
    {% set isSupportInfo = params.isSupportInfo %}
    {% set attemptsLeft = params.attemptsLeft %}
    {% set requestNewCodeUrl = params.requestNewCodeUrl %}
    {% set isAccessCodeLink = params.isAccessCodeLink %}

    <p class="govuk-body" data-cy="access-code-expired-security-info">
        Please check your spam or junk folders and be aware emails may sometimes take a few minutes to arrive.
    </p>

    {% if isSupportInfo %}
        <p class="govuk-body" data-cy="access-code-expired-support-info">
            If you are still having problems signing in, contact us for support.
        </p>
    {% endif %}

    <p class="govuk-body" data-cy="access-code-expired-attempts-info">
        You have {{ attemptsLeft }} attempts remaining.
    </p>

    <p class="govuk-body" data-cy="access-code-expired-suspend-info">
        If you request too many access codes your account will be suspended for security purposes and you will be prompted to contact us.
    </p>

    {{ govukButton({
    text: "Sign in",
    attributes: {
      'data-cy': 'submit-button'
    }
    }) }}

    {% if isAccessCodeLink %}
        <a href="{{ requestNewCodeUrl }}" class="govuk-link" data-cy="request-code-link">Request a new code</a>
    {% endif %}
{% endmacro %}