{% macro render(params) %}
  {# This is very similar to _partials/contact-us.njk #}
  <h3 class="govuk-heading-s">Telephone</h3>

  <ul class="govuk-list">
    <li>Customer service team:+44 (0)207 271 8010</li>
  </ul>

  <h2 class="govuk-heading-s">Email</h2>

  <ul class="govuk-list">
    <li><a class="govuk-link" href="mailto:DigitalService.TradeFinance@ukexportfinance.gov.uk">DigitalService.TradeFinance@ukexportfinance.gov.uk</a></li>
    <li>We aim to respond within 2 working days</li>
  </ul>
{% endmacro%}
