{% extends "index.njk" %}

{% block pageTitle %}Service Options{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Service Options</h1>

  <div class="govuk-body">
    <p class="govuk-body">Select the service you would like to use.</p>
    <ul class="govuk-list">
        {% if isMaker or isChecker %}
        <li>
            <a href="/dashboard/deals" class="govuk-link">Portal</a>
        </li>
        {% endif %}
        {% if isPaymentOfficer %}
        <li>
            <a href="/utilisation-report-upload" class="govuk-link">Utilisation Reporting</a>
        </li>
        {% endif %}
    </ul>
  </div>

{% endblock %}