{% extends "index.njk" %}

{% block pageTitle %}Service Options{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl" data-cy="main-heading">What do you want to do?</h1>

  <div class="govuk-body">
    <p class="govuk-body" data-cy="paragraph">Select the service you would like to use.</p>
    <ul class="govuk-list">
        {% if canAccessPortal %}
        <li>
            <a href="/dashboard/deals" class="govuk-link" data-cy="portal-link">Work on guarantee applications</a>
        </li>
        {% endif %}
        {% if canAccessUtilisationReports %}
        <li>
            <a href="/utilisation-report-upload" class="govuk-link" data-cy="utilisation-report-link">Report GEF utilisation and fees</a>
        </li>
        {% endif %}
    </ul>
  </div>

{% endblock %}