{% from "govuk/components/table/macro.njk" import govukTable %}
{% import './_macros/side-navigation.njk' as sideNavigation %}
{% import './_macros/credit-rating-table.njk' as creditRatingTable %}
{% import './_macros/facility-pricing-risk-table.njk' as facilityPricingRiskTable %}
{% import '../../../_macros/facility-link.njk' as facilityLink %}

{% extends "case/case.njk" %}

{% block sub_content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-xl govuk-!-margin-top-6 govuk-!-margin-bottom-6" data-cy="underwriting-heading">Underwriting</h2>
    </div>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-quarter">
          <div class="govuk-grid-column-two-thirds">

            {% set componentData = {
              caseId: dealId,
              activeSideNavigation: activeSideNavigation
            } %}

            {{sideNavigation.render(componentData)}}

          </div>
      </div>

      <div class="govuk-grid-column-one-half">

        <section>

          <h3 class="govuk-heading-l ukef-heading-grey" data-cy="pricing-and-risk-heading">Pricing and risk</h3>

          <h4 class="govuk-heading-l separator-line govuk-!-padding-top-6" data-cy="exporter-heading">Exporter</h4>

          {% if tfm.exporterCreditRating %}          

            {% set componentData = {
              caseId: dealId,
              exporterCreditRating: tfm.exporterCreditRating
            } %}

            {{ creditRatingTable.render(componentData) }}

          {% else %}

            <p class="govuk-body-l"><a class="govuk-link govuk-link--no-visited-state" href="/case/{{ dealId }}/underwriting/pricing-and-risk/edit" data-cy="add-credit-rating-link">Add a credit rating for {{ deal.submissionDetails.supplierName }}</a></p>

          {% endif %}

        </section>

        <section>

          <h4 class="govuk-heading-l separator-line govuk-!-padding-top-6" data-cy="facilities-heading">Facilities</h4>

          {% for facility in deal.facilities %}
          
            {% set componentData = {
              caseId: dealId,
              facility: facility
            } %}

            {{facilityPricingRiskTable.render(componentData)}}

          {% endfor %}

        </section>

      </div>

    
    </div>

  </div>

{% endblock %}
