{% extends "cases/case.html" %}
{% set selected = 'pricing' %}
{% block sub_content %}
  <div class="govuk-grid-row tfm tfm-width">
      <div class="govuk-grid-column-three-quarters">
      <p class="header-label">Pricing</p>
      </div>
  </div>
  <div class="govuk-grid-row tfm tfm-width">
      <div class="govuk-grid-column-three-quarters separator-line pricing">
        <h2>Interest Margin</h2>
        <table>
          <tr>
            <th>Facility Id</th>
            <th>Guarantee type</th>
            <th>Bank's interest margin</th>
            <th>Required interest margin</th>
            <th>Interest margin is</th>
            <th/>
          </tr>
          <tr>
            <td><a href="#">0020010552</a></td>
            <td>BSS</td>
            <td>{{ data['interest-margin-amount'] }}%</td>
            <td>1.25%</td>
            <td>{% if data['interest-margin-amount'] >= 1.25 %}<span class="label--green">ACCEPTABLE</span>{% else %}<span class="label--red">NOT ACCEPTABLE</span>{% endif %}</td>
            <td><a href="/cases/pricing/interest-margin">Change</a></td>
          </tr>
        </table>
      </div>
  </div>
    <div class="govuk-grid-row tfm tfm-width">
      <div class="govuk-grid-column-three-quarters separator-line pricing">
        <h2>Risk profile</h2>
        <table>
          <tr>
            <th>Facility Id</th>
            <th>Guarantee type</th>
            <th>Profile</th>
            <th/>
            <th/>
            <th/>
          </tr>
          <tr>
            <td><a href="#">0020010552</a></td>
            <td>BSS</td>
            <td>{{ data['risk-profile'] }}</td>
            <td/>
            <td/>
            <td><a href="/cases/pricing/risk-profile">Change</a></td>
          </tr>
        </table>
      </div>
  </div>
    <div class="govuk-grid-row tfm tfm-width">
      <div class="govuk-grid-column-three-quarters separator-line pricing">
        <h2>Credit rating</h2>
        {% if not data['credit-rating'] %}
        <table>
          <tr>
            <td colspan="3"><a href="/cases/pricing/credit-rating.html" class="govuk-link" style="font-size:19px;">Select a risk rating for this case</a></td>
            <td/>
            <td/>
            <td style="width:80px"><span class="label--blue">TO DO</span></td>
          </tr>
        </table>
        {% else %}
        <table>
          <tr>
            <td>Risk rating is</td>
            <td/>
            <td/>
            <td/>
            <td>{{ data['credit-rating'] }}</td>
            <td><a href="/cases/pricing/credit-rating">Change</a></td>
          </tr>
        </table>
        {% endif %}
      </div>
  </div>
    <div class="govuk-grid-row tfm tfm-width">
      <div class="govuk-grid-column-three-quarters separator-line pricing">
        <h2>Loss given default</h2>
        <table>
          <tr>
            <th>Facility Id</th>
            <th colspan="2">Loss given default</th>
            <th/>
            <th/>
            <th/>
          </tr>
          <tr>
            <td><a href="loss-given-default">0020010552</a></td>
            <td>{{ data['loss-given-default'] }}%</td>
            <td/>
            <td/>
            <td/>
            <td><a href="/cases/pricing/loss-given-default">Change</a></td>
          </tr>
        </table>
      </div>
  </div>
{% endblock %}