{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% extends "index.njk" %}

{% block pageTitle %}
  Search users for activity logs
{% endblock %}

{% block content %}
  {% if errors %}
    {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors.errorSummary,
        attributes: {
          'data-cy': 'error-summary'
        }
    }) }}
  {% endif %}

  <form method="POST">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {{ govukInput({
      label: {
        text: "Which user's activity should be featured in the report?",
        classes: "govuk-label--l",
        isPageHeading: true
      },
      hint: {
        text: "You can search by name or email address"
      },
      id: "usersSearchTerm",
      name: "usersSearchTerm",
      classes: "govuk-!-width-one-half",
      errorMessage: errors.fieldErrors.usersSearchTerm and {
        text: errors.fieldErrors.usersSearchTerm.text,
        attributes: {
          "data-cy": "search-term-error"
        }
      },
      attributes: {
        "data-cy": "users-search-bar"
      }
    }) }}

    {{ govukButton({
      text: "Find user",
      classes: "govuk-!-margin-top-8",
      attributes: {
        "data-cy": "find-users-button"
      }
    }) }}
  </form>
{% endblock %}