{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "index.njk" %}

{% block pageTitle %}
  Select user for activity logs
{% endblock %}

{% block content %}
  {{ govukBackLink({
    href: "/admin/activity/search",
    attributes: { "data-cy": "back-link" }
  }) }}

  {% set hintHtml %}
    <p class="govuk-body-l"> {{ usersRadioButtonItems | length }} users found for <b>{{ searchTerm }}</b>. <a href="/admin/activity/search">Search Again</a></p>
  {% endset %}

  {{ govukRadios({
    name: "selectAUser",
    fieldset: {
      legend: {
        text: "Which user's activity should be featured in the report?",
        isPageHeading: true 
      }
    },
    hint: {
      html: hintHtml
    }
    items: usersRadioButtonItems
  }) }}

  {{ govukButton({
    text: "Confirm and Continue",
    classes: "govuk-!-margin-top-8"
  }) }}
{% endblock %}