{% extends "index.njk" %}

{% block pageTitle %}Feedback{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l govuk-!-padding-top-5" data-cy="thank-you-heading">Feedback</h1>

  <p class="govuk-body" data-cy="thank-you-copy">Thank you for your feedback. We will use your feedback for future improvement. Do let us know if there is anything else we need to know to improve this area of concern.</p>

{% endblock %}
