{% macro render(params) %}

  {% set id = params.id %}
  {% set text = params.text %}
  {% set textList = params.textList %}

  <p class="govuk-!-margin-bottom-0">{{ id }}. {{ text }}</p>

  {% if textList %}
    <div class="lower-roman-with-parens">
      <ol type="i" class="govuk-!-margin-bottom-0 govuk-!-margin-top-2">
        {% for item in textList %}
          <li>{{ item }}</li>
        {% endfor %}
      </ol>
    </div>

  {% endif %}

{% endmacro %}
