{% macro render() %}

<h3 class="govuk-!-margin-top-0 govuk-!-margin-bottom-1"> Cash facilities </h3>
<div>This means any type of cash advance to the exporter. For example, a loan.</div>

<h3 class="govuk-!-margin-bottom-1"> Contingent facilities </h3>
<div>This is when your bank takes on an unfunded risk on the exporter. And, the exporter or obligor agrees to indemnify your bank, should you need to pay out at some point in relation to this risk. </div>
<div class="govuk-!-margin-top-4">For example, a bond or a letter of credit.</div>

<h3 class="govuk-!-margin-bottom-1"> How many you can add </h3>
<div>You must add at least one cash or contingent facility.  You can add several of each type, if you wish.</div>

{% endmacro %}
