{% extends "case_view.html" %}
{% block sub_content %}
  <div class="govuk-grid-row">
  {%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}

  <div class="govuk-grid-column-one-quarter tfm">

  {{ mojSideNavigation({
    label: 'Side navigation',
    sections: [
      {
        heading: {
          text: 'Section 1'
        },
        items: [{
          text: 'About the export',
          href: '#1.1',
          active: true
        }, {
          text: 'Bank relationship',
          href: '#1.2'
        }]
      },
      {
        heading: {
          text: 'Business risk'
        },
        items: [{
          text: 'Company background',
          href: '#2.1'
        }, {
          text: 'Business risk factors',
          href: '#2.2'
        }]
      },
      {
        heading: {
          text: 'Financial risk'
        },
        items: [{
          text: 'Company backgrounds',
          href: '#3.1'
        }, {
          text: 'Financial year based on',
          href: '#3.2'
        }, {
          text: 'EBITDA',
          href: '#3.3'
        }, {
          text: 'Cash balance',
          href: '#3.4'
        }, {
          text: 'Debt',
          href: '#3.5'
        }, {
          text: 'Forecast',
          href: '#3.6'
        }, {
          text: 'Short-term liquidity',
          href: '#3.7'
        }]
      },
      {
        heading: {
          text: 'Conclusions'
        },
        items: [{
          text: 'Supporting factors and recommendations',
          href: '#4.1'
        }, {
          text: 'Key risks',
          href: '#4.2'
        }]
      }
    ]
  }) }}

  </div>


    <div class="govuk-grid-column-three-quarters">
    {%- from "moj/components/task-list/macro.njk" import mojTaskList -%}

{{ mojTaskList({
sections: [
      {
        heading: {
          text: 'About the export and relationship with the bank'
        },
        items: [{
          text: 'Enter information about the export',
          href: '#1.1',
          active: true
        }, {
          text: 'Enter the exporter`s relationship with the bank',
          href: '#1.2'
        }]
      },
      {
        heading: {
          text: 'Business risk'
        },
        items: [{
          text: 'Enter company background',
          href: '#2.1'
        }, {
          text: 'Enter business risk factors',
          href: '#2.2'
        }]
      },
      {
        heading: {
          text: 'Financial risk'
        },
        items: [{
          text: 'Add company accounts',
          href: '#3.1'
        }, {
          text: 'Enter financial this credit analysis is based on',
          href: '#3.2'
        }, {
          text: 'Enter information about the EBITDA levels',
          href: '#3.3'
        }, {
          text: 'Enter information abouth the cash balance',
          href: '#3.4'
        }, {
          text: 'Enter debts',
          href: '#3.5'
        }, {
          text: 'Enter information about the forecast',
          href: '#3.6'
        }, {
          text: 'Enter information abouth short-term liquidity',
          href: '#3.7'
        }]
      },
      {
        heading: {
          text: 'Conclusions'
        },
        items: [{
          text: 'Enter supporting factors and recommendations',
          href: '#4.1'
        }, {
          text: 'Enter key risks',
          href: '#4.2'
        }]
      }
    ]
}) }} 
    </div>
  </div>

{% endblock %}