{% extends "layout.html" %}

{% block pageTitle %}
  C0345
{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full moj-primary-navigation">
      <div class="moj-primary-navigation__container">
        <div class="moj-primary-navigation__nav">
          <nav class="moj-primary-navigation" aria-label="Primary navigation">
            <ul class="moj-primary-navigation__list">
              <li class="moj-primary-navigation__item">
                <a class="moj-primary-navigation__link" href="#1">Inbox</a>
              </li>
              <li class="moj-primary-navigation__item">
                <a class="moj-primary-navigation__link"  aria-current="page" href="view_cases.html">Cases</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full case-summary">
      <table>
        <tr>
          <td style="width:200px">
            <h3>C0345</h3>
          </td>
          <td style="width:300px">Love to Learn Ltd</td>
          <td style="width:200px">{{ extensionConfig.stylesheets.Count }}</td>
          <td>Case actions</td>
        </tr>
        <tr>
          <td style="width:200px">Type of work</td>
          <td style="width:200px">
            <label style="background-color:light-blue">Manual Inclusion Application</label>
          </td>
          <td  style="width:200px">Date received</td>
          <td>16 Dec 2019</td>
        </tr>
        <tr>
          <td style="width:200px">Exporter</td>
          <td style="width:200px">
            <u>Love to Learn Ltd</u>
          </td>
          <td>Underwriter</td>
          <td>Nigel Horwood</td>
        </tr>
        <tr>
          <td style="width:200px">Total export value</td>
          <td style="width:200px">GBP 3,468,195.18</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td style="width:200px">Additional UKEF exposure</td>
          <td style="width:200px">GBP 2,774,556.14</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td style="width:200px">Guarantee types</td>
          <td style="width:200px">BSS</td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
{% endblock %}

{% block content %}
  {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

  {{ mojSubNavigation({
  label: 'Sub navigation',
  items: [{
  text: 'Tasks',
  href: 'case_tasks.html',
  active: true
  }, {
  text: 'Deal',
  href: 'case_deal.html'
  }, {
  text: 'Exposure',
  href: 'case_exposure.html'
  }, {
  text: 'Pricing',
  href: 'case_pricing.html'
  }, {
  text: 'Agent',
  href: 'case_agent.html'
  }, {
  text: 'Adverse History',
  href: 'case_adverse_history.html'
  }, {
  text: 'Credit Analysis',
  href: 'case_credit_analysis.html'
  }]
  }) }}

  {% block sub_content %}
  {% endblock %}
  
      {% endblock %}