{% extends "layout.html" %}

{% block pageTitle %}
  Cases
{% endblock %}

{% block beforeContent %}
<div class="moj-primary-navigation">

<div class="moj-primary-navigation__container">

<div class="moj-primary-navigation__nav">

  <nav class="moj-primary-navigation" aria-label="Primary navigation">

    <ul class="moj-primary-navigation__list">
      <li class="moj-primary-navigation__item">
        <a class="moj-primary-navigation__link"href="#1">Inbox</a>
      </li>

      <li class="moj-primary-navigation__item">
        <a class="moj-primary-navigation__link" aria-current="page" href="#2">Cases</a>
      </li>
    </ul>

  </nav>

</div>
</div>

</div> 
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column">
      <h1 class="govuk-heading-xl">
        Cases
      </h1>
        {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
        {{ mojSubNavigation({
        label: 'Sub navigation',
        items: [{
        text: 'Open',
        href: 'view_cases_open.html',
        active: true
        }, {
        text: 'Closed',
        href: 'view_cases_closed.html'
        }]
        }) }}

  {% block sub_content %}
  {% endblock %}
     {% endblock %}