{% extends "index.njk" %}
{% import '_macros/pagination.njk' as pagination %}

{% import './_macros/abandoned-supply-contracts-filters.njk' as filterControls %}

{% block pageTitle %}Abandoned Supply Contracts{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">Abandoned Supply Contracts</h1>

  {{ filterControls.render(filter, banks, user) }}

  <table class="govuk-table govuk-!-margin-bottom-0">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row govuk-!-margin-bottom-4">
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Deal Id</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Bank</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Bank Supply Contract ID</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Status</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Submission type</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Maker</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Created</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Abandoned</th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">

      {% for contract in contracts %}
        <tr data-cy="deal_{{contract._id}}" class="govuk-table__row">
          <td data-cy="dealId" class="govuk-table__cell govuk-!-font-size-14">
            {{ contract.dealId }}
          </td>

          <td data-cy="bank" class="govuk-table__cell govuk-!-font-size-14">
            {{ contract.details.bank.name }}
          </td>

          <td data-cy="bankInternalRefName" class="govuk-table__cell govuk-!-font-size-14">
            <a href="/contract/{{ contract._id }}" class="govuk-link" data-cy="bankInternalRefNameLink">{{ contract.bankInternalRefName }}</a>
          </td>

          <td data-cy="status" class="govuk-table__cell govuk-!-font-size-14">
            {{ contract.status }}
          </td>

          <td data-cy="submissionType" class="govuk-table__cell govuk-!-font-size-14">
            {{ contract.submissionType }}
          </td>

          <td data-cy="maker" class="govuk-table__cell govuk-!-font-size-14">
            {{ contract.maker.username }}
          </td>

          <td data-cy="created" class="govuk-table__cell govuk-!-font-size-14">
            {{ contract.details.dateOfCreation }}
          </td>

          <td data-cy="abandoned" class="govuk-table__cell govuk-!-font-size-14">
            {{ contract.details.abandoned }}
          </td>

        </tr>
      {% endfor %}

    </tbody>

  </table>

  {{ pagination.pagination(totalPages = pages.totalPages, currentPage = pages.currentPage, totalItems = pages.totalItems, paginationRoot = '/reports/audit-supply-contracts') }}


{% endblock %}
