{% extends "index.njk" %}
{% import '_macros/pagination.njk' as pagination %}
{% import './_macros/all-transactions-report-filters.njk' as filterControls %}

{% block pageTitle %}Transactions Report{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">Transactions Report</h1>

  {{ filterControls.render(filter, banks, user) }}

  <table class="govuk-table govuk-!-margin-bottom-0">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Bank</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Supply Contract ID</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Deal Status</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Transaction Id</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Transaction type</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Supplier name</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Facility value</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Facility stage</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Created</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Created by</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Issued date</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Issued by</th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">

      {% for transaction in transactions %}
        <tr data-cy="transaction_{{transaction._id}}" class="govuk-table__row">
          <td data-cy="bank" class="govuk-table__cell govuk-!-font-size-14">
            {{ transaction.deal.details.bank.name }}
          </td>

          <td data-cy="bankInternalRefName" class="govuk-table__cell govuk-!-font-size-14">
            <a href="/contract/{{ transaction.deal._id }}" class="govuk-link" data-cy="bankInternalRefNameLink">{{ transaction.deal.bankInternalRefName }}</a>
          </td>

          <td data-cy="status" class="govuk-table__cell govuk-!-font-size-14">
            {{ transaction.deal.status }}
          </td>

          <td data-cy="transactionId" class="govuk-table__cell govuk-!-font-size-14">
            {{ transaction._id }}
          </td>

          <td data-cy="transactionType" class="govuk-table__cell govuk-!-font-size-14">
            {{ transaction.type }}
          </td>

          <td data-cy="supplier-name" class="govuk-table__cell govuk-!-font-size-14">
            {{ transaction.deal.submissionDetails["supplier-name"] }}
          </td>

          <td data-cy="facilityValue" class="govuk-table__cell govuk-!-font-size-14">
            {{ transaction.value }}
          </td>

          <td data-cy="facilityStage" class="govuk-table__cell govuk-!-font-size-14">
          {{ transaction.stage }}
          </td>

          <td data-cy="created" class="govuk-table__cell govuk-!-font-size-14">
            {{ transaction.created }}
          </td>

          <td data-cy="createdBy" class="govuk-table__cell govuk-!-font-size-14">
            {{ transaction.deal.maker.username }}
          </td>

          <td data-cy="issuedDate" class="govuk-table__cell govuk-!-font-size-14">
            {{ transaction.issuedDate }}
          </td>

          <td data-cy="issuedBy" class="govuk-table__cell govuk-!-font-size-14">
            {{ transaction.issuedBy }}
          </td>

        </tr>
      {% endfor %}

    </tbody>

  </table>

  {{ pagination.pagination(totalPages = pages.totalPages, currentPage = pages.currentPage, totalItems = pages.totalItems, paginationRoot = '/reports/transactions-report') }}

{% endblock %}
