{% extends "index.njk" %}
{% import '_macros/pagination.njk' as pagination %}

{% import './_macros/audit-transactions-filters.njk' as filterControls %}

{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}

{% block pageTitle %}Audit - Transactions report{% endblock %}

{% block content %}

  {{ mojPageHeaderActions({
  heading: {
  html: '<h1 class="govuk-heading-l">Audit - Transactions Report</h1>'
  },
  items: [{
  text: 'Download csv',
  classes: 'govuk-button--secondary',
  href: '/reports/audit-transactions/download'
  }]
  }) }}

  {{ filterControls.render(filter, user, banks, facilityStages) }}

  <table class="govuk-table govuk-!-margin-bottom-0">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        {% if user and user.roles.includes("admin")%}
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Bank</th>
        {% endif %}
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Bank Supply contract ID</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Deal status</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Transaction ID</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Transaction type</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Supplier name</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Facility value</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Facility stage</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Created date</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Created by</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Issued date</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Issued by</th>
      </tr>
    </thead>

    <tbody data-cy="results" class="govuk-table__body">

      </td> </tr>
      {% for transaction in transactions %}
        <tr data-cy="deal_{{transaction.deal_id}}" class="govuk-table__row">

          {% if user and user.roles.includes("admin")%}
          <td data-cy="bank" class="govuk-table__cell govuk-!-font-size-14">
            {{ transaction.deal_bank }}
          </td>
          {% endif %}

          <td data-cy="bankInternalRefName" class="govuk-table__cell govuk-!-font-size-14">
            <a href="/contract/{{ transaction.deal_id }}" class="govuk-link" data-cy="bankInternalRefNameLink">{{ transaction.deal_bankInternalRefName }}</a>
          </td>

          <td data-cy="status" class="govuk-table__cell govuk-!-font-size-14">
            {{ transaction.deal_status }}
          </td>

          <td data-cy="bankFacilityID" class="govuk-table__cell govuk-!-font-size-14">
            {{ transaction.bankFacilityId | dashIfEmpty }}
          </td>

          <td data-cy="transactionType" class="govuk-table__cell govuk-!-font-size-14">
            {{ transaction.transactionType | capitalize | dashIfEmpty }}
          </td>

          <td data-cy="supplierName" class="govuk-table__cell govuk-!-font-size-14">
            {{ transaction.deal_supplierName }}
          </td>

          <td data-cy="facilityValue" class="govuk-table__cell govuk-!-font-size-14">
            {{ transaction.currency.id }} {{ transaction.value | formatAsCurrency }}
          </td>

          <td data-cy="facilityStage" class="govuk-table__cell govuk-!-font-size-14">
            {{ transaction.transactionStage }}
          </td>

          <td data-cy="createdDate" class="govuk-table__cell govuk-!-font-size-14">
            {{ transaction.deal_created | localiseTimestamp("DD/MM/YYYY HH:mm", user.timezone) | dashIfEmpty }}
          </td>

          <td data-cy="createdBy" class="govuk-table__cell govuk-!-font-size-14">
            {{ transaction.maker }}
          </td>

          <td data-cy="issuedDate" class="govuk-table__cell govuk-!-font-size-14">
            {{ transaction.issuedFacilitySubmittedToUkefTimestamp | localiseTimestamp('DD/MM/YYYY', user.timezone) | dashIfEmpty }}
          </td>

          <td data-cy="issuedBy" class="govuk-table__cell govuk-!-font-size-14">
            {{ transaction.issuedFacilitySubmittedToUkefBy | dashIfEmpty }}
          </td>

        </tr>
      {% endfor %}

    </tbody>

  </table>

  {{ pagination.pagination(totalPages = pages.totalPages, currentPage = pages.currentPage, totalItems = pages.totalItems, paginationRoot = '/reports/audit-transactions') }}


{% endblock %}
