{% extends "index.njk" %}
{% import '_macros/pagination.njk' as pagination %}

{% import './_macros/audit-supply-contracts-filters.njk' as filterControls %}

{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}

{% block pageTitle %}Audit report{% endblock %}

{% block content %}

  {{ mojPageHeaderActions({
  heading: {
  html: '<h1 class="govuk-heading-l">Audit Report</h1>'
  },
  items: [{
  text: 'Download csv',
  classes: 'govuk-button--secondary',
  href: '/reports/audit-supply-contracts/download'
  }]
  }) }}

  {{ filterControls.render(filter, user, banks) }}

  <table class="govuk-table govuk-!-margin-bottom-0">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Bank Supply Contract ID</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Created by</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Submitted by</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Supply Contract Status</th>
        {% if user and user.roles.includes("admin")%}
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Bank</th>
        {% endif %}
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Created</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Changed</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Submission date</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Transactions</th>
      </tr>
    </thead>

    <tbody data-cy="results" class="govuk-table__body">

      {% for contract in contracts %}
        <tr data-cy="deal_{{contract._id}}" class="govuk-table__row">
          <td data-cy="bankInternalRefName" class="govuk-table__cell govuk-!-font-size-14">
            <a href="/contract/{{ contract._id }}" class="govuk-link" data-cy="bankInternalRefNameLink">{{ contract.bankInternalRefName }}</a>
          </td>

          <td data-cy="createdBy" class="govuk-table__cell govuk-!-font-size-14">
            {{ contract.details.maker | displayName }}
          </td>

          <td data-cy="submittedBy" class="govuk-table__cell govuk-!-font-size-14">
            {{ contract.details.checker | displayName }}
          </td>

          <td data-cy="status" class="govuk-table__cell govuk-!-font-size-14">
            {{ contract.status }}
          </td>

          {% if user and user.roles.includes("admin")%}
          <td data-cy="bank" class="govuk-table__cell govuk-!-font-size-14">
            {{ contract.bank.name }}
          </td>
          {% endif %}

          <td data-cy="created" class="govuk-table__cell govuk-!-font-size-14">
           {{ contract.details.created | localiseTimestamp("DD/MM/YYYY HH:mm", user.timezone) }}
          </td>

          <td data-cy="changed" class="govuk-table__cell govuk-!-font-size-14">
            {{ contract.updatedAt | localiseTimestamp("DD/MM/YYYY HH:mm", user.timezone) | dashIfEmpty }}
          </td>

          <td data-cy="submissionDate" class="govuk-table__cell govuk-!-font-size-14">
            {{ contract.details.submissionDate | localiseTimestamp("DD/MM/YYYY HH:mm", user.timezone) | dashIfEmpty }}
          </td>

          <td data-cy="transactions" class="govuk-table__cell govuk-!-font-size-14">
            <a href="/reports/audit-supply-contracts/{{ contract._id }}/transactions/0" class="govuk-link" data-cy="bankInternalRefNameLink">
              link {{ contract.bondTransactions.items}}
            </a>
          </td>

        </tr>

      {% endfor %}

    </tbody>

  </table>

  {{ pagination.pagination(totalPages = pages.totalPages, currentPage = pages.currentPage, totalItems = pages.totalItems, paginationRoot = '/reports/audit-supply-contracts') }}


{% endblock %}
