{% extends "index.njk" %}
{% import '_macros/pagination.njk' as pagination %}

{# % import './_macros/audit-supply-contracts-filters.njk' as filterControls % #}

{% block pageTitle %}Audit report{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">Audit - Transactions Report</h1>

  {# { filterControls.render(filter, user) } #}

  <table class="govuk-table govuk-!-margin-bottom-0">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Supply contract ID</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Transaction type</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Bond ID</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Created</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Changed</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Issued date</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Issued by</th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">

      {% for transaction in transactions %}
        <tr data-cy="deal_{{transaction.transaction_id}}" class="govuk-table__row">
          <td data-cy="bankSupplyContractID" class="govuk-table__cell govuk-!-font-size-14">
            <a href="/contract/{{ transaction._id }}" class="govuk-link" data-cy="bankSupplyContractIDLink">{{ bankSupplyContractID }}</a>
          </td>

          <td data-cy="transactionType" class="govuk-table__cell govuk-!-font-size-14">
             {{ transaction.transactionType | capitalize | dashIfEmpty }}
          </td>

          <td data-cy="bankFacilityId" class="govuk-table__cell govuk-!-font-size-14">
            {{ transaction.bankFacilityId | dashIfEmpty }}
          </td>
          
          <td data-cy="created" class="govuk-table__cell govuk-!-font-size-14">
            {{ transaction.startDate | dashIfEmpty }}
          </td>

          <td data-cy="lastEdited" class="govuk-table__cell govuk-!-font-size-14">
            {{ transaction.lastEdited | localiseTimestamp("DD/MM/YYYY HH:mm", user.timezone) | dashIfEmpty }}
          </td>

          <td data-cy="issued" class="govuk-table__cell govuk-!-font-size-14">
            {{ transaction.issuedDate | localiseTimestamp("DD/MM/YYYY HH:mm", user.timezone) | dashIfEmpty }}
          </td>

          <td data-cy="issuedBy" class="govuk-table__cell govuk-!-font-size-14">
            {{ transaction.details.checker | dashIfEmpty }}
          </td>

        </tr>
      {% endfor %}

    </tbody>

  </table>

  {{ pagination.pagination(totalPages = pages.totalPages, currentPage = pages.currentPage, totalItems = pages.totalItems, paginationRoot = '/reports/audit-transactions') }}


{% endblock %}
