{% extends "index.njk" %}
{% import './_macros/countdown-indicator-chart-panel.njk' as chartPanel %}

{% block pageTitle %}Countdown Indicator{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">Countdown Indicator</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third govuk-!-padding-left-2 govuk-!-padding-right-2">
      <div class="box govuk-!-padding-left-4 govuk-!-padding-right-4 govuk-!-padding-top-4">
        {{ chartPanel.render(reportData.issueOrMakeFirstAdvance) }}
      </div>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-padding-left-2 govuk-!-padding-right-2">
      <div class="box govuk-!-padding-left-4 govuk-!-padding-right-4 govuk-!-padding-top-4">
        {{ chartPanel.render(reportData.manualInclusionsWithConditions) }}
      </div>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-padding-left-2 govuk-!-padding-right-2">
      <div class="box govuk-!-padding-left-4 govuk-!-padding-right-4 govuk-!-padding-top-4">
        {{ chartPanel.render(reportData.manualInclusionsWithoutConditions) }}
      </div>
    </div>
  </div>



  <p class="govuk-body">
  Please note that the countdown indicator provides indicative time periods only.
  For example, the indicator may approximate calendar months into periods of 30 days
  and ignore bank holidays. The Bank should rely on its own records to determine
  accurate time periods calculcated in accordance with the Master Guarantee Agreement.
  </p>

  <hr/>

  <h3 class="govuk-heading-m">Trace of facilities with Unissued or Conditional transactionStage</h3>

  <table class="govuk-table govuk-!-margin-bottom-0">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Deal Id</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">ukefFacilityId</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Created</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Expiry</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Remaining</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Status</th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">

      {% for facility in facilities %}
        <tr data-cy="transaction_{{transaction.transaction_id}}" class="govuk-table__row">


          <td data-cy="transactionType" class="govuk-table__cell govuk-!-font-size-14">
             {{ facility.deal_id | dashIfEmpty }}
          </td>

          <td data-cy="ukefFacilityId" class="govuk-table__cell govuk-!-font-size-14">
            {{ facility.ukefFacilityId | dashIfEmpty }}
          </td>
          
          <td data-cy="created" class="govuk-table__cell govuk-!-font-size-14">
            {{ facility.createdDate | localiseTimestamp("DD/MM/YYYY HH:mm", user.timezone) | dashIfEmpty }}
          </td>

          <td data-cy="expiry" class="govuk-table__cell govuk-!-font-size-14">
            {{ facility.expiry | localiseTimestamp("DD/MM/YYYY HH:mm", user.timezone) | dashIfEmpty }}
          </td>

          <td data-cy="issued" class="govuk-table__cell govuk-!-font-size-14">
            {{ facility.remainingDays  }}
          </td>

          <td data-cy="issuedBy" class="govuk-table__cell govuk-!-font-size-14">
            {{ facility.deal_status  }}
          </td>

        </tr>
      {% endfor %}

    </tbody>

  </table>

{% endblock %}
