{% extends "index.njk" %}
{% import '_macros/pagination.njk' as pagination %}
{% import './_macros/reconciliation-filters.njk' as filterControls %}

{% block pageTitle %}Reconciliation Report{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">Reconciliation Report</h1>

  {{ filterControls.render(filter, user, banks) }}

  <table class="govuk-table govuk-!-margin-bottom-0">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Bank</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Bank Supply Contract ID</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">UKEF Deal ID</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Created by</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Submitted by</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Submission Date</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Submission type</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Previous Status</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Current Status</th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
      {% for deal in deals %}
        <tr data-cy="request_{{transaction._id}}" class="govuk-table__row">
          <td data-cy="bank" class="govuk-table__cell govuk-!-font-size-14">
            <a href="/contract/{{ deal._id }}" class="govuk-link" data-cy="bankInternalRefNameLink">{{ deal.bank.name }}</a>
          </td>

          <td data-cy="bankInternalRefName" class="govuk-table__cell govuk-!-font-size-14">
            {{ deal.bankInternalRefName }}
          </td>

          <td data-cy="ukefDealId" class="govuk-table__cell govuk-!-font-size-14">
            {{ deal.details.ukefDealId }}
          </td>

          <td data-cy="maker" class="govuk-table__cell govuk-!-font-size-14">
            {{ deal.details.maker | displayName }}
          </td>

          <td data-cy="oldRequestedCoverStartDate" class="govuk-table__cell govuk-!-font-size-14">
            {{ deal.details.checker | displayName }}
          </td>

          <td data-cy="submissionDate" class="govuk-table__cell govuk-!-font-size-14">
            {{ deal.details.submissionDate | localiseTimestamp("DD/MM/YYYY HH:mm", user.timezone) | dashIfEmpty }}
          </td>

          <td data-cy="submissionType" class="govuk-table__cell govuk-!-font-size-14">
            {{ deal.submissionType }}
          </td>

          <td data-cy="previousWorkflowStatus" class="govuk-table__cell govuk-!-font-size-14">
            {{ deal.details.previousWorkflowStatus | dashIfEmpty }}
          </td>

          <td data-cy="status" class="govuk-table__cell govuk-!-font-size-14">
            {{ deal.status }}
          </td>

        </tr>
      {% endfor %}

    </tbody>

  </table>

  {{ pagination.pagination(totalPages = pages.totalPages, currentPage = pages.currentPage, totalItems = pages.totalItems, paginationRoot = '/reports/reconciliation-report') }}

{% endblock %}
