{% extends "index.njk" %}
{% import '_macros/pagination.njk' as pagination %}

{% import './_macros/red-line-answers-filters.njk' as filterControls %}

{% block pageTitle %}Red line answers{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">Red line answers</h1>

  {{ filterControls.render(filter, banks, user) }}

  <table class="govuk-table govuk-!-margin-bottom-0">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row govuk-!-margin-bottom-4">
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Id</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Bank</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">User</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Created</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Outcome</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Question</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Answer</th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">

      {% for criteria in mandatoryCriteria %}
        <tr data-cy="deal_{{contract._id}}" class="govuk-table__row">
          <td data-cy="dealId" class="govuk-table__cell govuk-!-font-size-14">
            {{ criteria._id }}
          </td>

          <td data-cy="bank" class="govuk-table__cell govuk-!-font-size-14">
            {{ criteria.deal.details.bank.name }}
          </td>

          <td data-cy="user" class="govuk-table__cell govuk-!-font-size-14">
            {{ criteria.deal.maker.username }}
          </td>

          <td data-cy="created" class="govuk-table__cell govuk-!-font-size-14">
            {{ criteria.dateOfCreation }}
          </td>

          <td data-cy="outcome" class="govuk-table__cell govuk-!-font-size-14">
            {{ criteria.outcome }}
          </td>

          <td data-cy="question" class="govuk-table__cell">
            {{ criteria.question }}
          </td>

          <td data-cy="answer" class="govuk-table__cell">
            {{ criteria.answer }}
          </td>

        </tr>
      {% endfor %}

    </tbody>

  </table>

  {{ pagination.pagination(totalPages = pages.totalPages, currentPage = pages.currentPage, totalItems = pages.totalItems, paginationRoot = '/reports/red-line-answers') }}


{% endblock %}
