{% import '_macros/success-message.njk' as success %}

{% extends "index.njk" %}

{% block pageTitle %}Reporting{% endblock %}

{% block content %}

{% if successMessage %}
  {{ success.message(
    message = successMessage
  )}}
{% endif %}

  <h1 class="govuk-heading-l">Reports</h1>

  <p class="govuk-body">The following reports are available:</p>


  <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
    <li><a class="govuk-link" href="/reports/audit-supply-contracts">Audit supply contracts</a></li>
    <li><a class="govuk-link" href="/reports/transactions-report">Transactions report</a></li>
    <li><a class="govuk-link" href="/reports/mia_min-cover-start-date-changes">MIA/MIN cover start date change</a></li>
    <li><a class="govuk-link" href="/reports/countdown-indicator">Countdown indicator</a></li>
  </ul>

{% endblock %}
