{% from "govuk/components/table/macro.njk" import govukTable %}

{% extends "index.njk" %}

{% block pageTitle %}Reports{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-0">Reports</h1>
    </div>
  </div>

  <div class="separator-line"></div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
    {% if allUnissuedFacilitiesCount == 1 %}
      <h2 class="govuk-heading-m" data-cy="reports--all-unissued-facilities">You need to issue {{ allUnissuedFacilitiesCount }} facility</h2>
    {% elif allUnissuedFacilitiesCount > 1 %}
      <h2 class="govuk-heading-m" data-cy="reports--all-unissued-facilities">You need to issue {{ allUnissuedFacilitiesCount }} facilities</h2>
    {% else %}
      <h2 class="govuk-heading-m" data-cy="reports--all-unissued-facilities">You have issued all facilities</h2>
    {% endif %}
    </div>
  </div>

  {% include "./_partials/overdue-facilities.njk" %}
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  {% include "./_partials/facilities-that-need-issuing.njk" %}
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  {% if allUnissuedFacilitiesCount > 0 %}
    <a class="govuk-link" href="/reports/review-unissued-facilities" aria-label="View unissued facilities" data-cy="reports--review-unissued-facilities">
      Review all unissued facilities
    </a>
  {% endif %}
  <div class="separator-line"></div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      {% if totalUkefDecisions > 1 %}
        <h3 class="govuk-heading-m" data-cy="reports--review-ukef-decision-title">You need to review {{ totalUkefDecisions }} UKEF decisions</h3>
      {% else %}
        <h3 class="govuk-heading-m" data-cy="reports--review-ukef-decision-title">You have reviewed all UKEF decisions</h3>
      {% endif %}
    </div>
  </div>

  {% include "./_partials/unconditional-decision.njk" %}
  {% include "./_partials/conditional-decision.njk" %}

{% endblock %}