{% extends "index.njk" %}
{% import '_macros/pagination.njk' as pagination %}

{% block pageTitle %}Unissued Transactions Report{% endblock %}
{% import './_macros/countdown-indicator-filters.njk' as filterControls %}

{% block content %}

  <h1 class="govuk-heading-l">Unissued Transactions Report</h1>

  {{ filterControls.render(filter, user, banks) }}

  <table class="govuk-table govuk-!-margin-bottom-0">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        {% if user and user.roles.includes("admin")%}
          <th scope="col" class="govuk-table__header govuk-!-font-size-14">Bank</th>
        {% endif %}
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Supply Contract ID</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Transaction id</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Transaction type</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Supplier name</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Facility value</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Facility stage</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Created by</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14" aria-sort="{{sortOrder.order}}">
        <a href="{{sortOrder.queryString}}" class="govuk-link" data-cy="sortOrder">
          Facility submission date
          <img src="/assets/images/{{sortOrder.image}}.svg" alt="Re-order table in {{sortOrder.order}} order"/>
          <span class="tablesort tablesort--desc">
          <span class="govuk-visually-hidden">
            Sort {{sortOrder.order}}
          </span>
        </span>
        </a>
          </th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Calendar days to issue</th>
      </tr>
    </thead>


    <tbody class="govuk-table__body">

      {% for transaction in transactions %}
        <tr data-cy="transaction_{{transaction._id}}" class="govuk-table__row">

          {% if user and user.roles.includes("admin")%}
          <td data-cy="bank" class="govuk-table__cell govuk-!-font-size-14">
            {{ transaction.deal_bank }}
          </td>
          {% endif %}

          <td data-cy="bankInternalRefName" class="govuk-table__cell govuk-!-font-size-14">
            <a href="/contract/{{ transaction.deal_id }}" class="govuk-link" data-cy="bankInternalRefNameLink">{{ transaction.deal_bankInternalRefName }}</a>
          </td>

          <td data-cy="bankFacilityId" class="govuk-table__cell govuk-!-font-size-14">
            {{ transaction.bankFacilityId }}
          </td>

          <td data-cy="transactionType" class="govuk-table__cell govuk-!-font-size-14">
            {{ transaction.transactionType | capitalize}}
          </td>

          <td data-cy="deal_supplierName" class="govuk-table__cell govuk-!-font-size-14">
            {{ transaction.deal_supplierName }}
          </td>

          <td data-cy="facilityValue" class="govuk-table__cell govuk-!-font-size-14">
            {{ transaction.currency.id }} {{ transaction.value | formatAsCurrency }}
          </td>

          <td data-cy="transactionStage" class="govuk-table__cell govuk-!-font-size-14">
            {{ transaction.transactionStage }}
          </td>

          <td data-cy="maker" class="govuk-table__cell govuk-!-font-size-14">
            {{ transaction.maker }}
          </td>

          <td data-cy="createdDate" class="govuk-table__cell govuk-!-font-size-14">
            {{ transaction.createdDate | localiseTimestamp("DD/MM/YYYY HH:mm", user.timezone) | dashIfEmpty }}
          </td>

          <td data-cy="remainingDays" class="govuk-table__cell govuk-!-font-size-14">
            {{ transaction.remainingDays }}
          </td>

        </tr>
      {% endfor %}

    </tbody>

  </table>
  {{ pagination.pagination(totalPages = pages.totalPages, currentPage = pages.currentPage, totalItems = pages.totalItems, paginationRoot = '/reports/unissued-transactions', queryString = queryString) }}

{% endblock %}
