{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% macro render(params) %}
  {% set status = params.status %}
  {% set displayStatus = params.displayStatus %}
  {% set tagColourClassForStatus = {
    "REPORT_NOT_RECEIVED": "govuk-tag--red",
    "PENDING_RECONCILIATION": "govuk-tag--blue",
    "RECONCILIATION_IN_PROGRESS": "govuk-tag--light-blue",
    "RECONCILIATION_COMPLETED": "govuk-tag--green"
  } %}
  {{ govukTag({
    text: displayStatus,
    classes: tagColourClassForStatus[status],
    attributes: {
    'data-cy': 'utilisation-report-reconciliation-status'
    }
    }) }}
{% endmacro %}
