{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% macro render(params) %}
  {% set status = params.status %}
  {% set displayStatus = params.displayStatus %}
  {% set statusTagColours = params.statusTagColours %}

  {% set tagColourClass = statusTagColours[status] %}

  {{ govukTag({
    text: displayStatus,
    classes: tagColourClass,
    attributes: {
    'data-cy': 'utilisation-report-reconciliation-status'
    }
    }) }}
{% endmacro %}
