{% extends "index.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% block pageTitle %}Feedback{% endblock %}

{% block content %}

  {% if validationErrors.count %}
    {{
      govukErrorSummary({
        titleText: "There is a problem",
        errorList: validationErrors.summary
      })
    }}
  {% endif %}

  <h1 class="govuk-heading-l" data-cy="heading">Feedback</h1>

  <form method="POST" autocomplete="off">

    {{ govukInput({
      label: {
        text: "What is your role?"
      },
      id: "role",
      name: "role",
      classes: "govuk-input--width-20",
      attributes: {
        'data-cy': 'what-is-your-role'
      },
      errorMessage: validationErrors.errorList.role.text and {
        text: validationErrors.errorList.role.text,
        attributes: {
          'data-cy': 'role-error-message'
        }
      }
    }) }}

    {{ govukInput({
      label: {
        text: "Which organisation do you work for?"
      },
      id: "organisation",
      name: "organisation",
      classes: "govuk-input--width-20",
      attributes: {
        'data-cy': 'which-organisation'
      },
      errorMessage: validationErrors.errorList.organisation.text and {
        text: validationErrors.errorList.organisation.text,
        attributes: {
          'data-cy': 'organisation-error-message'
        }
      }
    }) }}

    {{ govukRadios({
      idPrefix: "reasonForVisiting",
      name: "reasonForVisiting",
      fieldset: {
        legend: {
          text: "What was your reason for visiting this service today?"
        }
      },
      items: [
        {
          value: "Submit an automatic inclusion notice",
          text: "Submit an automatic inclusion notice",
          attributes: {
            'data-cy': 'reason-for-visiting-automatic-inclusion-notice'
          }
        },
        {
          value: "Submit a manual inclusion application",
          text: "Submit a manual inclusion application",
          attributes: {
            'data-cy': 'reason-for-visiting-manual-inclusion-application'
          }
        },
        {
          value: "Submit a manual inclusion notice",
          text: "Submit a manual inclusion notice",
          attributes: {
            'data-cy': 'reason-for-visiting-manual-inclusion-notice'
          }
        },
        {
          value: "Other",
          text: "Other",
          attributes: {
            'data-cy': 'reason-for-visiting-other'
          }
        }
      ],
      errorMessage: validationErrors.errorList.reasonForVisiting.text and {
        text: validationErrors.errorList.reasonForVisiting.text,
        attributes: {
          'data-cy': 'reason-for-visiting-error-message'
        }
      }
    }) }}

    <h2 class="govuk-heading-m" data-cy="heading">How would you rate this service?</h2>

    {{ govukRadios({
      idPrefix: "easyToUse",
      name: "easyToUse",
      fieldset: {
        legend: {
          text: "Easy to use"
        }
      },
      items: [
        {
          value: "Very good",
          text: "Very good",
          attributes: {
            'data-cy': 'easy-to-use-very-good'
          }
        },
        {
          value: "Good",
          text: "Good",
          attributes: {
            'data-cy': 'easy-to-use-good'
          }
        },
        {
          value: "Neither good nor poor",
          text: "Neither good nor poor",
          attributes: {
            'data-cy': 'easy-to-use-neither-good-nor-poor'
          }
        },
        {
          value: "Poor",
          text: "Poor",
          attributes: {
            'data-cy': 'easy-to-use-poor'
          }
        },
        {
          value: "Very poor",
          text: "Very poor",
          attributes: {
            'data-cy': 'easy-to-use-very-poor'
          }
        },
        {
          value: "I don't know",
          text: "I don't know",
          attributes: {
            'data-cy': 'easy-to-use-dont-know'
          }
        }
      ],
      errorMessage: validationErrors.errorList.easyToUse.text and {
        text: validationErrors.errorList.easyToUse.text,
        attributes: {
          'data-cy': 'easy-to-use-error-message'
        }
      }
    }) }}

    {{ govukRadios({
      idPrefix: "clearlyExplained",
      name: "clearlyExplained",
      fieldset: {
        legend: {
          text: "The information needed is clearly explained"
        }
      },
      items: [
        {
          value: "Very good",
          text: "Very good",
          attributes: {
            'data-cy': 'clearly-explained-very-good'
          }
        },
        {
          value: "Good",
          text: "Good",
          attributes: {
            'data-cy': 'clearly-explained-good'
          }
        },
        {
          value: "Neither good nor poor",
          text: "Neither good nor poor",
          attributes: {
            'data-cy': 'clearly-explained-neither-good-nor-poor'
          }
        },
        {
          value: "Poor",
          text: "Poor",
          attributes: {
            'data-cy': 'clearly-explained-poor'
          }
        },
        {
          value: "Very poor",
          text: "Very poor",
          attributes: {
            'data-cy': 'clearly-explained-very-poor'
          }
        },
        {
          value: "I don't know",
          text: "I don't know",
          attributes: {
            'data-cy': 'clearly-explained-dont-know'
          }
        }
      ],
      errorMessage: validationErrors.errorList.clearlyExplained.text and {
        text: validationErrors.errorList.clearlyExplained.text,
        attributes: {
          'data-cy': 'clearly-explained-error-message'
        }
      }
    }) }}

    {{ govukRadios({
      idPrefix: "satisfied",
      name: "satisfied",
      fieldset: {
        legend: {
          text: "Overall, were you satisfied with the service?"
        }
      },
      items: [
        {
          value: "Very satisfied",
          text: "Very satisfied",
          attributes: {
            'data-cy': 'were-you-satisfied-very-satisfied'
          }
        },
        {
          value: "Satisfied",
          text: "Satisfied",
          attributes: {
            'data-cy': 'were-you-satisfied-satisfied'
          }
        },
        {
          value: "Neither satisfied not dissatisfied",
          text: "Neither satisfied not dissatisfied",
          attributes: {
            'data-cy': 'were-you-satisfied-neither-satisfied-not-dissatisfied'
          }
        },
        {
          value: "Dissatisfied",
          text: "Dissatisfied",
          attributes: {
            'data-cy': 'were-you-satisfied-dissatisfied'
          }
        },
        {
          value: "Very dissatisfied",
          text: "Very dissatisfied",
          attributes: {
            'data-cy': 'were-you-satisfied-very-dissatisfied'
          }
        },
        {
          value: "I don't know",
          text: "I don't know",
          attributes: {
            'data-cy': 'were-you-satisfied-dont-know'
          }
        }
      ],
      errorMessage: validationErrors.errorList.satisfied.text and {
        text: validationErrors.errorList.satisfied.text,
        attributes: {
          'data-cy': 'satisfied-error-message'
        }
      }
    }) }}

    {{ govukTextarea({
      name: "howCanWeImprove",
      id: "howCanWeImprove",
      label: {
        text: "How can we improve this service? (optional)"
      },
      classes: "govuk-input--width-20",
      attributes: {
        'data-cy': 'how-can-we-improve'
      }
    }) }}

    {{ govukInput({
      label: {
        text: "Help us make this service better (optional)"
      },
      hint: {
        text: "Leave your email address if you want to help with our user research."
      },
      id: "emailAddress",
      name: "emailAddress",
      classes: "govuk-input--width-20",
      attributes: {
        'data-cy': 'emailAddress'
      },
      errorMessage: validationErrors.errorList.emailAddress.text and {
        text: validationErrors.errorList.emailAddress.text,
        attributes: {
          'data-cy': 'email-address-error-message'
        }
      }
    }) }}

    <button class="govuk-button" data-module="govuk-button" data-cy="submit-button">Submit</button>

  </form>

{% endblock %}
