{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends "index.njk" %}

{% block content %}

  <h1 class="govuk-heading-l">
  Change your password
  </h1>


  <form method="POST" autocomplete="off">
    
     {% include "_partials/password-create.njk" %}

    {{ govukButton({
      text: "Submit",
      classes: "govuk-!-margin-right-1",
      href: "/user/{{ _id }}"
    }) }}

    {{ govukButton({
      text: "Cancel",
      classes: "govuk-button--secondary",
      href: "/user/{{ _id }}"
    }) }}
  </form>

{% endblock %}