{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% extends "index.njk" %}

{% block pageTitle %}
  Change your password
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">
    Change your password
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form method="POST" autocomplete="off">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {% if requireCurrentPassword %}
          {{ govukInput({
            label: {
              text: "Current password"
            },
            attributes: {
              "data-cy": "current-password",
              "autocomplete": "off"
            },
            id: "currentPassword",
            name: "currentPassword",
            type: "password",
            classes: "govuk-!-width-one-third",
            errorMessage: validationErrors.errorList.currentPassword
          }) }}
        {% endif %}

        {% include "_partials/password-create.njk" %}

        {{ govukButton({
          text: "Submit",
          attributes: {
            "data-cy": "submit"
          },
          classes: "govuk-!-margin-right-2",
          errorMessage: validationErrors.errorList.password
        }) }}

        {{ govukButton({
          text: "Cancel",
          attributes: {
            "data-cy": "cancel"
          },
          classes: "govuk-button--secondary",
          href: "/user/{{ user._id }}",
          errorMessage: validationErrors.errorList.confirmPassword
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
