{% extends "index.njk" %}

{% block pageTitle %}Profile for {{ user.username }}{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">Logged in as<br/>{{ user.username }}</h1>

  <p class="govuk-body">
    <a data-cy="changePassword" class="govuk-link" href="/user/{{ _id }}/change-password">Change password</a>
  </p>

  <h2 class="govuk-heading-m">Account information</h2>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body">First name:</p>
    </div>
    <div class="govuk-grid-column-one-quarter">
       <p class="govuk-body">{{ user.firstname }} </p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body">Surname:</p>
    </div>
    <div class="govuk-grid-column-one-quarter">
       <p class="govuk-body">{{ user.surname }}</p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body">Email:</p>
    </div>
    <div class="govuk-grid-column-one-quarter">
       <p class="govuk-body">{{ user.username }}</p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body">User roles:</p>
    </div>
    <div class="govuk-grid-column-one-quarter">
       <p class="govuk-body">
        {% for role in user.roles %}
          {{ role }}{% if not loop.last%}, {% endif %}
        {% endfor %}
        </p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body">Bank:</p>
    </div>
    <div class="govuk-grid-column-one-quarter">
       <p class="govuk-body">{{ user.bank.name }}</p>
    </div>
  </div>

    <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body">Last logged in:</p>
    </div>
    <div class="govuk-grid-column-one-quarter">
       <p class="govuk-body">{{ user.lastLogin | localiseTimestamp("DD/MM/YYYY HH:mm", user.timezone) }}</p>
    </div>
  </div>

{% endblock %}
