<h3 class="govuk-heading-s">Email</h3>

<ul class="govuk-list">
  <li>
    <a
      class="govuk-link"
      href="mailto:{{ CONTACT_US_EMAIL_ADDRESS }}"
      data-cy="contact_us_email"
    >
      {{ CONTACT_US_EMAIL_ADDRESS }}
    </a>
  </li>
  <li data-cy="contact_us_timeframe">We aim to respond within 2 working days</li>
</ul>
