{% import '../partials/header-component.njk' as headerComponent %}
{% import '../partials/header-component-no-user.njk' as headerComponentNoUser %}

{% if user %}

  {{headerComponent.render(user)}}

{% else %}

  {{headerComponentNoUser.render()}}

{% endif %}
