.case-summary {
  background-color:#1D70B8; 
  color: white; 
  font-family: Helvetica;
  font-size: 16px;
  line-height: 20px;
  padding: govuk-spacing(4) govuk-spacing(4) 0 govuk-spacing(4);
}

.case-summary-deal-id {
  display: inline-block;
  vertical-align: top;
  width: 228px;
  margin-right: 30px;
}

.case-summary-exporter {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-right: 45px;

  &:after {
    content: url('/assets/images/chevron-right.svg');
    width: 15px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 20px;
    opacity: 0.5;
  }
}

.case-summary-buyer {
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
}

.case-summary-overview-container {
  margin-top: 30px;
}
@media (min-width:40.0625em) {
  .case-summary-overview-container {
    display: flex;
  }
}

.case-summary-overview-column {
  border-right: 1px solid white;
  padding-left: 30px;
  padding-right: 10px;

  &:first-child {
    padding-left:0;
    padding-right: 0;
  }

  &:last-child {
    border-right: none;
  }
}
 
.case-summary-overview-item {
  margin-bottom: 30px;

  &__stage {
    margin-left: -10px;
  }
}

.ukef-deal-stage {
  background: govuk-colour('white');
  padding: govuk-spacing(2);
}

.ukef-deal-stage__title {
  color: govuk-colour('blue');
}
