.fee-record-summary {
  @extend .block-header;
  padding: govuk-spacing(4);
  margin-bottom: govuk-spacing(8);

  .govuk-body,
  .govuk-link,
  .govuk-back-link {
    color: govuk-colour("white");
    margin-bottom: 0;
    line-height: 25px;
    &:focus {
      color: $govuk-focus-text-colour;
    }
  }
}