/*
override all GOV and MOJ font declerations
*/
.moj-header__link--service-name, .moj-header__link > a--service-name,
.govuk-heading-s,
.govuk-heading-m,
.govuk-heading-l,
.govuk-heading-xl,
.govuk-body,
.govuk-body-s,
.govuk-body-m,
.govuk-tag,
.govuk-link,
.govuk-list,
.govuk-caption-xl,
.govuk-caption-l,
.govuk-caption-m,
.govuk-accordion__section-button,
.js-enabled .govuk-accordion__section-button,
.govuk-breadcrumbs,
.govuk-breadcrumbs__link,
.govuk-button,
.govuk-error-message,
.govuk-fieldset__legend,
.govuk-fieldset__legend--xl,
.govuk-fieldset__legend--l,
.govuk-fieldset__legend--m,
.govuk-fieldset__legend--s,
.govuk-hint,
.govuk-label,
.govuk-label--xl,
.govuk-label--l,
.govuk-label--m,
.govuk-label--s,
.govuk-checkboxes__item,
.govuk-summary-list,
.govuk-input,
.govuk-details,
.govuk-error-summary__title,
.govuk-error-summary__body,
.govuk-file-upload,
.govuk-footer,
.govuk-header,
.govuk-header__product-name,
.govuk-header__link--homepage,
.govuk-header__menu-button,
.govuk-header__navigation-item a,
.govuk-inset-text,
.govuk-panel,
.govuk-panel__body,
.govuk-phase-banner__content,
.govuk-tabs__title,
.govuk-tabs__list-item,
.govuk-radios__item,
.govuk-radios__divider,
.govuk-select,
.govuk-table,
.govuk-table__cell--numeric,
.moj-rich-text-editor__content,
.govuk-warning-text__icon,
.govuk-warning-text__text,
.moj-header__link, .moj-header__link > a,
.moj-header__link--service-name, .moj-header__link > a--service-name,
.moj-badge,
.moj-badge--large,
.moj-banner__message,
.moj-button-menu [role=menuitem],
.moj-label__currency,
.moj-filter__legend button,
.moj-filter__close,
.moj-filter__tag,
.moj-header__link>a,
.moj-header__link>a--organisation-name,
.moj-header__navigation-item,
.moj-header__navigation-link,
.moj-identity-bar__title,
.moj-messages-container,
.moj-message-list__date,
.moj-message-item__meta--sender,
.moj-message-item__meta--timestamp,
.moj-notification-badge,
.moj-organisation-nav__title,
.moj-organisation-nav__link,
.moj-pagination__results,
.moj-pagination__item,
.moj-pagination__link,
.moj-primary-navigation__item,
.moj-primary-navigation__link,
.moj-progress-bar__item,
.moj-progress-bar__item[aria-current=step],
.moj-progress-bar__label,
.moj-search-toggle__button,
.moj-side-navigation,
.moj-side-navigation__title,
.moj-sub-navigation__item,
.moj-sub-navigation__link,
.moj-task-list__items,
.moj-timeline__title,
.moj-timeline__byline,
.moj-timeline__date,
.moj-timeline__description {
  font-family: Helvetica, Arial;
}
