.contact-details {
  word-break: break-word;
  margin-block-start: 1em;
  margin-block-end: 1em;

  .contact-details__row {
    align-self: flex-start;
    display: flex;
    margin-bottom: govuk-spacing(2);
    &:last-child {
    margin-bottom: 0;
    }
  }
}
