.width-half {
  width: 50%;
}

.ukef-grid-column-one-sixth {
  box-sizing:border-box;
  width:100%;
  padding:0 15px
}
@media (min-width:40.0625em) {
  .ukef-grid-column-one-sixth {
    width:16.6667%;
    float:left
  }
}