dl {
  margin-block-start: 0;
  margin-block-end: 0;

  dd {
    margin-inline-start: 0;
  }

  &.ukef-list {
    dt{
      font-weight: 700!important;
    }
    .ukef-list-highlight {
      background: govuk-colour('light-grey');
      padding: 10px;
    }
    dt.ukef-list-highlight {
      margin-left: 5px;
      margin-right: -5px;
    }
    dd.ukef-list-highlight {
      padding-left: 15px;
    }
  }

  &.ukef-list-one-column dt{
    clear: both;
  }

  &.ukef-list-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;

    dt {
      grid-column: 1;
    }
    dd {
      grid-column: 2;
    }

    &.ukef-list-grid-five-columns {
      grid-template-columns: repeat(5, 1fr);
      grid-auto-flow: dense;
      grid-column-gap: 10px;

      > :nth-of-type(5n + 1) {
        grid-column: 1;
      }

      > :nth-of-type(5n + 2) {
        grid-column: 2;
      }

      > :nth-of-type(5n + 3) {
        grid-column: 3;
      }

      > :nth-of-type(5n + 4) {
        grid-column: 4;
      }

      > :nth-of-type(5n) {
        grid-column: 5;
      }

      dd {
        margin-bottom: 20px;
      }
    }

    @media (max-width: 40.0625em) {
      &.ukef-list-grid-five-columns {
        display: inline-block;
      }
    }
  }

}
