.govuk-table__cell--last {
  border-bottom: 0;
}

.govuk-table__cell--border-top {
  border-top: solid 1px govuk-colour('mid-grey');
}

.gov-table__grey-table-column {
  background: #F3F2F1;
}

.gov-table_cell-vertical-align-middle {
  text-align: center;
  vertical-align: middle;
}

.gov-table_cell--border-bottom-transparent {
  border-bottom: 1px solid transparent;
}

.deals-table td:nth-child(1), .deals-table th:nth-child(1) {
  min-width: 110px;
}

.deals-table td:nth-child(2), .deals-table th:nth-child(2) {
  min-width: 100px;
}

.deals-table td:nth-child(3), .deals-table th:nth-child(3) {
  min-width: 205px;
}

.deals-table td:nth-child(7), .deals-table th:nth-child(7) {
  min-width: 140px;
}

.deals-table td:nth-child(8), .deals-table th:nth-child(8) {
  min-width: 100px;
}

.deals-table td:nth-child(4),.deals-table td:nth-child(5),.deals-table td:nth-child(6) {
 max-width: 220px;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}

.amendment-details:nth-child(odd) {
  position: relative;
  .govuk-grid-column-full:before {
    content: '';
    width: 100%;
    height: 3px;
    background-color: $govuk-text-colour;
    position:absolute;
    top: 0;
    left: 0;
  }
}
table.sortable {
  // Unset MOJ sort indicators because they are readable by screenreaders.
  [aria-sort] button:before,
  [aria-sort] button:after {
    content: "";
    display: none;
    visibility: hidden;
  }

  // Copy styles from https://github.com/ministryofjustice/moj-frontend/blob/main/src/moj/components/sortable-table/_sortable-table.scss
  // Sass style extending doesn't work for complex selectors.
  // Sort indicators are added to span element that is hidden for screen readers.

  [aria-sort] button span:before {
    content: " \25bc";
    position: absolute;
    right: -1px;
    top: 9px;
    font-size: 0.5em;
  }

  [aria-sort] button span:after {
    content: " \25b2";
    position: absolute;
    right: -1px;
    top: 1px;
    font-size: 0.5em;
  }

  [aria-sort="ascending"] button span:before,
  [aria-sort="descending"] button span:before {
    content: none;
  }

  [aria-sort="ascending"] button span:after {
    content: " \25b2";
    font-size: .8em;
    position: absolute;
    right: -5px;
    top: 2px;
  }

  [aria-sort="descending"] button span:after {
    content: " \25bc";
    font-size: .8em;
    position: absolute;
    right: -5px;
    top: 2px;
  }
}


.govuk-table {
  .table-cell-checkbox-input {
    top: -9px;
  }
  
  .table-cell-checkbox-label {
    &::before {
      top: 1px;
    }
    
    &::after {
      top: 9px;
    }
  }
  
  .table-cell-checkbox-text {
    display: inline-block;
    vertical-align: middle;
  }
  
  .status-tag {
    white-space: nowrap;
  }

  div.select-all-table-cell-checkbox {
    visibility: hidden;
  }

  .no-border {
    border-bottom: 0px;
  }
}

.js-enabled .govuk-table div.select-all-table-cell-checkbox {
  visibility: visible;
}

table.premium-payments-table {
  .payments-list {
    margin: 0;
    padding: 0;
  }

  .payments-list-item {
    list-style-type: none;
  }
}

table.utilisation-report-reconciliation-table {
  table-layout: fixed;
  /* 
   * Column widths are percentage-based, totalling 100%, but sum to 1440.02px,
   * slightly exceeding the 1440px maximum scrollable pane width. To fix,
   * reduce table width by 1px. The column widths will adapt automatically as
   * they are percentage-based.
   */
  width: calc(100% - 1px);

  .ukef-width-one-tenth {
    width: 10%;
  }

  .ukef-width-one-quarter {
    width: 25%;
  }

  @media (max-width:65em) {
    width: 55em;

    .govuk-table__header,
    .govuk-table__cell {
      white-space: normal;
    }
  }
}
