@import "./font-override.scss";

.ukef-heading-background {
  display: block;
  background: govuk-colour('black');
  color: govuk-colour('white');
  padding: govuk-spacing(2) govuk-spacing(3);
  margin-bottom: govuk-spacing(6);
}

.ukef-table-caption {
  margin-left: -20px;
}

.text-align-right {
  text-align: right;
}

.ukef-heading-grey {
  color: govuk-colour('dark-grey');
  font-weight: normal;
}

.close-link {
  line-height: 38px;
}

.word-break-break-word {
  word-break: break-word;
}
