.premium-payments-description-filter-container {
  position: relative;
}

.premium-payments-description-container {
  width: 60%;
}

.premium-payments-filter-container {
  width: 40%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.premium-payments-filter-control {
  margin-bottom: 0px !important;
  vertical-align: unset;
}