.ukef-grid-container {
  position: relative;
}

.ukef-grid-65 {
  width: 60%;
}

.ukef-grid-35 {
  width: 40%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.ukef-margin-bottom-0 {
  margin-bottom: 0px !important;
  vertical-align: unset;
}