
<h2 class="govuk-heading-m">Before you start</h2>

<p class="govuk-body">Use this service to get a guarantee on bonds and loans to export goods and services abroad. Guarantees are provided by UK Export Finance. Only approved staff at these banks can use this service currently:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Barclays Bank</li>
  <li>HSBC</li>
  <li>Lloyds Banking Group/Bank of Scotland</li>
  <li>Royal Bank of Scotland /National Westminster/Ulster</li>
  <li>Santander</li>
</ul>

<p class="govuk-body">The bonds or loans you’re dealing with must meet requirements for either the:</p>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="https://www.gov.uk/guidance/bond-support-scheme-overview-and-how-to-apply#eligibility">Bond Support Scheme</a></li>
  <li><a href="https://www.gov.uk/guidance/export-working-capital-scheme-overview-and-how-to-apply#eligibility">Export Working Capital Scheme</li>
</ul>

<p class="govuk-body">When applying for a new guarantee, you’ll need to provide details about the:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>exporter or tier 1 supplier</li>
  <li>supply contract</li>
  <li>bonds and loans which need a guarantee</li>
</ul>
