<h3 class="govuk-heading-s" data-cy="contact-us-email-heading">Email</h3>

<ul class="govuk-list">
  <li>
    <a
      class="govuk-link"
      href="mailto:{{ CONTACT_US_EMAIL_ADDRESS }}"
      data-cy="contact-us-email"
    >
      {{ CONTACT_US_EMAIL_ADDRESS }}
    </a>
  </li>
  <li data-cy="contact-us-timeframe">Monday to Friday, 9am to 5pm (excluding public holidays)</li>
</ul>