{% from "govuk/components/skip-link/macro.njk" import govukSkipLink %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukSkipLink({
  text: "Skip to main content",
  href: "#main-content",
  attributes: {
    'data-cy': 'skip-link'
  }
}) }}

{{ govukHeader({
  homepageUrl: "https://www.gov.uk/",
  attributes: {
    "data-cy": "header"
  }
}) }}

<!-- Roles -->
{% set isUser = user and user.roles.length > 0 %}
{% set isMaker = isUser and user
  .roles
  .includes("maker") %}
{% set isChecker = isUser and user
  .roles
  .includes("checker") %}
{% set isAdmin = isUser and user
  .roles
  .includes("admin") %}
{% set isReadOnly = isUser and user.roles.includes("read-only") %}
{% set isPaymentReportOfficer = isUser and user.roles.includes("payment-report-officer") %}
{% set isDealUser = isMaker or isChecker or isReadOnly or isAdmin %}
{% set isReportUser = isMaker or isChecker or isAdmin %}

<!-- Feature flags -->
{% set isFixedFeeRecordCorrection = isUser and isPaymentReportOfficer and FF_FEE_RECORD_CORRECTION_ENABLED === "true" %}

<!-- Navigation items -->
{% set navigation = [] %}

{% set dashboard = {
    text: "Dashboard",
    href: "/dashboard",
    active: primaryNav == "dashboard",
    attributes: {
      "data-cy": "header-dashboard-link"
    }
  } %}

{% set report = {
    text: "Reports",
    href: "/reports",
    active: primaryNav == "reports",
    attributes: {
      "data-cy": "header-reports-links"
    }
  } %}

{% set reportGefUtilisationAndFees = {
    text: "Report GEF utilisation and fees",
    href: "/utilisation-report-upload",
    active: primaryNav == "utilisation_report_upload",
    attributes: {
      "data-cy": "header-upload-report-link"
    }
  } %}
{% set previousGefReports = {
    text: "Previous GEF reports",
    href: "/previous-reports",
    active: primaryNav == "header-previous-reports-link",
    attributes: {
      "data-cy": "header-previous-reports-link"
    }
  } %}
{% set recordCorrectionLog = {
    text: "Record correction log",
    href: "/utilisation-reports/correction-log",
    active: primaryNav == "header-record-correction-log-link",
    attributes: {
      "data-cy": "header-record-correction-log-link"
    }
  } %}

{% set users = {
    href: "/admin/users",
    active: primaryNav == "users",
    text: "Users",
        attributes: {
      "data-cy": "header-users-link"
    }
  } %}

{% set profile = {
    href: "/user/" + user._id,
    text: "Profile",
    active: primaryNav == "profile",
    attributes: {
      "data-cy": "header-profile-link"
    }
  } %}

{% set logout = {
    href: "/logout",
    text: "Sign out",
    active: false,
    attributes: {
      "data-cy": "header-logout-link"
    }
  }%}

<!-- 1. Deal users -->
{% if isDealUser %}
  {% set navigation = (navigation.push(dashboard), navigation) %}
{% endif %}

<!-- 2. Report users -->
{% if isReportUser %}
  {% set navigation = (navigation.push(report), navigation) %}
{% endif %}

<!-- 3. PRO -->
{% if isPaymentReportOfficer %}
  {% set navigation = (navigation.push(reportGefUtilisationAndFees, previousGefReports), navigation) %}
{% endif %}

<!-- 4. Fixed fee -->
{% if isFixedFeeRecordCorrection %}
  {% set navigation = (navigation.push(recordCorrectionLog), navigation) %}
{% endif %}

<!-- 5. Admin -->
{% if isAdmin %}
  {% set navigation = (navigation.push(users), navigation) %}
{% endif %}

<!-- 6. All users -->
{% if isUser %}
  {% set navigation = (navigation.push(profile, logout), navigation) %}
{% endif %}

{{ govukServiceNavigation({
  serviceName: "Get a guarantee for export finance",
  serviceUrl: "https://get-a-guarantee-for-export-finance.service.gov.uk/",
  ariaLabel: "Service navigation",
  attributes: {
    "data-cy": "serviceName-header"
  },
  navigation: navigation
}) }}