{% from "govuk/components/input/macro.njk" import govukInput %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

<div class="govuk-form-group">
    {{ govukInput({
      label: {
        text: "New password"
      },
      attributes: {
        "data-cy": "password",
        "autocomplete": "off"
      },
      id: "password",
      name: "password",
      type: "password",
      classes: "govuk-!-width-one-third",
      errorMessage: validationErrors.errorList.password
    }) }}
    {# <p class="govuk-body">
      Password strength: Weak
    </p> #}

    {{ govukInput({
      label: {
        text: "Confirm password"
      },
      attributes: {
        "data-cy": "confirmPassword",
        "autocomplete": "off"
      },
      id: "passwordConfirm",
      name: "passwordConfirm",
      type: "password",
      classes: "govuk-!-width-one-third",
      errorMessage: validationErrors.errorList.passwordConfirm
    }) }}

</div>
    {# <p class="govuk-body">
      Passwords match: No
    </p> #}

    {# <table id="edit-password-policy-status" class="govuk-table" >
      <thead>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-font-size-14">Policy</th>
          <th scope="col" class="govuk-table__header govuk-!-font-size-14">Status</th>
          <th scope="col" class="govuk-table__header govuk-!-font-size-14">Constraint</th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-font-size-14">Base</td>
            <td class="govuk-table__cell govuk-!-font-size-14">Fail - Password must contain at least 1 numeric character.</td>
            <td class="govuk-table__cell govuk-!-font-size-14">Password must contain 1 numeric characters</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-font-size-14">Base</td>
          <td class="govuk-table__cell govuk-!-font-size-14">Fail - Password must contain at least 1 uppercase character.</td>
          <td class="govuk-table__cell govuk-!-font-size-14">Password must contain 1 uppercase characters</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-font-size-14">Base</td>
          <td class="govuk-table__cell govuk-!-font-size-14">Fail - Password must contain at least 1 lowercase character.</td>
          <td class="govuk-table__cell govuk-!-font-size-14">Password must contain 1 lowercase characters</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-font-size-14">Base</td>
          <td class="govuk-table__cell govuk-!-font-size-14">Fail - Password length must be at least 8 characters.</td>
          <td class="govuk-table__cell govuk-!-font-size-14">>Password character length of at least 8</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-font-size-14">Base</td>
          <td class="govuk-table__cell govuk-!-font-size-14">Fail - Password must contain at least 1 special character.</td>
          <td class="govuk-table__cell govuk-!-font-size-14">Password must contain 1 special characters</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-font-size-14">Base</td>
          <td class="govuk-table__cell govuk-!-font-size-14">Fail - New role was added or existing password policy changed. Please update your password.</td>
          <td class="govuk-table__cell govuk-!-font-size-14">Number of allowed repeated passwords: 0</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-font-size-14">Base</td>
          <td class="govuk-table__cell govuk-!-font-size-14">Fail - New role was added or existing password policy changed. Please update your password.</td>
          <td class="govuk-table__cell govuk-!-font-size-14">Password must be harder to guess</td>
        </tr>
      </tbody>
    </table> #}
