{% from "govuk/components/password-input/macro.njk" import govukPasswordInput %}

<div class="govuk-form-group">
  {{ govukPasswordInput({
    label: {
      text: "New password"
    },
    id: "password",
    name: "password",
    classes: "govuk-!-width-one-third",
    attributes: {
      "data-cy": "password",
      autocomplete: true,
      spellcheck: false
    },
    errorMessage: validationErrors.errorList.password and {
      text: validationErrors.errorList.password.text
    }
  }) }}

  {{ govukPasswordInput({
    label: {
      text: "Confirm password"
    },
    id: "passwordConfirm",
    name: "passwordConfirm",
    classes: "govuk-!-width-one-third",
    attributes: {
      "data-cy": "passwordConfirm",
      autocomplete: true,
      spellcheck: false
    },
    errorMessage: validationErrors.errorList.passwordConfirm and {
      text: validationErrors.errorList.passwordConfirm.text
    }
  }) }}
</div>
