{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

<div class="govuk-form-group">
  {{ govukInput({
    label: {
      text: "New password"
    },
    attributes: {
      "data-cy": "password",
      "autocomplete": "off"
    },
    id: "password",
    name: "password",
    type: "password",
    classes: "govuk-!-width-one-third",
    errorMessage: validationErrors.errorList.password
  }) }}

  {{ govukInput({
    label: {
      text: "Confirm password"
    },
    attributes: {
      "data-cy": "confirmPassword",
      "autocomplete": "off"
    },
    id: "passwordConfirm",
    name: "passwordConfirm",
    type: "password",
    classes: "govuk-!-width-one-third",
    errorMessage: validationErrors.errorList.passwordConfirm
  }) }}
</div>
