{%- from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation -%}
{% set isAdmin = user and user.roles.includes("admin") %}
{% set isChecker = user and user.roles.includes("checker") %}
{% set isMaker = user and user.roles.includes("maker") %}
{% set homeNavItem =  {
    text: "Home",
    href: "/dashboard",
    active: primaryNav == "home",
    attributes: {
      "data-cy": "dashboard"
    }
  } %}
{% set reportsNavItem =   {
    text: "Reports",
    href: "/reports",
    active: primaryNav == "reports",
    attributes: {
      "data-cy": "reports"
    }
  } %}
{% set usersNavItem =   {
    text: "Users",
    href: "/admin/users",
    active: primaryNav == "users",
    attributes: {
      "data-cy": "users"
    }
  } %}
{% set activityNavItem =   {
    text: "Activity",
    href: "/admin/activity/search",
    active: primaryNav == "activity",
    attributes: {
      "data-cy": "activity"
    }
  } %}
  
{% if isAdmin %}
  {{ mojPrimaryNavigation({
  label: "Primary navigation",
  items: [
    homeNavItem,
    reportsNavItem,
    usersNavItem,
    activityNavItem
  ]
}) }}
{% elif isChecker or isMaker %}
  {{ mojPrimaryNavigation({
  label: "Primary navigation",
  items: [
    homeNavItem,
    reportsNavItem
  ]
}) }}
{% elif user %}
  {{ mojPrimaryNavigation({
  label: "Primary navigation",
  items: [
    homeNavItem
  ]
}) }}
{% endif %}