<button class="govuk-button" data-module="govuk-button" id="bss-print-button" data-cy="print-button">
  Print
</button>

<script src="/assets/js/printPage.js" type="module" integrity="sha512-ADkS6GB/rgAPwWTnZ9lAIRfzR1mDYDjDIGGn7x95Um00JgUw+W2IjHkF5TORkvgn5SqpHTVZE7CIvI+/KBgh5w==" crossorigin="anonymous"></script>