<button class="govuk-button" data-module="govuk-button" id="bss-print-button">
  Print
</button>

<script src="/assets/js/printPage.js" type="text/javascript" integrity="sha512-cEMWUYTDpyHMw1leGwD04b90IrQqcd8rNa5724JOYvLxT1g3QK7vvXolfFlhfSqKaY508GKBvxTpDLKxcvzpYQ==" crossorigin="anonymous"></script>