<button class="govuk-button" data-module="govuk-button" id="bss-print-button">
  Print
</button>

<script src="/assets/js/printPage.js" type="module" integrity="sha512-DNgeShjnNOUv4EyHsaoWpH+gI4Xkzf4R26iMmEE7tD4FAl0lGYg04qtU0qJmnJpL+0pmr+4TdRRtCwssCn2Tog==" crossorigin="anonymous"></script>
