{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}

{{ mojSubNavigation({
label: 'Sub navigation',
items: [{
text: 'Audit supply contracts',
href: '/reports/audit-supply-contracts',
active: true
}, {
text: 'Transactions report',
href: '/reports/transactions-report'
}, {
text: 'MIA/MIN cover start date change',
href: '/reports/mia_min-cover-start-date-changes'
}, {
text: 'Countdown indicator',
href: '/reports/countdown-indicator'
}]
}) }}
