{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}

{% if user and user.roles.includes('admin') %}

{{ mojSubNavigation({
  label: 'Sub navigation',
  items: [{
  text: 'Audit supply contracts',
  href: '/reports/audit-supply-contracts',
  active: subNav == 'audit-supply-contracts'
  }, {
  text: 'Audit transactions',
  href: '/reports/audit-transactions',
  active: subNav == 'audit-transactions'
  }, {
  text: 'MIA/MIN cover start date change',
  href: '/reports/mia_min-cover-start-date-changes',
  active: subNav == 'mia_min-cover-start-date-changes'
  }, {
  text: 'Countdown indicator',
  href: '/reports/countdown-indicator',
  active: subNav == 'countdown-indicator'
  }, {
  text: 'Reconciliation report',
  href: '/reports/reconciliation-report',
  active: subNav == 'reconciliation-report'
  }]
}) }}

{% elif user %}

{{ mojSubNavigation({
  label: 'Sub navigation',
  items: [{
  text: 'Audit supply contracts',
  href: '/reports/audit-supply-contracts',
  active: subNav == 'audit-supply-contracts'
  }, {
  text: 'Audit transactions',
  href: '/reports/audit-transactions',
  active: subNav == 'audit-transactions'
  }, {
  text: 'Countdown indicator',
  href: '/reports/countdown-indicator',
  active: subNav == 'countdown-indicator'
  }, {
  text: 'Reconciliation report',
  href: '/reports/reconciliation-report',
  active: subNav == 'reconciliation-report'
  }, {
  text: 'MIA/MIN cover start date change',
  href: '/reports/mia_min-cover-start-date-changes',
  active: subNav == 'mia_min-cover-start-date-changes'
  }]
}) }}

{% endif %}


{# Full menu - as we add more reports

{{ mojSubNavigation({
  label: 'Sub navigation',
  items: [{
  text: 'Audit supply contracts',
  href: '/reports/audit-supply-contracts',
  active: subNav == 'audit-supply-contracts'
  }, {
  text: 'Audit transactions',
  href: '/reports/audit-transactions',
  active: subNav == 'audit-transactions'
  }, {
  text: 'Transactions report',
  href: '/reports/transactions-report',
  active: subNav == 'transactions-report'
  }, {
  text: 'MIA/MIN cover start date change',
  href: '/reports/mia_min-cover-start-date-changes',
  active: subNav == 'mia_min-cover-start-date-changes'
  }, {
  text: 'Countdown indicator',
  href: '/reports/countdown-indicator',
  active: subNav == 'countdown-indicator'
  }, {
  text: 'Reconciliation report',
  href: '/reports/reconciliation-report',
  active: subNav == 'reconciliation-report'
  }]
}) }}

{% elif user %}

{{ mojSubNavigation({
  label: 'Sub navigation',
  items: [{
  text: 'Audit supply contracts',
  href: '/reports/audit-supply-contracts',
  active: subNav == 'audit-supply-contracts'
  }, {
  text: 'Transactions report',
  href: '/reports/transactions-report',
  active: subNav == 'transactions-report'
  }, {
  text: 'MIA/MIN cover start date change',
  href: '/reports/mia_min-cover-start-date-changes',
  active: subNav == 'mia_min-cover-start-date-changes'
  }, {
  text: 'Countdown indicator',
  href: '/reports/countdown-indicator',
  active: subNav == 'countdown-indicator'
  }]
}) }}

#}
