{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% import './frequency-radios.njk' as frequencyRadios %}

{% macro render(id, label, checkedValue, frequencyId, frequencyLabel, frequencyCheckedValue, validationErrors) %}

  {{ govukRadios({
    idPrefix: id,
    name: id,
    fieldset: {
      legend: {
        text: label
      }
    },
    items: [
      {
        value: "In advance",
        text: "In advance",
        checked: checkedValue === "In advance",
        conditional: {
          html: frequencyRadios.render(
            id = 'inAdvance',
            label = frequencyLabel,
            checkedValue = frequencyCheckedValue,
            errorObj = validationErrors.errorList[frequencyId]
          )
        },
        attributes: {
          'data-cy': 'fee-type-in-advance'
        }
      },
      {
        value: "In arrear",
        text: "In arrear",
        checked: checkedValue === "In arrear",
        conditional: {
          html: frequencyRadios.render(
            id = 'inArrear',
            label = frequencyLabel,
            checkedValue = frequencyCheckedValue, 
            errorObj = validationErrors.errorList[frequencyId]
          )
        },
        attributes: {
          'data-cy': 'fee-type-in-arrear'
        }
      },
      {
        value: "At maturity",
        text: "At maturity",
        checked: checkedValue === "At maturity",
        attributes: {
          'data-cy': 'fee-type-at-maturity'
        }
      }
    ],
    errorMessage: validationErrors.errorList[id] and {
      text: validationErrors.errorList[id].text,
      attributes: {
        "data-cy": "fee-type-error-message"
      }
    }
  }) }}

{% endmacro %}
