{% from "govuk/components/input/macro.njk" import govukInput %}

{% macro render(hintText, value) %}

  {{ govukInput({
    formGroup: {
      classes: "form-group-disabled"
    },
    label: {
      text: "Guarantee fee payable by bank"
    },
    hint: {
      text: hintText
    },
    id: "guaranteeFeePayableByBank",
    name: "guaranteeFeePayableByBank",
    value: value,
    classes: "form-group-disabled--input govuk-input--width-5",
    type: "number",
    attributes: {
      step: "0.0001",
      min: "0",
      max: "100",
      placeholder: "0",
      disabled: "true",
      'data-cy': "guarantee-fee-payable-by-bank"
    }
  }) }}

  <script type="text/javascript">
    /*
      calculate Guarantee fee from a Margin Fee Input value.
      For a Bond, uses Risk Margin Fee.
      For a Loan, uses Interest Margin Fee.
    */

    var riskMarginFeeInput = document.getElementById('riskMarginFee');
    var interestMarginFeeInput = document.getElementById('interestMarginFee');
    var guaranteeFeeInput = document.getElementById('guaranteeFeePayableByBank');

    var marginFeeInput = riskMarginFeeInput || interestMarginFeeInput;

    function calculateGuaranteeFee() {
      var result = marginFeeInput.value * 0.9;
      var formattedResult = result.toLocaleString('en', { minimumFractionDigits: 4 });

      guaranteeFeeInput.value = formattedResult;
    }

    if (marginFeeInput) {
      marginFeeInput.addEventListener('blur', function(event) {
        calculateGuaranteeFee();
      });
    }
  </script>
    
{% endmacro %}
