{% from "govuk/components/input/macro.njk" import govukInput %}

{% macro render(hintText, value) %}

  {{ govukInput({
    formGroup: {
      classes: "form-group-disabled"
    },
    label: {
      text: "UKEF exposure"
    },
    hint: {
      text: hintText
    },
    id: "ukefExposure",
    name: "ukefExposure",
    value: value,
    classes: "form-group-disabled--input govuk-input--width-10",
    type: "text",
    attributes: {
      size: "60",
      maxlength: "255",
      placeholder: "0.00",
      disabled: "true",
      'data-cy': "ukef-exposure"
    }
  }) }}

<script src="/assets/js/ukefexposure.js" type="module" integrity="sha512-XfWcBOkRtl1vt6RJM5C/jZh+Fd5aYO7mMow/2EVB0wiqe5XcfN5zlPHHRSHrn4Vw3mSlrmObs8oYpbjjDMtE9Q==" crossorigin="anonymous"></script>
{% endmacro %}
