{% from "moj/components/banner/macro.njk" import mojBanner %}

{% if cancelledDealWithAmendments %}
  {{ mojBanner({
    type: "information",
    html: '<p data-cy="amendments-abandoned-deal-cancelled-banner">Any amendments in progress have been abandoned by UKEF, as the deal is now cancelled.</p>'
  }) }}
{% endif %}