{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% import "../../_macros/eligibility-criteria-answers.njk" as eligibilityCriteriaAnswers %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l" data-cy="automatic-cover-heading">
      Automatic or manual cover
    </h2>
  </div>
</div>

{% if (isAutomaticCover === true) %}
  {% set captionText = "Yes - submit as an automatic inclusion notice"  %}
{% else %}
  {% set captionText = "No - submit as a manual inclusion application"  %}
{% endif %}

{{ govukSummaryList({
  rows: [{ key: { text: "Eligible for automatic cover?" },
    value: { text: captionText },
    actions: {}
  }],
  attributes: {
    'data-cy': 'automatic-cover-summary-list'
  }
}) }}

    {% set componentData = {
      eligibilityCriteria: application.eligibility.criteria
    } %}

    {{ govukDetails({
      summaryText: "Eligibility criteria",
      html: eligibilityCriteriaAnswers.render(componentData),
      attributes: {
        'data-cy': 'automatic-cover-criteria'
      }
    }) }}

<hr class="govuk-section-break govuk-section-break--bold govuk-section-break--l govuk-section-break--visible">
