{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "moj/components/banner/macro.njk" import mojBanner %}

{% import '../../_macros/facility-guidance.njk' as facilityGuidance %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l" data-cy="facility-heading">
      Facilities
    </h2>
  </div>
</div>

{{ govukDetails({
  summaryText: "Guidance on cash and contingent facilities",
  text: facilityGuidance.render(),
  attributes: {
    'data-cy': 'facility-guidance'
  }
}) }}

{% if applicationStatus === 'Acknowledged' %}
  {{ mojBanner({
  type: 'information',
  text: 'Check your records for the most up-to-date facility details.',
  iconFallbackText: 'information',
  attributes: {
    'data-cy': 'facility-information-banner'
  }
}) }}
{% endif %}

{% if facilities.data.length > 0 %}
  {% for item in facilities.data %}
    <header class="is-flex">
      <h3 class="govuk-heading-m govuk-grid-column-one-half govuk-!-padding-left-0" data-cy="facility-type-heading">
        {{item.heading}} facility
      </h3>
      {% if canIssuedFacilitiesBeAmended and item.stage === "Issued" %}
        {{ govukButton({
          text: "Make a change",
          attributes: {
            'data-cy': "facility-" + item.facilityId + "-make-change-button"
          },
          href: "/gef/application-details/"+dealId+"/facilities/"+item.facilityId+"/amendments/what-needs-to-change"
        }) }}
      {% endif %}
    </header>
    {{ govukSummaryList({
      rows: item.rows,
      attributes: {
        'data-cy': 'facility-summary-list',
        id: item.facilityId
      }
    }) }}
  {% endfor %}
{% endif %}

<hr class="govuk-section-break govuk-section-break--bold govuk-section-break--m govuk-!-margin-bottom-7 govuk-section-break--visible">