{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% import '../../_macros/facility-guidance.njk' as facilityGuidance %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l" data-cy="facility-heading">
      Facilities
    </h2>
  </div>
</div>

{{ govukDetails({
  summaryText: "Guidance on cash and contingent facilities",
  text: facilityGuidance.render(),
  attributes: {
    'data-cy': 'facility-guidance'
  }
}) }}

{% if facilities.data.length > 0 %}
  {% for item in facilities.data %}
    <header class="is-flex is-justify-content-space-between">
      <h3 class="govuk-heading-m" data-cy="facility-type-heading">
        {{item.heading}} facility
      </h3>
    </header>
    {{ govukSummaryList({
      rows: item.rows,
      attributes: {
        'data-cy': 'facility-summary-list',
        id: item.ukefFacilityId
      }
    }) }}
  {% endfor %}
{% endif %}

<hr class="govuk-section-break govuk-section-break--bold govuk-section-break--m govuk-!-margin-bottom-7 govuk-section-break--visible">
