{% from "govuk/components/button/macro.njk" import govukButton %}

<p class="govuk-heading-l" data-cy="submit-heading">
  Submit or return
</p>
<p class="govuk-body">If this is ready, you can submit it to UKEF. Or you can return it to the maker to make changes.</p>

{{ govukButton({
  text: "Submit to UKEF",
  href: "submit-to-ukef",
  attributes: {
    'data-cy': 'submit-button'
  }
}) }}

{{ govukButton({
  text: "Return to maker",
  classes: "govuk-button--secondary",
  attributes: {
    formaction: "?returnToMaker=true",
    'data-cy': 'return-button'
  }
}) }}
