{% from "moj/components/banner/macro.njk" import mojBanner %}

{% if displayComments %}
  <header data-cy="application-preview-page">
    {% set bannerHtml %}

    {% if renderReviewDecisionLink %}
      <div class="govuk-!-margin-bottom-0" data-cy="ukef-review">
        <a href="/gef/application-details/{{ dealId }}/review-decision" class="govuk-link" data-cy="ukef-review-link">Review UKEF decision</a>
      </div>
    {% endif %}

    {% if canUpdateUnissuedFacilities %}
      <h3 data-cy="update-unissued-header">Update facility stage for unissued facilities</h3>
      <div class="govuk-!-margin-bottom-6">
        <a href="/gef/application-details/{{ dealId }}/unissued-facilities" class="govuk-link" data-cy="update-unissued-link">View unissued facilities</a>
      </div>
    {% endif %}

    {% if facilitiesChangedToIssued.length > 0 %}
      {% if applicationType !== "Manual Inclusion Application" %}
        {% if status === "Further Maker\'s input required" %}
          <h2 data-cy="update-unissued-stage">Change facility details</h2>
        {% else %}
            <h2 data-cy="update-unissued-stage">Review facility stage</h2>
        {% endif %}
      {% else %}
        {% if status === "Ready for Checker\'s approval" %}
          <h2 data-cy="update-mia-stage">Check manual inclusion application before submitting to UKEF</h2>
        {% endif %}
      {% endif %}
      <strong data-cy="changed-unissued-header">The following facility stages have been updated to issued:</strong>
      <div class="govuk-!-margin-bottom-6" data-cy="unissued-to-issued-facilities-list">
        {% for item in facilitiesChangedToIssued %}
          <p>{{ item.name }}</p>
        {% endfor %}
      </div>
    {% else %}
      {% if applicationType === "Manual Inclusion Application" %}
        {% if status === "Ready for Checker's approval" %}
          <h2 data-cy="update-mia-stage">Check manual inclusion application before submitting to UKEF</h2>
        {% endif %}
      {% endif %}
    {% endif %}

    {% if ukefDecisionAccepted %}
      {% if ukefDecision[0].decision == 'Accepted by UKEF (without conditions)' %}
        <strong>You are proceeding with UKEF cover</strong>
      {% elif ukefDecision[0].decision == 'Accepted by UKEF (with conditions)' %}

        {% if applicationStatus == "Ready for Checker\'s approval" %}
          <strong data-cy="accept-mia-conditions">You are accepting the following conditions:</strong>
        {% else %}
          <strong data-cy="accept-mia-conditions">You are proceeding with UKEF cover and accepting the following conditions:</strong>
        {% endif %}

        <p>{{ ukefDecision[0].text | safe }}</p>
      {% endif %}
    {% endif %}

  <div class="govuk-!-margin-top-3" data-cy="latest-comment">
    {% for comment in comments %}
      <strong>Comments from {{ comment.role }} ({{ comment.userName }})</strong>
      <p>{{ comment.createdAt | localiseTimestamp('DD MMM YYYY h:mma', timezone) }}</p>
      <p>{{ comment.comment | safe }}</p>
    {% endfor %}
  </div>
  {% endset %}

  {{ mojBanner({
      type: 'no-icon',
      html: bannerHtml
    }) }}
  </header>

{% endif %}