{% extends "layout_navbar.html" %}
{% set primary = 'cases' %}

{% block pageTitle %}
  Trade Finance Manager
{% endblock %}

{% block content %}
  <div class="govuk-grid-row tfm tfm-width">
    <div class="govuk-grid-column-full" >
      <h1 class="govuk-heading-xl">
        Cases
      </h1>
        {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
        {{ mojSubNavigation({
        label: 'Sub navigation',
        items: [{
        text: 'Open',
        href: 'cases_open.html',
        active: selected=='cases_open'
        }, {
        text: 'Closed',
        href: 'cases_closed.html',
        active: selected=='cases_closed'
        }]
        }) }}

 </div>
 </div>
  <div class="govuk-grid-row tfm tfm-width">
    <div class="govuk-grid-column-full" >
 {% block sub_content %}
  {% endblock %}
  </div>
  </div>
     {% endblock %}