{% extends "layout_navbar.html" %}
{% set primary = 'cases' %}

{% block pageTitle %}
  C0345
{% endblock %}

{% block beforeContent %}
  <div class="govuk-grid-row tfm tfm-width">
    <div class="govuk-grid-column-full case-summary">
      <table>
        <tr>
          <th>
            <p class="header-label" style="color: white;">C0345</p>
          </th>
          <th><p class="header-label" style="color: white;font-weight: normal;">Love to Learn Ltd</p></th>
          <th>{{ extensionConfig.stylesheets.Count }}</th>
          <td>Case actions</td>
        </tr>
        <tr>
          <td>Type of work</td>
          <td>
            {{govukTag({
          text: "Manual inclusion application",
          classes: "govuk-tag--blue"
        })}}
          </td>
          <td>Date received</td>
          <td>16 Dec 2019</td>
        </tr>
        <tr>
          <td>Exporter</td>
          <td>
            <u>Love to Learn Ltd</u>
          </td>
          <td>Underwriter</td>
          <td>Nigel Horwood</td>
        </tr>
        <tr>
          <td>Total export value</td>
          <td>GBP 3,468,195.18</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Additional UKEF exposure</td>
          <td>GBP 2,774,556.14</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Guarantee types</td>
          <td><span class="label--yellow">BSS</span></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row tfm tfm-width" >
  <div class="govuk-grid-column-full">
  {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

  {{ mojSubNavigation({
  label: 'Sub navigation',
  items: [{
  text: 'Tasks',
  href: 'tasks',
  active: selected=='tasks'
  }, {
  text: 'Applications',
  href: 'deals',
  active: selected=='deals'
  }, {
  text: 'Exposure',
  href: 'exposure',
  active: selected=='exposure'
  }, {
  text: 'Pricing',
  href: 'pricing',
  active: selected=='pricing'
  }, {
  text: 'Agent',
  href: 'agent',
  active: selected=='agent'
  }, {
  text: 'Adverse history',
  href: 'adverse-history',
  active: selected=='adverse-history'
  }, {
  text: 'Credit analysis',
  href: 'credit-analysis',
  active: selected=='credit-analysis'
  }]
  }) }}
 </div> 
 </div>

  {% block sub_content %}
  {% endblock %}
      {% endblock %}