{% import '_macros/date-range.njk' as dateRange %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% macro render(filter, banks, user) %}

<form method="POST" autocomplete="off">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group govuk-!-margin-bottom-0">
        <label class="govuk-label" for="bank">
          Bank
        </label>

        <select class="govuk-select govuk-!-width-full" id="bank" name="bank">
          <option value="all" selected>Any</option>
          {% for bank in banks %}
            <option value="{{ bank.id }}">{{ bank.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">

      <div class="govuk-form-group">
        <label class="govuk-label" for="filterByStage">
          Transaction stage
        </label>

        <select data-cy="filterByStage" class="govuk-select" id="filterByStage" name="filterByStage">
          <option value="all" {% if filter.filterByStatus==='all' %}selected{%endif%}>
            Any
          </option>
          <option value="unissuedConditional" {% if filter.filterByStage==='unissuedConditional' %}selected{%endif%}>
            Unissued/Conditional
          </option>
          <option value="issuedUnconditional" {% if filter.filterByStage==='issuedUnconditional' %}selected{%endif%}>
            Issued/Unconditional
          </option>
        </select>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group">
        <label class="govuk-label" for="bankSupplyContractID">
          Supply contract ID
        </label>
        <input class="govuk-input" id="bankSupplyContractID" name="bankSupplyContractID" type="text">
      </div>
    </div>

  </div>
  <div class="govuk-grid-row govuk-!-margin-bottom-4">

    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group">
        <label class="govuk-label" for="supplier-name">
          Supplier name
        </label>
        <input class="govuk-input" id="supplier-name" name="supplier-name" type="text">
      </div>
    </div>


    {{ dateRange.inputs(fromLegend = 'Select created date between', toLegend = 'And' ) }}
  </div>

  <button data-cy="ApplyFilters" class="govuk-button" data-module="govuk-button">
    Apply
  </button>

</form>
{% endmacro %}
