/*
  temp CSS until we setup Sass
*/

.feedback-table th,
.feedback-table td {
  width: 10%;
  text-align: center;
}

.feedback-table tr th:first-child,
.feedback-table tr td:first-child {
  width: 40%;
  text-align: left;
}

.feedback-table .govuk-radios__item {
  left: 25%;
}

.feedback-table .govuk-table__caption {
  font-weight: normal;
}

.contract-table td {
  border-bottom: none;
}

.contract-table--status-cell {
  width: 15%;
}

.comment {
  background: #F3F2F1;
}

.box {
  border: 1px dashed lightgrey;
  margin-bottom: 20px;
}

.box__header-link {
  text-align: right;
}

.box__header-inline-message {
  display: inline-block;
  vertical-align: top;
}

.box__header-inline-message--uppercase {
  text-transform: uppercase;
}

.contract-container .govuk-error-summary {
  border: 0;
}

.breadcrumbs {
  text-align: center;
}

.breadcrumbs li {
  display: inline-block;
  padding: 0 10px;
}

.breadcrumbs li.active {
  background: lightgrey;
}

.grey-text {
  color: #626A6E;
}

.criteria__nav-item {
  background: #F9F9F9;
  min-height: 60px;
  box-sizing: border-box;
}

.criteria__nav-item--current {
  background: #DEE6EE;
}

.criteria__nav-item-progress-number {
  display: inline-block;
  width: 57px;
  min-height: 60px;
  padding: 17px 0;
  margin-right: 10px;
  text-align: center;;
  box-sizing: border-box;
  background: #1d70b8; 
  color: #FFF;
}

.criteria__nav-item .govuk-checkboxes__label {
  padding: 17px 30px;
}

.criteria__nav-item .govuk-checkboxes__label::before {
  border: none;
  width: 57px;
  /* height: 60px; */
  height: 100%;
  background: #1d70b8;
  color: #FFF;
}

.criteria__nav-item--completed .govuk-checkboxes__input:disabled + .govuk-checkboxes__label {
  opacity: 1;
}

.criteria__nav-item--completed .govuk-checkboxes__label::before {
  background: #00703c;
}

.criteria__nav-item--completed .govuk-checkboxes__label::after {
  top: 34%;
  left: 17px;
  color: #FFF;
}
