{% import "./fee-record-status.njk" as feeRecordStatus %}
{% import "../../_macros/table-cell-checkbox.njk" as tableCellCheckbox %}
{% macro render(params) %}
  {% set captionText = params.captionText %}
  {% set feeRecords = params.feeRecords %}
  {% set totalReportedPayments = params.totalReportedPayments %}
  {% set enableSelectingFeeRecords = params.enableSelectingFeeRecords %}
  {% set reportedFeesHeader = "Reported fees" %}
  {% if params.overrides %}
    {% if params.overrides.reportedFeesHeader %}
      {% set reportedFeesHeader = params.overrides.reportedFeesHeader %}
    {% endif %}
  {% endif %}
  <form method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
    <table class="govuk-table" data-module="moj-sortable-table" data-cy="fee-record-details-table">
      <caption class="govuk-table__caption govuk-table__caption--m">{{ captionText }}</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="ascending">Facility ID</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Exporter</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">{{ reportedFeesHeader }}</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Reported payments</th>
          {% if enableSelectingFeeRecords %}
            <th scope="col" class="govuk-table__header"></th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for feeRecord in feeRecords %}
          <tr class="govuk-table__row" data-cy="fee-record-details-table-row--feeRecordId-{{ feeRecord.id }}">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">
              {{ feeRecord.facilityId }}
            </th>
            <td class="govuk-table__cell">
              {{ feeRecord.exporter }}
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="{{ feeRecord.reportedFees.dataSortValue }}">
              {{ feeRecord.reportedFees.formattedCurrencyAndAmount }}
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="{{ feeRecord.reportedPayments.dataSortValue }}">
              {{ feeRecord.reportedPayments.formattedCurrencyAndAmount }}
            </td>
            {% if enableSelectingFeeRecords %}
              <td class="govuk-table__cell">
                {{ tableCellCheckbox.render({
              checkboxId: feeRecord.checkboxId,
              checked: feeRecord.isChecked
            }) }}
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr class="govuk-table__row" data-cy="fee-record-details-table-row--totalReportedPayments">
          <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold" colspan="4">
            Total reported payments
            <span class="govuk-!-margin-left-2">{{ totalReportedPayments }}</span>
          </td>
          {% if enableSelectingFeeRecords %}
            <td class="govuk-table__cell"></td>
          {% endif %}
        </tr>
      </tfoot>
    </table>
    {% if enableSelectingFeeRecords %}
      <input
        class="govuk-button govuk-button__secondary govuk-!-margin-right-3"
        formaction="#"
        value="Remove selected fees"
        data-module="govuk-button"
        type="submit"
        data-cy="remove-selected-fees-button"/>
    {% endif %}
  </form>
{% endmacro %}