{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% macro render(params) %}
  {% set status = params.status %}
  {% set displayStatus = params.displayStatus %}

  {% set tagColourClassForStatus = {
    'TO_DO': '',
    'MATCH': 'govuk-tag--green',
    'DOES_NOT_MATCH': 'govuk-tag--red',
    'READY_TO_KEY': 'govuk-tag--yellow',
    'RECONCILED': 'govuk-tag--grey',
    'REPORT_COMPLETED': 'govuk-tag--green',
    'PENDING_CORRECTION': 'govuk-tag--yellow'
  } %}

  {% set tagColourClass = tagColourClassForStatus[status] %}

  {{ govukTag({
    text: displayStatus,
    classes: tagColourClass,
    attributes: {
      'data-cy': 'fee-record-status'
    }
  }) }}
{% endmacro %}
