{% import "../../_macros/select-all-table-cell-checkbox.njk" as selectAllTableCellCheckbox %}
{% import "./keying-sheet-table-row.njk" as keyingSheetTableRow %}

{% macro render(params) %}
  {% set reportId = params.reportId %}
  {% set keyingSheet = params.keyingSheet %}
  {% set userCanEdit = params.userCanEdit %}
  {% set statusTagColours = params.statusTagColours %}

  <table class="govuk-table" data-module="moj-sortable-table" data-cy="keying-sheet-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>
        <th scope="col" class="govuk-table__header" aria-sort="ascending">Facility ID</th>
        <th scope="col" class="govuk-table__header" aria-sort="none">Exporter</th>
        <th scope="col" class="govuk-table__header">Date</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Fee payment</th>
        <th scope="col" class="govuk-table__header">Base currency</th>
        {% if userCanEdit %}
          <td class="govuk-table__header">
            {{ selectAllTableCellCheckbox.render() }}
          </td>
        {% endif %}
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for keyingSheetRow in keyingSheet %}
        {{ keyingSheetTableRow.render({
          keyingSheetRow: keyingSheetRow,
          userCanEdit: userCanEdit,
          statusTagColours: statusTagColours
        }) }}
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}