{% import "./keying-sheet-status.njk" as KeyingSheetRowStatus %}
{% import "../../_macros/table-cell-checkbox.njk" as tableCellCheckbox %}
{% macro render(params) %}
  {% macro adjustmentColumns(adjustment, options) %}
    {% set amount = adjustment.amount %}
    {% set change = adjustment.change %}
    {% set showBottomBorder = options.showBottomBorder %}
    {% set showValues = options.showValues %}
    <td class="{{ ["govuk-table__cell", " govuk-table__cell--numeric" if change === "INCREASE", " no-border" if not showBottomBorder] | join }}" data-cy="keying-sheet-adjustment--increase">
      {{ (amount if change === "INCREASE" else "-") if showValues }}
    </td>
    <td class="{{ ["govuk-table__cell", " govuk-table__cell--numeric" if change === "DECREASE", " no-border" if not showBottomBorder] | join }}" data-cy="keying-sheet-adjustment--decrease">
      {{ (amount if change === "DECREASE" else "-") if showValues }}
    </td>
  {% endmacro %}
  {% set userCanEdit = params.userCanEdit %}
  {% set status = params.KeyingSheetRow.status %}
  {% set displayStatus = params.KeyingSheetRow.displayStatus %}
  {% set facilityId = params.KeyingSheetRow.facilityId %}
  {% set exporter = params.KeyingSheetRow.exporter %}
  {% set feePayments = params.KeyingSheetRow.feePayments %}
  {% set baseCurrency = params.KeyingSheetRow.baseCurrency %}
  {% set fixedFeeAdjustment = params.KeyingSheetRow.fixedFeeAdjustment %}
  {% set premiumAccrualBalanceAdjustment = params.KeyingSheetRow.premiumAccrualBalanceAdjustment %}
  {% set principalBalanceAdjustment = params.KeyingSheetRow.principalBalanceAdjustment %}
  {% set checkboxId = params.KeyingSheetRow.checkboxId %}
  {% set isChecked = params.KeyingSheetRow.isChecked %}
  {% for feePayment in feePayments %}
    {% set isFirstLineOfRow = loop.index === 1 %}
    {% set isLastLineOfRow = loop.index === feePayments.length %}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell{{ " no-border" if not isLastLineOfRow }}" data-sort-value="{{ status }}">
        {{ KeyingSheetRowStatus.render({
          status: status,
          displayStatus: displayStatus
        }) if isFirstLineOfRow }}
      </td>
      <td class="govuk-table__cell{{ " no-border" if not isLastLineOfRow }}" data-sort-value="{{ facilityId }}">{{ facilityId if isFirstLineOfRow }}</td>
      <td class="govuk-table__cell{{ " no-border" if not isLastLineOfRow }}" data-sort-value="{{ exporter }}">{{ exporter if isFirstLineOfRow }}</td>
      <td class="govuk-table__cell{{ " no-border" if not isLastLineOfRow }}">{{ feePayment.formattedDateReceived }}</td>
      <td class="govuk-table__cell govuk-table__cell--numeric{{ " no-border" if not isLastLineOfRow }}">
        {{ feePayment.formattedCurrencyAndAmount }}
      </td>
      <td class="govuk-table__cell{{ " no-border" if not isLastLineOfRow }}">{{ baseCurrency if isFirstLineOfRow }}</td>
      {{ adjustmentColumns(fixedFeeAdjustment, { showBottomBorder: isLastLineOfRow, showValues: isFirstLineOfRow }) }}
      {{ adjustmentColumns(premiumAccrualBalanceAdjustment, { showBottomBorder: isLastLineOfRow, showValues: isFirstLineOfRow }) }}
      {{ adjustmentColumns(principalBalanceAdjustment, { showBottomBorder: isLastLineOfRow, showValues: isFirstLineOfRow }) }}
      {% if userCanEdit %}
        <td class="govuk-table__cell{{ " no-border" if not isLastLineOfRow }}">
          {{ tableCellCheckbox.render({
            checkboxId: checkboxId,
            checked: isChecked
          }) if isFirstLineOfRow }}
        </td>
      {% endif %}
    </tr>
  {% endfor %}
{% endmacro %}