{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% macro render(params) %}
  {% set status = params.status %}
  {% set displayStatus = params.displayStatus %}
  {% set tagColourClassForStatus = {
    'TO_DO': '',
    'DONE': 'govuk-tag--green'
  } %}

  {% set tagColourClass = tagColourClassForStatus[status] %}

  {{ govukTag({
    text: displayStatus,
    classes: tagColourClass,
    attributes: {
      'data-cy': 'keying-sheet-status'
    }
  }) }}
{% endmacro %}