{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "moj/components/filter/macro.njk" import mojFilter %}
{% import "./payment-details-filters-form.njk" as paymentDetailsFiltersForm %}

{% macro render(params) %}
  {% set filters = params.filters %}
  {% set selectedFilters = params.selectedFilters %}
  {% set errors = params.errors %}
  {% set reportId = params.reportId %}

  {% if object.field2 %}
    {% set myArray = myArray.concat([object.field2]) %}
  {% endif %}

  {% if object.field3 %}
    {% set myArray = myArray.concat([object.field3]) %}
  {% endif %}

  <div class="moj-filter-layout__filter" data-filtered-table-id="payment-details" data-cy="payment-details--filters-panel">

    <form method="GET" data-cy="payment-details--filter-form">
      {% set selectedFiltersCategories = [] %}

      {% if selectedFilters.paymentCurrency %}
        {% set selectedFiltersCategories = selectedFiltersCategories.concat([{
            heading: {
              text: 'Currency'
            },
            items: [{
              href: selectedFilters.paymentCurrency.removeHref,
              text: selectedFilters.paymentCurrency.value
            }]
          }]) %}
      {% endif %}

      {% if selectedFilters.paymentReference %}
        {% set selectedFiltersCategories = selectedFiltersCategories.concat([{
            heading: {
              text: 'Payment reference'
            },
            items: [{
              href: selectedFilters.paymentReference.removeHref,
              text: selectedFilters.paymentReference.value
            }]
          }]) %}
      {% endif %}

      {% if selectedFilters.facilityId %}
        {% set selectedFiltersCategories = selectedFiltersCategories.concat([{
            heading: {
              text: 'Facility ID'
            },
            items: [{
              href: selectedFilters.facilityId.removeHref,
              text: selectedFilters.facilityId.value
            }]
          }]) %}
      {% endif %}

      {% set filterOptionsHtml %}
        {{ paymentDetailsFiltersForm.render({
          filters: filters,
          errors: errors
        }) }}
      {% endset %}

      {{ mojFilter({
        heading: {
          text: 'Filter'
        },
        selectedFilters: selectedFiltersCategories.length > 0 and {
          heading: {
            text: 'Selected filters'
          },
          clearLink: {
            text: 'Clear filters',
            href: "/utilisation-reports/" + reportId + "#payment-details"
          },
          categories: selectedFiltersCategories
        },
        submit: {
          attributes: {
            'data-cy': 'payment-details--filters-submit-button'
          }
        },
        attributes: {
          'data-cy': 'payment-details--filters-container'
        },
        optionsHtml: filterOptionsHtml
      }) }}
    </form>

  </div>
{% endmacro %}
