{% from 'govuk/components/input/macro.njk' import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{# TODO FN-2311: Add component tests for this macro. #}

{% macro render(params) %}
  {% set filters = params.filters %}
  {% set paymentReference = params.paymentReference %}
  {% set facilityId = params.facilityId %}

  {% if filters.currency %}
    {{ govukRadios({
      name: "currency",
      fieldset: {
        legend: {
          text: "Currency",
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: filters.currency
    }) }}
  {% endif %}

  {{ govukInput({
    id: 'paymentReference',
    name: 'paymentReference',
    value: paymentReference,
    label: {
      text: 'Payment reference',
      classes: 'govuk-label--m',
      attributes: {
        'data-cy': 'payment-details-filter-payment-reference-label'
      }
    },
    attributes: {
      'data-cy': 'payment-details-filter-payment-reference-input'
    }
  }) }}

  {{ govukInput({
    id: 'facilityId',
    name: 'facilityId',
    value: facilityId,
    label: {
      text: 'Facility ID',
      classes: 'govuk-label--m',
      attributes: {
        'data-cy': 'payment-details-filter-facility-id-label'
      }
    },
    attributes: {
      'data-cy': 'payment-details-filter-facility-id-input'
    }
  }) }}

{% endmacro %}
