{% import "./payment-details-table-row.njk" as paymentDetailsTableRow %}
{% macro render(params) %}
  {% set reportId = params.reportId %}
  {% set paymentDetails = params.paymentDetails %}
  {% set userCanEdit = params.userCanEdit %}
  <table class="govuk-table" data-module="moj-sortable-table" data-cy="payment-details-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header" aria-sort="ascending">Amount</th>
        <th scope="col" class="govuk-table__header" aria-sort="none">Payment reference</th>
        <th scope="col" class="govuk-table__header" aria-hidden="true">Facility ID</th>
        <th scope="col" class="govuk-table__header" aria-hidden="true">Exporter</th>
        <th scope="col" class="govuk-table__header govuk-visually-hidden">Facility ID and Exporter</th>
        <th scope="col" class="govuk-table__header" aria-sort="none">Date received</th>
        <th scope="col" class="govuk-table__header" aria-sort="none">Reconciled by</th>
        <th scope="col" class="govuk-table__header" aria-sort="none">Date reconciled</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for paymentDetailsRow in paymentDetails %}
        {{ paymentDetailsTableRow.render({ reportId: reportId, paymentDetails: paymentDetailsRow, userCanEdit: userCanEdit }) }}
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}