{% from "moj/components/filter/macro.njk" import mojFilter %}
{% from 'govuk/components/input/macro.njk' import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% macro render(params) %}
  {% set filters = params.filters %}

  {% if filters.currency %}
    {{ govukRadios({
      name: "paymentDetailsCurrency",
      fieldset: {
        legend: {
          text: "Currency",
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: filters.currency,
      attributes: {
        'data-cy': 'payment-details--filter-currency'
      }
    }) }}
  {% endif %}

  {{ govukInput({
    id: 'payment-details-payment-reference-filter',
    name: 'paymentDetailsPaymentReference',
    value: filters.paymentReference,
    label: {
      text: 'Payment reference',
      classes: 'govuk-label--m',
      attributes: {
        'data-cy': 'payment-details--filter-payment-reference-label'
      }
    },
    attributes: {
      'data-cy': 'payment-details--filter-payment-reference-input'
    }
  }) }}

  {{ govukInput({
    id: 'payment-details-facility-id-filter',
    name: 'paymentDetailsFacilityId',
    value: filters.facilityId,
    label: {
      text: 'Facility ID',
      classes: 'govuk-label--m',
      attributes: {
        'data-cy': 'payment-details--filter-facility-id-label'
      }
    },
    attributes: {
      'data-cy': 'payment-details--filter-facility-id-input'
    }
  }) }}

{% endmacro %}
