{% macro render(params) %}
  {% set legendText = params.legendText %}
  {% set paymentGroups = params.paymentGroups %}

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h2 class="govuk-fieldset__legend--m">
          {{ legendText }}
        </h2>
      </legend>
      <div class="govuk-radios" data-module="govuk-radios">
        {% for paymentGroup in paymentGroups %}
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="{{ paymentGroup.radioId }}" name="payment" type="radio" value="{{ paymentGroup.radioId }}">
            {% for payment in paymentGroup.payments %}
              <label class="govuk-label govuk-radios__label" for="{{ paymentGroup.radioId }}">
                {{ payment.formattedCurrencyAndAmount }}
              </label>
              <div id="payment-{{ payment.id }}-item-hint" class="govuk-hint govuk-radios__hint">
                Payment reference: {{ payment.reference }}
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </fieldset>
  </div>
{% endmacro %}