{% import "../../_macros/select-all-table-cell-checkbox.njk" as selectAllTableCellCheckbox %}
{% import "./premium-payments-table-row.njk" as premiumPaymentsTableRow %}

{% macro render(params) %}
  {% set reportId = params.reportId %}
  {% set feeRecordPaymentGroups = params.feeRecordPaymentGroups %}
  {% set enablePaymentsReceivedSorting = params.enablePaymentsReceivedSorting %}
  {% set userCanEdit = params.userCanEdit %}

  {% macro tableHeader(params) %}
    {% set headerText = params.headerText %}
    {% set isNumericColumn = params.isNumericColumn %}
    {% set enableSorting = params.enableSorting %}
    {% set ariaSort = params.ariaSort %}
    {% set dataCy = params.dataCy %}

    {% set class = 'govuk-table__header' %}
    {% if isNumericColumn %}
      {% set class = 'govuk-table__header govuk-table__header--numeric' %}
    {% endif %}

    {% if enableSorting %}
      <th
        scope="col"
        class="{{ class }}"
        aria-sort="{{ ariaSort }}"
        {% if dataCy %} data-cy="{{ dataCy }}" {% endif %}
      >
        {{ headerText }}
      </th>
    {% else %}
      <th
        scope="col"
        class="{{ class }}"
        {% if dataCy %} data-cy="{{ dataCy }}" {% endif %}
      >
        {{ headerText }}
      </th>
    {% endif %}
  {% endmacro %}

  <table class="govuk-table premium-payments-table" data-module="moj-sortable-table" data-cy="premium-payments-table" id="premium-payments-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        {{ tableHeader({ headerText: 'Facility ID', isNumericColumn: false, enableSorting: false }) }}
        {{ tableHeader({ headerText: 'Exporter', isNumericColumn: false, enableSorting: false }) }}
        {{ tableHeader({ headerText: 'Reported fees', isNumericColumn: true, enableSorting: false }) }}
        {{ tableHeader({ headerText: 'Reported payments', isNumericColumn: true, enableSorting: false }) }}
        {{ tableHeader({ headerText: 'Total reported payments', isNumericColumn: true, enableSorting: true, ariaSort: 'ascending', dataCy: 'premium-payments-table--total-reported-payments' }) }}
        {{ tableHeader({ headerText: 'Payments received', isNumericColumn: true, enableSorting: false }) }}
        {{ tableHeader({ headerText: 'Total payments received', isNumericColumn: true, enableSorting: enablePaymentsReceivedSorting, ariaSort: 'none', dataCy: 'premium-payments-table--total-payments-received' }) }}
        {{ tableHeader({ headerText: 'Status', isNumericColumn: false, enableSorting: true, ariaSort: 'none', dataCy: 'premium-payments-table--status' }) }}
        {% if userCanEdit %}
          <td class="govuk-table__header">
            {{ selectAllTableCellCheckbox.render() }}
          </td>
        {% endif %}
      </tr>
    </thead>

    <tbody class="govuk-table__body">
    {% for feeRecordPaymentGroup in feeRecordPaymentGroups %}
      {{ premiumPaymentsTableRow.render({ reportId: reportId, feeRecordPaymentGroup: feeRecordPaymentGroup, userCanEdit: userCanEdit }) }}
    {% endfor %}
    </tbody>
  </table>

  {% if feeRecordPaymentGroups.length === 0 %}
    <div data-cy="no-matched-facilities-message">
      <div class="govuk-body govuk-!-font-weight-bold">Your search matched no facilities</div>
      <div class="govuk-body">There are no results for the facility ID you entered</div>
    </div>
  {% endif %}
{% endmacro %}
