{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% macro render(params) %}
  {% set status = params.status %}
  {% set displayStatus = params.displayStatus %}

  {% set tagColourClassForStatus = {
    'RECORD_CORRECTION_RECEIVED': 'govuk-tag--green govuk-!-text-align-left',
    'RECORD_CORRECTION_SENT': 'govuk-tag--pink govuk-!-text-align-left'
  } %}

  {% set tagColourClass = tagColourClassForStatus[status] %}

  {{ govukTag({
    text: displayStatus,
    classes: tagColourClass,
    attributes: {
      'data-cy': 'record-correction-status'
    }
  }) }}
{% endmacro %}
