{% extends "index.njk" %}

{% block pageTitle -%}
    Login in progress
{%- endblock %}

{% block content %}
    <h1 class="govuk-heading-l govuk-!-padding-top-5" data-cy="heading">
        Login in progress
    </h1>

    <form
        id="accept-sso-redirect-form"
        method="POST"
        action="/auth/sso-redirect/form"
        autocomplete="off"
    >
        <input type="hidden" name="code" value="{{ code }}">
        <input type="hidden" name="client_info" value="{{ client_info }}">
        <input type="hidden" name="state" value="{{ state }}">
        <input type="hidden" name="session_state" value="{{ session_state }}">

        <p class="govuk-body">
            If you are not redirected within a few seconds, please click the button below to continue
        </p>
        <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
        </button>
    </form>

    <script src="/assets/js/sso-redirect-auto-submit.js" type="module" integrity="sha512-MEibl3l0Gx1WFE0QvDFqC7GzttWm0zIwn2WvFKd49J5pjzYyUfDOVgXr9KXbnFst+2E87EFspHLHzSw9rXbDyg==" crossorigin="anonymous"></script>
{% endblock %}
