{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "moj/components/button-menu/macro.njk" import mojButtonMenu %}
{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% import './_macros/facilities-table-search-form.njk' as facilitiesTableSearchForm %}

{% extends "index.njk" %}

{% block pageTitle %}
  Trade Finance Manager
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-three-quarters">
      <h2 class="header-label" data-cy="deals-heading">{{ heading }}</h2>
    </div>

    <div class="govuk-grid-column-one-quarter govuk-!-padding-top-7">
      {{ facilitiesTableSearchForm.render() }}
    </div>
  </div>


  {% set items = [] %}
  {% for facility in facilities %}
    {% set facilityLink %}
      <a
         class="govuk-link"
         href="/case/{{ facility.dealId }}/facility/{{ facility.facilityId }}"
         aria-label="View facility details"
         data-cy="deal-{{ facility.facilityId }}-ukef-facility-id-link">
         <span data-cy="deal-{{ facility.facilityId }}-ukef-facility-id-link-text">{{ facility.ukefFacilityId }}</span>
      </a>
    {% endset %}

    {% set coverEndDate %}
      {% if facility.coverEndDate %}
         {{ facility.coverEndDate }}
      {% else %}
         -
      {% endif %}
    {% endset %}

    {% set facilityStage %}
      {% if facility.hasBeenIssued %}
        Issued
      {% else %}
        Unissued
      {% endif %}
    {% endset %}

    {% set item = [
      {
        html: facilityLink,
        attributes: { "data-cy": "facility__ukefFacilityId", "data-sort-value": facility.ukefFacilityId  }
      },
      {
        text: facility.dealType or "-",
        attributes: { "data-cy": "facility__product", "data-sort-value": facility.dealType }
      },
      {
        text: facility.facilityType or "-",
        attributes: { "data-cy": "facility__facilityType", "data-sort-value": facility.facilityType }
      },
      {
        text: facility.companyName or "-",
        attributes: { "data-cy": "facility__companyName", "data-sort-value": facility.companyName }
      },
      {
        text: facility.currencyAndValue or "-",
        attributes: { "data-cy": "facility__facilityValue", "data-sort-value": facility.value }
      },
      {
        html: facility.coverEndDate,
        attributes: { "data-cy": "facility__coverEndDate", "data-sort-value": facility.coverEndDateEpoch }
      },
      {
        html: facilityStage,
        attributes: { "data-cy": "facility__facilityStage" }
      }
    ] %}

    {% set items = (items.push(item), items) %}
  {% endfor %}


{{ govukTable({
   attributes: { 'data-module': 'moj-sortable-table', 'data-cy': 'tfm-facilities-table' },
   classes: 'tfm__facilities-table',
   head: [
      {
        text: "Facility ID",
        attributes: { "data-cy": "facility__header--ukefFacilityId", "aria-sort": "ascending" }
      },
      {
        text: "Product",
         attributes: { "data-cy": "facility__header--product", "aria-sort": "none"}
      },
      {
        text: "Type",
        attributes: { "data-cy": "facility__header--dataType", "aria-sort": "none" }
      },
      {
        text: "Exporter",
        attributes: { "data-cy": "facility__header--exporter", "aria-sort": "none" }
      },
      {
        text: "Value (export currency)",
        attributes: { "data-cy": "facility__header--value", "aria-sort": "none" }
      },
      {
        text: "Cover end date",
        attributes: { "data-cy": "facility__header--coverEndDate", "aria-sort": "none" }
      },
      {
        text: "Facility stage",
        attributes: { "data-cy": "facility__header--facilityStage", "aria-sort": "none" }
      }
    ],
    rows: items
  }) }}

{% endblock %}
