{% extends "case/underwriting/layout.njk" %}

{% block underwriting_content %}
  <section data-cy="section-bank-security">
    <h3 class="govuk-heading-l ukef-heading-grey govuk-!-margin-bottom-3" data-cy="bank-security-heading">Bank Security</h3>

    <h4 class="govuk-heading-s separator-line govuk-!-padding-top-3 govuk-!-padding-bottom-0 govuk-!-margin-top-0" data-cy="bank-security-sub-heading">
      Details of the overarching general security the banks holds for this exporter
    </h4>

    <p style="white-space:pre-line" data-cy="bank-security-text">{{ deal.supportingInformation.security }}</p>

  </section>


{% endblock %}
