{% extends "page.njk" %}

{% block content %}

  <h1 class="govuk-heading-l">Mandatory criteria</h1>

  <h2 class="govuk-heading-m">Does this deal meet all UKEF’s mandatory criteria?</h2>

  <p class="govuk-body">To proceed with this submission, you need to be able to affirm that all the following mandatory criteria are or will be true for this deal on the date that cover starts.</p>

  <h2 class="govuk-heading-m">Supply contract/Transaction</h2>

  <ol class="govuk-list govuk-list--number">
    <li>The Supplier has provided the Bank with a duly completed Supplier Declaration, and the Bank is not aware that any of the information contained within it is inaccurate.</li>
    <li>The Bank has complied with its policies and procedures in relation to the Transaction.</li>
    <li>Where the Supplier is a UK Supplier, the Supplier has provided the Bank with a duly completed UK Supplier Declaration, and the Bank is not aware that any of the information contained within it is inaccurate. (Conditional for UK Supplier)</li>
  </ol>

  <h2 class="govuk-heading-m">Financial</h2>

  <ol class="govuk-list govuk-list--number">
    <li value="4">The Bank Customer (to include both the Supplier and any Parent Obligor) is an <a href="#" class="govuk-link">Eligible Person</a>.</li>
  </ol>

  <h2 class="govuk-heading-m">Credit</h2>
  <ol class="govuk-list govuk-list--number">
    <li value="5">The Bank Customer (to include both the Supplier and any UK Parent Obligor) has a one- year probability of default of less than 14.1%.</li>
  </ol>

  <h2 class="govuk-heading-m">Bank Facility Letter</h2>
  <ol class="govuk-list govuk-list--number">
    <li value="6">The Bank Facility Letter is governed by the laws of England and Wales, Scotland or Northern Ireland.</li>
  </ol>

  <h2 class="govuk-heading-m">Legal</h2>
  <ol class="govuk-list govuk-list--number">
    <li value="7">The Bank is the sole and beneficial owner of, and has legal title to, the Transaction.</li>
    <li value="8">The Bank has not made a Disposal (other than a Permitted Disposal) or a Risk Transfer (other than a Permitted Risk Transfer) in relation to the Transaction.</li>
    <li value="9">The Bank’s right, title and interest in relation to the Transaction is clear of any Security and Quasi-Security (other than Permitted Security) and is freely assignable without the need to obtain consent of any Obligor or any other person.</li>
    <li value="10">The Bank is not restricted or prevented by any agreement with an Obligor from providing information and records relating to the Transaction.</li>
  </ol>

  <hr class="govuk-section-break" />

  <p class="govuk-body">Confirmation</p>

  <form>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <p class="govuk-body">
            All of the above mandatory criteria are true for this supply contract.
          </p>
        </legend>
        <div class="govuk-radios govuk-radios--inline">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="criteria-met" name="criteria-met" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="criteria-met">
              True
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="criteria-met-2" name="criteria-met" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="criteria-met-2">
              False
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <button class="govuk-button" data-module="govuk-button">Submit</button>

  </form>

{% endblock %}
