{% extends "page.njk" %}
{% import 'macros/contract-tabs.njk' as contractTabs %}
{% import 'macros/contract-details.njk' as contractDetails %}
{% import 'macros/contract-child-section.njk' as contractChildSection %}

{% block content %}

  <div class="contract-container">

    <h1 class="govuk-heading-l">
      Supply Contract name:
      <span class="govuk-body govuk-!-font-size-24">{{ supplyContractName }}</span>
      <a class="govuk-link govuk-!-font-size-14" href="#">Edit</a>
    </h1>

    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>

      {{ contractTabs.nav(selected = 'view', id = id ) }}

      <section class="govuk-tabs__panel" id="view">

        <div class="govuk-grid-row govuk-!-margin-bottom-2">
          <div class="govuk-grid-column-three-quarters">
            &nbsp;
          </div>
          <div class="govuk-grid-column-one-quarter box__header-link">
            <a href="#" class="govuk-link govuk-!-font-size-14">Clone</a>
            <a href="#" class="govuk-link govuk-!-font-size-14 govuk-!-margin-left-2">Abandon</a>
          </div>
        </div>

        <hr class="govuk-section-break" />

        <div class="govuk-grid-row govuk-!-padding-2 govuk-!-margin-bottom-8 box">
          {{ contractDetails.table(details) }}
        </div>

        <div class="govuk-grid-row govuk-!-padding-top-2 govuk-!-padding-bottom-2 box">
          <div class="box__header">
            <div class="govuk-grid-column-three-quarters">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                <span class="govuk-grid-column-one-half govuk-!-padding-left-0">
                  About the Supply Contract 
                </span>
                {{ contractChildSection.status(aboutSupplyContract.status) }}
              </h2>
            </div>
            <div class="govuk-grid-column-one-quarter box__header-link">
              <a href="#" class="govuk-link">View details</a>
            </div>
          </div>
        </div>

        <div class="govuk-grid-row govuk-!-padding-top-2 govuk-!-padding-bottom-2 box">
          <div class="box__header">
            <div class="govuk-grid-column-three-quarters">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                <span class="govuk-grid-column-one-half govuk-!-padding-left-0">
                  Confirm eligibility
                </span>

                {% if confirmEligibility.submissionType %}
                  <span class="govuk-!-margin-bottom-0 govuk-!-margin-left-6 govuk-!-font-weight-regular govuk-!-font-size-16 box__header-inline-message">
                    <span class="govuk-!-font-weight-bold">Submission type: </span> <br />
                    {{ confirmEligibility.submissionType }}
                  </span>
                {% endif %}
              </h2>
            </div>
            <div class="govuk-grid-column-one-quarter box__header-link">
              <a href="#" class="govuk-link">View details</a>
            </div>
          </div>
        </div>

        <div class="govuk-grid-row govuk-!-padding-top-2 govuk-!-padding-bottom-2 box">
          <div class="box__header">
            <div class="govuk-grid-column-three-quarters">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                <span class="govuk-grid-column-one-half govuk-!-padding-left-0">
                  Bond transactions
                </span>
                {{ contractChildSection.status(bondTransactions.status) }}
              </h2>
            </div>

            <div class="govuk-grid-column-one-quarter box__header-link">
              <a href="#" class="govuk-link">Add a Bond</a>
            </div>
          </div>
        </div>

        <div class="govuk-grid-row govuk-!-padding-top-2 govuk-!-padding-bottom-2 box">
          <div class="box__header">
            <div class="govuk-grid-column-three-quarters">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                <span class="govuk-grid-column-one-half govuk-!-padding-left-0">
                  Loan transactions
                </span>

                {{ contractChildSection.status(loanTransactions.status) }}

              </h2>
            </div>
            <div class="govuk-grid-column-one-quarter box__header-link">
              <a href="#" class="govuk-link">Add a working capital Loan</a>
            </div>
          </div>
        </div>

        <div class="govuk-grid-row govuk-!-padding-top-2 govuk-!-padding-bottom-2 box">

          <div class="govuk-grid-column-one-half">
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-!-font-size-24">Supply Contract summary</caption>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Deal currency</th>
                  <td class="govuk-table__cell">{{ summary.dealCurrency }}</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Number of bonds</th>
                  <td class="govuk-table__cell">{{ summary.totals.bonds }}</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Number of loans</th>
                  <td class="govuk-table__cell">{{ summary.totals.loans }}</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Number of transactions</th>
                  <td class="govuk-table__cell">{{ summary.totals.transactions }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="govuk-grid-column-full">
            <div class="govuk-error-summary govuk-!-padding-0" data-module="govuk-error-summary">
              <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                  <li>
                    <a href="#passport-issued-error">Warning: Some of your Transaction forms are incomplete. Only the complete facilities will be processed in the financial summary data below.</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="govuk-grid-column-full">
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-font-size-14">&nbsp;</th>
                  <th scope="col" class="govuk-table__header govuk-!-font-size-14">Deal currency</th>
                  <th scope="col" class="govuk-table__header govuk-!-font-size-14">Deal in GBP</th>
                  <th scope="col" class="govuk-table__header govuk-!-font-size-14">Bond currency</th>
                  <th scope="col" class="govuk-table__header govuk-!-font-size-14">Bond in GBP</th>
                  <th scope="col" class="govuk-table__header govuk-!-font-size-14">Loan currency</th>
                  <th scope="col" class="govuk-table__header govuk-!-font-size-14">Loan in GBP</th>
                </tr>
              </thead>

              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__cell govuk-!-font-size-14">
                    Total value
                  </td>

                  <td class="govuk-table__cell govuk-!-font-size-14">
                    {{ summary.dealBondsLoans.totalValue.dealCurrency }}
                  </td>

                  <td class="govuk-table__cell govuk-!-font-size-14">
                    {{ summary.dealBondsLoans.totalValue.dealInGbp }}
                  </td>

                  <td class="govuk-table__cell govuk-!-font-size-14">
                    {{ summary.dealBondsLoans.totalValue.bondCurrency }}
                  </td>

                  <td class="govuk-table__cell govuk-!-font-size-14">
                    {{ summary.dealBondsLoans.totalValue.bondInGbp }}
                  </td>
                  
                  <td class="govuk-table__cell govuk-!-font-size-14">
                    {{ summary.dealBondsLoans.totalValue.loanCurrency }}
                  </td>

                  <td class="govuk-table__cell govuk-!-font-size-14">
                    {{ summary.dealBondsLoans.totalValue.loanInGbp }}
                  </td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__cell govuk-!-font-size-14">
                    Total UKEF exposure
                  </td>

                  <td class="govuk-table__cell govuk-!-font-size-14">
                    {{ summary.dealBondsLoans.totalUkefExposure.dealCurrency }}
                  </td>

                  <td class="govuk-table__cell govuk-!-font-size-14">
                    {{ summary.dealBondsLoans.totalUkefExposure.dealInGbp }}
                  </td>

                  <td class="govuk-table__cell govuk-!-font-size-14">
                    {{ summary.dealBondsLoans.totalUkefExposure.bondCurrency }}
                  </td>

                  <td class="govuk-table__cell govuk-!-font-size-14">
                    {{ summary.dealBondsLoans.totalUkefExposure.bondInGbp }}
                  </td>
                  
                  <td class="govuk-table__cell govuk-!-font-size-14">
                    {{ summary.dealBondsLoans.totalUkefExposure.loanCurrency }}
                  </td>

                  <td class="govuk-table__cell govuk-!-font-size-14">
                    {{ summary.dealBondsLoans.totalUkefExposure.loanInGbp }}
                  </td>
                </tr>

              </tbody>
            </table>
          </div>

        </div>

        <p class="govuk-body">Please complete all form sections in order to submit your Supply Contract.</p>

        <button class="govuk-button govuk-!-margin-right-1" disabled data-module="govuk-button">
          Proceed to review
        </button>

        <button class="govuk-button govuk-button--secondary" disabled data-module="govuk-button">
          Abandon
        </button>
        
      </section>

    </div>

  </div>
  
{% endblock %}
