{% extends "page.njk" %}
{% import 'macros/contract-details.njk' as contractDetails %}
{% import 'macros/contract-tabs.njk' as contractTabs %}
{% import 'macros/mandatory-criteria-box.njk' as mandatoryCriteriaBox %}
{% import 'macros/eligibility-criteria-answers.njk' as eligibilityCriteria %}
{% import 'macros/supporting-documentation-answers.njk' as supportingDocumentation %}

{% block content %}

  <h1 class="govuk-heading-l">Supply Contract name: <span class="govuk-body govuk-!-font-size-24">{{ supplyContractName }}</span></h1>

  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      Contents
    </h2>

    {{ contractTabs.nav(selected = 'submission-details', id = contract.id) }}

    <section class="govuk-tabs__panel" id="submission-details">
      {{ contractDetails.table(contract.details) }}

      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8">

      <h3 class="govuk-heading-l">
        General deal information
        <a class="govuk-link govuk-!-font-size-16 govuk-!-font-weight-regular" href="#">edit</a>
      </h3>

      <h4 class="govuk-heading-m">Supplier and counter-indemnifier/guarantor</h4>

      <dl class="govuk-summary-list govuk-summary-list--no-border">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-body-s">
            Supplier type
          </dt>
          <dd class="govuk-summary-list__value govuk-body-s">
            {{ contract.submissionDetails.supplierType }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-body-s">
            UK Supplier’s Companies House registration number, if UK registered
          </dt>
          <dd class="govuk-summary-list__value govuk-body-s">
            {{ contract.submissionDetails.supplierCompaniesHouseRegistrationNumber }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-body-s">
            Supplier name
          </dt>
          <dd class="govuk-summary-list__value govuk-body-s">
            {{ contract.submissionDetails.supplierName }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-body-s">
            Supplier address
          </dt>
          <dd class="govuk-summary-list__value govuk-body-s">
            {{ contract.submissionDetails.supplierAddress | safe }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-body-s">
            Is the Supplier's correspondence address different for the Company's Registered Address?
          </dt>
          <dd class="govuk-summary-list__value govuk-body-s">
            {{ contract.submissionDetails.suppliersCorrespondenceAddressDifferent }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-body-s">
            Industry sector
          </dt>
          <dd class="govuk-summary-list__value govuk-body-s">
            {{ contract.submissionDetails.industrySector }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-body-s">
            Industry class
          </dt>
          <dd class="govuk-summary-list__value govuk-body-s">
            {{ contract.submissionDetails.industryClass }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-body-s">
            SME type
          </dt>
          <dd class="govuk-summary-list__value govuk-body-s">
            {{ contract.submissionDetails.smeType }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-body-s">
            Description of supply contract
          </dt>
          <dd class="govuk-summary-list__value govuk-body-s">
            {{ contract.submissionDetails.supplyContractDescription }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-body-s">
            Is the counter-indemnifier (for bonds) or guarantor (for loans) legally distinct from the supplier? 
          </dt>
          <dd class="govuk-summary-list__value govuk-body-s">
            {% if contract.submissionDetails.legallyDistinct %}
              Yes
            {% else %}
              No
            {% endif %}
          </dd>
        </div>
      </dl>

      <h4 class="govuk-heading-m">Buyer</h4>

      <dl class="govuk-summary-list govuk-summary-list--no-border">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-body-s">
            Buyer name
          </dt>
          <dd class="govuk-summary-list__value govuk-body-s">
            {{ contract.submissionDetails.buyer.name }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-body-s">
            Country of buyer
          </dt>
          <dd class="govuk-summary-list__value govuk-body-s">
            {{ contract.submissionDetails.buyer.country }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-body-s">
            Destination of goods and services 
          </dt>
          <dd class="govuk-summary-list__value govuk-body-s">
            {{ contract.submissionDetails.buyer.goodsServicesDestination }}
          </dd>
        </div>

      </dl>

      <h4 class="govuk-heading-m">Financial information</h4>

      <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-body-s">
            Supply Contract value (in Supply Contract currency)
          </dt>
          <dd class="govuk-summary-list__value govuk-body-s">
            {{ contract.submissionDetails.supplyContractFinancials.value }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-body-s">
            Supply Contract currency
          </dt>
          <dd class="govuk-summary-list__value govuk-body-s">
            {{ contract.submissionDetails.supplyContractFinancials.currency }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-body-s">
            Conversion rate from Supply Contract currency to GBP
          </dt>
          <dd class="govuk-summary-list__value govuk-body-s">
            {{ contract.submissionDetails.supplyContractFinancials.conversionRateToGBP }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-body-s">
            Supply Contract conversion date, as determined by the bank(Supply Contract currency to GBP)
          </dt>
          <dd class="govuk-summary-list__value govuk-body-s">
            {{ contract.submissionDetails.supplyContractFinancials.conversionDate }}
          </dd>
        </div>

      </dl>

      <h3 class="govuk-heading-l">
        Confirm eligibility
        <a class="govuk-link govuk-!-font-size-16 govuk-!-font-weight-regular" href="#">edit</a>
      </h3>

      {{ mandatoryCriteriaBox.success(mandatoryCriteria)}}

      {{ eligibilityCriteria.answers(contract.submissionDetails.eligibilityCriteria)}}

      {{ supportingDocumentation.answers(contract.submissionDetails.supportingDocumentation)}}

      <h3 class="govuk-heading-l">
        Bond
        <a class="govuk-link govuk-!-font-size-16 govuk-!-font-weight-regular" href="#">edit</a>
      </h3>

      <h4 class="govuk-heading-m">Bond details</h4>

      <dl class="govuk-summary-list govuk-summary-list--no-border">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-body-s">
            Bond issuer
          </dt>
          <dd class="govuk-summary-list__value govuk-body-s">
            {{ contract.submissionDetails.bond.issuer }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-body-s">
            Bond type
          </dt>
          <dd class="govuk-summary-list__value govuk-body-s">
            {{ contract.submissionDetails.bond.type }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-body-s">
            Bond stage
          </dt>
          <dd class="govuk-summary-list__value govuk-body-s">
            {{ contract.submissionDetails.bond.stage }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-body-s">
            Requested Cover Start Date
          </dt>
          <dd class="govuk-summary-list__value govuk-body-s">
            {{ contract.submissionDetails.bond.cover.requestedStartDate }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-body-s">
            Cover End Date
          </dt>
          <dd class="govuk-summary-list__value govuk-body-s">
            {{ contract.submissionDetails.bond.cover.endDate }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-body-s">
            Bond's unique identification number
          </dt>
          <dd class="govuk-summary-list__value govuk-body-s">
            {{ contract.submissionDetails.bond.uniqueIdentificationNumber }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-body-s">
            Bond beneficiary
          </dt>
          <dd class="govuk-summary-list__value govuk-body-s">
            {{ contract.submissionDetails.bond.beneficiary }}
          </dd>
        </div>

      </dl>


      <h4 class="govuk-heading-m">Bond financial details</h4>

      <dl class="govuk-summary-list govuk-summary-list--no-border">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-body-s">
            Bond value
          </dt>
          <dd class="govuk-summary-list__value govuk-body-s">
            {{ contract.submissionDetails.bond.financial.value }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-body-s">
            Is the currency for this Transaction the same as your Supply Contract currency?
          </dt>
          <dd class="govuk-summary-list__value govuk-body-s">
            {% if contract.submissionDetails.bond.financial.transactionCurrencySameAsSupplyContractCurrency %}
              Yes
            {% else %}
              No
            {% endif %}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-body-s">
            Risk Margin Fee %
          </dt>
          <dd class="govuk-summary-list__value govuk-body-s">
            {{ contract.submissionDetails.bond.financial.riskMarginFee }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-body-s">
            Covered Percentage
          </dt>
          <dd class="govuk-summary-list__value govuk-body-s">
            {{ contract.submissionDetails.bond.financial.coveredPercentage }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-body-s">
            Minimum risk margin fee
          </dt>
          <dd class="govuk-summary-list__value govuk-body-s">
            {{ contract.submissionDetails.bond.financial.minimumRiskMarginFee }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-body-s">
            Guarantee fee payable by bank
          </dt>
          <dd class="govuk-summary-list__value govuk-body-s">
            {{ contract.submissionDetails.bond.financial.guaranteeFeePayableByBank }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-body-s">
            UKEF exposure
          </dt>
          <dd class="govuk-summary-list__value govuk-body-s">
            {{ contract.submissionDetails.bond.financial.uKefExposure }}
          </dd>
        </div>

      </dl>
      

      <h4 class="govuk-heading-m">Fee details</h4>

      <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-8">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-body-s">
            Fee type
          </dt>
          <dd class="govuk-summary-list__value govuk-body-s">
            {{ contract.submissionDetails.bond.fee.type }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-body-s">
            Fee frequency
          </dt>
          <dd class="govuk-summary-list__value govuk-body-s">
            {{ contract.submissionDetails.bond.fee.frequency }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-body-s">
            Day count basis
          </dt>
          <dd class="govuk-summary-list__value govuk-body-s">
            {{ contract.submissionDetails.bond.fee.dayCountBasis }}
          </dd>
        </div>

      </dl>


      <p class="govuk-body"><a href="/contract/{{ id }}" class="govuk-link">Back to Supply Contract page</a></p>

    </section>

  </div>

{% endblock %}
