{% extends "cases/case.html" %}
{% set selected = 'exposure' %}
{% block sub_content %}
<script type = "text/javascript" src = "https://www.gstatic.com/charts/loader.js"></script>
<script type = "text/javascript">
    google.charts.load('current', {packages: ['corechart']});     
</script>
<script language = "JavaScript">
  function drawChart() {
    // Define the chart to be drawn.
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Browser');
    data.addColumn('number', 'Percentage');
    data.addRows([
        ['Issued guarantees', 394870.38],
        ['Committed guarantees', 5714285.71],
        ['Other applications', 0],
        ['This application', 3468195.18],
        ['Remaining headroom', 422648.73]
    ]);
        
    // Set chart options
    var options = {
      //  'title':'UKEF exposure',
        'colors': ['#1D70B8', '#F47738', '#912B88', '#28A197', '#F3F2F1'],
        tooltip: { textStyle: { fontName: 'Helvetica', fontSize: 16 }, text: 'value' }, 
        'width':250,
        'height':250,
        chartArea:{left:0,top:50,width:"100%",height:"100%"},
        pieHole: 0.4,
        legend: 'none',
        pieSliceText: 'none',

    };

    // Instantiate and draw the chart.
    var chart = new google.visualization.PieChart(document.getElementById('container'));
    chart.draw(data, options);
  }
  google.charts.setOnLoadCallback(drawChart);
</script>
<div class="govuk-grid-row tfm tfm-width">
  <div class="govuk-grid-column-three-quarters">
    <p class="header-label">Exposure</p>
  </div>
</div>
<div class="govuk-grid-row tfm tfm-width ">
  <div class="govuk-grid-column-two-thirds separator-line moj-task-list__items">
    <h2>Exposure check</h2>
    {% if data['exposure-happy'] %}
      <table>
        <tr>
          <td class="moj-class-list__item" style="width:600px;font-weight:bold;">Level of exposure is</td>
          <td class="moj-class-list__item" style="width:200px;">{% if data['exposure-happy'] == 'yes' %}<span class="label--green">ACCEPTABLE</span>{% else %} <span class="label--red">NOT ACCEPTABLE</span> {% endif %}<td/>
          <td/>
          <td style="width:80px"><a href="/cases/exposure/exposure-check">Change</a></td>
        </tr>
      </table>
      <p>
        {{ data['exposure-happy-comment']}}
      </p>
    {% else %}
      <table>
        <tr>
          <td colspan="2" class="moj-class-list__item" style="font-size:24px;width:800px;"><a href="/cases/exposure/exposure-check">Are you satisfied with the level of exposure this case will add?</a></td>
          <td style="width:80px"><span class="label--blue">TO DO</span></td>
        </tr>
      </table>
    {% endif %}
  </div>
</div>
<div class="govuk-grid-row tfm tfm-width ">
  <div class="govuk-grid-column-one-third separator-line exposure-summary ">
    <table>
      <tr>
        <th colspan="3" style="text-align:left"><h2>UKEF exposure</h2></td>
      </tr>
      <tr>
        <td>Exporter's limit</td>
        <td/>
        <td>GBP</td>
        <td>10,000,000.00</td>
      </tr>
      <tr>
        <td>Issued guarantees</td>
        <td><span class="dot" style="background-color: #1D70B8"/></td>
        <td>GBP</td>
        <td>394,870.38</td>
      </tr>
      <tr>
        <td>Committed guarantees</td>
        <td><span class="dot" style="background-color: #F47738"/></td>
        <td>GBP</td>
        <td>5,714,285.71</td>
      </tr>
      <tr>
        <td>Other applications</td>
        <td><span class="dot" style="background-color: #912B88"/></td>
        <td>GBP</td>
        <td>0</td>
      </tr>
      <tr>
        <td>This application</td>
        <td><span class="dot" style="background-color: #28A197"/></td>
        <td>GBP</td>
        <td>3,468,195.18</td>
      </tr>
      <tr>
        <td>Remaining headroom</td>
        <td><span class="dot" style="background-color: #F3F2F1"/></td>
        <td>GBP</td>
        <td>422,648.73</td>
      </tr>
    </table>
  </div>
  <div class="govuk-grid-column-one-third separator-line" style="padding-left:0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half" style="padding-left:0">
        <div id = "container" style = "width: 200px; height: 200px; align:left;"></div>  
      </div>
      <div class="govuk-grid-column-one-half"/>
    </div>
  </div>
</div>
<div class="govuk-grid-row case-exposure tfm tfm-width">
  <div class="govuk-grid-column-full separator-line" style="margin-left:10px">
      <h2>New guarantee requests</h2>
      <table>
        <tr>
          <th>Facility ID</th>
          <th>Type</th>
          <th>Status</th>
          <th>Expected issue date</th>
          <th>Tenor</th>
          <th>Expected expiry date</th>
          <th>Value (GBP)</th>
          <th>Value (currency)</th>
          <th>Exposure</th>
          <th>Expected loss</th>
        </tr>
        <tr class= "table-line">
          <td colspan="10" >
            <span class="label--graygreen"><a href="#">0020010552</a> Provision of education services and material to Kingdom of Wakanda Colleges of Excellence</span>
          </td>
        </tr>
        <tr class= "table-line">
          <td><a href="#">0020010552</a></td>
          <td>BSS</td>
          <td>Underwriting</td>
          <td>11 Dec 2019</td>
          <td>9 mths</td>
          <td>31 Aug 2020</td>
          <td>GBP 3,468,195.18</td>
          <td>(SAR) 17,346,525.00</td>
          <td>GBP 2,774,566.14 (80%)</td>
          <td>2.45%</td>       
        </tr>
        <tr style="font-weight: bold">
          <td colspan="6">Totals</td>
          <td>GBP 3,468,195.18</td>
          <td>(SAR) 17,346,525.00</td>
          <td>GBP 2,774,566.14 (80%)</td>
          <td></td>   
        </tr>
      </table>
   </div>
</div>
<div class="govuk-grid-row case-exposure tfm tfm-width">
   <div class="govuk-grid-column-full separator-line">
      <h2>Existing UKEF guarantees</h2>
      <table>
        <tr>
          <th>Facility ID</th>
          <th>Type</th>
          <th>Status</th>
          <th>Expected issue date</th>
          <th>Tenor</th>
          <th>Expected expiry date</th>
          <th>Value (GBP)</th>
          <th>Value (currency)</th>
          <th>Exposure</th>
          <th>Expected loss</th>
        </tr>
        <tr class= "table-line">
          <td colspan="10">
            <span class="label--graygreen"><a href="#">0020010552</a> Provision of education services and material to Kingdom of Wakanda Colleges of Excellence</span>
          </td>
        </tr>
        <tr class= "table-line">
          <td><a href="#">0020010552</a></td>
          <td>BSS</td>
          <td>Underwriting</td>
          <td>11 Dec 2019</td>
          <td>9 mths</td>
          <td>31 Aug 2020</td>
          <td>GBP 3,468,195.18</td>
          <td>(SAR) 17,346,525.00</td>
          <td>GBP 2,774,566.14 (80%)</td>
          <td>2.45%</td>       
        </tr>
        <tr class= "table-line">
          <td colspan="10">
            <span class="label--graygreen"><a href="#">0020010552</a> Provision of education services and material to Kingdom of Wakanda Colleges of Excellence</span>
          </td>
        </tr>
        <tr class= "table-line">
          <td><a href="#">0020010552</a></td>
          <td>BSS</td>
          <td>Underwriting</td>
          <td>11 Dec 2019</td>
          <td>9 mths</td>
          <td>31 Aug 2020</td>
          <td>GBP 3,468,195.18</td>
          <td>(SAR) 17,346,525.00</td>
          <td>GBP 2,774,566.14 (80%)</td>
          <td>2.45%</td>       
        </tr>
        <tr style="font-weight: bold">
          <td>Totals</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>GBP 3,468,195.18</td>
          <td>(SAR) 17,346,525.00</td>
          <td>GBP 2,774,566.14 (80%)</td>
          <td></td>   
        </tr>
      </table>
   </div>
</div>
{% endblock %}