{% extends "layout_navbar.html" %}
{% set primary = 'inbox' %}

{% block content %}
    <div class="govuk-grid-row tfm">
      <div class="govuk-grid-column-full">
<p class="header-label">Add to an existing case</p>
      </div>
    </div>
    <div class="govuk-grid-row tfm">
      <div class="govuk-grid-column-full">
<table  class="govuk-table tfm tfm-width">
<tbody class="govuk-table__body">
<tr class="govuk-table__row">
    <td class="govuk-table__cell"></td>
    <td class="govuk-table__cell"></td>
    <td class="govuk-table__cell"></td>
    <td class="govuk-table__cell"></td>
    <td class="govuk-table__cell"></td>
    <td class="govuk-table__cell"></td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell">0020010552</td>
    <td class="govuk-table__cell">Love to Learn Ltd</td>
    <td class="govuk-table__cell">Kingdom of Wakanda Colleg...</td>
    <td class="govuk-table__cell">Education</td>
    <td class="govuk-table__cell">LLoyds bank</td>
    <td class="govuk-table__cell">16 Dec 2019</td>
</tr>
</tbody>
</table>
</div>
</div>
    <div class="govuk-grid-row tfm tfm-width add-to-case">
      <div class="govuk-grid-column-full">
<h2>Select an existing case</h2>
<table class="govuk-table tfm tfm-width" >
         <tr class="govuk-table__row">
             <th class="govuk-table__cell">Case ref</th>
             <th class="govuk-table__cell">Type of work</th>
            <th class="govuk-table__cell">Exporter</th>
            <th class="govuk-table__cell">Deal</th>
            <th class="govuk-table__cell">Buyer</th>
            <th class="govuk-table__cell">Bank</th>
         </tr>
         <tr class="govuk-table__row">
            <td>
                <input type="radio" id='regular' class="tfm-radio" name="optradio"><a href="#">C0198</a>
            </td>
            <td>
                <span class="label--graygreen">MIA</span>
            </td>
            <td>Love to Learn Ltd</td>
            <td>0020010012</td>
            <td>Republic of Asgard</td>
            <td>Royal Bank of Scotland</td>
         </tr>
        <tr>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell">0020010013</td>
            <td class="govuk-table__cell">Folding Circle</td>
            <td class="govuk-table__cell">Royal Bank of Scotland</td>
         </tr>
         <tr>
             <td>
                <input type="radio" id='regular' class="tfm-radio" name="optradio"><a href="#">C0234</a>
             </td>
             <td>
                <span class="label--graygreen">MIA</span>
             </td>
            <td>Love to Learn Ltd</td>
            <td>0020010415</td>
            <td>Beyond Corporation</td>
            <td>HSBC</td>
         </tr>
</table>
</div>
</div>
    <div class="govuk-grid-row tfm tfm-width">
      <div class="govuk-grid-column-one-third flex-container">
        <a class="govuk-button" data-module="govuk-button" href="/cases/tasks">Continue</a>
        <a href="/inbox" class="cancel-link">Cancel</a>
      </div>
    </div>
{% endblock%}