node_modules
dist
.npm
Dockerfile
docker-compose*.yml
**/.env*/*
.eslintignore
.cspell.json
commitlint.config.js
jest.config.ts
renovate.json
.dockerignore
.editorconfig
.prettierrc.json
.eslintrc.json
.git
.gitattributes
.github
.gitignore
.husky
.prettierignore
.whitesource
README.md
CHANGELOG.md
LICENSE
README.md
.config
secrets/**
jwt_key
**/*logs*/*
**/*.log/*
.DS_Store
Library/
coverage
**/cypress/videos
**/cypress/screenshots
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
reporting/tfm/report/*
**/generated_reports
**/temp/*
utils/**/actionsheets/*
utils/**/json/*
utils/**/amendments/*
utils/**/exports/*
**/bss-ewcs/dump/*
**/bss-ewcs/data/*
**/gef/dump/*
**/gef/data/*
