{% from "govuk/components/tag/macro.njk" import govukTag %}

{% macro render(answer) %}

  {% if answer === 'true' %}
    {% set answerText = 'Passed' %}
    {% set answerClass = 'govuk-tag--green' %}
  {% endif %}

  {% if answer === 'false' %}
    {% set answerText = 'Failed' %}
    {% set answerClass = 'govuk-tag--red' %}
  {% endif %}

  {{govukTag({
    text: answerText,
    classes: answerClass
  })}}

{% endmacro %}
