{% macro render(params) %}
  {% set facilities = params.facilities %}

  <table class="govuk-table" data-cy="facilities-table">
    <thead class="govuk-table__head">
      <tr>
        <th class="govuk-table__header govuk-body-s" data-cy="facilities-table-heading-facility-id">Facility ID</th>
        <th class="govuk-table__header govuk-body-s" data-cy="facilities-table-heading-product">Product</th>
        <th class="govuk-table__header govuk-body-s" data-cy="facilities-table-heading-type">Type</th>
        <th class="govuk-table__header govuk-body-s" data-cy="facilities-table-heading-stage">Stage</th>
        <th class="govuk-table__header govuk-body-s" data-cy="facilities-table-heading-tenor">Tenor</th>
        <th class="govuk-table__header govuk-body-s" data-cy="facilities-table-heading-cover-end-date">Cover end date</th>
        <th class="govuk-table__header govuk-body-s" data-cy="facilities-table-heading-value-export-currency">Value (export currency)</th>
        <th class="govuk-table__header govuk-body-s" data-cy="facilities-table-heading-value-gbp">Value (GBP)</th>
        <th class="govuk-table__header govuk-body-s" data-cy="facilities-table-heading-ukef-exposure">UKEF exposure</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for facility in facilities %}
        <tr class="govuk-table__row" data-cy="facilities-table-row">
          <td class="govuk-table__cell govuk-body-s" data-cy="facility-{{ facility._id }}-id">&nbsp;</td>
          <td class="govuk-table__cell govuk-body-s" data-cy="facility-{{ facility._id }}-product">{{ facility.facilityProduct }}</td>
          <td class="govuk-table__cell govuk-body-s" data-cy="facility-{{ facility._id }}-type">{{ facility.facilityType | dashIfEmpty}}</td>
          <td class="govuk-table__cell govuk-body-s" data-cy="facility-{{ facility._id }}-stage">&nbsp;</td>
          <td class="govuk-table__cell govuk-body-s" data-cy="facility-{{ facility._id }}-tenor">&nbsp;</td>
          <td class="govuk-table__cell govuk-body-s" data-cy="facility-{{ facility._id }}-cover-end-date">{{ facility.coverEndDate }} (expected)</td>
          <td class="govuk-table__cell govuk-body-s" data-cy="facility-{{ facility._id }}-value-export-currency">&nbsp;</td>
          <td class="govuk-table__cell govuk-body-s" data-cy="facility-{{ facility._id }}-value-gbp">&nbsp;</td>
          <td class="govuk-table__cell govuk-body-s">
            <span data-cy="facility-{{ facility._id }}-ukef-exposure">{{ facility.ukefExposure}}</span>
            <span data-cy="facility-{{ facility._id }}-covered-percentage" class="govuk-!-padding-right-4" style="float:right;">
            ({{ facility.coveredPercentage }})
            </span>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endmacro %}
