
{% macro render(opts) %}
  {% set deal = opts.deal %}
  {% set validationErrors = opts.validationErrors %}
  {% set industrySectors = opts.industrySectors %}

  {# not able to switch these -> govuk components while we are applying javascript hooks #}
  <div class="govuk-form-group">
    <label class="govuk-label" for="industrySector">
      Industry sector
    </label>
    <select data-cy="industrySector" class="govuk-select govuk-!-width-one-half" id="industrySector" name="industrySector" onChange="onChangeIndustrySector(event)">
      <option value="">Select value</option>
      {% for sector in industrySectors %}
        <option value="{{ sector.code }}" {% if deal.submissionDetails.industrySector.code === sector.code %}selected{% endif %}>{{ sector.name}}</option>
      {% endfor %}
    </select>
  </div>


{% endmacro %}
