
{% macro render(opts) %}
  {% set deal = opts.deal %}
  {% set validationErrors = opts.validationErrors %}
  {% set industrySectors = opts.industrySectors %}

  <div class="govuk-form-group">
    <label class="govuk-label" for="industry-class">
      Industry class
    </label>
    <select data-cy="industry-class" class="govuk-select govuk-!-width-one-half" id="industry-class" name="industry-class">
      <option value="">Select value</option>

      {# [dw] slight hack; pre-populating this 'manually' in the case of rendering with industrySector pre-selected rather than add to weight of in-browser js #}
        {% for industrySector in industrySectors %}
          {% if deal.submissionDetails["industry-sector"].code === industrySector.code %}
            {% for industryClass in industrySector.classes %}
              <option value="{{ industryClass.code }}" {% if deal.submissionDetails["industry-sector"].class.code === industryClass.code %}selected{% endif %}>{{industryClass.name}}</option>
            {% endfor %}
          {% endif %}
        {% endfor %}

    </select>
  </div>


{% endmacro %}
