{% from "govuk/components/select/macro.njk" import govukSelect %}

{% macro render(opts) %}
  {% set deal = opts.deal %}
  {% set validationErrors = opts.validationErrors %}

  {{ govukSelect({
    id: "supplierType",
    name: "supplierType",
    label: { text: "Supplier type" },
    hint: { text: "Where the supplier is a UK Supplier, please ensure that it has provided a UK Supplier Declaration" },
    attributes: { "data-cy": "supplierType" },
    items: [
      {
        value: "",
        text: "Select value"
      }, {
        value: "Exporter",
        text: "Exporter",
        selected: deal.submissionDetails.supplierType === "Exporter"
      }, {
        value: "UK Supplier",
        text: "UK Supplier",
        selected: deal.submissionDetails.supplierType === "UK Supplier"
      }
    ]
  }) }}

{% endmacro %}
