{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% macro render(opts) %}
  {% set deal = opts.deal %}
  {% set validationErrors = opts.validationErrors %}

  {{ govukTextarea({
    label: { text: "Description of supply contract" },
    hint: { text: "You can enter up to 300 characters" },
    attributes : { "data-cy" : "supply-contract-description" },
    name: "supply-contract-description",
    id: "supply-contract-description",
    value: deal.submissionDetails["supply-contract-description"],
    errorMessage: validationErrors.errorList["supply-contract-description"]
  }) }}

{% endmacro %}
