{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% import './address-fields.njk' as address %}
{% import './input-companies-house-reg-number.njk' as companiesHouse %}

{% macro render(opts) %}
  {% set deal = opts.deal %}
  {% set countries = opts.mappedCountries %}
  {% set validationErrors = opts.validationErrors %}

  {{ companiesHouse.input({
    deal: deal,
    prefix: 'supplier',
    label: "UK Supplier's Companies House registration number, if UK registered (optional)",
    validationErrors: validationErrors
  }) }}

  {{ govukCharacterCount({
      name: "supplier-name",
      id: "supplier-name",
      value: deal.submissionDetails["supplier-name"],
      maxlength: 150,
      classes: "govuk-!-width-one-half",
      label: {
        text: "Supplier name"
      },
      errorMessage: validationErrors.errorList["supplier-name"] and {
        text: validationErrors.errorList["supplier-name"].text
      },
      attributes: {
        "data-cy": "supplier-name"
      }
    }) }}

  {{ address.fields(
    deal = deal,
    validationErrors = validationErrors,
    id = "supplier-address",
    legend = "Supplier address",
    countries = countries,
    hint = "This should be the supplier's principal place of business"
  )}}
{% endmacro %}
