{% extends "index.njk" %}

{% block pageTitle %}
  Which users activity should be featured in the report?
{% endblock %}

{% block content %}
  <h1 class = "govuk-heading-xl">
    Which users activity should be featured in the report?
  </h1>
{% endblock %}