{% extends "cases/case.html" %}
{% set selected = 'tasks' %}
{% block sub_content %}
<div class="govuk-grid-row tfm tfm-width">
    <div class="govuk-grid-column-two-thirds">
          <p class="header-label">Tasks</p>
      {%- from "moj/components/task-list/macro.njk" import mojTaskList -%}
      {{ mojTaskList({
        sections: [
        {
          heading: {
            text: 'Exposure check'
          },
          items: [{
            text: 'Are you satisfied with the level of exposure this case will add?',
            href: 'exposure',
            complete: true
          }]
      },
      {
        heading: {
          text: 'Pricing check'
        },
        items: [{
          text: 'Select a risk rating for this case',
          href: 'pricing',
          complete: false
        }]
      },
      {
        heading: {
          text: 'Credit analysis'
        },
        items: [{
          text: 'Complete your credit analysis',
          href: 'credit-analysis',
          complete: false
        }]
      }
      ]
      }) }}
    </div>
    <div class="govuk-grid-column-one-third">
      <p class="header-label">Activity</p>
      <div class="moj-timeline">
        <div class="moj-timeline__item">

          <div class="moj-timeline__header">
            <h2 class="moj-timeline__title">Application requires confirmation</h2>

            <p class="moj-timeline__byline">by Joe Bloggs</p>

          </div>

          <p class="moj-timeline__date">
            <time datetime="2019-06-14T14:01:00.000Z">14 June 2019 at 2:01pm</time>
          </p>

          <div class="moj-timeline__description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non felis risus. Curabitur nec ante vitae felis ullamcorper tincidunt.</p>
          </div>

        </div>

        <div class="moj-timeline__item">

          <div class="moj-timeline__header">
            <h2 class="moj-timeline__title">Application review in progress</h2>

            <p class="moj-timeline__byline">by Caseworker 1</p>

          </div>

          <p class="moj-timeline__date">
            <time datetime="2019-06-07T12:32:00.000Z">7 June 2019 at 12:32pm</time>
          </p>

          <div class="moj-timeline__description">Your application is being reviewed by one of our case workers.</div>

        </div>

        <div class="moj-timeline__item">

          <div class="moj-timeline__header">
            <h2 class="moj-timeline__title">Application received</h2>

            <p class="moj-timeline__byline">by Caseworker 1</p>

          </div>

          <p class="moj-timeline__date">
            <time datetime="2019-06-06T09:12:00.000Z">6 June 2019 at 9:12am</time>
          </p>

          <div class="moj-timeline__description">Your application has been received – reference MOJ-1234-5678</div>

        </div>

        <div class="moj-timeline__item">

          <div class="moj-timeline__header">
            <h2 class="moj-timeline__title">Application submitted</h2>

            <p class="moj-timeline__byline">by Joe Bloggs</p>

          </div>

          <p class="moj-timeline__date">
            <time datetime="2019-05-28T10:45:00.000Z">28 May 2019 at 10:45am</time>
          </p>

          <div class="moj-timeline__description">
            <details class="govuk-details govuk-!-margin-bottom-0">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">Application details</span>
              </summary>
                    <div class="govuk-details__text">
            Ut quam nunc, vulputate ac metus pharetra, posuere maximus velit. <a href="https://www.google.com">Etiam nec interdum velit.</a> Suspendisse molestie lectus in eros ornare
            </div>
            </details>
          </div>

        </div>

        <div class="moj-timeline__item">

          <div class="moj-timeline__header">
            <h2 class="moj-timeline__title">Documents uploaded</h2>

            <p class="moj-timeline__byline">by Joe Bloggs</p>

          </div>

          <p class="moj-timeline__date">
            <time datetime="2019-05-28T10:15:00.000Z">28 May 2019 at 10:15am</time>
          </p>

          <div class="moj-timeline__description">
            <ul class="moj-timeline__documents">
              <li class="moj-timeline__document-item">
                <a class="moj-timeline__document-link" href="#">Document 1</a>
              </li>
              <li class="moj-timeline__document-item">
                <a class="moj-timeline__document-link" href="#">Document 1</a>
              </li>
            </ul>
          </div>

        </div>

        <div class="moj-timeline__item">

          <div class="moj-timeline__header">
            <h2 class="moj-timeline__title">Application started</h2>

            <p class="moj-timeline__byline">by Joe Bloggs</p>

          </div>

          <p class="moj-timeline__date">
            <time datetime="2019-05-21T13:15:00.000Z">21 May 2019 at 1:15pm</time>
          </p>



            </div>
          </div>
        </div>

{% endblock %}