{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}

{% macro render(params) %}

  {% set errorMessage = params.errorMessage %}
  {% set fieldId = params.fieldId %}
  {% set options = params.options %}
  {% set inputContainerClasses = params.inputContainerClasses %}
  {% set label = params.label %}

  {% if errorMessage %}
    {{ govukErrorMessage({
      text: errorMessage,
      attributes: {
        "data-cy": fieldId + "-error-message"
      }
    }) }}
  {% endif %}

  <div class="{{ inputContainerClasses }}" data-cy="accessible-autocomplete-select-{{ fieldId }}">

    {% if label %}
      <label for="{{ fieldId }}" class="govuk-label govuk-label--s" data-cy="{{ fieldId }}-label">{{ label }}</label>
    {% endif %}

    <select class="govuk-select" id="{{ fieldId }}" name="{{ fieldId }}" data-cy="{{ fieldId }}-select">
      <option value="" disabled selected data-cy="{{ fieldId }}-placeholder-option"></option>

      {% for option in options %}
        {% if option.selected %}
          <option value="{{ option.value }}" data-cy="option-{{ option.value}}" selected>{{ option.text }}</option>
        {% else %}
          <option value="{{ option.value }}" data-cy="option-{{ option.value}}">{{ option.text }}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>

  <script src="/assets/js/accessibleAutocomplete.js" type="module" integrity="sha512-HpHhIJuWO7UgVrJ5F0TShRp7VbXsSC9rusls5dSNUddRBsd1YMZtJc/wVS/9doIpnyYbfp0aT/nd9QgO7Pc9tA==" crossorigin="anonymous" data-cy="{{ fieldId }}-accessible-autocomplete-script"></script>

{% endmacro %}
