{%- from "moj/components/banner/macro.njk" import mojBanner -%}

{% macro render(message) %}
  {{ mojBanner({
    type: 'success',
    classes: 'govuk-!-padding-top-7',
    text: message,
    iconFallbackText: 'Success',
    attributes: {
    'data-cy': 'success-banner'
    }
    }) }}
{% endmacro %}
