{%- from "moj/components/banner/macro.njk" import mojBanner -%}

{% macro render(message) %}

  <div class="govuk-!-padding-top-7">

    {{ mojBanner({
      type: 'success',
      text: message,
      iconFallbackText: 'Success',
      attributes: {
        'data-cy': 'success-banner'
      }
    }) }}

  <div />

{% endmacro %}