{% macro render(params) %}
  {% set checkboxId = params.checkboxId %}
  {% set label = params.label %}

  <div class="govuk-checkboxes govuk-checkboxes--small">
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input govuk-!-top-0 bank-select-checkbox-input" id="{{ checkboxId }}" name="{{ checkboxId }}" type="checkbox"/>
      <label class="govuk-label govuk-checkboxes__label govuk-!-padding-0 bank-select-checkbox-label" for="{{ checkboxId }}">
        {{ label | safe }}
      </label>
    </div>
  </div>
{% endmacro %}
