{% macro render(params) %}
  {% set defaultSortByOrder = 'ascending' %}

  {% set tableName = params.tableName %}
  {% set fieldName = params.fieldName %}
  {% set buttonText = params.buttonText %}
  {% set buttonValue = params.buttonValue %}
  {% set activeSortByOrder = params.activeSortByOrder %}
  {% set activeSortByField = params.activeSortByField %}

  {% set fieldHasActiveSortBy = (activeSortByField === buttonValue) %}

  {% set buttonName = 'ascending' %}

  {% if fieldHasActiveSortBy and activeSortByOrder === 'ascending' %}
    {% set buttonName = 'descending' %}
  {% endif %}

  {% set autofocusAttribute = (params.sortButtonWasClicked and fieldHasActiveSortBy and 'autofocus') or '' %}

  <div>
    <th
      class="govuk-table__header"
      data-cy="{{ tableName }}-table-heading-{{ fieldName }}"
      aria-sort="{{ (fieldHasActiveSortBy and activeSortByOrder) or (fieldHasActiveSortBy and defaultSortByOrder) or 'none' }}"
    >
      <button
        type="submit"
        name="{{ buttonName }}"
        value="{{ buttonValue }}"
        data-cy="{{ tableName }}-table-heading-{{ fieldName }}-button"
        {{ autofocusAttribute }} >
        {{ buttonText }}
        <span aria-hidden="true"></span>
      </button>
    </th>

  </div>

{% endmacro %}
