{% extends "index.njk" %}
{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% import '_macros/success-message.njk' as success %}
{% import '_macros/dashboard-sub-nav.njk' as dashboardSubNav %}
{% import '_macros/pagination.njk' as pagination %}

{% import './_macros/dashboard-filters-action-bar.njk' as dashboardFitlersActionBar %}
{% import './_macros/dashboard-filters-panel.njk' as dashboardFiltersPanel %}

{% block pageTitle %}Deals{% endblock %}

{% block content %}

  {% if successMessage %}
    {{ success.message(
      message = successMessage
    ) }}
  {% endif %}

  {{ mojPageHeaderActions({
    heading: {
      html: '<h1 class="govuk-heading-xl">Applications and notices</h1>'
    },
    items: user.roles.includes('maker') and [{
      text: 'Create new',
      attributes: {"data-cy":"CreateNewSubmission"},
      href: "/select-scheme"
    }]
  }) }}

  {{ dashboardSubNav.subnav(selected = tab) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      &nbsp
    </div>
  </div>

  {% set items = [] %}
  {% for deal in deals %}
    {% set path = '/gef/application-details/' if deal.product === "GEF" else "/contract/" %}
    {% set linkHtml %}
      <a
        href="{{ path }}{{ deal._id }}"
        class="govuk-link"
        data-cy="deal__link--{{ deal._id }}"
      >
        {{ deal.bankInternalRefName }}
      </a>
    {% endset %}
    {% set item = [
      {
        text: deal.exporter or "-",
        attributes: { "data-cy": "deal__exporter--" + deal._id  }
      },
      {
        html: linkHtml,
        attributes: { "data-cy": "deal__bankRef--bankInternalRefName" + deal._id }
      },
      {
        text: deal.product or "-",
        attributes: { "data-cy": "deal__product--" + deal._id }
      },
      {
        text: deal.submissionType or "-",
        attributes: { "data-cy": "deal__submissionType--" + deal._id }
      },
      {
        text: deal.status or "-",
        attributes: { "data-cy": "deal__status--" + deal._id }
      },
      {
        text: deal.updatedAt | localiseTimestamp("D MMM YYYY", user.timezone) or "-",
        attributes: {
        'data-cy': 'deal__updated--' + deal._id }
      }
    ] %}

    {% set items = (items.push(item), items) %}
  {% endfor %}

  <div class="moj-filter-layout">

    {{dashboardFiltersPanel.render({
      filters: filters,
      selectedFilters: selectedFilters,
      keyword: keyword
    })}}

    <div class="moj-filter-layout__content">

      {{dashboardFitlersActionBar.render({
        createdByYou: createdByYou,
        selectedFilters: selectedFilters
      })}}

      <div class="moj-scrollable-pane">

        <div class="moj-scrollable-pane__wrapper">

          {{ govukTable({
            classes: "govuk-table govuk-!-margin-bottom-0",
            attributes: {
            'data-module': 'moj-sortable-table'
          },
            head: [
              {
                text: "Exporter",
                attributes: {
                "data-cy": "deal__header--exporter",
                "aria-sort": "none"
              }
              },
              {
                text: "Bank ref",
                attributes: {
                "data-cy": "deal__header--bankRef"
              }
              },
              {
                text: "Product",
                attributes: {
                "data-cy": "deal__header--product"
              }
              },
              {
                text: "Type",
                attributes: {
                "data-cy": "deal__header--type"
              }
              },
              {
                text: "Status",
                attributes: {
                "data-cy": "deal__header--status"
              }
              },
              {
                text: "Last updated",
                attributes: {
                "data-cy": "deal__header--updated"
              }
              }
            ],
            rows: items
          }) }}

          {{ pagination.pagination(totalPages = pages.totalPages, currentPage = pages.currentPage, totalItems = pages.totalItems, paginationRoot = '/dashboard/deals' ) }}

        </div>

      </div>
    </div>
  </div>

{% endblock %}


{% block scripts %}
  <script>
    if (typeof MOJFrontend.FilterToggleButton !== 'undefined') {
      new MOJFrontend.FilterToggleButton({
        bigModeMediaQuery: "(min-width: 48.063em)",
        startHidden: true,
        toggleButton: {
          container: $(".moj-action-bar__filter"),
          showText: "Show filter",
          hideText: "Hide filter",
          classes: "govuk-button--secondary",
          attributes: {
            "data-cy": "show-hide-filters-toggle-button"
          }
        },
        filter: {
          container: $(".moj-filter"),
        },
      });
    }
  </script>
{% endblock %}
