{% extends "index.njk" %}

{% import './_macros/dashboard-page-content.njk' as dashboardPageContent %}
{% import './_macros/dashboard-facilities-table.njk' as facilitiesTable %}

{% block pageTitle %}Facilities{% endblock %}

{% block content %}

  {{dashboardPageContent.render({
    successMessage: successMessage,
    user: user,
    tab: tab,
    filters: filters,
    selectedFilters: selectedFilters,
    keyword: keyword,
    renderCreatedByYou: false,
    table: facilitiesTable.render({
      facilities: facilities,
      userTimezone: user.timezone,
      isChecker: isChecker
    }),
    pages: pages,
    route: '/facilities'
  })}}

{% endblock %}
