{% extends "index.njk" %}
{% import '_macros/dashboard-tabs.njk' as dashboardTabs %}
{% import '_macros/date-range.njk' as dateRange %}
{% import '_macros/pagination.njk' as pagination %}

{% import './_macros/transaction-advanced-filters.njk' as advancedFilters %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}Transactions{% endblock %}

{% block content %}

  {% if successMessage %}
    {{ success.message(
      message = successMessage
    )}}
  {% endif %}

  <h1 class="govuk-heading-l">Transactions</h1>

  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">Contents</h2>

    {{ dashboardTabs.nav(selected = 'transactions', id = id ) }}

    <section class="govuk-tabs__panel" id="transactions">

      <form method="POST" autocomplete="off" action="/dashboard/transactions/0">

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-one-third">
            <div class="govuk-form-group">
              <label class="govuk-label" for="filterByTransactionStage">
                Transaction stage
              </label>

              <select class="govuk-select govuk-!-width-full" id="filterByTransactionStage" name="filterByTransactionStage">
                <option value="all" {% if filter.filterByTransactionStage==='all' %}selected{%endif%}>Any</option>
                <option value="unissued_conditional" {% if filter.filterByTransactionStage==='unissued_conditional' %}selected{%endif%}>Unissued/Conditional</option>
                <option value="issued_unconditional" {% if filter.filterByTransactionStage==='issued_unconditional' %}selected{%endif%}>Issued/Unconditional</option>
              </select>
            </div>
          </div>

          <div class="govuk-grid-column-one-third">
            <div class="govuk-form-group">
              <label class="govuk-label" for="filterByTransactionType">
                Transaction type
              </label>

              <select class="govuk-select govuk-!-width-full" id="filterByTransactionType" name="filterByTransactionType">
                <option value="all" {% if filter.filterByTransactionType==='all' %}selected{%endif%}>Any</option>
                <option value="bond" {% if filter.filterByTransactionType==='bond' %}selected{%endif%}>Bond</option>
                <option value="loan" {% if filter.filterByTransactionType==='loan' %}selected{%endif%}>Loan</option>
              </select>
            </div>
          </div>

        </div>

        {{ govukDetails({
          summaryText: "Show filters",
          html: advancedFilters.render(filter, user, banks),
          open: filter.isUsingAdvancedFilter
        }) }}

        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Apply filters
        </button>

      </form>

      <table class="govuk-table govuk-!-margin-bottom-0">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-font-size-14">Bank Facility ID</th>
            <th scope="col" class="govuk-table__header govuk-!-font-size-14">UKEF Facility ID</th>
            <th scope="col" class="govuk-table__header govuk-!-font-size-14">Type</th>
            <th scope="col" class="govuk-table__header govuk-!-font-size-14">Value</th>
            <th scope="col" class="govuk-table__header govuk-!-font-size-14">Stage</th>
            <th scope="col" class="govuk-table__header govuk-!-font-size-14">Issued Date</th>
            <th scope="col" class="govuk-table__header govuk-!-font-size-14">Maker</th>
            <th scope="col" class="govuk-table__header govuk-!-font-size-14">Checker</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">

          {% for transaction in transactions %}
            <tr class="govuk-table__row">

              <td class="govuk-table__cell govuk-!-font-size-14">
                {% set linkText = transaction.bankFacilityId %}
                {% if linkText|length == 0 %}
                  {% set linkText = "Not entered" %}
                {% endif %}

                {% if user.roles.includes('maker') and ["Draft", "Further Maker\'s input required"].includes(transaction.deal_status) %}
                  {# link through to the bond or loan details page, since current user can edit it.. #}
                  {% if "bond" === transaction.transactionType %}
                    <a href="/contract/{{transaction.deal_id}}/bond/{{transaction.transaction_id}}/details" class="govuk-link">{{ linkText }}</a>
                  {% else %}
                    <a href="/contract/{{transaction.deal_id}}/loan/{{transaction.transaction_id}}/guarantee-details" class="govuk-link">{{ linkText }}</a>
                  {% endif %}
                {% else %}
                  {# link through to the relevant bond or loan in the deal-preview tab, since the current user cant edit #}
                  {% if "bond" === transaction.transactionType %}
                    <a href="/contract/{{transaction.deal_id}}/submission-details#bond-{{transaction.transaction_id}}" class="govuk-link">{{ linkText }}</a>
                  {% else %}
                    <a href="/contract/{{transaction.deal_id}}/submission-details#loan-{{transaction.transaction_id}}" class="govuk-link">{{ linkText }}</a>
                  {% endif %}
                {% endif %}
              </td>

              <td class="govuk-table__cell govuk-!-font-size-14">
                {{ transaction.ukefFacilityId }}
              </td>

              <td class="govuk-table__cell govuk-!-font-size-14">
                {{ transaction.transactionType }}
              </td>

              <td class="govuk-table__cell govuk-!-font-size-14">
                {{ transaction.facilityValue }}
              </td>

              <td class="govuk-table__cell govuk-!-font-size-14">
                {{ transaction.transactionStage }}
              </td>

              <td class="govuk-table__cell govuk-!-font-size-14">
                {{ transaction.issuedDate }}
              </td>

              <td class="govuk-table__cell govuk-!-font-size-14">
                {{ transaction.maker }}
              </td>

              <td class="govuk-table__cell govuk-!-font-size-14">
                {{ transaction.checker }}
              </td>
            </tr>
            {% endfor %}

        </tbody>

      </table>

      {{ pagination.pagination(pages.totalPages, pages.currentPage, pages.totalItems, '/dashboard/transactions') }}

    </section>

  </div>

{% endblock %}
