{% extends "case/case.njk" %}
{% import './_macros/facility_details.njk' as details %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% block sub_content %}
  {% set premiumScheduleHtml %}
  {% endset -%}
  <div>
  <h3 class="ukef-label-grey" style="padding-top:90px">Facility {{ facility.ukefFacilityID }}</h3>
  <h3 class="govuk-heading-l">{{ facility.facilityType }}</h3>
</div>
  {% set detailsComponentData = {
    facility: facility,
    user: user,
    facilityTfm: facilityTfm
  } %}

  {{ govukTabs({
  items: [
    {
      label: "Details",
      id: "details",
      panel: {
        html: details.render(detailsComponentData) 
      }
    },
    {
      label: "Premium schedule",
      id: "premium-schedule",
      panel: {
        html: premiumScheduleHtml
      }
    }
  ]
}) }}

{% endblock %}
