{% macro navItem(title, id, step, completed, href, current, contractId) %}

  <div
    {% if completed and current === id %}
      class="govuk-!-margin-bottom-2 govuk-!-padding-0 criteria__nav-item criteria__nav-item--completed criteria__nav-item--current"

    {% elif completed %}
      class="govuk-!-margin-bottom-2 govuk-!-padding-0 criteria__nav-item criteria__nav-item--completed"

    {% elif current === id %}
      class="govuk-!-margin-bottom-2 govuk-!-padding-0 criteria__nav-item criteria__nav-item--current"

    {% else %}
      class="govuk-!-margin-bottom-2 govuk-!-padding-0 criteria__nav-item"
    {% endif %}
  >
    {% if completed %}
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="{{ id }}" name="{{ id }}" type="checkbox" value="{{ id }}" checked="true" disabled>
        <label class="govuk-label govuk-checkboxes__label" for="{{ id }}">
          {% if current === id %}
            {{ title }}
          {% else %}
            <a class="govuk-link" href="/contract/{{ contractId }}/{{ href }}">{{ title }}</a>
          {% endif %}
        </label>
      </div>

    {% else %}
      <p class="govuk-body govuk-!-margin-bottom-0">
        <span class="govuk-!-font-weight-bold criteria__nav-item-progress-number">
          {% if step %}
            {{ step }}
          {% else %}
            &nbsp;
          {% endif %}
        </span>
        {% if id === 'preview' or current === id %}
          {{ title }}
        {% else %}
          <a class="govuk-link" href="/contract/{{ contractId }}/{{ href }}">
            {{ title }}
          </a>
        {% endif %}
      </p>
    {% endif %}
  </div>

{% endmacro %}
