{% macro answers(supportingDocumentation) %}
  
  <h4 class="govuk-heading-m">Supporting documentation</h4>

  <ol class="govuk-list govuk-list--number">
    {% for documentation in supportingDocumentation %}

      <li class="govuk-body-s">
        <span class="govuk-!-font-weight-bold">{{ documentation.title }}</span>
        {% if documentation.href %}
          <a href="#{{ documentation.href }}" class="govuk-link govuk-!-margin-left-4">{{ documentation.href }}</a>
        {% endif %}

        {% if documentation.value %}
          <span class="govuk-body-s govuk-!-margin-left-4">{{ documentation.value }}</span>
        {% endif %}

      </li>

    {% endfor %}
  </ol>
      
{% endmacro %}
