{% macro render(params) %}
  {% set facilityId = params.facilityId %}
  {% set exporter = params.exporter %}
  {% set user = params.user %}

  <div class="fee-record-summary govuk-!-padding-4 govuk-!-margin-bottom-5" data-cy="fee-record-summary-block-header">
    <div class="govuk-grid-row govuk-!-margin-top-3">
      <div class="govuk-grid-column-one-half">
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body" data-cy="facility-id-label"><strong>Facility ID</strong></p>
        </div>
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body" data-cy="facility-id">{{ facilityId }}</p>
        </div>
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-top-3">
      <div class="govuk-grid-column-one-half">
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body" data-cy="exporter-label"><strong>Exporter</strong></p>
        </div>
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body" data-cy="exporter">{{ exporter }}</p>
        </div>
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-top-3 govuk-!-margin-bottom-3">
      <div class="govuk-grid-column-one-half">
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body" data-cy="requested-by-label"><strong>Requested by</strong></p>
        </div>
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body" data-cy="requested-by">{{ (user.firstName + " " + user.lastName) }}</p>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}