{% extends "case/case.njk" %}

{% block sub_content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h2 class="govuk-heading-xl govuk-!-margin-top-6" data-cy="documents-heading" aria-label="Documents">Documents</h2>
      <a  class="govuk-link" target="_ukef_estore" href="{{eStoreUrl}}/{{ tfm.estore.siteName }}/CaseLibrary/{{ tfm.estore.buyerName }}/{{ tfm.estore.folderName}}" data-cy="estore-link">View in eStore</a>
    </div>
  </div>
{% endblock %}