{% import './_macros/parties-key-value-array-grid-row.njk' as keyValueArrayGridRow %}
{% import './_macros/parties-exporter-area.njk' as exporterArea %}
{% import './_macros/parties-buyer-area.njk' as buyerArea %}
{% import './_macros/parties-agent-area.njk' as agentArea %}
{% import './_macros/parties-indemnifier-area.njk' as indemnifierArea %}
{% import './_macros/parties-bond-issuer-area.njk' as bondIssuerArea %}
{% import './_macros/parties-bond-beneficiary-area.njk' as bondBeneficiaryArea %}

{% extends "case/case.njk" %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% block sub_content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <p class="header-label" aria-label="Parties" data-cy="parties-heading">Parties</p>
    </div>
  </div>

  <section class="deal-parties-section">
    {{ exporterArea.render({
      deal: deal,
      tfm: tfm,
      userCanEdit: userCanEdit,
      renderEditLink: renderEditLink
    }) }}
  </section>

  <section class="deal-parties-section">
    {{ buyerArea.render({
      deal: deal,
      tfm: tfm,
      userCanEdit: userCanEdit,
      renderEditLink: renderEditLink
    }) }}
  </section>

  <section class="deal-parties-section">
    {{ agentArea.render({
      deal: deal,
      tfm: tfm,
      userCanEdit: userCanEdit,
      renderEditLink: renderEditLink,
      renderEditForm: renderEditForm
    }) }}
  </section>

  <section class="deal-parties-section">
    {{ indemnifierArea.render({
      deal: deal,
      tfm: tfm,
      userCanEdit: userCanEdit,
      renderEditLink: renderEditLink
    }) }}
  </section>

  <section class="deal-parties-section">
    {{ bondIssuerArea.render({
      deal: deal,
      tfm: tfm,
      userCanEdit: userCanEdit,
      renderEditLink: renderEditLink
    }) }}
  </section>

  <section class="deal-parties-section">
    {{ bondBeneficiaryArea.render({
      deal: deal,
      tfm: tfm,
      userCanEdit: userCanEdit,
      renderEditLink: renderEditLink
    }) }}
  </section>

{% endblock %}
