{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro render(params) %}
  {% set leadUnderwriter = params.leadUnderwriter %}

  {% block underwriting_content %}

    {% if leadUnderwriter.currentLeadUnderWriter %}

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">
          <p class="govuk-!-margin-top-0" data-cy="lead-underwriter-name">{{ leadUnderwriter.currentLeadUnderWriter.firstName }} {{ leadUnderwriter.currentLeadUnderWriter.lastName }}</p>
          <p><a class="govuk-link" href="mailto:{{ leadUnderwriter.currentLeadUnderWriter.email }}" data-cy="lead-underwriter-email">{{ leadUnderwriter.currentLeadUnderWriter.email }}</a></p>
        </div>

        <div class="govuk-grid-column-one-quarter text-align-right">
          {% if leadUnderwriter.userCanEdit %}
            <p class="govuk-!-margin-top-0"><a class="govuk-link" href="/case/{{ leadUnderwriter.dealId }}/underwriting/lead-underwriter/assign" data-cy="change-lead-underwriter-link">Change</a></p>
          {% endif %}
        </div>

      </div>

      {% else %}

        {% if leadUnderwriter.userCanEdit %}

          {{ govukButton({
            text: "Add underwriter",
            href: "/case/" + leadUnderwriter.dealId  + "/underwriting/lead-underwriter/assign",
            attributes: {
              "data-cy":"assign-lead-underwriter-link"
            }
          }) }}

        {% else %}

          <p class="govuk-!-margin-top-0" data-cy="unassigned-underwriter-readonly">Unassigned</p>

        {% endif %}


    {% endif %}


  {% endblock %}

{% endmacro %}
