{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "case/underwriting/layout.njk" %}

{% block underwriting_content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-three-quarters">

      <h3 class="govuk-heading-l ukef-heading-grey govuk-!-margin-bottom-3" data-cy="lead-underwriter-heading">Lead Underwriter</h3>

      <p class="govuk-body-l separator-line govuk-!-padding-top-7"><a class="govuk-link govuk-link--no-visited-state" href="/case/{{ dealId }}/underwriting/lead-underwriter/assign" data-cy="assign-lead-underwriter-link">Assign a lead underwriter</a></p>

    </div>

  </div>

{% endblock %}
