{% extends "index.njk" %}
{% import '_macros/confirm-eligibility-nav.njk' as confirmEligibility %}

{% block content %}

  {{ confirmEligibility.nav(
    completedStatus = eligibility.completedStatus,
    current = 'eligibilityCriteria',
    contractId = id
  )}}

  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8" />
  
  <form autocomplete="off">

    {% for criterion in eligibility.criteria %}

      <div class="govuk-form-group">

        <fieldset class="govuk-fieldset">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend">
            Eligibility criterion {{ criterion.id }}
          </legend>

          <p class="govuk-body govuk-hint">{{ criterion.description }}</p>

          <div class="govuk-radios govuk-radios--inline">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="criterion-{{ criterion.id }}" name="criterion-{{ criterion.id }}" type="radio" value="true">
              <label class="govuk-label govuk-radios__label" for="criterion-{{ criterion.id }}">
                True
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="criterion-{{ criterion.id }}-2" name="criterion-{{ criterion.id }}" type="radio" value="false">
              <label class="govuk-label govuk-radios__label" for="criterion-{{ criterion.id }}-2">
                False
              </label>
            </div>
          </div>

        </fieldset>

      </div>

    {% endfor %}

    <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Next page</button>

    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Save and go back to deal</a>
    
  </form>

{% endblock %}
