{% extends "index.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% import 'contract/components/task-list-header.njk' as taskListHeader %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% import '_macros/eligibility-documentation-file-input.njk' as eligibilityDocumentationInput %}

{% block pageTitle %}Eligibility Criteria Supporting Documentation - {{additionalRefName }}{% endblock %}

{% block content %}

  {% if validationErrors.count %}
    {{
      govukErrorSummary({
        titleText: "There is a problem",
        errorList: validationErrors.summary
      })
    }}
  {% endif %}

  {{ taskListHeader.render({
    title: 'Add supporting documentation',
    dealId: _id,
    entityName: 'eligibility',
    items: taskListItems
  })}}

  <form method="POST" autocomplete="off" enctype="multipart/form-data">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    <ol class="govuk-list">
    <li>
        {{
          eligibilityDocumentationInput.fileInput(
            fieldname = "exporterQuestionnaire",
            label = "1. Manual Inclusion Questionnaire",
            hint = 'Please upload a completed Manual Inclusion Questionnaire. You can download the template here:
                <div class="govuk-!-margin-bottom-2"> <a href="/assets/files/Manual%20Inclusion%20Questionnaire%20v2_0.docx" data-cy="download-q-link-docx">Download Manual Inclusion Questionnaire.docx (21KB)</a> </div>
                <div class="govuk-!-margin-bottom-2"> <a href="/assets/files/Manual%20Inclusion%20Questionnaire%20v2_0.pdf" data-cy="download-q-link-pdf">Download Manual Inclusion Questionnaire.pdf (129KB)</a> </div>',
            fileList = supportingInformation.exporterQuestionnaire,
            validationError = validationErrors.errorList.exporterQuestionnaire,
            dealId = _id
          )
        }}
    </li>

    <li>
        {{
          eligibilityDocumentationInput.fileInput(
            fieldname = "auditedFinancialStatements",
            label = "2. Financial statements for the past 3 years (optional)",
            hint = "Financial statements (audited if available) for the past 3 years, including a Profit & Loss, Balance Sheet and Cash Flow Statement, (with notes, if applicable). If the company is part of a larger group, separate accounts should be provided for the company and group.",
            fileList = supportingInformation.auditedFinancialStatements,
            validationError = validationErrors.errorList.auditedFinancialStatements,
            dealId = _id
          )
        }}
    </li>

    <li>
        {{
          eligibilityDocumentationInput.fileInput(
            fieldname = "yearToDateManagement",
            label = "3. Year to date management accounts (optional)",
            hint = "Including Profit & Loss, Balance Sheet and Cash Flow where available.",
            fileList = supportingInformation.yearToDateManagement,
            validationError = validationErrors.errorList.yearToDateManagement,
            dealId = _id
          )
        }}
    </li>

    <li>
        {{
          eligibilityDocumentationInput.fileInput(
            fieldname = "financialForecasts",
            label = "4. Financial forecasts for the next 3 years (optional)",
            hint = "Including monthly cash-flow projections for the business as a whole. If unavailable provide for at least the projected facility/guarantee term. If there are any cash flow shortfalls, explain how these will be filled.",
            fileList = supportingInformation.financialForecasts,
            validationError = validationErrors.errorList.financialForecasts,
            dealId = _id
          )
        }}
    </li>

    <li>
        {{
          eligibilityDocumentationInput.fileInput(
            fieldname = "financialInformationCommentary",
            label = "5. Brief commentary on the financial information (optional)",
            hint = "A brief commentary on the financial information in 2-4, with particular focus on turnover, gross and net profit, dividends (if any), debt profile including bank borrowing and net worth, and any other information with explains any exceptions, anomalies or volatility. If the company has experienced any unusual or off-trend financial performance in the last 3 years please also explain this.",
            fileList = supportingInformation.financialInformationCommentary,
            validationError = validationErrors.errorList.financialInformationCommentary,
            dealId = _id
          )
        }}
    </li>

    <li>
        {{
          eligibilityDocumentationInput.fileInput(
            fieldname = "corporateStructure",
            label = "6. Corporate structure diagram (optional)",
            hint = "Showing corporate structure including parent, subsidiary and associated companies.",
            fileList = supportingInformation.corporateStructure,
            validationError = validationErrors.errorList.corporateStructure,
            dealId = _id
          )
        }}
    </li>

    <li class="govuk-form-group govuk-!-margin-bottom-6">
      {{ govukCharacterCount({
          name: "security",
          id: "security",
          maxlength: 300,
          label: {
            text: "7. Security (optional)",
            attributes: {
              'data-cy': "security-text"
            }
          },
          hint: {
             text: 'Details of the overarching general facility taken by the bank in relation to the exporter, for example debenture, fixed and floating charge, but not including any security that is specific to the Transaction.'
          },
          value: supportingInformation.securityDetails.exporter
        }) }}
    </li>

    </ol>

    <div class="govuk-grid-row govuk-!-margin-0">

        <input formaction="?stayonpage=false" type="submit" class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" value="Preview" data-cy="save-button"/>

        <input
          type="submit"
          formaction="/contract/{{ _id }}/eligibility/supporting-documentation/save-go-back"
          class="govuk-button govuk-button--secondary"
          data-module="govuk-button"
          value="Save and go back to deal"
          data-cy="save-go-back-button"
        />

    </div>

  </form>

{% endblock %}
