{% extends "index.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "moj/components/banner/macro.njk" import mojBanner %}
{% import '../../_macros/amendments/amendment-summary-list.njk' as amendmentSummaryList %}
{% import '../print-button.njk' as printButton %}

{% block pageTitle -%}
  {% if canSubmitFacilityAmendment %}
    Check your answers before submitting the amendment request
  {% else %}
    Amendment details
  {% endif %}
{%- endblock %}

{% block content -%}
  {{ govukBackLink({
    text: "Back",
    href: previousPage,
    attributes: {
      "data-cy": "back-link"
    }
  }) }}

  <div class="govuk-grid-row govuk-!-margin-bottom-3">
    <form method="post">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-6 govuk-!-margin-top-1" data-cy="page-heading">
            <span class="govuk-caption-l" data-cy="heading-caption">
              {{ exporterName }}, {{ facilityType }} facility
            </span>
            {% if canSubmitFacilityAmendment %}
              Check your answers before submitting the amendment request
            {% else %}
              Amendment details
            {% endif %}
          </h1>

          {% if banner %}
              {{ mojBanner({
              type: 'information',
              text: "This amendment is effective on " + effectiveDate,
              iconFallbackText: 'information',
              attributes: {
                'data-cy': 'facility-information-banner'
              }
            }) }}
          {% endif %}
        </div>

        <div class="govuk-grid-column-one-quarter">
          {% include "../print-button.njk" %}
        </div>
      </div>

      {{ amendmentSummaryList.render(amendmentSummaryListParams) }}

      {% if userRoles.includes("checker") %}
        {% include "../../includes/submit/submit-to-ukef.njk" %}
      {% endif %}

      {% if canSubmitFacilityAmendment %}
        {% include "../../includes/submit-amendment/submit-amendment-to-checker.njk" %}
      {% endif %}
    </form>
  </div>

{%- endblock %}