{% extends "index.njk" %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% import '../../_macros/what-is-a-bank-review-date.njk' as whatIsABankReviewDate %}

{% block pageTitle -%}
  Bank review date
{%- endblock %}

{% set headingHtml %}
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-6 govuk-!-margin-top-1" data-cy="page-heading">
    <span class="govuk-caption-l" data-cy="heading-caption">
      {{ exporterName }}, {{ facilityType }} facility
    </span>
    Bank review date
  </h1>
{% endset %}

{% block content %}
  {% if errors %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors.errorSummary,
      attributes: {
        'data-cy': 'error-summary'
      },
      classes: "govuk-!-margin-top-4 govuk-!-margin-bottom-4"
    }) }}
  {% endif %}

  {{ govukBackLink({
      text: "Back",
      href: previousPage,
      attributes: {
        'data-cy': 'back-link'
      }
  }) }}

  <div class="govuk-grid-row govuk-!-margin-bottom-3">
    <div class="govuk-grid-column-three-quarters">
      <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <input type="hidden" name="previousPage" value="{{ previousPage }}">

        {{ govukDateInput({
          id: "bankReviewDate",
          namePrefix: "bank-review-date",
          fieldset: {
            legend: {
              html: headingHtml
            }
          },
          hint: {
            text: "For example, 31 8 2026"
          },
          errorMessage: errors and errors.fieldErrors.bankReviewDate and {
            text: errors.fieldErrors.bankReviewDate.text,
            attributes: {
              'data-cy': 'bank-review-date-inline-error'
            }
          },
          items: [
            {
              classes: (errors.fieldErrors['bankReviewDate-day'] and "govuk-input--width-2 govuk-input--error") or "govuk-input--width-2",
              name: "day",
              value: bankReviewDate.day,
              attributes: {
                'data-cy': 'bank-review-date-day'
              }
            },
            {
              classes: (errors.fieldErrors['bankReviewDate-month'] and "govuk-input--width-2 govuk-input--error") or "govuk-input--width-2",
              name: "month",
              value: bankReviewDate.month,
              attributes: {
                'data-cy': 'bank-review-date-month'
              }
            },
            {
              classes: (errors.fieldErrors['bankReviewDate-year'] and "govuk-input--width-4 govuk-input--error") or "govuk-input--width-4",
              name: "year",
              value: bankReviewDate.year,
              attributes: {
                'data-cy': 'bank-review-date-year'
              }
            }
          ]
        }) }}

        {{ whatIsABankReviewDate.render() }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue",
            attributes: {
              "data-cy": "continue-button"
            }
          }) }}

          <a href="{{ cancelUrl }}"  data-cy="cancel-link" class="govuk-link">Cancel</a>
        </div>
      </form>
    </div>
  </div>

{% endblock %}