{% extends "index.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% block pageTitle -%}
  New cover end date
{%- endblock %}

{% set headingHtml %}
<header>
  <span class="govuk-caption-l" data-cy="heading-caption">
    {{ exporterName }}
  </span>
  <h1 class="govuk-label-wrapper" data-cy="page-heading">
    <label class="govuk-label govuk-label--xl govuk-!-padding-bottom-3" for="cover-end-date">
      New cover end date
    </label>
  </h1>
</header>
{% endset %}

{% block content %}
  {% if errors %}
    {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors.errorSummary,
        attributes: {
          'data-cy': 'error-summary'
        },
        classes: "govuk-!-margin-top-4 govuk-!-margin-bottom-4"
      }) 
    }}
  {% endif %}

  {{ govukBackLink({
      text: "Back",
      href: previousPage,
      attributes: {
        'data-cy': 'back-link'
      }
    }) 
  }}

  <div class="govuk-grid-row govuk-!-margin-bottom-3">
    <div class="govuk-grid-column-three-quarters">
      <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {{ govukDateInput({
            id: "coverEndDate",
            namePrefix: "cover-end-date",
            fieldset: {
            legend: {
                html: headingHtml,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
            },
            hint: {
                text: "For example, 31 8 2026"
            },
            attributes: {
                'data-cy': "cover-end-date"
            },
            errorMessage: errors and errors.fieldErrors.coverEndDate and {
              text: errors.fieldErrors.coverEndDate.text,
              attributes: {
                'data-cy': 'cover-end-date-inline-error'
              }
            },
            items: [
              {
                classes: (errors.fieldErrors['coverEndDate-day'] and "govuk-input--width-2 govuk-input--error") or "govuk-input--width-2",
                name: "day",
                value: coverEndDate.day,
                attributes: {
                  'data-cy': 'cover-end-date-day'
                }            
              },
              {
                classes: (errors.fieldErrors['coverEndDate-month'] and "govuk-input--width-2 govuk-input--error") or "govuk-input--width-2",
                name: "month",
                value: coverEndDate.month,
                attributes: {
                  'data-cy': 'cover-end-date-month'
                }   
              },
              {
                classes: (errors.fieldErrors['coverEndDate-year'] and "govuk-input--width-4 govuk-input--error") or "govuk-input--width-4",
                name: "year",
                value: coverEndDate.year,
                attributes: {
                  'data-cy': 'cover-end-date-year'
                }   
              }
            ]
          })
        }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue",
            attributes: {
            'data-cy': 'continue-button'
            }
            }) 
          }}

          <a href={{cancelUrl}}  data-cy="cancel-link" class="govuk-link">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}