{% extends "index.njk" %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% import '../../_macros/what-is-a-facility-end-date.njk' as whatIsAFacilityEndDate %}

{% block pageTitle -%}
  Facility end date
{%- endblock %}

{% set headingHtml %}
<header>
  <span class="govuk-caption-l" data-cy="heading-caption">
    {{ exporterName }}
  </span>

  <h1 class="govuk-label-wrapper" data-cy="page-heading">
    <label class="govuk-label govuk-label--xl govuk-!-padding-bottom-3" for="facility-end-date">
      Facility end date
    </label>
  </h1>
</header>
{% endset %}

{% block content %}
  {% if errors %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors.errorSummary,
      attributes: {
        'data-cy': 'error-summary'
      },
      classes: "govuk-!-margin-top-4 govuk-!-margin-bottom-4"
    }) }}
  {% endif %}

  {{ govukBackLink({
      text: "Back",
      href: previousPage,
      attributes: {
        'data-cy': 'back-link'
      }
  }) }}

  <div class="govuk-grid-row govuk-!-margin-bottom-3">
    <div class="govuk-grid-column-three-quarters">
      <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <input type="hidden" name="previousPage" value="{{ previousPage }}">

        {{ govukDateInput({
          id: "facilityEndDate",
          namePrefix: "facility-end-date",
          fieldset: {
            legend: {
              html: headingHtml,
              isPageHeading: true
            }
          },
          hint: {
            text: "For example, 31 8 2026"
          },
          errorMessage: errors and errors.fieldErrors.facilityEndDate and {
            text: errors.fieldErrors.facilityEndDate.text,
            attributes: {
              'data-cy': 'facility-end-date-inline-error'
            }
          },
          items: [
            {
              classes: (errors.fieldErrors['facilityEndDate-day'] and "govuk-input--width-2 govuk-input--error") or "govuk-input--width-2",
              name: "day",
              value: facilityEndDate.day,
              attributes: {
                'data-cy': 'facility-end-date-day'
              }            
            },
            {
              classes: (errors.fieldErrors['facilityEndDate-month'] and "govuk-input--width-2 govuk-input--error") or "govuk-input--width-2",
              name: "month",
              value: facilityEndDate.month,
              attributes: {
                'data-cy': 'facility-end-date-month'
              }   
            },
            {
              classes: (errors.fieldErrors['facilityEndDate-year'] and "govuk-input--width-4 govuk-input--error") or "govuk-input--width-4",
              name: "year",
              value: facilityEndDate.year,
              attributes: {
                'data-cy': 'facility-end-date-year'
              }   
            }
          ]
        }) }}

        {{ whatIsAFacilityEndDate.render() }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue",
            attributes: {
              "data-cy": "continue-button"
            }
          }) }}

          <a href="{{ cancelUrl }}"  data-cy="cancel-link" class="govuk-link">Cancel</a>
        </div>
      </form>
    </div>
  </div>

{% endblock %}