{% extends "index.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% import './_macros/what-happens-next-submitted-checker.njk' as whatHappensNextChecker %}
{% import './_macros/what-happens-next-approved-by-ukef.njk' as whatHappensNextApprovedByUkef %}
{% import './_macros/what-happens-next-anything.njk' as whatHappensNextAnything %}
{% import './_macros/submitted-to-checker-panel.njk' as submittedToCheckerPanel %}
{% import './_macros/approved-by-ukef-panel.njk' as approvedByUkefPanel %}
{% import './_macros/returned-to-maker-panel.njk' as returnedToMakerPanel %}
{% import './_macros/abandoned-panel.njk' as abandonedPanel %}

{% block pageTitle -%}
  {% if submittedToChecker %}
    Amendment submitted for checking at your bank
  {% endif %}

  {% if approvedByUkef %}
    Amendment approved by UKEF
  {% endif %}
{%- endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if submittedToChecker %}
        {{ submittedToCheckerPanel.render() }}
      {% endif %}


      {% if approvedByUkef %}
        {{ approvedByUkefPanel.render({
          referenceNumber: referenceNumber
        }) }}
      {% endif %}

      {% if returnedToMaker %}
        {{ returnedToMakerPanel.render() }}
      {% endif %}

      {% if abandoned %}
        {{ abandonedPanel.render() }}
      {% endif %}
  
      <div class="govuk-!-margin-top-4">
        <h2 class="govuk-!-margin-bottom-0" data-cy="heading">
          What happens next?
        </h2>

        {% if submittedToChecker %}
          {{ whatHappensNextChecker.render() }}
        {% endif %}

        {% if returnedToMaker %}
          {{ whatHappensNextAnything.render() }}
        {% endif %}

        {% if approvedByUkef %}
          {{ whatHappensNextApprovedByUkef.render({
            effectiveDate: effectiveDate
          }) }}
        {% endif %}

        {% if abandoned %}
          {{ whatHappensNextAnything.render() }}
        {% endif %}

        <p><a class="govuk-link govuk-!-margin-0" href="/dashboard/deals" data-cy="return-link">Return to all applications and notices</a></p>
      </div>
    </div>
  </div>


{% endblock %}