{% extends "index.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block pageTitle -%}
  Amendment submitted for checking at your bank
{%- endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        attributes: {
          'data-cy': 'submitted-for-checking-confirmation-panel',
          'tabIndex': 0
        },
        titleText: "Amendment submitted for checking at your bank",
        text: "We've sent you a confirmation email."
      }) }}

      <div class="govuk-!-margin-top-4">
        <h2 class="govuk-!-margin-bottom-0" data-cy="heading">
          What happens next?
        </h2>
        <p>Someone at your bank will check what you've submitted.</p>
        <p>They will either:</p>
          <ul>
            <li>submit it for automatic approval with UKEF</li>
            <li>send it back to you for changes</li>
          </ul>
        <p><a class="govuk-link govuk-!-margin-0" href="/dashboard/deals" data-cy="return-link">Return to all applications and notices</a></p>
      </div>
    </div>
  </div>


{% endblock %}