{% from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation %}
    <div class="govuk-grid-column-full govuk-!-padding-top-8">
      {{ mojSubNavigation({
        label: 'Sub navigation',
        items: [{
          text: 'Tasks',
          href: '/case/' + dealId + '/tasks',
          active: (active_sheet=='tasks'),
          attributes: {
            "data-cy": "tasks-link"
          }
        }, {
          text: 'Deal',
          href: '/case/' + dealId + '/deal',
          active: (active_sheet=='deal'),
          attributes: {
            "data-cy": "deal-link"
          }
        }, {
          text: 'Parties',
          href: '/case/' + dealId + '/parties',
          active: (active_sheet=='parties'),
          attributes: {
            "data-cy": "parties-link"
          }
        }, {
          text: 'Documents',
          href: '/case/' + dealId + '/documents',
          active: (active_sheet=='documents'),
          attributes: {
            "data-cy": "documents-link"
          }
        }, {
          text: 'Activity',
          href: '/case/' + dealId + '/activity',
          active: (active_sheet=='activity'),
          attributes: {
            "data-cy": "activity-link"
          }
        }, {
          text: 'Underwriting',
          href: '/case/' + dealId + '/underwriting',
          active: (active_sheet=='underwriting'),
          attributes: {
            "data-cy": "underwriting-link"
          }
        }, {
          text: 'Linked deals',
          href: '/case/' + dealId + '/linked-deals',
          active: (active_sheet=='linked-deals'),
          attributes: {
            "data-cy": "linked-deals-link"
          }
        }],
        attributes: {
          'data-cy': 'case-sub-navigation'
        }
      }) }}
    </div>
