{% from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation %}

{{ mojPrimaryNavigation({
  label: "Primary navigation",
  items: [
    {
      text: "All deals",
      href: "/deals",
      active: (activePrimaryNavigation === 'all deals')
    }
  ]
}) }} 
