{% from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation %}

{% set isUserInPdcTeam = user and (user.teams.includes("PDC_READ") or user.teams.includes("PDC_RECONCILE")) %}

{% set bankReportsNavItem = {
  text: "Bank reports",
  href: "/utilisation-reports",
  active: (activePrimaryNavigation == "utilisation reports"),
  attributes: {
    "data-cy": "bank-reports"
  }
} %}

{% set allDealsNavItem = {
  text: "All deals",
  href: "/deals",
  active: (activePrimaryNavigation == "all deals"),
  attributes: {
    "data-cy": "all-deals-link"
  }
} %}

{% set allFacilitiesNavItem = {
  text: "All facilities",
  href: "/facilities",
  active: (activePrimaryNavigation == "all facilities"),
  attributes: {
    "data-cy": "all-facilities-link"
  }
} %}

{% set navItems = [] %}

{% if user and isUserInPdcTeam %}
  {% set navItems = [bankReportsNavItem, allDealsNavItem, allFacilitiesNavItem] %}
{% elif user %}
  {% set navItems = [allDealsNavItem, allFacilitiesNavItem] %}
{% endif %}

{% if navItems.length %}
  {{ mojPrimaryNavigation({
    label: "Primary navigation",
    items: navItems
  }) }}
{% endif %}
