{% extends "index.njk" %}

{% block pageTitle -%}
  You have been logged out
{%- endblock %}

{% block content %}

  <section class="govuk-!-margin-top-9">
    <div class="govuk-grid-row" data-cy="you-have-been-logged-out">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">You have been logged out</h1>
        <p class="govuk-body">
        You have been logged out of Trade Finance Manager, but your Microsoft account remains active.
        </p>
      </div>
    </div>
  </section>

{% endblock %}
