{% extends "layout.html" %}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/radios/macro.njk" import govukRadios -%}
{%- from "govuk/components/date-input/macro.njk" import govukDateInput -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

{{ govukBreadcrumbs({
  items: [
    {
      text: "C0345",
      href: "/cases/tasks"
    },
    {
      text: "Credit analysis",
      href: "/cases/credit-analysis"
    },
    {
      text: "Bank relationship"
    }
  ]
}) }}
</div>
</div>
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Bank relationship</h1>
    {{ govukTextarea({
    name: "more-detail",
    id: "more-detail",
    label: {
        text: "What's the bank's current relationship with the exporter?",
        classes: "govuk-label",
        isPageHeading: true
    }
    }) }}
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Is the exporter any of the following?
          </h1>
        </legend>
        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
              <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                Watchlist
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
              <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                Business support team
              </label>
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="more-detail">
                Enter comment from back about their strategy for the exporter
              </label>

              <textarea class="govuk-textarea" style="height: 30px; width: 440px;" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
            </div>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
              <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                Workout team
              </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
            None of these
          </label>
        </div>
      
      </div>
    </fieldset>
  </div>        
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
{% from "moj/components/button-menu/macro.njk" import mojButtonMenu %}

{{ mojButtonMenu({
items: [{
text: "Save and back to credit analysis",
href: "/cases/credit-analysis"
}, {
text: "Continue to existing facilities",
href: "/cases/credit-analysis/existing-facility",
classes: "govuk-button--secondary"
}, {
text: "Cancel",
href: "/cases/credit-analysis",
classes: "govuk-link"
}]
}) }} 
        </div></div>
{% endblock %}