{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
              "last 2 versions",
              "ie >= 11"
          ]
        },

        "useBuiltIns": "entry",
        "corejs": 2
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}
