{% macro render() %}
  <p>Someone at your bank will check what you've submitted.</p>
  <p>They will either:</p>
  <ul>
    <li>submit it for automatic approval with UKEF</li>
    <li>send it back to you for changes</li>
  </ul>
{% endmacro %}
