{% extends 'layout.html' %}
{% block beforeContent %}
<div class="govuk-grid-row tfm tfm-width existing-facility">
  <div class="govuk-grid-column-full" style="margin-left: 0 50px">
{{ govukBreadcrumbs({
  items: [
    {
      text: "C0345",
      href: "/cases/tasks"
    },
    {
      text: "Credit analysis",
      href: "/cases/credit-analysis"
    },
    {
      text: "Existing facilities with banks and other organizations"
    }
  ]
}) }}
</div>
</div>
{% endblock %}
{% block content %}
<div class="govuk-grid-row tfm tfm-width existing-facility">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Existing facilities with banks and other organisations</h1>
    <h2>The exporter's existing facilities</h2>
    <table>
    <tr>
      <th>Provider</th>
      <th>Type</th>
      <th>Limit</th>
      <th>Drawn</th>
      <th>Expiry</th>
      <th colspan="3">Security</th>
    </tr>
    <tr>
      <td>Natwest</td>
      <td>Guarantees/ Letters of credit</td>
      <td>£3,000,000</td>
      <td>£1,100,000</td>
      <td>30 Nov 2019 (renewed annually)</td>
      <td>First charge over property valued at £1.7m 2nd ranging all assets Debenture over Exporter, Duplex Lloyd Properties Ltd and Samarra NewCo Ltd £2m cash deposit</td>
      <td><a href="#">Change</a></td>
      <td><a href="#">Remove</a></td>
    </tr>
      <tr>
      <td>Santander</td>
      <td>Guarantees</td>
      <td>£12,600,000</td>
      <td>£0</td>
      <td>Dec 2020</td>
      <td>1st ranging all assets Debenture over Exporter, Duplex Lloyd Properties Ltd and Samarra NewCo Ltd</td>
      <td><a href="#">Change</a></td>
      <td><a href="#">Remove</a></td>
    </tr>
    <tr>
      <td>Aviva</td>
      <td>Bond facility</td>
      <td>£2,400,000</td>
      <td>£2,400,000</td>
      <td>Various</td>
      <td>As above</td>
      <td><a href="#">Change</a></td>
      <td><a href="#">Remove</a></td>
    </tr>
    <tr>
      <td>Millenium Insurance Company Ltd</td>
      <td>Bond facility</td>
      <td>£500,000</td>
      <td>£500,000</td>
      <td>Grid bond - annual renewal until commercial operation date</td>
      <td>As above</td>
      <td><a href="#">Change</a></td>
      <td><a href="#">Remove</a></td>
    </tr>
    </table>
</div>
</div>
{% from "moj/components/button-menu/macro.njk" import mojButtonMenu %}
<div class="govuk-grid-row tfm tfm-width">
  <div class="govuk-grid-column-full">
{{ mojButtonMenu({
items: [{
text: "Add a facility",
href: "/cases/credit-analysis/add-a-facility",
classes: "govuk-button--secondary"
}]
}) }} 
</div>
</div>
<div class="govuk-grid-row tfm ">
  <div class="govuk-grid-column-full">
{{ mojButtonMenu({
items: [{
text: "Save and back to credit analysis",
href: "/cases/credit-analysis"
}, {
text: "Continue to company background",
href: "/cases/credit-analysis/company-background",
classes: "govuk-button--secondary"
}, {
text: "Cancel",
href: "#",
classes: "govuk-link"
}]
}) }} 
</div>
<div>

{% endblock %}