{%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "cases/case.html" %}
{% block sub_content %}
  <div class="govuk-grid-row tfm tfm-width">
    <div class="govuk-grid-column-three-quarters tfm">
      <p class="header-label">Credit analysis</p>
    </div>
    <div class="govuk-grid-column-one-quarter tfm">

      {{ govukButton({
        text: "Submit for Approval",
        href: "/cases/credit-analysis/approval"
      }) }}
    </div>
  </div>
  <div class="govuk-grid-row tfm tfm-width">
    <div class="govuk-grid-column-one-quarter tfm">
  <div>
      {{ mojSideNavigation({
    label: 'Side navigation',
    sections: [
      {
        heading: {
          text: 'About the export'
        },
        items: [{
          text: 'About the export',
          href: '#export',
          active: true
        }, {
          text: 'Bank relationship',
          href: '#bank-relationship'
        }, {
          text: 'Existing facilities',
          href: '#existing-facilities'
        }]
      },
      {
        heading: {
          text: 'Business risk'
        },
        items: [{
          text: 'Company background',
          href: '#company-background'
        }, {
          text: 'Business risk factors',
          href: '#business-risk-factors'
        }]
      },
      {
        heading: {
          text: 'Financial risk'
        },
        items: [{
          text: 'Company backgrounds',
          href: '#company-backgrounds'
        }, {
          text: 'Financial year based on',
          href: '#financial-year'
        }, {
          text: 'EBITDA',
          href: '#ebitda'
        }, {
          text: 'Cash balance',
          href: '#cash-balance'
        }, {
          text: 'Debt',
          href: '#debt'
        }, {
          text: 'Forecast',
          href: '#forecast'
        }, {
          text: 'Short-term liquidity',
          href: '#short-term-liquidity'
        }]
      },
      {
        heading: {
          text: 'Conclusions'
        },
        items: [{
          text: 'Supporting factors and recommendations',
          href: '#supporting-factors'
        }, {
          text: 'Key risks',
          href: '#key-risks'
        }]
      }
    ]
  }) }}
</div>
    </div>

    <div class="govuk-grid-column-three-quarters tfm credit-analysis">
      <h1>About the export and the relationship with the bank</h1>
      <div class="credit-analysis-topic">
        <div id="export" class="credit-analysis-item">
          {% if not data['credit-analysis-contract'] %}
          <a href="credit-analysis/export">Enter information about the export</a>
          {% else %}
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-three-quarters tfm credit-analysis" style="margin-bottom:40px">
                <h2>About the export</h2>
                <h3>The contract between the exporter and the buyer</h3>
                {{ data['credit-analysis-contract'] }}
                <h3>The payment terms and milestones</h3>
                {{ data['credit-analysis-payment-terms'] }}
                <h3>The buyer's ability to pay</h3>
                {{ data['credit-analysis-ability-to-pay'] }}
                <h3>The exporter's ability to perform as a business</h3>
                {{ data['credit-analysis-ability-to-perform'] }}      
              </div>
              <div class="govuk-grid-column-one-quarter tfm credit-analysis flex-container">
                <a href="credit-analysis/export" style="margin-top:20px;">Change</a>
              </div>
            </div>
          {% endif %}
        </div>
        <div id="bank-relationship" class="credit-analysis-item">
          <a href="credit-analysis/bank-relationship">Enter the exporter`s relationship with the bank</a>
        </div>
        <div id="existing-facilities" class="credit-analysis-item">
          <a href="credit-analysis/existing-facility">Enter the exporter`s existing facilities with banks and other organisations</a>
        </div>
      </div>
      <h1>Business risk</h1>
      <div id="export" class="credit-analysis-header-line">
        <div class="credit-analysis-item">
          <a href="credit-analysis/company-background">Enter company background</a>
        </div>
        <div class="credit-analysis-item">
          <a href="credit-analysis/business-risk-factors">Enter business risk factors</a>
        </div>
      </div>
      <h1>Financial risk</h1>
      <div id="export" class="credit-analysis-header-line">
        <div class="credit-analysis-item">
          <a href="Add company accounts">Add company accounts</a>
        </div>
        <div class="credit-analysis-item">
          <a href="credit-analysis/financial-year">Enter financial year this credit analysis is based on</a>
        </div>
        <div class="credit-analysis-item">
          <a href="credit-analysis/ebitda">Enter information about the EBITDA levels</a>
        </div>
        <div class="credit-analysis-item">
          <a href="credit-analysis/cash-balance">Enter information about the cash balance</a>
        </div>
        <div class="credit-analysis-item">
          <a href="credit-analysis/debts">Enter debts</a>
        </div>
        <div class="credit-analysis-item">
          <a href="credit-analysis/forecast">Enter information about the forecast</a>
        </div>
        <div class="credit-analysis-item">
          <a href="credit-analysis/short-term-liquidity">Enter information about the short-term liquidity</a>
        </div>
      </div>
      <h1>Conclusions</h1>
      <div id="export" class="credit-analysis-header-line">
        <div class="credit-analysis-item">
          <a href="credit-analysis/supporting-factors">Enter supporting factors and recommendations</a>
        </div>
        <div class="credit-analysis-item">
          <a href="credit-analysis/key-risks">Enter key risks</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}