{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% extends "index.njk" %}

{% block pageTitle %}User admin{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">User admin</h1>

  <p class="govuk-body">
    <a data-cy="AddUser" class="govuk-link" href="/admin/users/create">Add user</a>
  </p>

  {# <form method="POST" autocomplete="off" class="govuk-!-margin-top-4">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group">
          <label class="govuk-label" for="filterByNameOrEmail">
            Name or email contains
          </label>

          <input class="govuk-input" id="filterByNameOrEmail" name="filterByNameOrEmail" type="text">

        </div>
      </div>

      <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group">
          <label class="govuk-label" for="filterByRole">
            Role
          </label>

          <select class="govuk-select govuk-!-width-full" id="filterByRole" name="filterByRole">
            <option value="all">Any</option>
            <option value="administrator">Administrator</option>
            <option value="ukef_admin">UKEF admin</option>
            <option value="ukef_staff">UKEF staff</option>
            <option value="cont">Content Admin</option>
            <option value="bank_admin">Bank Admin</option>
            <option value="bank_staff">Bank staff</option>
            <option value="maker_checker">Maker/Checker</option>
            <option value="checker">Checker</option>
            <option value="maker">Maker</option>
            <option value="access_site_in_maintenance">Access site in maintenance mode</option>
            <option value="ukef_operations">UKEF Operations</option>
            <option value="ukef_efm">EFM</option>
          </select>

        </div>
      </div>

      <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group">
          <label class="govuk-label" for="filterByPermission">
            Permission
          </label>

          <select class="govuk-select govuk-!-width-full" id="filterByPermission" name="filterByPermission">
            <option value="all">Any</option>
          </select>

        </div>
      </div>

      <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group">
          <label class="govuk-label" for="filterByStatus">
            Status
          </label>

          <select class="govuk-select govuk-!-width-full" id="filterByStatus" name="filterByStatus">
            <option value="all">Any</option>
            <option value="active">Active</option>
            <option value="blocked">Blocked</option>
          </select>
        </div>

      </div>

      <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group">
          <label class="govuk-label" for="filterByOrganisation">
            Organisation - bank
          </label>

          <select class="govuk-select govuk-!-width-full" id="filterByOrganisation" name="filterByOrganisation">
            <option value="all">Any</option>
            {% for bank in banks %}
              <option value="{{ bank.id}}">{{ bank.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>

    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Apply filters
    </button>

  </form>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group">
          <label class="govuk-label" for="filterByAction">
            Action
          </label>

          <select class="govuk-select govuk-!-width-full" id="filterByStatus" name="filterByAction">
            <option value="all">Block the selected user(s)</option>
            <option value="all">Unblock the selected user(s)</option>
          </select>
        </div>
      </div>
    </div>
    <button class="govuk-button" data-module="govuk-button">
      Apply to selectes items
    </button> #}

  <table class="govuk-table govuk-!-margin-bottom-0 govuk-!-margin-top-4">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
      {# <th scope="col" class="govuk-table__header govuk-!-font-size-14">
       <div class="govuk-form-group user-admin-form-group--checkboxes">
        <fieldset class="govuk-fieldset">
          <div class="govuk-checkboxes govuk-checkboxes--small">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="">
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      </th> #}
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Username</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Organisation - Bank</th>
        {# <th scope="col" class="govuk-table__header govuk-!-font-size-14">Status</th> #}
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Roles</th>
        {# <th scope="col" class="govuk-table__header govuk-!-font-size-14">Member for</th> #}
        <th scope="col" class="govuk-table__header govuk-!-font-size-14">Last access</th>
        {# <th scope="col" class="govuk-table__header govuk-!-font-size-14">Operations</th> #}
      </tr>
    </thead>

        <tbody class="govuk-table__body">
          <!-- cycler only used for mocks to demo enable/disable links. Remove for real data-->
          {% set cls = cycler("odd", "even") %}

          {% for displayUser in users %}
            <tr class="govuk-table__row" data-cy="user-{{displayUser.username}}">
              {# <td class="govuk-table__cell govuk-!-font-size-14">
                <div class="govuk-form-group user-admin-form-group--checkboxes">
                  <fieldset class="govuk-fieldset">
                    <div class="govuk-checkboxes govuk-checkboxes--small">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" type="checkbox" value="">
                        <label class="govuk-label govuk-checkboxes__label" for="">
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </td> #}

              <td class="govuk-table__cell govuk-!-font-size-14">
                <a href="/admin/users/edit/{{ displayUser._id | urlencode }}" class="govuk-link" data-cy="username-{{displayUser.username}}">{{ displayUser.username }}</a>
              </td>

              <td class="govuk-table__cell govuk-!-font-size-14" data-cy="bank">
                {{ displayUser.bank.name }}
              </td>

              {# <td class="govuk-table__cell govuk-!-font-size-14">
               {% if cls.current == "odd" %}
                  Active
                {% else %}
                  Disabled
                {% endif %}
              </td> #}

              <td data-cy="roles-{{displayUser.username}}" class="govuk-table__cell govuk-!-font-size-14">
                <ul class="govuk-!-margin-0 govuk-!-margin-left-4 govuk-!-padding-left-0">
                  {% for role in displayUser.roles %}
                    <li>{{ role }}</li>
                  {% endfor %}
                </ul>
              </td>

              {# <td class="govuk-table__cell govuk-!-font-size-14">
              2 years 7 months
              </td> #}

              <td class="govuk-table__cell govuk-!-font-size-14" data-cy="lastLogin-{{displayUser.username}}">
                {{ displayUser.lastLogin | localiseTimestamp("DD/MM/YYYY HH:mm", user.timezone) }}
              </td>

              {# <td class="govuk-table__cell govuk-!-font-size-14">
                <ul class="govuk-!-margin-0 govuk-!-margin-left-4 govuk-!-padding-left-0">
                <li><a href="/admin/users/edit/{{ user.username | urlencode }}" class="govuk-link" >Edit <span class="govuk-visually-hidden">{{ user.username }}</span></a></li>
                <li>

                {% if cls.next() == "odd" %}
                  <a href="/admin/users/enable/{{ user.username | urlencode }}" class="govuk-link" >Enable<span class="govuk-visually-hidden">{{ user.username }}</span></a>
                {% else %}
                  <a href="/admin/users/disable/{{ user.username | urlencode }}" class="govuk-link" >Disable<span class="govuk-visually-hidden">{{ user.username }}</span></a>
                {% endif %}
                </li>
                </ul>
              </td> #}

            </tr>
          {% endfor %}

        </tbody>
  </table>

{% endblock %}
