{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "index.njk" %}
{% block pageTitle -%} User admin{%- endblock %}{% block content %}
<h1 class="govuk-heading-l">User admin</h1>

<table class="govuk-table govuk-!-margin-bottom-0 govuk-!-margin-top-4 govuk-!-margin-bottom-4">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-font-size-14">Username</th>
      <th scope="col" class="govuk-table__header govuk-!-font-size-14">Organisation - Bank</th>
      <th scope="col" class="govuk-table__header govuk-!-font-size-14">Roles</th>
      <th scope="col" class="govuk-table__header govuk-!-font-size-14">Last access</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    {% for displayUser in users %}
      <tr class="govuk-table__row" data-cy="user-{{ displayUser.username }}">

        <td class="govuk-table__cell govuk-!-font-size-14">
          <a
            href="/admin/users/edit/{{ displayUser._id | urlencode }}"
            class="govuk-link"
            data-cy="username-{{ displayUser.username }}">{{ displayUser.username }}</a>
          <br>
            {% if displayUser.isTrusted %}
              {{ govukTag({
              text: "Trusted",
              classes: "govuk-tag--yellow govuk-!-margin-top-1",
              attributes: { "data-cy": "trusted-" + displayUser.username }
            } ) }}
            {% endif %}
          </td>

          <td class="govuk-table__cell govuk-!-font-size-14" data-cy="bank">
            {{ displayUser.bank.name }}
          </td>

          <td data-cy="roles-{{ displayUser.username }}" class="govuk-table__cell govuk-!-font-size-14">
            <ul class="govuk-!-margin-0 govuk-!-margin-left-4 govuk-!-padding-left-0">
              {% for role in displayUser.roles %}
                <li>{{ role }}</li>
              {% endfor %}
            </ul>
          </td>

          <td class="govuk-table__cell govuk-!-font-size-14" data-cy="lastLogin-{{ displayUser.username }}">
            {{ displayUser.lastLogin | localiseTimestamp("dd/MM/yyyy HH:mm", user.timezone) }}
          </td>
          
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {{ govukButton({
      text: "Add user",
      href: "/admin/users/create",
      classes: "govuk-!-margin-right-1",
      attributes: {
        "data-cy": "admin-add-user"
        }
  }) }}

  {{ govukButton({
        text: "Cancel",
        classes: "govuk-button--secondary govuk-!-margin-right-1",
        href: "/dashboard",
        attributes: {
          'data-cy': 'admin-cancel'
        }
      }) }}

{% endblock %}