{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "index.njk" %}

{% block pageTitle %}
  {% if _id %}
    Edit user {{ displayedUser.username }}
  {% else %}
    User create
  {% endif %}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">
    {% if _id %}
      Edit user {{ displayedUser.username }}
    {% else %}
      User create
    {% endif %}
  </h1>

  {% if _id %}
    <p class="govuk-body">
      <a href="/admin/users/change-password/{{_id}}">Change password</a>
    </p>
  {% endif %}

   <form method="POST" autocomplete="off">
    {{ govukCheckboxes({
      idPrefix: "roles",
      name: "roles",
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          text: "Roles",
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          value: "maker/checker",
          text: "Maker/Checker",
          checked: displayedUser.roles.includes("maker/checker"),
          attributes: {"data-cy": "role-maker/checker"}
        },
        {
          value: "checker",
          text: "Checker",
          checked: displayedUser.roles.includes("checker"),
          attributes: {"data-cy": "role-checker"}
        },
        {
          value: "maker",
          text: "Maker",
          checked: displayedUser.roles.includes("maker"),
          attributes: {"data-cy": "role-maker"}
        },
        {
          value: "ukef_operations",
          text: "UKEF Operations",
          checked: displayedUser.roles.includes("ukef_operations"),
          attributes: {"data-cy": "role-ukef_operations"}
        },
        {
          value: "EFM",
          text: "EFM",
          checked: displayedUser.roles.includes("EFM"),
          attributes: {"data-cy": "role-efm"}
        }
      ]
    }) }}


    {% if _id %}
      <p class="govuk-body">Email<br/>{{ displayedUser.email }}</p>

      <p class="govuk-body">Display name<br/>{{ displayedUser.username }}</p>

    {% else %}

      {{ govukInput({
        attributes: {
          "data-cy": "username",
          "autocapitalize": "off"
          },
        label: {
          text: "Email address"
        },
        hint: {
          text: "A valid email address. All emails from the system will be sent to this address. The email address is not made public and will only be used if you wish to receive a new password or wish to receive certain news or notifications by email."
        },
        classes: "govuk-!-width-one-third",
        id: "email",
        name: "email",
        value: displayedUser.username
      }) }}


      {{
        govukRadios({
          fieldset: {
            legend: { text: "Auto-create a valid password?" }
          },
          idPrefix: "autoCreatePassword-",
          name: "autoCreatePassword",
          classes: "govuk-radios--inline",
          items: [
            {
              value: "true",
              text: "Yes",
              attributes: {
                "data-cy": "autoCreatePassword-true",
              },
              checked: displayedUser.autoCreatePassword !== 'true'
            },
            {
              value: "false",
              text: "No",
              attributes: {
                "data-cy": "autoCreatePassword-false",
              },
              checked: displayedUser.autoCreatePassword === 'false'
            }
          ]
        })
      }}

      {% if displayedUser.autoCreatePassword === 'true' %}
        {% set renderByDefault='false' %}
      {% else %}
        {% set renderByDefault='true' %}
      {% endif %}
      <div id="manuallyCreatePassword" class="{% if renderByDefault === 'false' %}govuk-visually-hidden{% endif %}">
        {# {% include "../_partials/password-create.njk" %} #}
        <div class="govuk-form-group">
            {{ govukInput({
              attributes: {
                "data-cy": "password",
                "autocomplete": "off"
                },
              label: {
                text: "New password"
              },
              formGroup: {
                classes: "govuk-!-width-one-third govuk-!-margin-bottom-1"
              },
              id: "password",
              name: "password",
              type: "password",
              errorMessage: validationErrors.errorList.password
            }) }}

            {{ govukInput({
              attributes: {
                "data-cy": "confirm-password",
                "autocomplete": "off"
                },
              label: {
                text: "Confirm password"
              },
              formGroup: {
                classes: "govuk-!-width-one-third govuk-!-margin-bottom-1"
              },
              id: "passwordConfirm",
              name: "passwordConfirm",
              type: "password"
            }) }}
        </div>

      </div>

    {% endif %}


  <div class="govuk-label">
  Status
  </div>

  {{ govukRadios({
    classes: "govuk-radios--inline",
    idPrefix: "user-status",
    name: "user-status",
    items: [
      {
        value: "blocked",
        text: "Blocked",
        attributes: {
          "data-cy": "user-status-blocked"
        },
        checked: displayedUser['user-status'] === 'blocked'
      },
      {
        value: "active",
        text: "Active",
        attributes: {
          "data-cy": "user-status-active"
        },
        checked: displayedUser['user-status'] !== 'blocked'
      }
    ]
  }) }}

  {# {{ govukCheckboxes({
      idPrefix: "notify",
      name: "notify",
      classes: "govuk-checkboxes--small",
      items: [
        {
          value: "true",
          text: "Notify user of new account?"
        }
      ]
    }) }} #}

      {{ govukInput({
        attributes: {"data-cy": "firstname"},
        label: {
          text: "First name"
        },
        classes: "govuk-!-width-one-third",
        id: "firstname",
        name: "firstname",
        value: displayedUser.firstname
      }) }}

      {{ govukInput({
        attributes: {"data-cy": "surname"},
        label: {
          text: "Surname"
        },
        classes: "govuk-!-width-one-third",
        id: "surname",
        name: "surname",
        value: displayedUser.surname
      }) }}

    {% if _id %}
      <p class="govuk-body">Bank<br/>{{ displayedUser.bank.name }}</p>
    {% else %}
      <div class="govuk-form-group">
        <label class="govuk-label" for="bank">
          Bank
        </label>
        <span class="govuk-hint">
          This field is required when the user has a role "Bank staff".
        </span>
        <select class="govuk-select govuk-!-width-one-third" id="bank" name="bank" data-cy="bank">
          <option value="all">Any</option>
          {% for bank in banks %}
            <option value="{{ bank.id}}">{{ bank.name }}</option>
          {% endfor %}
        </select>
      </div>
    {% endif %}

    {% if _id %}

      {{ govukButton({
        attributes: {"data-cy": "Save"},
        text: "Save"
      }) }}

    {% else %}
      {{ govukButton({
        attributes: {"data-cy": "CreateUser"},
        text: "Create user"
      }) }}
    {% endif %}

  </form>

{% endblock %}
