{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% extends "index.njk" %}

{% block pageTitle %}
  {% if _id %}
    Edit user {{ displayedUser.username }}
  {% else %}
    User create
  {% endif %}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">
    {% if _id %}
      Edit user {{ displayedUser.username }}
    {% else %}
      User create
    {% endif %}
  </h1>

   <form method="POST" autocomplete="off">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    {{ govukInput({
    attributes: {"data-cy": "firstname"},
    label: {
      text: "First name"
    },
    classes: "govuk-!-width-one-third",
    id: "firstname",
    name: "firstname",
    value: displayedUser.firstname
  }) }}

  {{ govukInput({
    attributes: {"data-cy": "surname"},
    label: {
      text: "Surname"
    },
    classes: "govuk-!-width-one-third",
    id: "surname",
    name: "surname",
    value: displayedUser.surname
  }) }}

    {{ govukCheckboxes({
      idPrefix: "roles",
      name: "roles",
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          text: "Roles",
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          value: "maker/checker",
          text: "Maker/Checker",
          checked: displayedUser.roles.includes("maker/checker"),
          attributes: {"data-cy": "role-maker/checker"}
        },
        {
          value: "checker",
          text: "Checker",
          checked: displayedUser.roles.includes("checker"),
          attributes: {"data-cy": "role-checker"}
        },
        {
          value: "maker",
          text: "Maker",
          checked: displayedUser.roles.includes("maker"),
          attributes: {"data-cy": "role-maker"}
        },
        {
          value: "ukef_operations",
          text: "UK Export Finance Operations",
          checked: displayedUser.roles.includes("ukef_operations"),
          attributes: {"data-cy": "role-ukef_operations"}
        },
        {
          value: "EFM",
          text: "Export Finance Manager (EFM)",
          checked: displayedUser.roles.includes("EFM"),
          attributes: {"data-cy": "role-efm"}
        }
      ]
    }) }}


    {% if _id %}
      <p class="govuk-body">Email<br/>{{ displayedUser.email }}</p>
      <p class="govuk-body">Display name<br/>{{ displayedUser.username }}</p>
    {% else %}
      {{ govukInput({
        attributes: {
          "data-cy": "username",
          "autocapitalize": "off"
          },
        label: {
          text: "Email address"
        },
        hint: {
          text: "A valid email address. All emails from the system will be sent to this address. The email address is not made public and will only be used if you wish to receive a new password or wish to receive certain news or notifications by email."
        },
        classes: "govuk-!-width-one-third",
        id: "email",
        name: "email",
        value: displayedUser.username,
        errorMessage: validationErrors.errorList.email
      }) }}

      {{
        govukRadios({
          fieldset: {
            legend: { text: "Auto-create a valid password?" }
          },
          idPrefix: "autoCreatePassword-",
          name: "autoCreatePassword",
          classes: "govuk-radios--inline",
          items: [
            {
              value: "true",
              text: "Yes",
              attributes: {
                "data-cy": "autoCreatePassword-true"
              },
              checked: displayedUser.autoCreatePassword !== 'true'
            },
            {
              value: "false",
              text: "No",
              attributes: {
                "data-cy": "autoCreatePassword-false"
              },
              checked: displayedUser.autoCreatePassword === 'false'
            }
          ]
        })
      }}

      {% if displayedUser.autoCreatePassword === 'false' %}
        {% set renderByDefault='true' %}
      {% else %}
        {% set renderByDefault='false' %}
      {% endif %}

      <div id="manuallyCreatePassword" class="{% if renderByDefault === 'false' %}govuk-visually-hidden{% endif %}">
        <div class="govuk-form-group">
            {{ govukInput({
              attributes: {
                "data-cy": "password",
                "autocomplete": "off"
                },
              label: {
                text: "New password"
              },
              formGroup: {
                classes: "govuk-!-width-one-third govuk-!-margin-bottom-1"
              },
              id: "password",
              name: "password",
              type: "password",
              errorMessage: validationErrors.errorList.password
            }) }}

            {{ govukInput({
              attributes: {
                "data-cy": "confirm-password",
                "autocomplete": "off"
                },
              label: {
                text: "Confirm password"
              },
              formGroup: {
                classes: "govuk-!-width-one-third govuk-!-margin-bottom-1"
              },
              id: "passwordConfirm",
              name: "passwordConfirm",
              type: "password"
            }) }}
        </div>

      </div>

    {% endif %}

  <div class="govuk-label">
  Status
  </div>

  {{ govukRadios({
    classes: "govuk-radios--inline",
    idPrefix: "user-status",
    name: "user-status",
    items: [
      {
        value: "blocked",
        text: "Blocked",
        attributes: {
          "data-cy": "user-status-blocked"
        },
        checked: displayedUser['user-status'] === 'blocked'
      },
      {
        value: "active",
        text: "Active",
        attributes: {
          "data-cy": "user-status-active"
        },
        checked: displayedUser['user-status'] !== 'blocked'
      }
    ]
  }) }}
  
  {% if not _id %}

    {% set banksList = [
      {
            value: "all",
            text: "Any"
      }
    ] %}
    {% for bank in banks %}

      {% set selectedBank = (bank.id === displayedUser.bank.id) %}

    {%
        set banksList = (banksList.push({
        value: bank.id,
        text: bank.name,
        selected: selectedBank
      }), banksList)
    %}

    {% endfor %}
    
    {{ govukSelect({
      id: "bank",
      name: "bank",
      label: {
        text: "Bank"
      },
      hint: {
        text: "Applicable for Bank Staff users only."
      },
      attributes: {
        "data-cy": "bank"
      },
      classes: "govuk-!-width-one-third",
      items: banksList
    }) }}

  {% endif %}

  {% if _id %}
    {{ govukButton({
      attributes: {"data-cy": "Save"},
      classes: "govuk-!-margin-right-1",
      text: "Save"
    }) }}

    {{ govukButton({
        text: "Change password",
        href: "/admin/users/change-password/" + _id,
        classes: "govuk-!-margin-right-1",
        attributes: {
          'data-cy': 'change-password-button'
        }
      })
    }}
  {% else %}
    {{ govukButton({
      attributes: {"data-cy": "CreateUser"},
      classes: "govuk-!-margin-right-1",
      text: "Create user"
    }) }}
  {% endif %}

  {{ govukButton({
        text: "Cancel",
        classes: "govuk-button--secondary govuk-!-margin-right-1",
        href: "/admin/users/",
        attributes: {
          'data-cy': 'user-edit-button-cancel'
        }
      })
    }}

  </form>

{% endblock %}
