{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% extends "index.njk" %}
{% set backLink = { href: "/admin/users" } %}

{% block pageTitle %}
  {% if _id %}
    Edit user {{ displayedUser.username }}
  {% else %}
    Create user
  {% endif %}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">
    {% if _id %}
      Edit user {{ displayedUser.username }}
    {% else %}
      Create user
    {% endif %}
  </h1>

   <form method="POST" autocomplete="off">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    {{ govukInput({
    attributes: {"data-cy": "firstname"},
    label: {
      text: "First name",
      classes: "govuk-label--s"
    },
    classes: "govuk-!-width-one-third",
    id: "firstname",
    name: "firstname",
    value: displayedUser.firstname,
    errorMessage: validationErrors.errorList.firstname and {
      text: validationErrors.errorList.firstname.text,
      attributes: { "data-cy": "firstname-error-message" }
    }
  }) }}

  {{ govukInput({
    attributes: {"data-cy": "surname"},
    label: {
      text: "Surname",
      classes: "govuk-label--s"
    },
    classes: "govuk-!-width-one-third",
    id: "surname",
    name: "surname",
    value: displayedUser.surname,
    errorMessage: validationErrors.errorList.surname and {
      text: validationErrors.errorList.surname.text,
      attributes: { "data-cy": "surname-error-message" }
    }
  }) }}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Trusted user",
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: "A trusted user is a primary contact at the organisation and they can provide approvals and information to UKEF"
    },
    name: "isTrusted",
    classes: "govuk-radios--inline",
    items: [
      {
        value: "true",
        text: "Yes",
        attributes: {
          "data-cy": "is-trusted-true"
        },
        checked: displayedUser['isTrusted'] === true
      },
      {
        value: "false",
        text: "No",
        attributes: {
          "data-cy": "is-trusted-false"
        },
        checked: displayedUser['isTrusted'] !== true
      }
    ]
  }) }}

  {{ govukCheckboxes({
    idPrefix: "roles",
    name: "roles",
    fieldset: {
      legend: {
        text: "Roles",
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: "Select the role or multiple roles of the person you’re adding as a user"
    },
    errorMessage: validationErrors and validationErrors.errorList and validationErrors.errorList.roles and {
      text: validationErrors.errorList.roles.text,
      attributes: { "data-cy": "roles-error-message" }
    },
    items: [
      {
        value: "maker",
        text: "Maker",
        hint: { text: "Creates the UKEF application on behalf of the bank" },
        checked: displayedUser.roles.includes("maker"),
        attributes: {"data-cy": "role-maker"}
      },
      {
        value: "checker",
        text: "Checker",
        hint: { text: "Independently reviews applications" },
        checked: displayedUser.roles.includes("checker"),
        attributes: {"data-cy": "role-checker"}
      },
      {
        value: "payment-report-officer",
        text: "Payment Report Officer",
        hint: { text: "Report on GEF utilisation and fees" },
        checked: displayedUser.roles.includes("payment-report-officer"),
        attributes: {"data-cy": "role-payment-report-officer"}
      },
      {
        value: "admin",
        text: "Admin",
        hint: { text: "Creates, updates, and removes user accounts" },
        checked: displayedUser.roles.includes("admin"),
        attributes: {"data-cy": "role-admin"}
      },
      {
        divider: 'or'
      },
      {
        value: "read-only",
        text: "Read-only",
        hint: { text: "Views applications but cannot make edits" },
        behaviour: "exclusive",
        checked: displayedUser.roles.includes("read-only"),
        attributes: {"data-cy": "role-read-only"}
      }
    ]
  }) }}


  {% if _id %}
    <p class="govuk-body">Email<br/>{{ displayedUser.email }}</p>
    <p class="govuk-body">Display name<br/>{{ displayedUser.username }}</p>
  {% else %}
    {{ govukInput({
      attributes: {
        "data-cy": "username",
        "autocapitalize": "off"
      },
      label: {
        text: "Email address",
        classes: "govuk-label--s"
      },
      hint: {
        text: "Enter a valid email address. All emails from the system will be sent to this address. The email address is not made public and will only be used for emailing users the link to set or reset their password, or if they wish to receive certain news or notifications by email"
      },
      classes: "govuk-!-width-one-third",
      id: "email",
      name: "email",
      spellcheck: false,
      type: "email",
      autocomplete: "email",
      value: displayedUser.username,
      errorMessage: validationErrors.errorList.email
    }) }}

  {% endif %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Status",
        classes: "govuk-fieldset__legend--s"
      }
    },
    idPrefix: "user-status",
    name: "user-status",
    classes: "govuk-radios--inline",
    items: [
      {
        value: "blocked",
        text: "Blocked",
        attributes: {
          "data-cy": "user-status-blocked"
        },
        checked: displayedUser['user-status'] === 'blocked'
      },
      {
        value: "active",
        text: "Active",
        attributes: {
          "data-cy": "user-status-active"
        },
        checked: displayedUser['user-status'] !== 'blocked'
      }
    ]
  }) }}

  {% if not _id %}

    {% set banksList = [
      {
            value: "",
            text: "Please select a bank",
            selected: displayedUser.bank === ""
      },
      {
            value: "all",
            text: "All",
            selected: displayedUser.bank === "all"
      }
    ] %}
    {% for bank in banks %}

      {% set selectedBank = (bank.id === displayedUser.bank.id) %}

    {%
        set banksList = (banksList.push({
        value: bank.id,
        text: bank.name,
        selected: selectedBank
      }), banksList)
    %}

    {% endfor %}

    {{ govukSelect({
      id: "bank",
      name: "bank",
      label: {
        text: "Bank",
        classes: "govuk-label--s"
      },
      hint: {
        text: "Applicable for Bank Staff users only"
      },
      errorMessage: validationErrors.errorList.bank and {
        text: validationErrors.errorList.bank.text,
        attributes: { "data-cy": "bank-error-message" }
      },
      attributes: {
        "data-cy": "bank"
      },
      classes: "govuk-!-width-one-third",
      items: banksList
    }) }}

  {% endif %}

  {% if _id %}
    {{ govukButton({
      attributes: {"data-cy": "Save"},
      classes: "govuk-!-margin-right-1",
      text: "Save"
    }) }}

    {{ govukButton({
        text: "Change password",
        href: "/admin/users/change-password/" + _id,
        classes: "govuk-!-margin-right-1",
        attributes: {
          'data-cy': 'change-password-button'
        }
      })
    }}
  {% else %}
    {{ govukButton({
      attributes: {
        "data-cy": "create-user-add"
        },
      classes: "govuk-!-margin-right-1",
      text: "Create user"
    }) }}
  {% endif %}

  {{ govukButton({
        text: "Cancel",
        classes: "govuk-button--secondary govuk-!-margin-right-1",
        href: "/admin/users/",
        attributes: {
          'data-cy': 'create-user-cancel'
        }
      })
    }}

  </form>

{% endblock %}