{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "index.njk" %}

{% block pageTitle %}Change password for {{ user.username }}{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">
  Change password for {{ user.username }}?
  </h1>


  <form method="POST" autocomplete="off">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {% include "_partials/password-create.njk" %}

    {{ govukButton({
      text: "Submit",
      classes: "govuk-!-margin-right-1",
      href: "/admin/users/"
    }) }}

    {{ govukButton({
      text: "Cancel",
      classes: "govuk-button--secondary",
      href: "/admin/users/"
    }) }}
  </form>

{% endblock %}
