.feedback-table th,
.feedback-table td {
  width: 10%;
  text-align: center;
}

.feedback-table tr th:first-child,
.feedback-table tr td:first-child {
  width: 40%;
  text-align: left;
}

.feedback-table .govuk-radios__item {
  left: 25%;
}

.feedback-table .govuk-table__caption {
  font-weight: normal;
}
