{% macro nav(selected) %}

  {% set tabs = [
    {
      id: 'bssDeals',
      href: '/dashboard',
      text: 'BSS / EWCS Deal view'
    },
    {
      id: 'gefDeals',
      href: '/dashboard/gef',
      text: 'GEF Deal view'
    },
    {
      id: 'transactions',
      href: '/dashboard/transactions',
      text: 'Transactions'
    }
  ] %}

  <ul class="govuk-tabs__list">
    {% for tab in tabs %}
      <li class="govuk-tabs__list-item{% if selected === tab.id %} govuk-tabs__list-item--selected{% endif %}">
        <a
          class="govuk-tabs__tab"
          href="{{ tab.href }}"
        >
          {{ tab.text }}
        </a>
      </li>
    {% endfor %}

  </ul>

{% endmacro %}