{% extends "index.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% import './_macros/bond-nav.njk' as bondNav %}

{% block content %}

  {% set showAdditionalFieldsByDefault = bond.transactionCurrencySameAsSupplyContractCurrency === "false" %}

  <script type="text/javascript">
    function showAdditionalFields(bool) {
      var additionalFormFields = document.getElementById('additional-form-fields');

      if (bool) {
        additionalFormFields.className = '';
      } else {
        additionalFormFields.className = 'govuk-visually-hidden';
      }
    }
  </script>

  {% if validationErrors.count %}
    {{
      govukErrorSummary({
        titleText: "There is a problem",
        errorList: validationErrors.summary
      })
    }}
  {% endif %}

  {{ bondNav.nav(
    completedStatus = bond.completedStatus,
    current = 'bondFinancialDetails',
    contractId = dealId,
    childId = bond._id
  )}}

  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8" />

  <form method="POST" autocomplete="off">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        {{ govukInput({
          label: {
            text: "Bond value"
          },
          id: "bondValue",
          name: "bondValue",
          value: bond.bondValue,
          classes: "input--numeric-float",
          pattern: "[0-9][0-9,]{0,20}(\.?\d{0,2}|\d\.?\d{0,1}|\d{2}\.?)",
          attributes: {
            size: "60",
            maxlength: "255",
            step: "0.25",
            placeholder: "0.00",
            'data-cy': 'bond-value'
          },
          errorMessage: validationErrors.errorList.bondValue
        }) }}
      </div>
    </div>

    {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "transactionCurrencySameAsSupplyContractCurrency",
        name: "transactionCurrencySameAsSupplyContractCurrency",
        fieldset: {
          legend: {
            text: "Is the currency for this Transaction the same as your Supply Contract currency?"
          }
        },
        items: [
          {
            value: "true",
            text: "Yes",
            checked: bond.transactionCurrencySameAsSupplyContractCurrency === "true",
            attributes: {
              'data-cy': 'transaction-currency-same-as-supply-contract-currency-yes',
              onClick: "showAdditionalFields(false)"
            }
          },
          {
            value: "false",
            text: "No",
            checked: bond.transactionCurrencySameAsSupplyContractCurrency === "false",
            attributes: {
              'data-cy': 'transaction-currency-same-as-supply-contract-currency-no',
              onClick: "showAdditionalFields(true)"
            }
          }
        ],
        errorMessage: validationErrors.errorList.transactionCurrencySameAsSupplyContractCurrency
      }) }}
  
    <div
      id="additional-form-fields"
      {% if showAdditionalFieldsByDefault === false %}
      class="govuk-visually-hidden"
      {% endif %}
    >

      {{ govukSelect({
        id: "currency",
        name: "currency",
        label: {
          text: "Currency"
        },
        attributes: {
          'data-cy': 'currency'
        },
        items: currencies,
        errorMessage: validationErrors.errorList.currency
      }) }}

      <div class="govuk-form-group">
        <label class="govuk-label" for="conversionRate">
          Conversion rate to the Supply Contract currency 
        </label>

        <span id="conversion-rate-hint" class="govuk-hint">
          E.g. EUR to USD (100 EUR/ 0.91 = 109.89 USD)
        </span>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <input class="govuk-input" id="conversionRate" name="conversionRate" type="text" size="60" maxlength="@55" pattern="[0-9]{0,6}(\.\d{0,6}|\.?)" aria-describedby="conversion-rate-hint" value="{{ bond.conversionRate }}" data-cy="conversion-rate">
          </div>
        </div>
      </div>

      {{ govukDateInput({
        id: "conversionRateDate",
        namePrefix: "conversionRateDate",
        fieldset: {
          legend: {
            text: "Conversion rate date"
          }
        },
        hint: {
          text: "For example, 27 11 2019"
        },
        items: [
          {
            classes: "govuk-input--width-2",
            name: "day",
            value: bond['conversionRateDate-day']
          },
          {
            classes: "govuk-input--width-2",
            name: "month",
            value: bond['conversionRateDate-month']
          },
          {
            classes: "govuk-input--width-2",
            name: "year",
            value: bond['conversionRateDate-year']
          }
        ]
      }) }}

    </div>

    {{ govukInput({
      label: {
        text: "Risk Margin Fee %"
      },
      hint: {
        text: "The ongoing fee charged by the bank to the Supplier for the provision of the bond to the beneficiary. It excludes any arrangement, issuance or other up-front fees."
      },
      classes: "govuk-input--width-5",
      id: "riskMarginFee",
      name: "riskMarginFee",
      value: bond.riskMarginFee,
      attributes: {
        'data-cy': 'risk-margin-fee'
      },
      errorMessage: validationErrors.errorList.riskMarginFee
    }) }}          

    {{ govukInput({
      label: {
        text: "Covered Percentage"
      },
      hint: {
        text: "Percentage of UKEF cover requested by the bank. This can be any value up to 80%."
      },
      classes: "govuk-input--width-5",
      id: "coveredPercentage",
      name: "coveredPercentage",
      value: bond.coveredPercentage,
      attributes: {
        'data-cy': 'covered-percentage'
      },
      errorMessage: validationErrors.errorList.coveredPercentage
    }) }}    

    <div class="govuk-form-group">
      <label class="govuk-label" for="minimumRiskMarginFee">
        Minimum risk margin fee (optional)
      </label>

      <span id="minimum-risk-margin-fee-hint" class="govuk-hint">
        The minimum fee payable in the currency of the bond, if any, by the supplier.
      </span>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <input class="govuk-input input--numeric-float" id="minimumRiskMarginFee" name="minimumRiskMarginFee" type="text" size="60" maxlength="255" pattern="[0-9][0-9,]{0,20}(\.?\d{0,2}|\d\.?\d{0,1}|\d{2}\.?)" aria-describedby="minimum-risk-margin-fee-hint" placeholder="0.00" value="{{ bond.minimumRiskMarginFee }}" data-cy="minimum-risk-margin-fee">
        </div>
      </div>
      
    </div>

    <div class="govuk-form-group form-group-disabled">
      <label class="govuk-label" for="guaranteeFeePayableByBank">
        Guarantee fee payable by bank
      </label>

      <span id="guarantee-fee-payable-by-bank-hint" class="govuk-hint">
        The fee to be paid by the bank to UKEF, which represents the Risk Margin Fee multiplied by the Covered Percentage, minus the 10% retained by the bank as an administrative fee. It is a calculated field. No input is required.
      </span>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <input class="govuk-input form-group-disabled--input" id="guaranteeFeePayableByBank" name="guaranteeFeePayableByBank" type="number" step="0.0001" min="0" max="100" aria-describedby="guarantee-fee-payable-by-bank-hint" placeholder="0" disabled value="{{ bond.guaranteeFeePayableByBank }}" data-cy="guarantee-fee-payable-by-bank">
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="govuk-form-group form-group-disabled">
      <label class="govuk-label" for="ukefExposure">
        UKEF exposure
      </label>

      <span id="ukef-exposure-hint" class="govuk-hint">
        The amount of UKEF's exposure for this Transaction in the bond currency. It is the bond value multiplied by the Covered Percentage. It is a calculated field. No input is required.
      </span>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <input class="govuk-input form-group-disabled--input input__text-align-right" id="ukefExposure" name="ukefExposure" type="number" size="60" maxlength="255" aria-describedby="ukef-exposure-hint" placeholder="0.00" disabled value="{{ bond.ukefExposure }}" data-cy="ukef-exposure">
        </div>
      </div>
    </div>

    <button type="submit" class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" data-cy="submit-button">Next page</button>

    <input
      type="submit"
      formaction="/contract/{{ dealId }}/bond/{{ bond._id }}/save-go-back"
      class="govuk-button govuk-button--secondary"
      data-module="govuk-button"
      value="Save and go back to deal"
      data-cy="save-go-back-button"
    />

  </form>

{% endblock %}
