{% extends "index.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% import './_macros/bond-nav.njk' as bondNav %}
{% import './_macros/bond-submission-details.njk' as bondSubmissionDetails %}

{% block content %}

  {% if validationErrors.count %}
    {{
      govukErrorSummary({
        titleText: "There is a problem",
        errorList: validationErrors.summary
      })
    }}
  {% endif %}

  {{ bondNav.render(
    completedStatus = completedStatus,
    current = 'bondPreview',
    contractId = dealId,
    childId = bond._id,
    bondStatus = bond.status
  )}}

  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8" />

  {% include "_partials/print-button.njk" %}
    
  {{ bondSubmissionDetails.render(bondDetails = bond)}}

  <p class="govuk-body"><a class="govuk-link" href="/contract/{{ dealId }}" data-cy="save-go-back-button">Save and go back to deal</a></p>

{% endblock %}
