{% extends "index.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% import 'contract/components/task-list-header.njk' as taskListHeader %}
{% import '_macros/currency-same-as-supply-contract-currency.njk' as currencySameAsSupplyContractCurrency %}
{% import '_macros/facility-inputs/covered-percentage.njk' as coveredPercentage %}
{% import '_macros/facility-inputs/guarantee-fee-payable-by-bank.njk' as guaranteeFeePayableByBank %}
{% import '_macros/facility-inputs/ukef-exposure.njk' as ukefExposure %}

{% block pageTitle %}Bond Financial Details{% endblock %}

{% block content %}

  {% if validationErrors.count %}
    {{
      govukErrorSummary({
        titleText: "There is a problem",
        errorList: validationErrors.summary
      })
    }}
  {% endif %}

  {{ taskListHeader.render({
    title: 'Bond',
    dealId: dealId,
    entityName: 'bond',
    entityId: bond._id,
    items: taskListItems
  })}}

  <form method="POST" autocomplete="off" novalidate>
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        {{ govukInput({
          label: {
            text: "Bond value"
          },
          id: "facilityValue",
          name: "value",
          value: bond.value,
          pattern: '[0-9][0-9,]{0,20}(\.?\d{0,2}|\d\.?\d{0,1}|\d{2}\.?)',
          attributes: {
            size: "60",
            maxlength: "255",
            placeholder: "0.00",
            'data-cy': 'facility-value',
            "data-mask": "currency"
          },
          errorMessage: validationErrors.errorList.value and {
            text: validationErrors.errorList.value.text,
            attributes: {
              'data-cy': 'facility-value-error-message'
            }
          }
        }) }}
      </div>
    </div>

    {{ currencySameAsSupplyContractCurrency.render(
      facility = bond,
      radioFieldsetText = "Is the currency of this bond the same as your Supply Contract currency?",
      currencies = currencies,
      validationErrors = validationErrors
    )}}

    {{ govukInput({
      label: {
        text: "Risk Margin Fee %"
      },
      hint: {
        text: "The ongoing fee charged by the bank to the Supplier for the provision of the bond to the beneficiary. It excludes any arrangement, issuance or other up-front fees."
      },
      classes: "govuk-input--width-5",
      id: "riskMarginFee",
      name: "riskMarginFee",
      value: bond.riskMarginFee,
      attributes: {
        'data-cy': 'risk-margin-fee'
      },
      errorMessage: validationErrors.errorList.riskMarginFee and {
        text: validationErrors.errorList.riskMarginFee.text,
        attributes: {
          'data-cy': 'risk-margin-fee-error-message'
        }
      }
    }) }}

    {{ coveredPercentage.render(
      value = bond.coveredPercentage,
      validationError = validationErrors.errorList.coveredPercentage
    )}}

     {{ govukInput({
       inputmode: 'numeric',
        label: {
          text: "Minimum risk margin fee (optional)"
        },
        hint: {
          text: "The minimum fee payable in the currency of the bond, if any, by the supplier."
        },
        id: "minimumRiskMarginFee",
        name: "minimumRiskMarginFee",
        value: bond.minimumRiskMarginFee,
        classes: "govuk-input--width-5",
        attributes: {
          size: "60",
          maxlength: "255",
          placeholder: "0.00",
          'data-cy': 'minimum-risk-margin-fee'
        },
        errorMessage: validationErrors.errorList.minimumRiskMarginFee and {
          text: validationErrors.errorList.minimumRiskMarginFee.text,
          attributes: {
            'data-cy': 'minimum-risk-margin-fee-error-message'
          }
        }
      }) }}

    {{ guaranteeFeePayableByBank.render(
      value = bond.guaranteeFeePayableByBank,
      hintText = "The fee to be paid by the bank to UKEF, which represents the Risk Margin Fee multiplied by the Covered Percentage, minus the 10% retained by the bank as an administrative fee. It is a calculated field. No input is required."
    )}}

    {{ ukefExposure.render(
      value = bond.ukefExposure,
      hintText = "The amount of UKEF's exposure for this Transaction in the bond currency. It is the bond value multiplied by the Covered Percentage. It is a calculated field. No input is required."
    )}}

    <button type="submit" class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" data-cy="submit-button">Next page</button>

    <input
      type="submit"
      formaction="/contract/{{ dealId }}/bond/{{ bond._id }}/save-go-back"
      class="govuk-button govuk-button--secondary"
      data-module="govuk-button"
      value="Save and go back to deal"
      data-cy="save-go-back-button"
    />

  </form>

{% endblock %}
