{% extends "index.njk" %}

{% block pageTitle %}Delete Bond?{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">Are you sure you want to delete {{ deal.additionalRefName }} #{{bond._id}}?</h1>

  <p class="govuk-body">This action cannot be undone.</p>

  <form method="POST" autocomplete="off" novalidate>
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    <button type="submit" class="govuk-button govuk-button--warning govuk-!-margin-right-1" data-module="govuk-button" data-cy="submit-button">
      Delete
    </button>

    <a href="/contract/{{ deal._id }}" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">Cancel</a>

  </form>

{% endblock %}
