{% extends "index.njk" %}

{% block pageTitle %}Delete Bond?{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">Are you sure you want to delete {{ bond.bankReferenceNumber }} #{{bond.ukefFacilityID}}?</h1>

  <p class="govuk-body">This action cannot be undone.</p>

  <form autocomplete="off">

    <button class="govuk-button govuk-button--warning govuk-!-margin-right-1" data-module="govuk-button">
      Delete
    </button>

    <a href="/{{ dealId }}" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">Cancel</a>

  </form>

{% endblock %}
