{% extends "index.njk" %}
{% import '_macros/issue-facility.njk' as issueFacility %}

{% block pageTitle %}Bond Issue Facility{% endblock %}

{% block content %}

  {{ issueFacility.render(
    dealId = dealId,
    isBond = true
  )}}

{% endblock %}
