{% extends "index.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% import './_macros/bond-nav.njk' as bondNav %}
{% import '../_macros/facility-inputs/facility-payment-type.njk' as facilityPaymentType %}
{% import '../_macros/facility-inputs/day-count-radios.njk' as dayCountRadios %}

{% block pageTitle %}Bond Fee Details{% endblock %}

{% block content %}

  {% if validationErrors.count %}
    {{
      govukErrorSummary({
        titleText: "There is a problem",
        errorList: validationErrors.summary
      })
    }}
  {% endif %}

  {{ bondNav.render(
    completedForms = completedForms,
    current = 'feeDetails',
    contractId = dealId,
    childId = bond._id,
    bondStatus = bond.status
  )}}

  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8" />

  <form method="POST" autocomplete="off">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-three-quarters">

        {{facilityPaymentType.render(
          id = 'feeType',
          label = 'Fee type',
          checkedValue = bond.feeType,
          frequencyId = 'feeFrequency',
          frequencyLabel = 'Fee frequency',
          frequencyCheckedValue = bond.feeFrequency,
          validationErrors = validationErrors
        )}}

        {{dayCountRadios.render(
          checkedValue = bond.dayCountBasis,
          errorObj = validationErrors.errorList.dayCountBasis
        )}}

      </div>

    </div>

    <button type="submit" class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" data-cy="submit-button">Preview</button>

    <input
      type="submit"
      formaction="/contract/{{ dealId }}/bond/{{ bond._id }}/save-go-back"
      class="govuk-button govuk-button--secondary"
      data-module="govuk-button"
      value="Save and go back to deal"
      data-cy="save-go-back-button"
    />

  </form>

{% endblock %}
