{% extends "index.njk" %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% import '_macros/bond-nav.njk' as bondNav %}
{% import '_macros/date-fields.njk' as dateFields %}

{% block content %}

  {% set showUnissuedFormFieldsByDefault = bond.bondStage === "unissued" %}
  {% set showIssuedFormFieldsByDefault = bond.bondStage === "issued" %}

  <script type="text/javascript">
    function toggleFormFields(bondStage) {
      var unissuedFormFields = document.getElementById('unissued-form-fields');
      var issuedFormFields = document.getElementById('issued-form-fields');

      if (bondStage === 'unissued') {
        unissuedFormFields.className = '';
        issuedFormFields.className = 'govuk-visually-hidden';
      }
      if (bondStage === 'issued') {
        issuedFormFields.className = '';
        unissuedFormFields.className = 'govuk-visually-hidden';
      }
    }
  </script>

  {{ bondNav.nav(
    completedStatus = bond.completedStatus,
    current = 'bondDetails',
    contractId = contractId,
    childId = bond._id
  )}}

  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8" />

  <form method="POST" autocomplete="off">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-three-quarters">

        <div class="govuk-form-group">

          <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="150">
            <div class="govuk-form-group">
              <label class="govuk-label" for="bondIssuer">
                Bond issuer (optional)
              </label>
              <span id="bond-issuer-hint" class="govuk-hint">
                Only enter if Bond issuer differs from the bank
              </span>

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                  <input class="govuk-input govuk-js-character-count" id="bondIssuer" name="bondIssuer" type="text" maxlength="150" aria-describedby="bond-issuer-hint" value="{{ bond.bondIssuer }}" data-cy="bond-issuer">
                </div>
              </div>
            </div>

            <span id="bond-issuer-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
              You can enter up to 150 characters
            </span>
          </div>
        </div>

        {{ govukSelect({
          id: "bondType",
          name: "bondType",
          label: {
            text: "Bond type"
          },
          attributes: {
            'data-cy': 'bond-type'
          },
          items: [
            {
              text: "Select value"
            },
            {
              text: "Advance payment guarantee",
              value: "advancePaymentguarantee",
              selected: bond.bondType === "advancePaymentguarantee"
            },
            {
              text: "Bid bond",
              value: "bidBond",
              selected: bond.bondType === "bidBond"
            },

            {
              text: "Maintenance bond",
              value: "maintenanceBond",
              selected: bond.bondType === "maintenanceBond"
            },

            {
              text: "Performance bond",
              value: "performanceBond",
              selected: bond.bondType === "performanceBond"
            },

            {
              text: "Progress payment bond",
              value: "progressPaymentBond",
              selected: bond.bondType === "progressPaymentBond"
            },

            {
              text: "Retention bond",
              value: "retentionBond",
              selected: bond.bondType === "retentionBond"
            },

            {
              text: "Standby letter of credit",
              value: "standbyLetterOfCredit",
              selected: bond.bondType === "standbyLetterOfCredit"
            },

            {
              text: "Warranty letter",
              value: "warrantyLetter",
              selected: bond.bondType === "warrantyLetter"
            }
          ]
        }) }}

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend">
              Bond stage
            </legend>
            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input
                  class="govuk-radios__input"
                  id="bondStage"
                  name="bondStage"
                  type="radio"
                  value="unissued"
                  data-cy="bond-stage-unissued"
                  onClick="toggleFormFields('unissued')"
                  {% if bond.bondStage === "unissued" %}
                    checked
                  {% endif %}
                >
                <label class="govuk-label govuk-radios__label" for="bondStage">
                  Unissued
                </label>
              </div>
              <div class="govuk-radios__item">
                <input
                  class="govuk-radios__input"
                  id="bondStage2"
                  name="bondStage"
                  type="radio"
                  value="issued"
                  data-cy="bond-stage-issued"
                  onClick="toggleFormFields('issued')"
                  {% if bond.bondStage === "issued" %}
                    checked
                  {% endif %}
                >
                <label class="govuk-label govuk-radios__label" for="bondStage2">
                  Issued
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div
          id="unissued-form-fields"
          {% if showUnissuedFormFieldsByDefault === false %}
          class="govuk-visually-hidden"
          {% endif %}
        >
          
          <div class="govuk-form-group">
            <label class="govuk-label" for="ukefGuaranteeInMonths">
              Length of time that the UKEF's guarantee will be in place for (in months, rounded up) 
            </label>

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">
                <input class="govuk-input" id="ukefGuaranteeInMonths" name="ukefGuaranteeInMonths" type="text" value="{{ bond.ukefGuaranteeInMonths }}" data-cy="ukef-guarantee-in-months">
              </div>
            </div>
          </div>

        </div>

        <div
          id="issued-form-fields"
          {% if showIssuedFormFieldsByDefault === false %}
          class="govuk-visually-hidden"
          {% endif %}
        >

          <div class="govuk-form-group">
            {{ dateFields.inputs(
              legend = 'Requested Cover Start Date (optional)',
              id = 'requestedCoverStartDate',
              hint = 'For example, 27 11 2019',
              secondaryHint = 'This must be within the next month. If this field is left blank it will default to the later of the Issued date or Inclusion Notice submission date.',
              dayValue = bond['requestedCoverStartDate-day'],
              monthValue = bond['requestedCoverStartDate-month'],
              yearValue = bond['requestedCoverStartDate-year']
            )}}
          </div>

          <div class="govuk-form-group">
            {{ dateFields.inputs(
              legend = 'Cover End Date',
              id = 'coverEndDate',
              hint = 'For example, 27 11 2025',
              dayValue = bond['coverEndDate-day'],
              monthValue = bond['coverEndDate-month'],
              yearValue = bond['coverEndDate-year']
            )}}
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="uniqueIdentificationNumber">
              Bond's unique identification number
            </label>

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                  <input class="govuk-input" id="uniqueIdentificationNumber" name="uniqueIdentificationNumber" type="text" value="{{ bond.uniqueIdentificationNumber }}">
                </div>
              </div>

          </div>
        </div>


        <div class="govuk-form-group">

          <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="150">
            <div class="govuk-form-group">
              <label class="govuk-label" for="bondBeneficiary">
                Bond beneficiary (optional)
              </label>
              <span id="bond-beneficiary-hint" class="govuk-hint">
                Only enter if different from (but related to) the overseas buyer in line with the MGA
              </span>

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                  <input class="govuk-input govuk-js-character-count" id="bondBeneficiary" name="bondBeneficiary" type="text" maxlength="150" aria-describedby="bond-beneficiary-info bond-beneficiary-hint" value="{{ bond.bondBeneficiary }}" data-cy="bond-beneficiary">
                </div>
              </div>

            </div>

            <span id="bond-beneficiary-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
              You can enter up to 150 characters
            </span>
          </div>
        </div>
        
      </div>
    </div>

    <button type="submit" class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Next page</button>

    <input
      type="submit"
      formaction="/contract/{{ contractId }}/bond/{{ bond._id }}/details/save-go-back"
      class="govuk-button govuk-button--secondary"
      data-module="govuk-button"
      value="Save and go back to deal"
    />

  </form>

{% endblock %}
