{% extends "index.njk" %}
{% import '_macros/bond-nav.njk' as bondNav %}

{% block content %}

  {# childId = bond.id #}
  {{ bondNav.nav(
    completedStatus = bond.completedStatus,
    current = 'feeDetails',
    contractId = contractId,
    childId = bond._id
  )}}

  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8" />

  <form method="POST" autocomplete="off">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-three-quarters">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend">
                Fee type
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="fee-type" name="fee-type" type="radio" value="In advance">
                <label class="govuk-label govuk-radios__label" for="fee-type">
                  In advance
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="fee-type-2" name="fee-type" type="radio" value="In arrear">
                <label class="govuk-label govuk-radios__label" for="fee-type-2">
                  In arrear
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="fee-type-3" name="fee-type" type="radio" value="At maturity">
                <label class="govuk-label govuk-radios__label" for="fee-type-3">
                  At maturity
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend">
                Fee frequency
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="fee-frequency" name="fee-frequency" type="radio" value="Monthly">
                <label class="govuk-label govuk-radios__label" for="fee-frequency">
                  Monthly
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="fee-frequency-2" name="fee-frequency" type="radio" value="Quarterly">
                <label class="govuk-label govuk-radios__label" for="fee-frequency-2">
                  Quarterly
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="fee-frequency-3" name="fee-frequency" type="radio" value="Semi-annually">
                <label class="govuk-label govuk-radios__label" for="fee-frequency-3">
                  Semi-annually
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="fee-frequency-4" name="fee-frequency" type="radio" value="Annually">
                <label class="govuk-label govuk-radios__label" for="fee-frequency-4">
                  Annually
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend">
                Day count basis
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="day-count-basis" name="day-count-basis" type="radio" value="360">
                <label class="govuk-label govuk-radios__label" for="day-count-basis">
                  360
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="day-count-basis-2" name="day-count-basis" type="radio" value="365">
                <label class="govuk-label govuk-radios__label" for="day-count-basis-2">
                  365
                </label>
              </div>
            </div>
          </fieldset>
        </div>

      </div>

    </div>

    <input type="submit" class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" value="Preview" />

    <input
      type="submit"
      formaction="/contract/{{ contractId }}/bond/{{ bond._id }}/fee-details/save-go-back"
      class="govuk-button govuk-button--secondary"
      data-module="govuk-button"
      value="Save and go back to deal"
    />

  </form>

{% endblock %}
