{% extends "index.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% import '_macros/bond-nav.njk' as bondNav %}
{% import '_macros/date-fields.njk' as dateFields %}

{% block content %}

  {% set showAdditionalFieldsByDefault = bond.transactionCurrencySameAsSupplyContractCurrency === "false" %}

  <script type="text/javascript">
    function showAdditionalFields(bool) {
      var additionalFormFields = document.getElementById('additional-form-fields');

      if (bool) {
        additionalFormFields.className = '';
      } else {
        additionalFormFields.className = 'govuk-visually-hidden';
      }
    }
  </script>

  {{ bondNav.nav(
    completedStatus = bond.completedStatus,
    current = 'bondFinancialDetails',
    contractId = contractId,
    childId = bond._id
  )}}

  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8" />

  <form method="POST" autocomplete="off">

    {# TODO: pattern validations #}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        {{ govukInput({
          label: {
            text: "Bond value"
          },
          id: "bondValue",
          name: "bondValue",
          value: bond.bondValue,
          classes: "input--numeric-float",
          pattern: "[0-9][0-9,]{0,20}(\.?\d{0,2}|\d\.?\d{0,1}|\d{2}\.?)",
          attributes: {
            size: "60",
            maxlength: "255",
            step: "0.25",
            placeholder: "0.00"
          }
        }) }}
      </div>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend">
          Is the currency for this Transaction the same as your Supply Contract currency?
        </legend>
        <div class="govuk-radios govuk-radios--inline">
          <div class="govuk-radios__item">
            <input
              class="govuk-radios__input"
              id="transactionCurrencySameAsSupplyContractCurrency"
              name="transactionCurrencySameAsSupplyContractCurrency"
              type="radio"
              value="true"
              {% if bond.transactionCurrencySameAsSupplyContractCurrency === "true" %}
                checked
              {% endif %}
              onClick="showAdditionalFields(false)"
            >
            <label class="govuk-label govuk-radios__label" for="transactionCurrencySameAsSupplyContractCurrency">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input
              class="govuk-radios__input"
              id="transactionCurrencySameAsSupplyContractCurrency2"
              name="transactionCurrencySameAsSupplyContractCurrency"
              type="radio"
              value="false"
              {% if bond.transactionCurrencySameAsSupplyContractCurrency === "false" %}
                checked
              {% endif %}
              onClick="showAdditionalFields(true)"
            >
            <label class="govuk-label govuk-radios__label" for="transactionCurrencySameAsSupplyContractCurrency2">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <div
      id="additional-form-fields"
      {% if showUnissuedFormFieldsByDefault === false %}
      class="govuk-visually-hidden"
      {% endif %}
    >
      
      <div class="govuk-form-group">
        <label class="govuk-label" for="currency">
          Currency
        </label>

        <select class="govuk-select" id="currency" name="currency">
          <option value="">Select value</option>
          {% for currency in currencies %}
            <option value={{ currency.id }}>{{ currency.name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="conversionRate">
          Conversion rate to the Supply Contract currency 
        </label>

        <span id="conversion-rate-hint" class="govuk-hint">
          E.g. EUR to USD (100 EUR/ 0.91 = 109.89 USD)
        </span>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <input class="govuk-input" id="conversionRate" name="conversionRate" type="text" size="60" maxlength="@55" pattern="[0-9]{0,6}(\.\d{0,6}|\.?)" aria-describedby="conversion-rate-hint" value="{{ bond.conversionRate }}">
          </div>
        </div>
      </div>

      <div class="govuk-form-group">
        {{ dateFields.inputs(
          legend = 'Conversion rate date',
          id = 'conversionRateDate',
          hint = 'For example, 27 11 2019',
          dayValue = bond['conversionRateDate-day'],
          monthValue = bond['conversionRateDate-month'],
          yearValue = bond['conversionRateDate-year']
        )}}
      </div>

    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="riskMarginFee">
        Risk Margin Fee %
      </label>

      <span id="risk-margin-fee-hint" class="govuk-hint">
        The ongoing fee charged by the bank to the Supplier for the provision of the bond to the beneficiary. It excludes any arrangement, issuance or other up-front fees.
      </span>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <input class="govuk-input" id="riskMarginFee" name="riskMarginFee" type="number" step="any" min="0" max="99" aria-describedby="risk-margin-fee-hint" value="{{ bond.riskMarginFee }}">
            </div>
          </div>
        </div>
      </div>
      
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="coveredPercentage">
        Covered Percentage
      </label>

      <span id="covered-percentage-hint" class="govuk-hint">
        Percentage of UKEF cover requested by the bank. This can be any value up to 80%.
      </span>


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <input class="govuk-input" id="coveredPercentage" name="coveredPercentage" type="number" step="any" min="0" max="80" aria-describedby="covered-percentage-hint" value="{{ bond.coveredPercentage }}">
            </div>
          </div>
        </div>
      </div>
      
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="minimumRiskMarginFee">
        Minimum risk margin fee (optional)
      </label>

      <span id="minimum-risk-margin-fee-hint" class="govuk-hint">
        The minimum fee payable in the currency of the bond, if any, by the supplier.
      </span>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <input class="govuk-input input--numeric-float" id="minimumRiskMarginFee" name="minimumRiskMarginFee" type="text" size="60" maxlength="255" pattern="[0-9][0-9,]{0,20}(\.?\d{0,2}|\d\.?\d{0,1}|\d{2}\.?)" aria-describedby="minimum-risk-margin-fee-hint" placeholder="0.00" value="{{ bond.minimumRiskMarginFee }}">
        </div>
      </div>
      
    </div>

    <div class="govuk-form-group form-group-disabled">
      <label class="govuk-label" for="guaranteeFeePayableByBank">
        Guarantee fee payable by bank
      </label>

      <span id="guarantee-fee-payable-by-bank-hint" class="govuk-hint">
        The fee to be paid by the bank to UKEF, which represents the Risk Margin Fee multiplied by the Covered Percentage, minus the 10% retained by the bank as an administrative fee. It is a calculated field. No input is required.
      </span>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <input class="govuk-input form-group-disabled--input" id="guaranteeFeePayableByBank" name="guaranteeFeePayableByBank" type="number" step="0.0001" min="0" max="100" aria-describedby="guarantee-fee-payable-by-bank-hint" placeholder="0" disabled value="{{ bond.guaranteeFeePayableByBank }}">
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="govuk-form-group form-group-disabled">
      <label class="govuk-label" for="ukefExposure">
        UKEF exposure
      </label>

      <span id="ukef-exposure-hint" class="govuk-hint">
        The amount of UKEF's exposure for this Transaction in the bond currency. It is the bond value multiplied by the Covered Percentage. It is a calculated field. No input is required.
      </span>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <input class="govuk-input form-group-disabled--input input__text-align-right" id="ukefExposure" name="ukefExposure" type="number" size="60" maxlength="255" aria-describedby="ukef-exposure-hint" placeholder="0.00" disabled value="{{ bond.ukefExposure }}">
        </div>
      </div>
    </div>


    <input type="submit" class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" value="Next page" />

    <input
      type="submit"
      formaction="/contract/{{ contractId }}/bond/{{ bond._id }}/financial-details/save-go-back"
      class="govuk-button govuk-button--secondary"
      data-module="govuk-button"
      value="Save and go back to deal"
    />

  </form>

{% endblock %}
