{% extends "index.njk" %}
{% import '_macros/bond-nav.njk' as bondNav %}
{% import '_macros/submission-details.njk' as submissionDetails %}

{% block content %}

  {{ bondNav.nav(
    completedStatus = bond.completedStatus,
    current = 'bondPreview',
    contractId = dealId,
    childId = bond._id
  )}}

  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8" />

  {% include "_partials/print-button.njk" %}
    
  {{ submissionDetails.bond(bondDetails = bond)}}

  <p class="govuk-body"><a class="govuk-link" href="/contract/{{ dealId }}">Save and go back to deal</a></p>

{% endblock %}
