 {% from "moj/components/banner/macro.njk" import mojBanner %}

 {% macro render(params) %}
  {% set hasAmendmentInProgressSubmittedFromPim = params.hasAmendmentInProgressSubmittedFromPim %}
  {% set amendmentsInProgressSubmittedFromPim = params.amendmentsInProgressSubmittedFromPim %}

  {% if hasAmendmentInProgressSubmittedFromPim === true %}
      {% if amendmentsInProgressSubmittedFromPim %}
        {% set bannerHtml %}
          <p class="govuk-body" data-cy="amendment--in-progress-bar">Amendment in progress for
          {% for amendment in amendmentsInProgressSubmittedFromPim %}
            <a href="/case/{{amendment.dealId}}/facility/{{amendment.facilityId}}#amendments" data-cy="amendment--in-progress-bar-link"> facility {{amendment.ukefFacilityId}} </a>
            {% if loop.index < amendmentsInProgressSubmittedFromPim.length %}
              ,
            {% endif %}
          {% endfor %}
          </p>
        {% endset %}

        {{ mojBanner({
          type: 'information',
          classes: 'govuk-!-margin-bottom-0 govuk-!-margin-top-6',
          html: bannerHtml
        }) }}
      {% endif %}
  {% endif %}

{% endmacro %}