 {% from "moj/components/banner/macro.njk" import mojBanner %}

 {% macro render(params) %}
  {% set futureEffectiveDatePortalAmendment = params.futureEffectiveDatePortalAmendment %}
  {% set isOnAmendmentTab = params.isOnAmendmentTab %}
  {% set amendmentIndex = params.amendmentIndex %}

  {% if isOnAmendmentTab %}
    {% set dataCy = 'amendment-future-effective-date-' ~ amendmentIndex ~ '-amendment-bar' %}
  {% else %}
    {% set dataCy = "amendment-future-effective-date-facility-bar" %}
  {% endif %}

  {% if futureEffectiveDatePortalAmendment %}
    {% set bannerHtml %}
      <p class="govuk-body" data-cy="{{ dataCy }}">
        Amendment {{ futureEffectiveDatePortalAmendment.referenceNumber }} is effective on {{ futureEffectiveDatePortalAmendment.effectiveDate }}.
      </p>
    {% endset %}

    {{ mojBanner({
      type: 'information',
      classes: 'govuk-!-margin-bottom-0 govuk-!-margin-top-6',
      html: bannerHtml
    }) }}
  {% endif %}

{% endmacro %}