{% from "govuk/components/details/macro.njk" import govukDetails %}

{% macro render() %}

{{
  govukDetails({
    summaryText: "What is a bank review date",
    text: "The bank review date is when you decide in accordance with your usual policies and procedures for such facilities whether to continue or terminate the facility based on the borrower's needs and circumstances.",
    attributes: {
      'data-cy': 'bank-review-date-details'
    }
  })
}}

{% endmacro %}