{% from "govuk/components/tag/macro.njk" import govukTag %}

{% macro render(params) %}
  {% set decision = params.decision %}

  {% if decision === 'Declined' %}
    {% set statusClass = 'govuk-tag--red' %}
  {% endif %}

  {% if decision === 'Approved without conditions' %}
    {% set statusClass = 'govuk-tag--green' %}
  {% endif %}

  {% if decision === 'Approved with conditions' %}
    {% set statusClass = 'govuk-tag--green' %}
  {% endif %}

  {% if decision === 'Proceed' %}
    {% set statusClass = 'govuk-tag--green' %}
  {% endif %}

  {% if decision === 'Withdraw' %}
    {% set decision = 'Withdrawn' %}
    {% set statusClass = 'govuk-tag--red' %}
  {% endif %}

  {{govukTag({
    text: decision,
    classes: statusClass,
    attributes: {
      'data-cy': 'decision-status-tag'
    }
  })}}

{% endmacro %}
