{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% import './deals-table-heading.njk' as tableHeading %}

{% macro render(params) %}
  {% set deals = params.deals %}
  {% set user = params.user %}
  {% set activeSortByOrder = params.activeSortByOrder %}
  {% set activeSortByField = params.activeSortByField %}

  <form method="POST" autocomplete="off" novalidate>

    <table class="govuk-table deals-table" data-cy="deals-table">
      <thead class="govuk-table__head">
        <tr>

          {{tableHeading.render({
            fieldName: 'ukefDealId',
            buttonText: 'Deal ID',
            buttonValue: 'dealSnapshot.ukefDealId',
            activeSortByOrder: activeSortByOrder,
            activeSortByField: activeSortByField
          })}}

          {{tableHeading.render({
            fieldName: 'product',
            buttonText: 'Product',
            buttonValue: 'tfm.product',
            activeSortByOrder: activeSortByOrder,
            activeSortByField: activeSortByField
          })}}

          <th class="govuk-table__header" data-cy="deals-table-heading-type">Type</th>

          {{tableHeading.render({
            fieldName: 'exporter',
            buttonText: 'Exporter',
            buttonValue: 'dealSnapshot.exporter.companyName',
            activeSortByOrder: activeSortByOrder,
            activeSortByField: activeSortByField
          })}}

          {{tableHeading.render({
            fieldName: 'buyer',
            buttonText: 'Buyer',
            buttonValue: 'dealSnapshot.buyer.companyName',
            activeSortByOrder: activeSortByOrder,
            activeSortByField: activeSortByField
          })}}

          {{tableHeading.render({
            fieldName: 'bank',
            buttonText: 'Bank',
            buttonValue: 'dealSnapshot.bank.name',
            activeSortByOrder: activeSortByOrder,
            activeSortByField: activeSortByField
          })}}

          {{tableHeading.render({
            fieldName: 'stage',
            buttonText: 'Stage',
            buttonValue: 'tfm.stage',
            activeSortByOrder: activeSortByOrder,
            activeSortByField: activeSortByField
          })}}

          <th class="govuk-table__header" data-cy="deals-table-heading-date-received">Date received</th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        {% for deal in deals %}
          <tr class="govuk-table__row tfm-deal-table-row" data-cy="deal-{{ deal._id }}">
            <td class="govuk-table__cell govuk-body-s">
              <a
                class="govuk-link"
                href="/case/{{ deal._id }}/deal"
                aria-label="View deal details"
                data-cy="deal-{{ deal._id }}-ukef-deal-id-link">
                <span data-cy="deal-{{ deal._id }}-ukef-deal-id-link-text">{{ deal.dealSnapshot.details.ukefDealId }}</span>
              </a>
            </td>
            <td class="govuk-table__cell govuk-body-s" data-cy="deal-{{ deal._id }}-product">{{ deal.tfm.product | dashIfEmpty }}</td>
            <td class="govuk-table__cell govuk-body-s" data-cy="deal-{{ deal._id }}-type">{{ deal.dealSnapshot.submissionType | dashIfEmpty}}</td>
            <td class="govuk-table__cell govuk-body-s" data-cy="deal-{{ deal._id }}-exporterName">{{ deal.dealSnapshot.exporter.companyName | dashIfEmpty}}</td>
            <td class="govuk-table__cell govuk-body-s" data-cy="deal-{{ deal._id }}-buyerName">{{ deal.dealSnapshot.submissionDetails.buyerName | dashIfEmpty}}</td>
            <td class="govuk-table__cell govuk-body-s" data-cy="deal-{{ deal._id }}-bank">{{ deal.dealSnapshot.bank.name | dashIfEmpty }}</td>
            <td class="govuk-table__cell govuk-body-s" data-cy="deal-{{ deal._id }}-stage">
              {{govukTag({
                text: deal.tfm.stage | dashIfEmpty,
                classes: "govuk-tag--blue"
              })}}
            </td>
            <td class="govuk-table__cell govuk-body-s" data-cy="deal-{{ deal._id }}-date-received">
              {% if deal.tfm.dateReceived %}
                {{ deal.tfm.dateReceived | formatDateString("DD-MM-YYYY", "D MMM YYYY") }}

                {% else %}
                -
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>

    </table>
  </form>

{% endmacro %}
