{% extends 'layout.html' %}
{% block beforeContent %}
<div class="govuk-grid-row tfm tfm-width">
  <div class="govuk-grid-column-full">
    {{ govukBreadcrumbs({
      items: [
        {
          text: "C0345",
          href: "/cases/tasks"
        },
        {
          text: "pricing",
          href: "/cases/Pricing"
        },
        {
          text: "Credit rating"
        }
      ]
    }) }}
  </div>
</div>
{% endblock %}
{% block content %}
<form action="/cases/pricing" method="post">
  <div class="govuk-grid-row tfm tfm-width">
      <div class="govuk-grid-column-full">
        {{ govukRadios({
        idPrefix: "credit-rating",
        name: "credit-rating",
        fieldset: {
            legend: {
            text: "Select credit rating for this case",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
            }
        },
        items: [
            {
            value: "Good (BB-)",
            text: "Good (BB-)",
            checked: checked("credit-rating", "Good (BB-)")
            },
            {
            value: "Acceptable (B+)",
            text: "Acceptable (B+)",
            checked: checked("credit-rating", "Acceptable (B+)")
            },
            {
            value: "Other",
            text: "Other",
            checked: checked("credit-rating", "Other")
            }
        ]
        }) }}
      </div>
  </div>
  <div class="govuk-grid-row tfm tfm-width">
    <div class="govuk-grid-column-one-quarter flex-container">
      <button class="govuk-button" data-module="govuk-button">Save</button>
      <a href="/cases/pricing" class="cancel-link">Cancel</a>
    </div>
  </div>
</form>
{% endblock %}