{% extends 'layout.html' %}
{% block beforeContent %}
  <div class="govuk-grid-row tfm tfm-width">
      <div class="govuk-grid-column-full">
{{ govukBreadcrumbs({
  items: [
    {
      text: "C0345",
      href: "/cases/tasks"
    },
    {
      text: "Pricing",
      href: "/cases/pricing"
    },
    {
      text: "Risk profile"
    }
  ]
}) }}
</div>
</div>
{% endblock %}
{% block content %}
<form action="/cases/pricing" method="post">
  <div class="govuk-grid-row tfm tfm-width">
      <div class="govuk-grid-column-two-thirds">

        {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "risk-profile",
        name: "risk-profile",
        fieldset: {
            legend: {
            text: "What is the risk profile for the guarantee 0020010552?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
            }
        },
        items: [
            {
            value: "Flat",
            text: "Flat",
            checked: checked("risk-profile", "flat")
            },
            {
            value: "Variable",
            text: "Variable",
            checked: checked("risk-profile", "variable")
            }
        ]
        }) }}
      </div>
  </div>
    <div class="govuk-grid-row tfm tfm-width">
      <div class="govuk-grid-column-one-quarter flex-container">
        <button class="govuk-button" data-module="govuk-button" href="/cases/pricing">Save</button>
        <a href="/cases/pricing" style="margin: 10px;">Cancel</a>
      </div>
    </div>
  </form>
{% endblock %}