name: Supporting infrastructure for environments

on:
  push:
    branches: [ main ]
    paths: 
    - '.github/workflows/infrastructure.yml'

jobs:

  # Todo: add auto-scaling to App Service plans, although it's unlikely there'll be enough traffic to need it.

  dev-rg:
    name: Dev resource group
    runs-on: ubuntu-latest
    steps:
    - uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_DIGITAL_DEV }}

    - name: Defaults
      uses: azure/CLI@v1.0.0
      with:
        inlineScript: |
          az configure --defaults location=uksouth
          az configure --defaults group=${{ secrets.DEV_RESOURCE_GROUP }}

    - name: App Service plan
      uses: azure/CLI@v1.0.0
      with:
        inlineScript: |
          az appservice plan create --name dev --is-linux --sku p1v2

    - name: Container registry
      uses: azure/CLI@v1.0.0
      with:
        inlineScript: |
          # Admin needs to be enabled for App Service continuous deployment
          az acr create --name tfsdev --sku Standard --admin-enabled true

  test-rg:
    name: Test resource group
    runs-on: ubuntu-latest
    steps:
    - uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_DIGITAL_TEST }}

    - name: Defaults
      uses: azure/CLI@v1.0.0
      with:
        inlineScript: |
          az configure --defaults location=uksouth
          az configure --defaults group=${{ secrets.TEST_RESOURCE_GROUP }}

    - name: App Service plan
      uses: azure/CLI@v1.0.0
      with:
        inlineScript: |
          az appservice plan create --name test --is-linux --sku p1v2

    - name: Container registry
      uses: azure/CLI@v1.0.0
      with:
        inlineScript: |
          # Admin needs to be enabled for App Service continuous deployment
          az acr create --name tfstest --sku Standard --admin-enabled true

  prod-rg:
    name: Prod resource group
    runs-on: ubuntu-latest
    steps:
    - uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_DIGITAL_PROD }}

    - name: Defaults
      uses: azure/CLI@v1.0.0
      with:
        inlineScript: |
          az configure --defaults location=uksouth
          az configure --defaults group=${{ secrets.PROD_RESOURCE_GROUP }}

    - name: App Service plan
      uses: azure/CLI@v1.0.0
      with:
        inlineScript: |
          az appservice plan create --name prod --is-linux --sku p1v2

    - name: Container registry
      uses: azure/CLI@v1.0.0
      with:
        inlineScript: |
          # Admin needs to be enabled for App Service continuous deployment
          az acr create --name tfsprod --sku Standard --admin-enabled true

