.success-message {
  background: govuk-colour("green");
  color: govuk-colour("white");
}

.success-message__list-item {
  color: govuk-colour("white");
}
.success-message__link {
  color: govuk-colour("white");
}
