{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% import './_macros/managers-decision-submitted.njk' as managersDecisionSubmitted %}

{% macro render(params) %}

  {% set underWriterDecision = params.underwriterManagersDecision %}
  {% set submissionType = params.underwriterManagersDecision.deal.submissionType %}

  {% block underwriting_content %}

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-three-quarters">

        {% if underWriterDecision.tfm.underwriterManagersDecision.decision %}

          {% set managersDecisionSubmittedComponentData = {
            decision: underWriterDecision.tfm.underwriterManagersDecision,
            user: underWriterDecision.user
          } %}

          {{managersDecisionSubmitted.render(managersDecisionSubmittedComponentData)}}

        {% else %}

          {% if underWriterDecision.userCanEdit %}
            <div class="govuk-!-padding-top-0">
              {{ govukButton({
                  text: "Add decision",
                  href: "/case/" + underWriterDecision.dealId  + "/underwriting/managers-decision/edit",
                  attributes: {
                    "data-cy":"add-decision-link"
                  }
                }) }}
            </div>
          {% elif submissionType === 'Automatic Inclusion Notice' %}
            <p class="govuk-!-margin-top-0" data-cy="decision-not-applicable">Not applicable</p>
          {% else %}

            <p class="govuk-!-margin-top-0" data-cy="decision-not-added-readonly">Not added yet</p>

          {% endif %}


        {% endif %}

      </div>

    </div>

  {% endblock %}

{% endmacro %}