{% from "govuk/components/tag/macro.njk" import govukTag %}
{% import './_macros/comments.njk' as comments %}

{% extends "case/underwriting/layout.njk" %}

{% block underwriting_content %}
 
  <div class="govuk-grid-column-full">

    <h3 class="govuk-heading-l ukef-heading-grey govuk-!-margin-bottom-3" data-cy="managers-decision-heading">Underwriter manager’s decision</h3>

    <h4 class="govuk-heading-l separator-line govuk-!-padding-top-6 govuk-!-margin-bottom-2">Decision</h4>

    <div class="govuk-!-padding-bottom-3">
      {{ govukTag({
        text: tfm.underwriterManagersDecision.decision,
        attributes: {
          'data-cy': 'exporter-status'
        }
      }) }}
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <h4 class="govuk-heading-s govuk-body-s govuk-!-font-weight-bold">Decision made by</h4>
      </div>

      <div class="govuk-grid-column-three-quarters">
        <p class="govuk-body-s">TODO</p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <h4 class="govuk-heading-s govuk-body-s govuk-!-font-weight-bold">Date and time</h4>
      </div>

      <div class="govuk-grid-column-three-quarters">
        <p class="govuk-body-s">TODO</p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h4 class="govuk-heading-m govuk-!-font-weight-bold">Comments</h4>
        <p>Only UKEF staff will see this.</p>
        <p class="govuk-body-s">{{ tfm.underwriterManagersDecision.internalComments }}</p>

      </div>
    </div>


  </div>

{% endblock %}
