{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% import './_macros/managers-decision-submitted.njk' as managersDecisionSubmitted %}

{% extends "case/underwriting/layout.njk" %}

{% block underwriting_content %}

  {% set dealType = deal.submissionType %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-three-quarters">

    <h3 class="govuk-heading-l ukef-heading-grey govuk-!-margin-bottom-3" data-cy="managers-decision-heading">Underwriter manager’s decision</h3>

      {% if tfm.underwriterManagersDecision.decision %}

        {% set managersDecisionSubmittedComponentData = {
          decision: tfm.underwriterManagersDecision,
          user: user
        } %}

        {{managersDecisionSubmitted.render(managersDecisionSubmittedComponentData)}}

      {% elif userCanEdit %}
        <div class="separator-line govuk-!-padding-top-7">
          <p class="govuk-body-l"><a class="govuk-link govuk-link--no-visited-state" href="/case/{{ dealId }}/underwriting/managers-decision/edit" data-cy="add-decision-link">Add your decision</a></p>
        </div>

      {% elif dealType === 'Automatic Inclusion Notice' %}
        <div class="separator-line govuk-!-padding-top-7">
          <p class="govuk-!-margin-top-0" data-cy="managers-decision-not-applicable">Not applicable</p>
        </div>
      {% endif %}
    </div>

  </div>

{% endblock %}
