{% from "govuk/components/tag/macro.njk" import govukTag %}
{% import './_macros/comments.njk' as comments %}
{% import './_macros/status-tag.njk' as statusTag %}

{% extends "case/underwriting/layout.njk" %}

{% block underwriting_content %}
 
  <div class="govuk-grid-column-full">

    <h3 class="govuk-heading-l ukef-heading-grey govuk-!-margin-bottom-3" data-cy="managers-decision-heading">Underwriter manager’s decision</h3>

    <h4 class="govuk-heading-l separator-line govuk-!-padding-top-6 govuk-!-margin-bottom-2" data-cy="managers-decision-subheading">Decision</h4>

    <div class="govuk-!-padding-bottom-3">
      {{statusTag.render({
        decision: tfm.underwriterManagersDecision.decision
      })}}
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <h4 class="govuk-heading-s govuk-body-s govuk-!-font-weight-bold" data-cy="decision-made-by-heading">Decision made by</h4>
      </div>

      <div class="govuk-grid-column-three-quarters">
        <p class="govuk-body-s" data-cy="decision-made-by-value">{{ tfm.underwriterManagersDecision.userFullName }}</p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <h4 class="govuk-heading-s govuk-body-s govuk-!-font-weight-bold" data-cy="date-time-heading">Date and time</h4>
      </div>

      <div class="govuk-grid-column-three-quarters">
        <p class="govuk-body-s" data-cy="date-time-value">{{ tfm.underwriterManagersDecision.timestamp | localiseTimestamp('D MMMM YYYY', user.timezone) }} at {{ tfm.underwriterManagersDecision.timestamp | localiseTimestamp('HH:mm', user.timezone) }}</p>
      </div>
    </div>

    {% if tfm.underwriterManagersDecision.comments %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

          <h4 class="govuk-heading-m govuk-!-font-weight-bold" data-cy="conditions-heading">Conditions</h4>
          <p class="govuk-body-s preserve-white-space" data-cy="conditions-value">{{ tfm.underwriterManagersDecision.comments | safe }}</p>

        </div>
      </div>
    {% endif %}

    {% if tfm.underwriterManagersDecision.internalComments %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

          <h4 class="govuk-heading-m govuk-!-font-weight-bold" data-cy="internal-comments-heading">Comments</h4>
          <p>Only UKEF staff will see this.</p>
          <p class="govuk-body-s preserve-white-space" data-cy="internal-comments-value">{{ tfm.underwriterManagersDecision.internalComments | safe }}<p>

        </div>
      </div>
    {% endif %}

  </div>

{% endblock %}
