{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% import './_macros/comments.njk' as comments %}

{% extends "case/underwriting/layout.njk" %}

{% block underwriting_content %}
 
  <div class="govuk-grid-column-full">

    <h3 class="govuk-heading-l">Decision</h3>
    <p>TO DO</p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <h4 class="govuk-heading-s govuk-body-s govuk-!-font-weight-bold">Decision made by</h4>
      </div>

      <div class="govuk-grid-column-three-quarters">
        <p class="govuk-body-s">TODO</p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <h4 class="govuk-heading-s govuk-body-s govuk-!-font-weight-bold">Date and time</h4>
      </div>

      <div class="govuk-grid-column-three-quarters">
        <p class="govuk-body-s">TODO</p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <h4 class="govuk-heading-s govuk-body-s govuk-!-font-weight-bold">Comments</h4>
      </div>

      <div class="govuk-grid-column-three-quarters">
        <p class="govuk-body-s">TODO</p>
      </div>
    </div>


  </div>

{% endblock %}
