{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% macro render(params) %}

  {% set return = params.return %}
  <div class="govuk-!-margin-bottom-6 govuk-grid-row">
    <div class="govuk-grid-column-full-from-desktop">
      {{ govukBackLink({
        text: "Back",
        href: return,
        attributes: {
            'data-cy': 'back-link'
        }
      }) }}
    </div>
  </div>

{% endmacro %}
