{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% import './ukef-deal-stage.njk' as ukefDealStage %}
{% import './supplier-type.njk' as supplierType %}

{% macro render(params) %}
  {% set deal = params.deal %}
  {% set tfm = params.tfm %}
  {% set user = params.user %}

  <div data-cy="case-summary-ndb" class="case-summary">
    <div>
      <dl class="case-summary-deal-id">
        <dt class="label">Deal ID</dt>
        <dd class="ukef-heading-l" data-cy="ukef-deal-id">{{ deal.details.ukefDealId | dashIfEmpty }}</dd>
      </dl>

      {% set supplierColumnClassName = 'case-summary-supplier' %}

      {% if deal.submissionDetails.buyerName %}
        {% set supplierColumnClassName = 'case-summary-supplier chevron-right' %}
      {% endif %}

      <dl class="{{ supplierColumnClassName }}" data-cy="supplier-column">
        <dt class="label">
          {{ supplierType.render(deal.submissionDetails.supplierType) }}
        </dt>
        <dd class="ukef-heading-l" data-cy="exporter-name">{{ deal.exporter.companyName | dashIfEmpty }}</dd>
      </dl>

      {% if deal.submissionDetails.buyerName %}
        <dl class="case-summary-buyer" data-cy="buyer-name-column">
          <dt class="label">Buyer</dt>
          <dd class="ukef-heading-l" data-cy="buyer-name">{{ deal.submissionDetails.buyerName }}</dd>
        </dl>
      {% endif %}
    </div>
    <div class="case-summary-overview-container">
      <div class="ukef-grid-column-one-sixth case-summary-overview-column">
        <dl class="case-summary-overview-item">
          <dt class="ukef-heading-xs">Product</dt>
          <dd class="ukef-body-s" data-cy="ukef-product">{{ tfm.product | dashIfEmpty }}</dd>
        </dl>

        <dl class="case-summary-overview-item">
          <dt class="ukef-heading-xs">Bank</dt>
          <dd class="ukef-body-s" data-cy="bank-name">{{ deal.bank.name | dashIfEmpty }}</dd>
        </dl>

        <dl class="case-summary-overview-item">
          <dt class="ukef-heading-xs">Date received</dt>
          <dd class="ukef-body-s" data-cy="date-received">
            {{ tfm.dateReceived | formatDateString("DD-MM-YYYY", "D MMMM YYYY") | dashIfEmpty}}
          </dd>
        </dl>
      </div>

      <div class="case-summary-overview-column ukef-grid-column-one-sixth">
        <dl class="case-summary-overview-item">
          <dt class="ukef-heading-xs">Type</dt>
          <dd class="ukef-body-s" data-cy="submission-type">Non-bank delegation</dd>
        </dl>
      </div>

      <div class="case-summary-overview-column govuk-grid-column-one-third">
        <dl class="case-summary-overview-item">
          <dt class="ukef-heading-xs">Export description</dt>
          <dd class="ukef-body-s" data-cy="export-description">{{ deal.submissionDetails.supplyContractDescription | dashIfEmpty }}</dd>
        </dl>

        <dl class="case-summary-overview-item">
          <dt class="ukef-heading-xs">Destination Country</dt>
          <dd class="ukef-body-s" data-cy="destination-country">{{ deal.submissionDetails.destinationCountry | dashIfEmpty }}</dt>
        </dl>

        <dl class="case-summary-overview-item">
          <dt class="ukef-heading-xs">Agent</dt>
          <dd class="ukef-body-s">{{ deal.eligibility.agentName | dashIfEmpty }}</dd>
        </dl>
      </div>

      <div class="case-summary-overview-column govuk-grid-column-one-third">
        <dl class="case-summary-overview-item">
          <dt class="ukef-heading-xs">Export contract value</dt>
          <dd class="ukef-body-s">
            <span data-cy="contract-value">
                {{ deal.submissionDetails.supplyContractCurrency }} {{ deal.submissionDetails.supplyContractValue | formatAsCurrency | dashIfEmpty }}
            </span>
            {% if tfm.supplyContractValueInGBP %}
              <span data-cy="contract-value-in-gbp">{{ tfm.supplyContractValueInGBP | dashIfEmpty }}</span>
            {% endif %}
          </dd>
        </dl>

        <dl class="case-summary-overview-item">
          <dt class="ukef-heading-xs">Total facilities in this deal</dt>
          <dd class="ukef-body-s" data-cy="total-facilities-in-gbp">{{ deal.totals.facilitiesValueInGBP | dashIfEmpty }}</dd>
        </dl>

        <dl class="case-summary-overview-item">
          <dt class="ukef-heading-xs">UKEF exposure for this deal</dt>
          <dd class="ukef-body-s" data-cy="total-ukef-exposure">{{ deal.totals.facilitiesUkefExposure | dashIfEmpty }}</dd>
        </dl>

      </div>

    </div>
  </div>
{% endmacro %}
