# This macro renders primary `Save and close` button only

{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro render(params) %}
  
  <div class="govuk-!-margin-top-4">
    {{ govukButton({
      preventDoubleClick: true,
      text: "Save and close",
      attributes: {
        'data-cy': 'save-button'
      }
    }) }}
  </div>

{% endmacro %}
